Repository pytorch/executorch, pull requests merged in 2024-10, with the labels that each got.

#5863 Properly kill the buck2 daemon
  build/Utils.cmake
Labels: CLA Signed

#5944 Benchmark app for Apple platforms
  docs/source/_static/img/ios_benchmark_app.png
  docs/source/_static/img/ios_benchmark_app_macos.png
  docs/source/_static/img/ios_benchmark_app_macos_signing.png
  docs/source/_static/img/ios_benchmark_app_signing.png
  docs/source/_static/img/ios_benchmark_app_test_forward.png
  docs/source/_static/img/ios_benchmark_app_test_generate.png
  docs/source/_static/img/ios_benchmark_app_test_load.png
  docs/source/_static/img/ios_benchmark_app_tests.png
  extension/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/apple/Benchmark/Frameworks/download_frameworks.sh
  extension/apple/Benchmark/README.md
  extension/apple/Benchmark/Resources/README.md
  extension/apple/Benchmark/TestUtils/DynamicTestCase.h
  extension/apple/Benchmark/TestUtils/DynamicTestCase.m
  extension/apple/Benchmark/TestUtils/ResourceTestCase.h
  extension/apple/Benchmark/TestUtils/ResourceTestCase.m
  extension/apple/Benchmark/Tests/GenericTests.mm
  extension/apple/Benchmark/Tests/LLaMA/LLaMATests.mm
  extension/apple/Benchmark/Tests/Tests.mm
  extension/apple/Benchmark/Tests/Tests.xcconfig
Labels: CLA Signed

#6043 Arm run.sh fixes
  examples/arm/aot_arm_compiler.py
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/setup.sh
Labels: CLA Signed, ciflow/trunk

#6052 Revert "Arm run.sh fixes"
  examples/arm/aot_arm_compiler.py
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/setup.sh
Labels: CLA Signed

#6056 Arm run.sh fix with working unit tests
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_slice.py
  backends/arm/test/ops/test_split.py
  examples/arm/aot_arm_compiler.py
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk

#6151 Pick pybind
  build/executorch-wheel-config.cmake
  extension/pybindings/TARGETS
  extension/pybindings/portable_lib.py
  extension/pybindings/pybindings.cpp
  extension/pybindings/pybindings.pyi
  extension/pybindings/test/TARGETS
  extension/pybindings/test/make_test.py
  extension/pybindings/test/test_pybindings.py
  pytest.ini
  runtime/TARGETS
  runtime/__init__.py
  runtime/test/TARGETS
  runtime/test/test_runtime.py
  setup.py
Labels: CLA Signed, ciflow/trunk

#6129 Move vulkan.passes to vulkan._passes (#5919)
  backends/transforms/fuse_conv_with_clamp.py
  backends/vulkan/TARGETS
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/custom_ops_defs.py
  backends/vulkan/_passes/remove_local_scalar_dense_ops.py
  backends/vulkan/_passes/test_custom_ops.py
  backends/vulkan/partitioner/supported_ops.py
Labels: CLA Signed, module: vulkan, ciflow/periodic

#6128 Move arm.passes to arm._passes (#5918)
  backends/arm/TARGETS
  backends/arm/_passes/TARGETS
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/cast_int64_pass.py
  backends/arm/_passes/convert_expand_copy_to_repeat.py
  backends/arm/_passes/convert_split_to_slice.py
  backends/arm/_passes/decompose_div_pass.py
  backends/arm/_passes/meandim_to_averagepool_pass.py
  backends/arm/_passes/remove_clone_pass.py
  backends/arm/_passes/scalars_to_attribute_pass.py
  backends/arm/_passes/size_adjust_conv2d_pass.py
  backends/arm/_passes/tag_io_quant_pass.py
  backends/arm/arm_backend.py
  backends/arm/arm_partitioner.py
  backends/arm/test/passes/test_meandim_to_averagepool2d.py
Labels: CLA Signed

#6174 Add possibility to collect all TOSA tests to a specified path (#5028)
  backends/arm/test/common.py
Labels: CLA Signed

#6176 Revert "Fix doc links to the benchmark apps"
  extension/benchmark/README.md
Labels: CLA Signed

#6182 Clean up Android prebuilt artifact path and verification
  docs/source/android-prebuilt-library.md
  examples/demo-apps/android/LlamaDemo/download_prebuilt_lib.sh
Labels: CLA Signed

#6206 Test Script to ghstack land
  .github/workflows/ghstack_land.yml
Labels: CLA Signed

#6221 [Release] Update pyproject.toml
  pyproject.toml
Labels: CLA Signed

#6237 Update extension-module.md to avoid extraneous header
  docs/source/extension-module.md
Labels: CLA Signed

#6323 Git clone instruction with release/0.4 branch
  docs/source/getting-started-setup.md
Labels: CLA Signed

#6329 Update cmake docs to reflect the recommended way of running cmake
  docs/source/runtime-build-and-cross-compilation.md
Labels: CLA Signed

#6333 libexecutorch.a -> libexecutorch_core.a
  docs/source/runtime-build-and-cross-compilation.md
Labels: CLA Signed

#6353 Update stable version in docs
  stable
  versions.html
Labels: CLA Signed

#5326 [ET-VK] Enable tensor aliases with texture storage
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/vk_api/memory/Allocation.h
  backends/vulkan/runtime/vk_api/memory/Image.cpp
  backends/vulkan/runtime/vk_api/memory/Image.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#6408 Skip diff train for ghstack bot generated PR
  .github/scripts/propose_ghstack_orig_pr.py
Labels: CLA Signed, fb-exported

#6045 Arm backend: Insert transposes between <4D and 4D tensors
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_transpose.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_squeeze.py
  backends/arm/test/ops/test_unsqueeze.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk

#6372 `c10::optional` -> `std::optional` in executorch/extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_sdpa_aot.cpp
Labels: CLA Signed, fb-exported

#6370 `c10::optional` -> `std::optional` in executorch/backends/vulkan/test/op_tests/sdpa_test.cpp
  backends/vulkan/test/op_tests/sdpa_test.cpp
Labels: CLA Signed, fb-exported, module: vulkan

#6371 `c10::optional` -> `std::optional` in executorch/runtime/core/exec_aten/exec_aten.h
  runtime/core/exec_aten/exec_aten.h
Labels: CLA Signed, fb-exported

#6222 Qualcomm AI Engine Direct - qat proto
  backends/qualcomm/quantizer/quantizer.py
  backends/qualcomm/quantizer/utils.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
Labels: CLA Signed

#6391 [ET-VK][ez] Apply rotary embedding as Module
  examples/models/llama/llama_transformer.py
  examples/models/llama/rope.py
Labels: CLA Signed, fb-exported

#6422 [ET-VK][ez] Apply rotary embedding as Module
  examples/models/llama/llama_transformer.py
  examples/models/llama/rope.py
Labels: CLA Signed

#6392 [ET-VK] Introduce rotary embedding custom op
  backends/vulkan/runtime/graph/ops/glsl/rotary_embedding.glsl
  backends/vulkan/runtime/graph/ops/glsl/rotary_embedding.yaml
  backends/vulkan/runtime/graph/ops/impl/RotaryEmbedding.cpp
  backends/vulkan/test/op_tests/rotary_embedding_test.cpp
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported

#6423 [ET-VK] Introduce rotary embedding custom op
  backends/vulkan/runtime/graph/ops/glsl/rotary_embedding.glsl
  backends/vulkan/runtime/graph/ops/glsl/rotary_embedding.yaml
  backends/vulkan/runtime/graph/ops/impl/RotaryEmbedding.cpp
  backends/vulkan/test/op_tests/rotary_embedding_test.cpp
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed

#6393 [ET-VK] Enable custom rotary embedding module replacement
  backends/vulkan/_passes/custom_ops_defs.py
  backends/vulkan/partitioner/supported_ops.py
  examples/models/llama/TARGETS
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/vulkan_rope.py
Labels: CLA Signed, fb-exported

#6424 [ET-VK] Enable custom rotary embedding module replacement
  backends/vulkan/_passes/custom_ops_defs.py
  backends/vulkan/partitioner/supported_ops.py
  examples/models/llama/TARGETS
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/vulkan_rope.py
Labels: CLA Signed

#6404 Fix int8 buffers support detection
  backends/vulkan/runtime/vk_api/Adapter.h
Labels: CLA Signed, fb-exported

#6426 ghstack bot skip if a corresponding PR is merged
  .github/scripts/propose_ghstack_orig_pr.py
Labels: CLA Signed

#6365 fix eager run for cuda
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
Labels: CLA Signed

#6429 fix eager run for cuda
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
Labels: CLA Signed

#6384 Qualcomm AI Engine Direct - Fix Per Layer Dump
  backends/qualcomm/builders/node_visitor.py
Labels: CLA Signed

#6407 Updating cadence ops with new name space, rebasing 6 optimized ops
  1.txt
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/cadence.cmake
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_add.cpp
  backends/cadence/hifi/operators/op_div.cpp
  backends/cadence/hifi/operators/op_mul.cpp
  backends/cadence/hifi/operators/op_sigmoid.cpp
  backends/cadence/hifi/operators/op_sub.cpp
  backends/cadence/hifi/operators/op_tanh.cpp
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_add_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_mode_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_mul_f32_broadcast.c
Labels: CLA Signed

#6421 llama export with input vocab pruning
  examples/models/llama/TARGETS
  examples/models/llama/export_llama_lib.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/model.py
  examples/models/llama/source_transformation/prune_vocab.py
Labels: CLA Signed, fb-exported

#6428 Refactor out utility functions out of llama readme
  examples/models/llama/README.md
  examples/models/llama/UTILS.md
Labels: CLA Signed, fb-exported

#6354 Reduced int precision for texture coordinates in q_linear op, to reduce shader register pressure.
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
Labels: CLA Signed, fb-exported

#6368 executorch/examples/portable/custom_ops/custom_ops_2_out.cpp: fix llvm-17-exposed format mismatches
  examples/portable/custom_ops/custom_ops_2_out.cpp
Labels: CLA Signed, fb-exported

#6438 Add the PTE/runtime compatibility policy
  runtime/COMPATIBILITY.md
Labels: CLA Signed

#6321 Qualcomm AI Engine Direct - oss model enablement (retinanet_fpn)
  backends/qualcomm/_passes/layout_transform.py
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/op_group_norm.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/quantizer/utils.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/constants.py
  examples/qualcomm/oss_scripts/retinanet.py
Labels: CLA Signed

#6434 Reorganize llama readme
  examples/models/llama/README.md
Labels: CLA Signed, fb-exported

#6409 Calculating axis's local wg size based on global workload and making it as close as possible to warp size of 32.
  backends/vulkan/runtime/graph/ComputeGraph.cpp
Labels: CLA Signed, fb-exported

#6440 [Android] Introduce build types and set default to Release
  build/build_android_llm_demo.sh
Labels: CLA Signed

#6441 [Android] Strip .so for Release build
  build/build_android_llm_demo.sh
Labels: CLA Signed

#6419 fix typo
  examples/models/llama/llama_transformer.py
  examples/models/llama/source_transformation/quantized_kv_cache.py
  examples/models/llama/source_transformation/test_quantized_kv_cache.py
Labels: CLA Signed

#6432 Fix dim order in op_permute
  backends/arm/operators/op_permute.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_permute.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6437 Reformulating matrix multiplication scale equation to reduce math ops and improve power and performance.
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
Labels: CLA Signed, fb-exported

#6461 c10::nullopt -> std::nullopt
  runtime/core/exec_aten/exec_aten.h
Labels: CLA Signed, fb-exported

#6449 Move android.yml to pull.yml
  .github/workflows/_android.yml
  .github/workflows/pull.yml
Labels: CLA Signed

#6469 Fix CI for _android.yml
  .github/workflows/_android.yml
Labels: CLA Signed

#6457 [ET-VK] Implement generic reduction shader + mean, sum, amax, amin
  backends/vulkan/TARGETS
  backends/vulkan/partitioner/supported_ops.py
  backends/vulkan/runtime/graph/ops/glsl/reduce.glsl
  backends/vulkan/runtime/graph/ops/glsl/reduce.yaml
  backends/vulkan/runtime/graph/ops/glsl/sum_dim.glsl
  backends/vulkan/runtime/graph/ops/glsl/sum_dim.yaml
  backends/vulkan/runtime/graph/ops/glsl/sum_dim_keepdim.glsl
  backends/vulkan/runtime/graph/ops/glsl/sum_dim_keepdim.yaml
  backends/vulkan/runtime/graph/ops/impl/Reduce.cpp
  backends/vulkan/runtime/graph/ops/impl/Sum.cpp
  backends/vulkan/test/op_tests/cases.py
  backends/vulkan/test/test_vulkan_delegate.py
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported

#6474 Android emulator job should use linux.24xl.spr-metal
  .github/workflows/_android.yml
Labels: CLA Signed

#6482 Revert "Updating cadence ops with new name space, rebasing 6 optimize…
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/cadence.cmake
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_add.cpp
  backends/cadence/hifi/operators/op_div.cpp
  backends/cadence/hifi/operators/op_mul.cpp
  backends/cadence/hifi/operators/op_sigmoid.cpp
  backends/cadence/hifi/operators/op_sub.cpp
  backends/cadence/hifi/operators/op_tanh.cpp
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_add_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_mode_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_mul_f32_broadcast.c
Labels: CLA Signed

#6471 Update ghstack_land.yml
  .github/workflows/ghstack_land.yml
Labels: CLA Signed

#6484 Fix selective build codegen for sym primops
  codegen/tools/gen_selected_op_variants.py
Labels: CLA Signed, fb-exported

#6485 Update Android and iOS demo app readme for Spinquant and QAT+LoRA model support
  examples/demo-apps/android/LlamaDemo/README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/LLaMA/README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
Labels: CLA Signed, fb-exported

#6486 Support quantized llama models
  README.md
  examples/models/llama/README.md
Labels: CLA Signed

#6477 add new dependencies added by D64735807
  backends/cadence/hifi/operators/targets.bzl
Labels: CLA Signed, fb-exported

#6491 Fix typo in apple-perf
  .github/workflows/apple-perf.yml
Labels: CLA Signed

#6487 Mention torchao in llama readme page
  examples/models/llama/README.md
Labels: CLA Signed, fb-exported

#6360 Remove presere ops
  .ci/docker/ci_commit_pins/pytorch.txt
  exir/program/_program.py
  exir/program/test/test_program.py
  exir/tracer.py
  install_requirements.py
Labels: CLA Signed, fb-exported

#6435 Insert transposes around view_copy ops
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/ops/test_layer_norm.py
  backends/arm/test/ops/test_squeeze.py
  backends/arm/test/ops/test_view.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6459 Add transpose ops make convolutions channels-last.
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/utils.py
Labels: CLA Signed, fb-exported

#6418 Add ExtraTensorInfo to schema.py
  exir/schema.py
Labels: CLA Signed, fb-exported

#6496 All executprch test pass now
  exir/tests/test_memory_format_ops_pass_utils.py
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported

#6376 Set member variable to Attention module
  examples/models/llama/llama_transformer.py
Labels: CLA Signed

#6463 Fix #6462 - run compile only for examples/qualcomm/llama
  examples/qualcomm/oss_scripts/llama2/llama.py
Labels: CLA Signed

#6478 Replace torch.empty with torch.zeros
  examples/models/llama/source_transformation/lora.py
  examples/models/llama/source_transformation/pre_quantization.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, fb-exported

#6497 Move CI pin to latest nightly
  .ci/docker/ci_commit_pins/pytorch.txt
Labels: CLA Signed, fb-exported

#6499 Add rpath to libcustom_ops_aot_lib.dylib and libquantized_ops_aot_lib…
  build/packaging/smoke_test.py
  extension/llm/custom_ops/CMakeLists.txt
  kernels/quantized/CMakeLists.txt
Labels: CLA Signed

#6505 Fix to_edge_transform_and_lower
  exir/program/_program.py
Labels: CLA Signed, fb-exported

#6500 Add ops: max.unary_out & min.unary_out
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_max.cpp
  kernels/portable/cpu/op_min.cpp
  kernels/portable/functions.yaml
  kernels/test/op_max_test.cpp
  kernels/test/op_min_test.cpp
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#5383 Qualcomm AI Engine Direct - Set llama io as quantized tensor
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/utils/utils.py
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed

#6386 Qualcomm AI Engine Direct - Update the evaluator API call for Llama
  extension/llm/export/builder.py
Labels: CLA Signed

#6525 Remove "Android" from update-viablestrict.yml
  .github/workflows/update-viablestrict.yml
Labels: CLA Signed

#6439 [cadence][oss] migrate jarvis dequant_per_tensor hifi ops to oss
  backends/cadence/hifi/operators/dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantize_per_tensor.cpp
Labels: CLA Signed, fb-exported

#6479 migrate quant layer norm hifi ops to oss
  backends/cadence/hifi/operators/operators.h
  backends/cadence/hifi/operators/quantized_layer_norm.cpp
  backends/cadence/hifi/operators/targets.bzl
Labels: CLA Signed, fb-exported

#6490 migrate jarvis quant linear out hifi ops to oss
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/quantized_linear_out.cpp
Labels: CLA Signed, fb-exported

#6527 [ET-VK] Fix op benchmarks code generation
  backends/vulkan/test/op_tests/utils/gen_computegraph.py
Labels: CLA Signed, fb-exported

#6506 add the ability to run eager runner via buck
  examples/models/llama/TARGETS
  examples/models/llama/eval_llama_lib.py
  examples/models/llama/runner/TARGETS
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
  examples/models/llama/runner/native.py
Labels: CLA Signed, fb-exported

#6526 Docs: Typo Fix
  README.md
Labels: CLA Signed

#6532 Fix pyre issue
  examples/models/llama/export_llama_lib.py
  extension/llm/export/builder.py
Labels: CLA Signed, fb-exported

#6334 Enable int8 support for quantized_linear reference
  backends/cadence/aot/ops_registrations.py
  backends/cadence/hifi/operators/dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantize_per_tensor.cpp
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_matmul_out.cpp
Labels: CLA Signed, fb-exported

#6537 add lucylq to ghstack_land.yml
  .github/workflows/ghstack_land.yml
Labels: CLA Signed

#6543 Fix utf8_check_validity
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed

#6504 Add ScalarType 22 `BITS16` support in etdump gen and deserialization
  devtools/bundled_program/schema/scalar_type.fbs
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/scalar_type.fbs
  exir/scalar_type.py
  exir/tensor.py
  schema/scalar_type.fbs
Labels: CLA Signed, fb-exported

#6539 Remove buck2 CI from pull.yml
  .github/workflows/pull.yml
Labels: CLA Signed

#6549 Fix op not found issue in smoke test for pip wheel
  build/packaging/smoke_test.py
Labels: CLA Signed

#6208 MTK Android Llama Runner
  build/build_android_llm_demo.sh
  examples/mediatek/executor_runner/llama_runner/llm_helper/include/llama_runner_values.h
  examples/mediatek/executor_runner/mtk_llama_runner.cpp
  examples/mediatek/executor_runner/mtk_llama_runner.h
  extension/android/CMakeLists.txt
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed

#6556 Add readme for other backends
  examples/models/llama/README.md
  examples/models/llama/UTILS.md
  examples/models/llama/non_cpu_backends.md
Labels: CLA Signed, fb-exported

#6533 upgrade lm_eval to 0.4.5
  examples/models/llama/evaluate/eager_eval.py
  examples/models/llama/install_requirements.sh
Labels: CLA Signed, fb-exported

#6530 Refactor preprocess to use EagerModelBase
  examples/models/llama3_2_vision/preprocess/export_preprocess.py
  examples/models/llama3_2_vision/preprocess/export_preprocess_lib.py
  examples/models/llama3_2_vision/preprocess/model.py
Labels: CLA Signed

#6548 Add MediaTek Llama Runner in Android App Readme
  examples/demo-apps/android/LlamaDemo/docs/delegates/mediatek_README.md
Labels: CLA Signed

#6567 Refactor preprocess to use EagerModelBase
  examples/models/llama3_2_vision/preprocess/export_preprocess.py
  examples/models/llama3_2_vision/preprocess/export_preprocess_lib.py
  examples/models/llama3_2_vision/preprocess/model.py
Labels: CLA Signed

#6304 Android App with MediaTek Mode
  examples/demo-apps/android/LlamaDemo/app/src/main/AndroidManifest.xml
  examples/demo-apps/android/LlamaDemo/app/src/main/BUCK
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/BackendType.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelUtils.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/SettingsActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/SettingsFields.java
  examples/demo-apps/android/LlamaDemo/app/src/main/res/layout/activity_settings.xml
Labels: CLA Signed

#6572 Fix circular import for lm_eval
  examples/models/llama/eval_llama_lib.py
Labels: CLA Signed

#6566 Add uint16 support in exir serde
  exir/serde/export_serialize.py
  exir/serde/schema.py
Labels: CLA Signed, fb-exported

#6557 Remove deprecated InstructTemplate from llm_pte_finetuning example
  examples/llm_pte_finetuning/phi3_alpaca_code_config.yaml
  examples/llm_pte_finetuning/training_lib.py
Labels: CLA Signed, fb-exported

#6453 ArmBackend: Add support for Conv1D
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/conv1d_unsqueeze_pass.py
  backends/arm/_passes/convert_split_to_slice.py
  backends/arm/test/ops/test_conv1d.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/runner_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6230 Update executorch-arm-delegate-tutorial.md with CS320 FVP
  docs/source/executorch-arm-delegate-tutorial.md
Labels: CLA Signed, partner: arm

#6547 Arm backend: make tag_io_quant_pass tag all output dq-nodes
  backends/arm/_passes/tag_io_quant_pass.py
  backends/arm/test/passes/test_tag_io_quant_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6550 read meta["val"] from arg for place holders instead of generating a fake tensor using fake_tensor_mode.from_real_tensor
  exir/pass_base.py
Labels: CLA Signed, fb-exported

#6568 Fix compiled model export.
  backends/apple/coreml/compiler/coreml_preprocess.py
  backends/apple/coreml/runtime/delegate/backend_delegate.h
  backends/apple/coreml/runtime/delegate/com.apple.executorchcoreml_config.plist
  backends/apple/coreml/runtime/test/CoreMLBackendDelegateTests.mm
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/apple/coreml/scripts/generate_test_models.sh
  examples/apple/coreml/scripts/export.py
Labels: CLA Signed

#6534 [ET-VK] Used hashed layout instead of axis map UBO
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/addmm_naive_texture3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/addmm_optimized.glsl
  backends/vulkan/runtime/graph/ops/glsl/binary_op.glsl
  backends/vulkan/runtime/graph/ops/glsl/bitw8_image_to_nchw_nobitw8buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv1d.glsl
  backends/vulkan/runtime/graph/ops/glsl/copy_channel_offset.glsl
  backends/vulkan/runtime/graph/ops/glsl/copy_offset.glsl
  backends/vulkan/runtime/graph/ops/glsl/embedding.glsl
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/glsl/native_layer_norm.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_bitw8_image_nobitw8buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/repeat_interleave.glsl
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Copy.cpp
  backends/vulkan/runtime/graph/ops/impl/Embedding.cpp
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
  backends/vulkan/runtime/graph/ops/impl/NativeLayerNorm.cpp
  backends/vulkan/runtime/graph/ops/impl/RepeatInterleave.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/TensorUtils.h
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#6570 Revert "Revert "Updating cadence ops with new name space, rebasing 6 optimize…"
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/cadence.cmake
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_add.cpp
  backends/cadence/hifi/operators/op_div.cpp
  backends/cadence/hifi/operators/op_mul.cpp
  backends/cadence/hifi/operators/op_sigmoid.cpp
  backends/cadence/hifi/operators/op_sub.cpp
  backends/cadence/hifi/operators/op_tanh.cpp
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_add_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_mode_f32_broadcast.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_mul_f32_broadcast.c
Labels: CLA Signed, fb-exported

#6502 Remove ET_ALLOCATE_LIST_OR_RETURN_ERROR from all core code for MSVC windows
  runtime/executor/method.cpp
  runtime/executor/tensor_parser.h
  runtime/executor/tensor_parser_exec_aten.cpp
Labels: CLA Signed, fb-exported

#6503 Get rid of statement expressions from all core code for MSVC windows
  examples/qualcomm/oss_scripts/llama2/runner/runner.cpp
  runtime/platform/assert.h
  runtime/platform/default/posix.cpp
  runtime/platform/log.h
  runtime/platform/profiler.h
Labels: CLA Signed, fb-exported

#6581 Fix find_package(executorch) failure
  build/executorch-wheel-config.cmake
Labels: CLA Signed

#6576 [ExecuTorch] Clean up pre-C++17 macros
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported

#6517 [Executorch][Kernels] Build optimized lib with -O2
  kernels/optimized/lib_defs.bzl
  kernels/optimized/op_registration_util.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6518 [Executorch][llm] Compile custom op with -O2
  extension/llm/custom_ops/targets.bzl
Labels: CLA Signed, fb-exported

#6519 [Executorch][Portable] Compile portable ops with -O2
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6520 [Executorch] mul broadcast update
  kernels/optimized/cpu/binary_ops.h
  kernels/optimized/cpu/op_mul.cpp
  kernels/optimized/vec/functional_base.h
  kernels/test/op_mul_test.cpp
Labels: CLA Signed, fb-exported

#6465 [ET-VK] Reduced int precision for all int storage in q linear op, and reducing some texture coordinate storage variables to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
Labels: CLA Signed, fb-exported

#6535 Support optrace
  backends/qualcomm/runtime/backends/QnnFunctionInterface.h
  backends/qualcomm/runtime/backends/QnnGraphCommon.h
  backends/qualcomm/runtime/backends/QnnProfiler.cpp
  backends/qualcomm/serialization/qnn_compile_spec_schema.py
  backends/qualcomm/serialization/schema.fbs
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, fb-exported

#6595 [ET-VK] Reduced int precision for all int storage in q linear op, and reducing some texture coordinate storage variables to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
Labels: CLA Signed

#6592 [ET-VK] Build Vulkan delegate on MacOS with MoltenVK
  backends/vulkan/targets.bzl
Labels: CLA Signed, fb-exported, module: vulkan, ciflow/periodic

#6599 Remove open_source oncall marker in executorch owned code
  shim/BUCK
Labels: CLA Signed, fb-exported

#6521 [Executorch] Handle broadcast semantics for last dim
  kernels/optimized/cpu/binary_ops.h
  kernels/optimized/cpu/op_mul.cpp
  kernels/optimized/cpu/targets.bzl
  kernels/optimized/vec/functional_base.h
  kernels/test/op_mul_test.cpp
Labels: CLA Signed, fb-exported

#6523 [Executorch] Make apple take accelerate path for blas
  kernels/optimized/TARGETS
  kernels/optimized/lib_defs.bzl
  kernels/optimized/targets.bzl
Labels: CLA Signed, fb-exported

#6577 [ET-VK][AOT] Define pass application order
  backends/vulkan/_passes/insert_prepack_nodes.py
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported

#6600 [ET-VK][AOT][ez] Introduce vulkan export utils lib
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/insert_prepack_nodes.py
  backends/vulkan/serialization/vulkan_graph_builder.py
  backends/vulkan/targets.bzl
  backends/vulkan/utils.py
Labels: CLA Signed, fb-exported, module: vulkan, ciflow/periodic
