Repository pytorch/executorch, pull requests merged in 2024-12, with the labels that each got.

#7045 Add quantize_per_channel and dequantize_per_channel to q_dq_ops target
  kernels/quantized/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#6914 [Executorch][llama] Rename update_quantized_cache to update_cache
  examples/models/llama/source_transformation/quantized_kv_cache.py
  extension/llm/custom_ops/TARGETS
  extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_update_cache.cpp
  extension/llm/custom_ops/op_update_cache.h
  extension/llm/custom_ops/sdpa_with_kv_cache.py
  extension/llm/custom_ops/targets.bzl
  extension/llm/custom_ops/test_update_cache.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6971 Fix placeholder lifetime bug in memory planning
  exir/memory_planning.py
  exir/tests/test_memory_planning.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7103 Add scuba logging to edge API's
  exir/emit/test/test_emit.py
  exir/program/TARGETS
  exir/program/_program.py
  exir/tests/test_joint_graph.py
  exir/tests/test_remove_view_copy.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7111 Run decompositions before the quantizer
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7147 fix D66543187 build-jarvis-xtensa-dsp and lint errros
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_minimum_maximum_f32.c
Labels: CLA Signed, fb-exported

#6700 Transform model to be able to use Attention Sink
  examples/models/llama/export_llama_lib.py
  examples/models/llama/model.py
  examples/models/llama/source_transformation/attention_sink.py
Labels: CLA Signed, fb-exported, release notes:attention_sink

#6921 Update eager runner to support AttentionSink
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
Labels: CLA Signed, fb-exported, release notes:attention_sink

#7070 add eval for attention sink
  examples/models/llama/TARGETS
  examples/models/llama/eval_llama.py
  examples/models/llama/eval_llama_lib.py
Labels: CLA Signed, fb-exported, release notes:attention_sink

#7131 Fix XNN partitioning dynamic upsample with constant scales
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/bilinear2d.py
Labels: CLA Signed, fb-exported, release notes: backends

#7153 [pybind] Fix rpath for custom ops
  CMakeLists.txt
  extension/llm/custom_ops/CMakeLists.txt
  kernels/quantized/CMakeLists.txt
Labels: CLA Signed, ciflow/binaries/all, topic: not user facing

#7117 Onboard ExecuTorch to benchmark database v3
  .github/scripts/extract_benchmark_results.py
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/LlmBenchmarkRunner.java
  extension/benchmark/android/benchmark/app/src/main/java/org/pytorch/minibench/BenchmarkMetric.java
Labels: CLA Signed, topic: not user facing

#7155 Don't apply path rewriting rules for //executorch_models
  shim/xplat/executorch/build/runtime_wrapper.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7143 Add a simple multi-threaded test
  backends/test/README.md
  backends/test/TARGETS
  backends/test/multi_method_delegate_test.cpp
  backends/test/targets.bzl
  test/models/export_delegated_program.py
  test/models/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7137 Fix for qualified import of conftest
  backends/arm/test/common.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7138 Handle new dims for repeat in pass
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/unsqueeze_before_repeat_pass.py
  backends/arm/operators/op_repeat.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/passes/test_unsqueeze_before_repeat_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7160 Arm backend : Back Ethos-U Vela compiler to working version
  backends/arm/test/ops/test_depthwise_conv.py
  examples/arm/aot_arm_compiler.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#6983 Qualcomm AI Engine Direct - Suport batch prefill mode for llama3.2
  backends/qualcomm/quantizer/custom_annotation.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/oss_scripts/llama2/model/static_llama.py
  examples/qualcomm/oss_scripts/llama2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.h
  examples/qualcomm/oss_scripts/llama3_2/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama3_2/llama.py
  examples/qualcomm/oss_scripts/llama3_2/qnn_llama3_2_runner.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/io_memory.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/io_memory.h
  examples/qualcomm/oss_scripts/llama3_2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/runner.h
Labels: CLA Signed, partner: qualcomm, release notes: backends

#7159 make tensor_accessor compatible with mac os builds
  extension/tensor/tensor_accessor.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7135 Removed unnecessary conditions in op_add and op_mul
  backends/cadence/fusion_g3/operators/op_add.cpp
  backends/cadence/fusion_g3/operators/op_cat.cpp
  backends/cadence/fusion_g3/operators/op_mul.cpp
  backends/cadence/fusion_g3/operators/op_quantize.cpp
Labels: CLA Signed, topic: not user facing

#7157 fix D66283212 typo
  backends/arm/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7164 Dont quantize the current token for attention
  examples/models/llama/source_transformation/quantized_kv_cache.py
  examples/models/llama/source_transformation/test_sdpa_with_quantized_kv_cache.py
Labels: CLA Signed, topic: not user facing

#7142 Introduce executorch_ops_check
  codegen/tools/gen_all_oplist.py
  codegen/tools/gen_oplist.py
  codegen/tools/gen_oplist_copy_from_core.py
  codegen/tools/targets.bzl
  codegen/tools/test/test_gen_all_oplist.py
  codegen/tools/test/test_gen_oplist.py
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7102 Buckify op_add for FusionG3 and add cxx tests.
  backends/cadence/fusion_g3/operators/op_add.cpp
  backends/cadence/fusion_g3/operators/operators.h
  backends/cadence/fusion_g3/operators/tests/test_op_add.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7158 Correct the build for the ninja generator
  devtools/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#7091 Use a template for Android test spec
  .github/workflows/android-perf.yml
  .github/workflows/upload-android-test-specs.yml
  extension/benchmark/android/benchmark/android-llm-device-farm-test-spec.yml.j2
Labels: CLA Signed, module: benchmark, topic: not user facing

#7151 Use a template for Apple test spec
  .github/workflows/apple-perf.yml
  .github/workflows/upload-apple-test-specs.yml
  extension/benchmark/apple/Benchmark/default-ios-device-farm-appium-test-spec.yml.j2
Labels: CLA Signed, topic: not user facing

#6963 Port Memory Constraints over to OSS
  backends/cadence/aot/memory_constraints.py
  backends/cadence/aot/memory_planning.py
  backends/cadence/aot/utils.py
Labels: CLA Signed, fb-exported, release notes: backends

#7167 Fix linter
  extension/tensor/tensor_accessor.h
Labels: CLA Signed, topic: not user facing

#7154 [et][dim order] empty dim order
  kernels/aten/cpu/op__empty_dim_order.cpp
  kernels/aten/cpu/targets.bzl
  kernels/aten/edge_dialect_aten_op.yaml
  kernels/portable/cpu/op__empty_dim_order.cpp
  kernels/portable/functions.yaml
  kernels/test/op__empty_dim_order_test.cpp
  kernels/test/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7134 Feat/Add a React Native LLaMA demo app for iOS
  .lintrunner.toml
  examples/demo-apps/react-native/rnllama/.gitignore
  examples/demo-apps/react-native/rnllama/README.md
  examples/demo-apps/react-native/rnllama/app.json
  examples/demo-apps/react-native/rnllama/app/_layout.tsx
  examples/demo-apps/react-native/rnllama/app/index.tsx
  examples/demo-apps/react-native/rnllama/assets/images/rnllama.png
  examples/demo-apps/react-native/rnllama/bridge/LlamaBridge.ts
  examples/demo-apps/react-native/rnllama/ios/.gitignore
  examples/demo-apps/react-native/rnllama/ios/.xcode.env
  examples/demo-apps/react-native/rnllama/ios/LlamaBridge.h
  examples/demo-apps/react-native/rnllama/ios/LlamaBridge.mm
  examples/demo-apps/react-native/rnllama/ios/Podfile
  examples/demo-apps/react-native/rnllama/ios/Podfile.lock
  examples/demo-apps/react-native/rnllama/ios/Podfile.properties.json
  examples/demo-apps/react-native/rnllama/ios/Release.xcconfig
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcodeproj/project.pbxproj
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcodeproj/xcshareddata/xcschemes/rnllama.xcscheme
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcworkspace/contents.xcworkspacedata
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  examples/demo-apps/react-native/rnllama/ios/rnllama/AppDelegate.h
  examples/demo-apps/react-native/rnllama/ios/rnllama/AppDelegate.mm
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/1024.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/114.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/120.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/180.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/29.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/40.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/57.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/58.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/60.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/80.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/87.png
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/AppIcon.appiconset/Contents.json
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/Contents.json
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  examples/demo-apps/react-native/rnllama/ios/rnllama/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  examples/demo-apps/react-native/rnllama/ios/rnllama/Info.plist
  examples/demo-apps/react-native/rnllama/ios/rnllama/PrivacyInfo.xcprivacy
  examples/demo-apps/react-native/rnllama/ios/rnllama/SplashScreen.storyboard
  examples/demo-apps/react-native/rnllama/ios/rnllama/Supporting/Expo.plist
  examples/demo-apps/react-native/rnllama/ios/rnllama/main.m
  examples/demo-apps/react-native/rnllama/ios/rnllama/noop-file.swift
  examples/demo-apps/react-native/rnllama/ios/rnllama/rnllama-Bridging-Header.h
  examples/demo-apps/react-native/rnllama/ios/rnllama/rnllama.entitlements
  examples/demo-apps/react-native/rnllama/package-lock.json
  examples/demo-apps/react-native/rnllama/package.json
  examples/demo-apps/react-native/rnllama/tsconfig.json
Labels: CLA Signed, topic: not user facing

#7168 [et][dim order] aot support for dim order variant empty op
  exir/passes/dim_order_ops_registry.py
  exir/passes/memory_format_ops_pass.py
  exir/tests/test_memory_format_ops_pass.py
  exir/tests/test_memory_format_ops_pass_aten.py
  exir/tests/test_memory_format_ops_pass_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7183 Fix pyre
  backends/arm/operator_support/to_copy_support.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7185 Fix pyre
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/keep_dims_false_to_squeeze_pass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7187 [et][dim order] Makes DimOrderOpsMap as an operator to operator mapping
  exir/passes/dim_order_ops_registry.py
  exir/passes/memory_format_ops_pass.py
  exir/verification/verifier.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6591 Enable sin, cos op for QNN HTP backend
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/op_cos.py
  backends/qualcomm/builders/op_sin.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/utils.py
Labels: CLA Signed, feature, partner: qualcomm, release notes: backends

#7043 Simplify cmake test invocation
  CMakeLists.txt
  Test.cmake
  backends/xnnpack/CMakeLists.txt
  backends/xnnpack/test/CMakeLists.txt
  build/Test.cmake
  devtools/CMakeLists.txt
  devtools/etdump/tests/CMakeLists.txt
  examples/models/llama/tokenizer/test/CMakeLists.txt
  extension/data_loader/CMakeLists.txt
  extension/data_loader/test/CMakeLists.txt
  extension/evalue_util/test/CMakeLists.txt
  extension/kernel_util/test/CMakeLists.txt
  extension/memory_allocator/test/CMakeLists.txt
  extension/module/CMakeLists.txt
  extension/module/test/CMakeLists.txt
  extension/pytree/test/CMakeLists.txt
  extension/runner_util/CMakeLists.txt
  extension/runner_util/test/CMakeLists.txt
  extension/tensor/CMakeLists.txt
  extension/tensor/test/CMakeLists.txt
  kernels/portable/cpu/util/test/CMakeLists.txt
  kernels/portable/test/CMakeLists.txt
  kernels/prim_ops/test/CMakeLists.txt
  kernels/quantized/test/CMakeLists.txt
  kernels/test/CMakeLists.txt
  runtime/core/exec_aten/testing_util/test/CMakeLists.txt
  runtime/core/exec_aten/util/test/CMakeLists.txt
  runtime/core/portable_type/test/CMakeLists.txt
  runtime/core/test/CMakeLists.txt
  runtime/executor/test/CMakeLists.txt
  runtime/kernel/test/CMakeLists.txt
  runtime/platform/test/CMakeLists.txt
  test/run_oss_cpp_tests.sh
  test/utils/CMakeLists.txt
  test/utils/OSSTest.cmake.in
  test/utils/OSSTestConfig.json
Labels: CLA Signed, release notes: misc

#7188 [et][dim order] Make edge verifier support empty operator
  exir/verification/test/test_verifier.py
  exir/verification/verifier.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7198 Revert "Arm backend : Back Ethos-U Vela compiler to working version"
  backends/arm/test/ops/test_depthwise_conv.py
  examples/arm/aot_arm_compiler.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7181 Stronger guard against linear tiling
  backends/vulkan/runtime/vk_api/Adapter.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7203 Revert cadence quantized_linear_per_tensor_out cpu1eb924f^..fd33294
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/im2row_out.cpp
  backends/cadence/reference/operators/operators.h
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_ops.h
  backends/cadence/reference/operators/targets.bzl
Labels: CLA Signed, topic: not user facing

#7015 [ET-VK] Using a single GPU buffer for all tensor uniforms.
  backends/vulkan/runtime/api/containers/ParamsBuffer.h
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/vk_api/Descriptor.cpp
  backends/vulkan/runtime/vk_api/Descriptor.h
  backends/vulkan/runtime/vk_api/memory/Buffer.h
Labels: CLA Signed, fb-exported, release notes: backends

#7016 [ET-VK] Replacing use of adaptive_work_group_size function by create_local_wg_size function.
  backends/vulkan/runtime/graph/ops/impl/Copy.cpp
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
Labels: CLA Signed, fb-exported, release notes: backends

#7204 Reland cadence quantized_linear_per_tensor_out cpu 1eb924f^..fd33294
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/im2row_out.cpp
  backends/cadence/reference/operators/operators.h
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_ops.h
  backends/cadence/reference/operators/targets.bzl
Labels: CLA Signed, topic: not user facing, ci-no-td

#6996 [Executorch][BE] Rename sdpa_with_kv_cache.py to custom_ops.py
  examples/models/llama/eval_llama_lib.py
  examples/models/llama/runner/native.py
  examples/models/llama/source_transformation/sdpa.py
  examples/models/llava/test/test_llava.py
  examples/models/llava/test/test_pte.py
  extension/llm/README.md
  extension/llm/custom_ops/custom_ops.py
  extension/llm/custom_ops/targets.bzl
  extension/llm/custom_ops/test_sdpa_with_kv_cache.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7038 [Executorch][custom ops] Change lib loading logic to account for package dir
  extension/llm/custom_ops/custom_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6997 [Executorch] Add quantized kv cache to oss ci
  .ci/scripts/test_llama.sh
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  examples/models/llama/source_transformation/quantized_kv_cache.py
  examples/models/llama/source_transformation/sdpa.py
  extension/llm/custom_ops/custom_ops.py
  kernels/quantized/CMakeLists.txt
Labels: CLA Signed, fb-exported, topic: not user facing

#7189 Qualcomm AI Engine Direct - support dim_order
  backends/qualcomm/_passes/remove_redundancy.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, feature, partner: qualcomm, release notes: backends

#6976 Fix quantized linear -> quantized fully connected replacement pass + add quantized fully connected per_tensor
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7184 improve error messaging in to_edge_transform_and_lower
  exir/program/_program.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7209 error in per-op mode
  backends/xnnpack/partition/xnnpack_partitioner.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7182 Vulkan spirv debug symbols
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/targets.bzl
Labels: CLA Signed, fb-exported, module: vulkan, topic: not user facing

#7179 Add switch for android arvr mode
  extension/pytree/aten_util/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7178 Fix runnning arm unittests on FVP
  backends/arm/test/conftest.py
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/ops/test_div.py
  backends/arm/test/ops/test_mul.py
  backends/arm/test/runner_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7172 feat: Add DrawGraph tool for graph visualization
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.cpp
  backends/qualcomm/aot/wrappers/OpWrapper.h
  backends/qualcomm/debugger/utils.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, feature, partner: qualcomm, release notes: backends

#7061 buckify g3 targets
  backends/cadence/aot/functions_fusion_g3.yaml
  backends/cadence/fusion_g3/operators/TARGETS
  backends/cadence/fusion_g3/operators/op_dequantize.cpp
  backends/cadence/fusion_g3/operators/op_quantize.cpp
  backends/cadence/fusion_g3/operators/op_softmax.cpp
  backends/cadence/fusion_g3/operators/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7201 executorch/runtime_wrapper: replace fbcode.build_mode_test_label with selects
  shim/xplat/executorch/build/runtime_wrapper.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7144 [ET-VK] Removing unnecessary and redundant members from VulkanBuffer and ParamsBuffer.
  backends/vulkan/runtime/api/containers/ParamsBuffer.h
  backends/vulkan/runtime/vk_api/memory/Buffer.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.h
Labels: CLA Signed, fb-exported, module: vulkan, release notes: backends

#7145 [ET-VK] Store unique ptr to Tensor in Value instead of inlined tensor object, to reduce Value struct size from 448 to 80 bytes.
  backends/vulkan/runtime/graph/containers/Value.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: backends

#6941 Check group size is divisible by 32
  backends/xnnpack/operators/node_visitor.py
  backends/xnnpack/test/ops/linear.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7077 pip install reference_model and use pybind
  backends/arm/arm_backend.py
  backends/arm/test/common.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_scalars.py
  backends/arm/test/ops/test_select.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  examples/arm/setup.sh
  setup.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7169 Create a docker image for mediatek
  .ci/docker/build.sh
  .ci/docker/ubuntu/Dockerfile
  .github/workflows/docker-builds.yml
  .github/workflows/pull.yml
Labels: CLA Signed, fb-exported, module: ci, module: mediatek, release notes: backends

#7213 [BE] Add fix suggestions for ops not in core ATen opset error
  exir/verification/verifier.py
Labels: CLA Signed, topic: not user facing

#7216 Update docs on SwiftPM integration.
  docs/source/apple-runtime.md
Labels: CLA Signed, fb-exported, topic: not user facing

#7218 fix: add a version resolution for cookie in react native llama example app and use yarn as the package manager
  examples/demo-apps/react-native/rnllama/README.md
  examples/demo-apps/react-native/rnllama/package-lock.json
  examples/demo-apps/react-native/rnllama/package.json
  examples/demo-apps/react-native/rnllama/yarn.lock
Labels: CLA Signed, topic: not user facing

#7173 Fix xnn linkage issue when building wheels
  CMakeLists.txt
Labels: CLA Signed, ciflow/binaries, topic: not user facing

#7228 Add util function in etdump to get debug buffer size
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
Labels: CLA Signed, fb-exported

#7225 Revert "Reland cadence quantized_linear_per_tensor_out cpu 1eb924f^..fd33294"
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/im2row_out.cpp
  backends/cadence/reference/operators/operators.h
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_ops.h
  backends/cadence/reference/operators/targets.bzl
Labels: CLA Signed, topic: not user facing, ci-no-td

#7191 [executorch][schema] Add 'EXTERNAL' to DataLocation in schema
  exir/passes/replace_view_copy_with_view_pass.py
  exir/schema.py
  exir/tensor.py
  schema/program.fbs
Labels: CLA Signed, fb-exported, topic: not user facing

#7233 [executorch][emit] Refactor _tensor_spec_to_evalue
  exir/emit/_emitter.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7219 Update arm unittests to match latest vela version
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/ops/test_div.py
  backends/arm/test/ops/test_mul.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7152 [ET-VK] Store unique ptr to StagingBuffer and SymInt in Value instead of inlined object, to reduce Value struct size from 80 to 32 bytes.
  backends/vulkan/runtime/graph/containers/Value.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: backends

#7220 [ET-VK] Removing unnecessary and redundant members from StagingBuffer.
  backends/vulkan/runtime/api/containers/StagingBuffer.h
Labels: CLA Signed, fb-exported, release notes: backends

#7221 [ET-VK] Adding function to set push constants in Command buffer.
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/vk_api/Command.cpp
  backends/vulkan/runtime/vk_api/Command.h
Labels: CLA Signed, fb-exported, release notes: backends

#7206 Add num_instructions program function
  runtime/executor/method_meta.cpp
  runtime/executor/method_meta.h
  runtime/executor/test/method_meta_test.cpp
Labels: CLA Signed, fb-exported, release notes: runtime

#7257 Re-sync backends/cadence/CMakeLists.txt to internal
  backends/cadence/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#7247 Fix executorch pyre errors after D66937105
  backends/cadence/aot/remove_ops.py
  exir/passes/__init__.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7239 Patch llama.py for internal build
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/oss_scripts/llama3_2/llama.py
Labels: CLA Signed, fb-exported

#7192 [executorch][emitter] Emit FQNs
  exir/emit/_emit_program.py
  exir/emit/_emitter.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7236 cadence quantized_linear_per_tensor_out cpu
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/im2row_out.cpp
  backends/cadence/reference/operators/operators.h
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_ops.h
  backends/cadence/reference/operators/targets.bzl
Labels: CLA Signed, release notes: backends, ci-no-td

#7193 [executorch][passes] Add config and pass to tag constants for external file
  examples/portable/scripts/export.py
  exir/capture/_config.py
  exir/emit/test/test_emit.py
  exir/passes/TARGETS
  exir/passes/external_constants_pass.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7245 Use libtorch target in generated operator tests/benchmarks instead of custom op lib target
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7161 Added support for torch.concat operator.
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/test/quantizer/test_generic_annotater.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7256 Remove checks on quant_min/quant_max
  backends/cadence/fusion_g3/operators/op_quantize.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7271 Test old Lowering flow for op_ceiling.py
  backends/xnnpack/test/ops/ceil.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7258 update to latest Vulkan SDK
  .ci/scripts/setup-vulkan-linux-deps.sh
Labels: CLA Signed, module: vulkan, topic: not user facing

#7023 Clean up XNNPACK pytest
  backends/xnnpack/test/ops/test_abs.py
  backends/xnnpack/test/ops/test_add.py
  backends/xnnpack/test/ops/test_avgpool2d.py
  backends/xnnpack/test/ops/test_bilinear2d.py
  backends/xnnpack/test/ops/test_bmm.py
  backends/xnnpack/test/ops/test_cat.py
  backends/xnnpack/test/ops/test_ceil.py
  backends/xnnpack/test/ops/test_clamp.py
  backends/xnnpack/test/ops/test_conv1d.py
  backends/xnnpack/test/ops/test_conv2d.py
  backends/xnnpack/test/ops/test_div.py
  backends/xnnpack/test/ops/test_elu.py
  backends/xnnpack/test/ops/test_floor.py
  backends/xnnpack/test/ops/test_hardswish.py
  backends/xnnpack/test/ops/test_hardtanh.py
  backends/xnnpack/test/ops/test_leaky_relu.py
  backends/xnnpack/test/ops/test_linear.py
  backends/xnnpack/test/ops/test_lstm.py
  backends/xnnpack/test/ops/test_max_dim.py
  backends/xnnpack/test/ops/test_maximum.py
  backends/xnnpack/test/ops/test_maxpool2d.py
  backends/xnnpack/test/ops/test_mean_dim.py
  backends/xnnpack/test/ops/test_minimum.py
  backends/xnnpack/test/ops/test_multiply.py
  backends/xnnpack/test/ops/test_negate.py
  backends/xnnpack/test/ops/test_permute.py
  backends/xnnpack/test/ops/test_pow.py
  backends/xnnpack/test/ops/test_prelu.py
  backends/xnnpack/test/ops/test_quantize_per_tensor.py
  backends/xnnpack/test/ops/test_relu.py
  backends/xnnpack/test/ops/test_sdpa.py
  backends/xnnpack/test/ops/test_sigmoid.py
  backends/xnnpack/test/ops/test_slice_copy.py
  backends/xnnpack/test/ops/test_softmax.py
  backends/xnnpack/test/ops/test_sqrt.py
  backends/xnnpack/test/ops/test_square.py
  backends/xnnpack/test/ops/test_static_constant_pad.py
  backends/xnnpack/test/ops/test_sub.py
  pytest.ini
Labels: CLA Signed, topic: not user facing

#7278 Support to init BundledProgram from pte file
  devtools/bundled_program/core.py
  devtools/bundled_program/test/test_bundle_data.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7275 Remove to_copy reference in the test
  backends/arm/test/ops/test_to_copy.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7252 [dim order] reenbale dim order as default
  backends/vulkan/test/test_vulkan_delegate.py
  exir/capture/_config.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7285 Arm backend: Update Ethos-U compiler Vela to fix a output problem
  backends/arm/test/ops/test_layer_norm.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7272 Fix hardcoded rope_scale factor to 32 for Llama 3.2
  backends/vulkan/docs/android_demo.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  examples/models/llama/README.md
  examples/models/llama/llama_transformer.py
  examples/models/llama/model.py
  examples/models/llama/rope.py
Labels: CLA Signed, release notes: examples

#7296 Remove none_throws usage from bundled_program
  devtools/bundled_program/core.py
  devtools/bundled_program/test/test_bundle_data.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7274 Manually apply 4bit weight packing
  backends/vulkan/_passes/int4_weight_only_quantizer.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7297 [ET-VK] Fix VulkanBackend `args` output index
  backends/vulkan/runtime/VulkanBackend.cpp
Labels: CLA Signed, fb-exported, module: vulkan, release notes: backends

#7308 Fix CI for build-llm-demo
  .ci/scripts/test_llama.sh
Labels: CLA Signed, topic: not user facing

#7315 FusionG3 operators.
  backends/cadence/fusion_g3/operators/op_add.cpp
  backends/cadence/fusion_g3/operators/op_cat.cpp
  backends/cadence/fusion_g3/operators/op_dequantize.cpp
  backends/cadence/fusion_g3/operators/op_mul.cpp
  backends/cadence/fusion_g3/operators/op_native_layer_norm.cpp
  backends/cadence/fusion_g3/operators/op_quantize.cpp
  backends/cadence/fusion_g3/operators/op_softmax.cpp
  backends/cadence/fusion_g3/operators/operators.h
  backends/cadence/fusion_g3/operators/targets.bzl
  backends/cadence/fusion_g3/operators/tests/test_op_add.cpp
  backends/cadence/runtime/TARGETS
  backends/cadence/runtime/et_pal.cpp
  backends/cadence/runtime/targets.bzl
  kernels/test/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7223 [ET-VK] Add PushConstantDataInfo and vector to hold push constants data in DispatchNode.
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DispatchNode.h
Labels: CLA Signed, fb-exported, release notes: backends

#7224 [ET-VK] Adding convenience functions in Compute graph to get PushConstantDataInfo for various attributes of a tensor.
  backends/vulkan/runtime/graph/ComputeGraph.h
Labels: CLA Signed, fb-exported, release notes: backends, topic: not user facing

#7229 [ET-VK] Replace Uniform buffers with push constants for view op
  backends/vulkan/runtime/graph/ops/glsl/view.glsl
  backends/vulkan/runtime/graph/ops/impl/View.cpp
Labels: CLA Signed, fb-exported, release notes: backends, topic: not user facing

#7197 restucture debug handle
  exir/graph_module.py
  exir/passes/debug_handle_generator_pass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7313 Fix errors in comparison functions when dtype is uint8
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7266 Add stricter transpose condition for TOSA reshape lowering
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/test/ops/test_view.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7290 Arm backend: Remove running examples/arm/setup.sh in the github docker
  .ci/docker/ubuntu/Dockerfile
  .github/workflows/docker-builds.yml
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7289 Arm backend: Explicitly convert quantized value to int64
  backends/arm/tosa_quant_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7303 Refer "./install_requirements.sh --clean" in documents
  backends/vulkan/docs/android_demo.md
  backends/xnnpack/README.md
  docs/source/build-run-xtensa.md
  docs/source/llm/getting-started.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/models/llama/README.md
  examples/models/phi-3-mini-lora/README.md
  examples/portable/README.md
  examples/xnnpack/README.md
  extension/training/README.md
Labels: CLA Signed, release notes: build

#7305 Be able to compile in offline mode
  .gitignore
  CMakeLists.txt
  build/Utils.cmake
Labels: CLA Signed, ciflow/trunk, release notes: build

#7322 [ET-VK] Don't specify memory layouts when testing
  backends/vulkan/_passes/tag_memory_meta_pass.py
  backends/vulkan/test/test_vulkan_delegate.py
  backends/vulkan/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7097 save api
  exir/program/_program.py
  exir/program/test/test_program.py
Labels: CLA Signed, fb-exported, release notes: exir, release notes: api

#7232 Allow addmm and mm to call dynamic fp32 kernels Xnnpack
  backends/xnnpack/partition/config/gemm_configs.py
Labels: CLA Signed, fb-exported, release notes: backends

#6659 EfficientSAM Model Export
  examples/models/__init__.py
  examples/models/efficient_sam/README.md
  examples/models/efficient_sam/__init__.py
  examples/models/efficient_sam/efficient_sam_core/LICENSE.txt
  examples/models/efficient_sam/efficient_sam_core/build_efficient_sam.py
  examples/models/efficient_sam/efficient_sam_core/efficient_sam.py
  examples/models/efficient_sam/efficient_sam_core/efficient_sam_decoder.py
  examples/models/efficient_sam/efficient_sam_core/efficient_sam_encoder.py
  examples/models/efficient_sam/efficient_sam_core/mlp.py
  examples/models/efficient_sam/efficient_sam_core/two_way_transformer.py
  examples/models/efficient_sam/model.py
  examples/models/test/test_export.py
Labels: CLA Signed, topic: not user facing

#7280 Add compute unit to coreml llama export
  examples/models/llama/export_llama_lib.py
  extension/llm/export/partitioner_lib.py
Labels: enhancement, CLA Signed, topic: not user facing

#7301 Fix name of const tensors in const_prop_pass.py
  exir/passes/constant_prop_pass.py
  exir/tests/TARGETS
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7199 Arm backend: Fix bug in ConvertExpandCopyToRepeatPass
  backends/arm/_passes/convert_expand_copy_to_repeat.py
  backends/arm/test/ops/test_expand.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7329 Allow operators to be called outside of the kernel registry
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7277 Add RemoveAssert pass to remove `_assert_tensor_metadata` nodes
  exir/passes/remove_graph_asserts_pass.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7335 Disable c10::optional macros in executorch
  kernels/quantized/cpu/op_dequantize.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7336 Fix pyre issue for diff train
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6959 Arm backend: Add devtools support to example
  CMakeLists.txt
  backends/arm/runtime/ArmBackendEthosU.cpp
  devtools/CMakeLists.txt
  examples/arm/CMakeLists.txt
  examples/arm/aot_arm_compiler.py
  examples/arm/ethos-u-setup/core_platform/patches/0001-Move-rodata-to-the-DDR.patch
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/executor_runner/arm_perf_monitor.cpp
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7230 [ET-VK] Replace Uniform buffers with push constants for binary op
  backends/vulkan/runtime/graph/ops/DispatchNode.h
  backends/vulkan/runtime/graph/ops/glsl/binary_op.glsl
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: backends, topic: not user facing

#7231 [ET-VK] Replace Uniform buffers with push constants for permute op
  backends/vulkan/runtime/graph/ops/glsl/permute.glsl
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
Labels: CLA Signed, fb-exported, release notes: backends, topic: not user facing

#5368 Add HuggingFace Llama3.2 1B to benchmark
  .ci/scripts/download_hf_hub.sh
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
  .github/workflows/trunk.yml
  extension/benchmark/apple/Benchmark/Tests/GenericTests.mm
  extension/benchmark/apple/Benchmark/Tests/LLaMA/LLaMATests.mm
  extension/benchmark/apple/Benchmark/default-ios-device-farm-appium-test-spec.yml.j2
Labels: CLA Signed, module: benchmark, topic: not user facing

#7351 Revert "Add full operator to fold dq/q handling"
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_avg_pool2d.py
  backends/arm/operators/op_batch_norm.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_div.py
  backends/arm/operators/op_full.py
  backends/arm/operators/op_max.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/operators/op_min.py
  backends/arm/process_node.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/min_max_annotator.py
  backends/arm/test/ops/test_maximum.py
  backends/arm/test/ops/test_minimum.py
  backends/arm/test/passes/test_fold_qdq_pass.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, topic: not user facing

#6179 Fix file picker titles.
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
Labels: CLA Signed, fb-exported, topic: not user facing

#7186 remove duplication
  backends/cadence/aot/TARGETS
  backends/cadence/aot/memory_planning.py
Labels: CLA Signed, fb-exported, release notes: backends

#7363 Support torch.Tensor in GraphBuilder.
  backends/cadence/aot/graph_builder.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7365 [ET-VK] Manually sync internal and OSS
  backends/vulkan/test/test_vulkan_delegate.py
Labels: CLA Signed, topic: not user facing

#7367 Fix wheel build CI jobs
  build/packaging/smoke_test.py
Labels: CLA Signed, topic: not user facing

#7284 Allow partitioning quantized linear for FP32-only partition
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/test/ops/test_linear.py
Labels: CLA Signed, fb-exported, module: xnnpack

#7369 Add bpe tokenizer deps to buck target
  examples/qualcomm/oss_scripts/llama3_2/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7349 Enable composable benchmark configs for flexible model+device+optimization scheduling
  .ci/scripts/gather_benchmark_configs.py
  .ci/scripts/test_llama.sh
  .ci/scripts/test_model.sh
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
Labels: CLA Signed, module: benchmark, topic: not user facing

#7360 Arm Backend: More verbose Ethos-U compiler (Vela)
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7357 Arm backend: Add marks for test
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/ops/test_avg_pool.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_clone.py
  backends/arm/test/ops/test_conv1d.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/ops/test_conv_combos.py
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/ops/test_div.py
  backends/arm/test/ops/test_exp.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_full.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_layer_norm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/test/ops/test_log.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_mul.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_reciprocal.py
  backends/arm/test/ops/test_sub.py
  backends/arm/test/pytest.ini
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7359 Add support for system_config/memory_mode in arm AOT flow
  backends/arm/test/setup_testing.sh
  examples/arm/aot_arm_compiler.py
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7302 Add util function for pretty printing of output diffs
  backends/arm/test/tester/analyze_output_utils.py
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7375 c10::string_view -> std::string_view in executorch
  backends/vulkan/test/op_tests/utils/aten_types.py
  backends/vulkan/test/op_tests/utils/gen_computegraph.py
  backends/vulkan/test/op_tests/utils/gen_correctness_base.py
  runtime/core/exec_aten/exec_aten.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7405 Add buck file for the debugger
  backends/qualcomm/debugger/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7399 Add Llama3.2 CoreML ANE to benchmark
  .ci/scripts/gather_benchmark_configs.py
  .github/workflows/apple-perf.yml
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed, module: benchmark, topic: not user facing

#7408 Enable IR checks
  backends/cadence/aot/compiler.py
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7267 [ET-VK] Replace Uniform buffers with push constants for copy op
  backends/vulkan/runtime/graph/ops/glsl/copy_channel_offset.glsl
  backends/vulkan/runtime/graph/ops/glsl/copy_offset.glsl
  backends/vulkan/runtime/graph/ops/impl/Copy.cpp
Labels: CLA Signed, fb-exported, release notes: backends

#7368 [2.6 RELEASE] Update PyTorch pin to 2.6
  .ci/docker/ci_commit_pins/pytorch.txt
  .github/workflows/_android.yml
  .github/workflows/_unittest.yml
  .github/workflows/android-perf.yml
  .github/workflows/android-release-artifacts.yml
  .github/workflows/apple-perf.yml
  .github/workflows/apple.yml
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-m1.yml
  .github/workflows/doc-build.yml
  .github/workflows/docker-builds.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  .github/workflows/update-viablestrict.yml
  examples/models/llama3_2_vision/text_decoder/test/test_text_decoder.py
  examples/models/llama3_2_vision/vision_encoder/test/test_vision_encoder.py
  extension/llm/export/builder.py
  extension/llm/modules/test/test_position_embeddings.py
  install_requirements.py
Labels: CLA Signed

#7421 Update target path for CI macros
  backends/vulkan/targets.bzl
  backends/vulkan/test/compute_api_tests.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7407 Update RemovePermutesAroundElementwiseOps to work with view as well
  backends/cadence/aot/remove_ops.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7422 linter
  exir/emit/test/test_emit.py
  exir/tests/test_quant_fusion_pass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7355 Support ceil_mode=True on maxpool2d in XNNPACK delegate
  backends/xnnpack/operators/op_max_pool2d.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/test_maxpool2d.py
Labels: CLA Signed, fb-exported, release notes: backends

#7418 Added Cadence memory planning example
  backends/cadence/aot/TARGETS
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, release notes: backends

#7426 Add ceil_mode test for max_pool2d_with_indices
  kernels/test/op_max_pool2d_with_indices_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7440 Update lintrunner configs
  CONTRIBUTING.md
  examples/models/llama/experimental/generate.py
  exir/dialects/edge/spec/gen.py
  requirements-lintrunner.txt
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7401 Support 5-input concat in XNNPACK delegate
  backends/xnnpack/operators/op_cat.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/test_cat.py
Labels: CLA Signed, fb-exported, release notes: backends

#7431 Add memory planning tests to Cadence
  backends/cadence/aot/TARGETS
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, release notes: backends
