Repository pytorch/executorch, pull requests merged in 2024-09, with the labels that each got.

#5026 Update pytorch pin for ET
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed, fb-exported

#5031 [evaluate] pte mode: Add error message and instruction for full logits.
  examples/models/llama2/eval_llama_lib.py
Labels: CLA Signed, fb-exported

#4903 Add pass for adjusting conv2d input shape to parameters
  backends/arm/operators/op_conv2d.py
  backends/arm/passes/annotate_channels_last_dim_order_pass.py
  backends/arm/passes/arm_pass_manager.py
  backends/arm/passes/size_adjust_conv2d_pass.py
  backends/arm/test/ops/test_conv.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#4904 Arm backend report Ethos-U PMU counters
  backends/arm/runtime/ArmBackendEthosU.cpp
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/executor_runner/arm_perf_monitor.cpp
  examples/arm/executor_runner/arm_perf_monitor.h
Labels: CLA Signed, partner: arm, ciflow/trunk

#5001 Add exp and log ops to Arm backend
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_log.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/one_to_one_annotator.py
  backends/arm/test/ops/test_exp.py
  backends/arm/test/ops/test_log.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#5034 Pass images by value to allow rvalue args.
  examples/models/llava/main.cpp
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_runner.h
  examples/models/llava/runner/targets.bzl
  extension/android/jni/jni_layer_llama.cpp
  extension/llm/runner/multimodal_runner.h
Labels: CLA Signed, fb-exported

#5014 [ET-VK] Simplify Allocator's buffer creation methods
  .ci/docker/ci_commit_pins/pytorch.txt
  backends/vulkan/runtime/api/containers/StagingBuffer.h
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/vk_api/memory/Allocator.cpp
  backends/vulkan/runtime/vk_api/memory/Allocator.h
  install_requirements.py
Labels: CLA Signed, fb-exported

#2637 introduce dim order tests to op test
  kernels/portable/cpu/op_abs.cpp
  kernels/test/TestUtil.h
  kernels/test/op_abs_test.cpp
  runtime/core/exec_aten/testing_util/tensor_factory.h
  runtime/core/exec_aten/testing_util/test/tensor_factory_test.cpp
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/tensor_util_aten.cpp
  runtime/core/exec_aten/util/tensor_util_portable.cpp
  runtime/core/exec_aten/util/test/targets.bzl
  runtime/core/exec_aten/util/test/tensor_util_test.cpp
Labels: CLA Signed, fb-exported

#4307 Add op: topk
  kernels/portable/cpu/op_topk.cpp
  kernels/portable/functions.yaml
  kernels/test/op_topk_test.cpp
  kernels/test/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#5032 Add op: convolution_backward
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_convolution_backward.cpp
  kernels/portable/cpu/util/kernel_ops_util.cpp
  kernels/portable/cpu/util/kernel_ops_util.h
  kernels/portable/functions.yaml
  kernels/test/op_convolution_backward_test.cpp
  kernels/test/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#5039 [ET-VK] Add test to track sizes of various objects
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5033 Swap to better default symshapeevalue pass
  examples/models/llava/export_llava.py
  exir/capture/_config.py
  exir/passes/TARGETS
  exir/passes/sym_shape_eval_pass.py
Labels: CLA Signed, fb-exported

#5040 [ET-VK] Add type for symbolic integers
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/containers/SymInt.cpp
  backends/vulkan/runtime/graph/containers/SymInt.h
  backends/vulkan/runtime/graph/containers/Types.cpp
  backends/vulkan/runtime/graph/containers/Types.h
  backends/vulkan/runtime/graph/containers/Value.h
  backends/vulkan/test/glsl/scalar_add_texture.glsl
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5037 Add op: scatter.src_out
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_scatter.cpp
  kernels/portable/cpu/util/index_util.cpp
  kernels/portable/cpu/util/index_util.h
  kernels/portable/functions.yaml
  kernels/test/op_scatter_test.cpp
Labels: CLA Signed, fb-exported

#5042 Fix MacOS build
  extension/llm/custom_ops/CMakeLists.txt
  extension/threadpool/CMakeLists.txt
Labels: CLA Signed

#5050 Fix wrong Android app artifact path after #5004
  .github/workflows/android-perf.yml
Labels: CLA Signed

#5051 [Reland] Update pytorch pin for ET
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed

#4992 Introduce ciflow/android and ciflow/apple label
  .github/pytorch-probot.yml
Labels: CLA Signed

#5018 Trigger apple.yml on examples/demo-apps/apple only
  .github/workflows/apple.yml
Labels: CLA Signed

#5022 Rename PyTorchBackendInterface to BackendInterface
  runtime/backend/interface.cpp
  runtime/backend/interface.h
  runtime/executor/method.cpp
  runtime/executor/test/backend_integration_test.cpp
  runtime/executor/test/test_backend_compiler_lib.cpp
  runtime/executor/test/test_backend_with_delegate_mapping.cpp
Labels: CLA Signed, fb-exported

#5035 [executorch] Add logs for helping debug address space overflow issue
  exir/emit/_emitter.py
  exir/passes/sym_shape_eval_pass.py
  exir/tensor.py
  exir/tests/test_tensor.py
Labels: CLA Signed

#4986 TensorImpl managed by a smart pointer.
  extension/tensor/TARGETS
  extension/tensor/targets.bzl
  extension/tensor/tensor_impl_ptr.cpp
  extension/tensor/tensor_impl_ptr.h
  extension/tensor/test/TARGETS
  extension/tensor/test/targets.bzl
  extension/tensor/test/tensor_impl_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5055 Tensor managed by a smart pointer.
  extension/tensor/targets.bzl
  extension/tensor/tensor_ptr.cpp
  extension/tensor/tensor_ptr.h
  extension/tensor/test/targets.bzl
  extension/tensor/test/tensor_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5049 Fix linter for minibench
  extension/android/benchmark/app/.gitignore
  extension/android/benchmark/app/build.gradle.kts
  extension/android/benchmark/app/src/androidTest/java/org/pytorch/minibench/ExampleInstrumentedTest.java
  extension/android/benchmark/app/src/main/java/org/pytorch/minibench/BenchmarkActivity.java
  extension/android/benchmark/app/src/test/java/org/pytorch/minibench/ExampleUnitTest.java
  extension/android/benchmark/build.gradle.kts
  extension/android/benchmark/settings.gradle.kts
Labels: CLA Signed, fb-exported

#5056 Convenience API for creating Tensor with a data blob.
  extension/tensor/targets.bzl
  extension/tensor/tensor.h
  extension/tensor/tensor_ptr_maker.h
  extension/tensor/test/targets.bzl
  extension/tensor/test/tensor_ptr_maker_test.cpp
Labels: CLA Signed, fb-exported

#5057 Adopt the new tensor API for aten_util.
  extension/aten_util/make_aten_functor_from_et_functor.h
  extension/aten_util/targets.bzl
Labels: CLA Signed, fb-exported

#5019 [runner] Print prompt before call into text prefiller
  examples/models/llama2/runner/runner.cpp
  examples/models/llava/runner/llava_runner.cpp
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
Labels: CLA Signed, fb-exported

#5059 FIx typo in templated constructor.
  extension/tensor/tensor_ptr.h
  extension/tensor/test/tensor_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5058 Build for OSS.
  CMakeLists.txt
  build/Utils.cmake
  build/cmake_deps.toml
  build/executorch-config.cmake
  extension/tensor/CMakeLists.txt
  extension/tensor/test/CMakeLists.txt
  test/utils/OSSTestConfig.json
Labels: CLA Signed, fb-exported

#4953 Add LLaMA perf benchmark workflow for Apple iOS
  .github/workflows/apple-perf.yml
  build/build_apple_llm_demo.sh
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMAPerfBenchmark/LLaMAPerfBenchmark.entitlements
  examples/demo-apps/apple_ios/LLaMA/LLaMAPerfBenchmark/LLaMAPerfBenchmarkApp.swift
  examples/demo-apps/apple_ios/LLaMA/LLaMAPerfBenchmarkTests/LLaMAPerfBenchmarkTests.swift
Labels: CLA Signed, fb-exported

#5060 Revert D61959566
  extension/aten_util/make_aten_functor_from_et_functor.h
  extension/aten_util/targets.bzl
Labels: CLA Signed, fb-exported

#5065 Fixx OSS tests.
  test/run_oss_cpp_tests.sh
Labels: CLA Signed, fb-exported

#5063 Build for Apple frameworks.
  build/build_apple_frameworks.sh
Labels: CLA Signed, fb-exported

#5066 Adopt the new tensor API.
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.mm
Labels: CLA Signed, fb-exported

#4330 a-start ops | add dim order regulation
  kernels/portable/cpu/op_add.cpp
  kernels/portable/cpu/op_addmm.cpp
  kernels/portable/cpu/op_alias_copy.cpp
  kernels/portable/cpu/op_allclose.cpp
  kernels/portable/cpu/op_amax.cpp
  kernels/portable/cpu/op_amin.cpp
  kernels/portable/cpu/op_any.cpp
  kernels/portable/cpu/op_arange.cpp
  kernels/portable/cpu/op_argmax.cpp
  kernels/portable/cpu/op_argmin.cpp
  kernels/portable/cpu/op_as_strided_copy.cpp
  kernels/portable/cpu/op_atan2.cpp
  kernels/portable/cpu/op_avg_pool2d.cpp
  kernels/portable/cpu/pattern/binary_ufunc_realb_realb_to_realb_logical.cpp
  kernels/portable/cpu/pattern/unary_ufunc_realh.cpp
  kernels/portable/cpu/pattern/unary_ufunc_realhb_to_bool.cpp
  kernels/portable/cpu/pattern/unary_ufunc_realhb_to_floath.cpp
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/tensor_util_aten.cpp
  runtime/core/exec_aten/util/tensor_util_portable.cpp
Labels: CLA Signed, fb-exported

#5073 Fix CI by correcting namespaces.
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.mm
Labels: CLA Signed, fb-exported

#5046 Remove expensive print from lowered_backend_module.py
  exir/lowered_backend_module.py
Labels: CLA Signed, fb-exported

#5080 Rephrase namespaces for brevity.
  extension/module/module.cpp
  extension/module/module.h
Labels: CLA Signed, fb-exported

#5079 Exclude some extra duplicated runtime symbols.
  build/cmake_deps.toml
Labels: CLA Signed, fb-exported

#5081 Format cmake files.
  examples/arm/executor_runner/CMakeLists.txt
  extension/parallel/test/CMakeLists.txt
  extension/threadpool/CMakeLists.txt
Labels: CLA Signed, fb-exported

#4334 b&c start ops | add dim order sanity check
  kernels/portable/cpu/op_bitwise_and.cpp
  kernels/portable/cpu/op_bitwise_not.cpp
  kernels/portable/cpu/op_bitwise_or.cpp
  kernels/portable/cpu/op_bitwise_xor.cpp
  kernels/portable/cpu/op_bmm.cpp
  kernels/portable/cpu/op_cdist_forward.cpp
  kernels/portable/cpu/op_clamp.cpp
  kernels/portable/cpu/op_clone.cpp
  kernels/portable/cpu/op_constant_pad_nd.cpp
  kernels/portable/cpu/op_convolution.cpp
  kernels/portable/cpu/op_copy.cpp
  kernels/portable/cpu/op_cumsum.cpp
  kernels/portable/cpu/util/copy_ops_util.cpp
Labels: CLA Signed, fb-exported

#5074 Remove usages of extract_constant_segment=False
  backends/apple/mps/test/test_mps_utils.py
  examples/apple/coreml/scripts/export.py
  examples/apple/coreml/scripts/inspector_utils.py
  examples/apple/mps/scripts/mps_example.py
  examples/arm/aot_arm_compiler.py
  examples/models/llava/export_llava.py
  examples/portable/scripts/export_and_delegate.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/scripts/export_example.py
  examples/qualcomm/utils.py
  examples/sdk/scripts/gen_sample_etrecord.py
  examples/xnnpack/aot_compiler.py
  examples/xnnpack/quantization/example.py
Labels: CLA Signed, fb-exported

#5062 Adopt the new tensor API for aten_util.
  CMakeLists.txt
  extension/aten_util/make_aten_functor_from_et_functor.h
  extension/aten_util/targets.bzl
  extension/llm/custom_ops/CMakeLists.txt
  extension/tensor/CMakeLists.txt
  extension/tensor/tensor_impl_ptr.cpp
Labels: CLA Signed, fb-exported

#5021 [ET-VK] Persistently map staging buffers
  backends/vulkan/runtime/api/containers/StagingBuffer.h
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.h
  backends/vulkan/runtime/vk_api/memory/Allocation.cpp
  backends/vulkan/runtime/vk_api/memory/Allocation.h
  backends/vulkan/runtime/vk_api/memory/Allocator.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.h
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/utils/test_utils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5052 [tokenizer] Consolidate how runner decide which tokenizer to use
  examples/models/llama2/runner/runner.cpp
  extension/llm/tokenizer/base64.h
  extension/llm/tokenizer/test/resources/test_tiktoken_invalid_base64.model
  extension/llm/tokenizer/test/resources/test_tiktoken_invalid_rank.model
  extension/llm/tokenizer/test/resources/test_tiktoken_no_space.model
  extension/llm/tokenizer/test/test_tiktoken.cpp
  extension/llm/tokenizer/tiktoken.cpp
Labels: CLA Signed

#5044 [INT4-MM| Add Texture3D storage type
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedMatMul.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#4329 d to g start ops | add dim order sanity check
  kernels/portable/cpu/op_detach_copy.cpp
  kernels/portable/cpu/op_diagonal_copy.cpp
  kernels/portable/cpu/op_div.cpp
  kernels/portable/cpu/op_embedding.cpp
  kernels/portable/cpu/op_eq.cpp
  kernels/portable/cpu/op_expand_copy.cpp
  kernels/portable/cpu/op_fill.cpp
  kernels/portable/cpu/op_flip.cpp
  kernels/portable/cpu/op_floor_divide.cpp
  kernels/portable/cpu/op_fmod.cpp
  kernels/portable/cpu/op_full_like.cpp
  kernels/portable/cpu/op_ge.cpp
  kernels/portable/cpu/op_gelu.cpp
  kernels/portable/cpu/op_glu.cpp
  kernels/portable/cpu/op_gt.cpp
Labels: CLA Signed, fb-exported

#5082 Remove usages of extract_constant_segment=True
  examples/mediatek/model_export_scripts/llama.py
  examples/portable/scripts/export.py
  exir/_serialize/_program.py
  exir/_serialize/test/test_program.py
  extension/llm/export/builder.py
Labels: CLA Signed, fb-exported

#5077 TrainingModule
  extension/module/module.h
  extension/training/module/TARGETS
  extension/training/module/targets.bzl
  extension/training/module/test/TARGETS
  extension/training/module/test/targets.bzl
  extension/training/module/test/training_module_test.cpp
  extension/training/module/training_module.cpp
  extension/training/module/training_module.h
Labels: CLA Signed, fb-exported, ciflow/trunk

#5041 [ET-VK] Add `TmpTensorVRef` struct to recycle temporary tensor memory
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/containers/Value.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5017 Update script to build and upload MiniBench artifacts
  build/build_android_llm_demo.sh
Labels: CLA Signed

#5086 Unified Android aar support for llava and llama models
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ETImage.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelUtils.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/PromptFormat.java
Labels: CLA Signed, fb-exported

#5023 Buckify backends/arm for meta internal use.
  backends/arm/TARGETS
  backends/arm/arm_backend.py
  backends/arm/arm_vela.py
  backends/arm/operators/TARGETS
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_mm.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_output.py
  backends/arm/operators/op_view.py
  backends/arm/passes/TARGETS
  backends/arm/passes/annotate_channels_last_dim_order_pass.py
  backends/arm/passes/arm_pass_manager.py
  backends/arm/passes/convert_expand_copy_to_repeat.py
  backends/arm/passes/size_adjust_conv2d_pass.py
  backends/arm/quantizer/TARGETS
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/quantizer/quantization_annotation/TARGETS
  backends/arm/quantizer/quantization_annotation/cat_annotator.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, fb-exported, ciflow/trunk

#5099 Resync Android related BUCK file
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/BUCK
  examples/demo-apps/android/LlamaDemo/app/src/main/BUCK
  extension/android/BUCK
  extension/android/jni/BUCK
Labels: CLA Signed

#5054 Migrate //executorch/... from PyTorchBackendInterface to BackendInterface
  backends/apple/coreml/runtime/include/coreml_backend/delegate.h
  backends/apple/mps/runtime/MPSBackend.mm
  backends/arm/README.md
  backends/arm/runtime/ArmBackendEthosU.cpp
  backends/mediatek/runtime/include/NeuronBackend.h
  backends/qualcomm/runtime/QnnExecuTorchBackend.h
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  exir/backend/test/demos/rpc/ExecutorBackend.cpp
Labels: CLA Signed, fb-exported

#5098 Make QNN chipset with the device pool
  .ci/scripts/test.sh
  .github/workflows/android-perf.yml
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed

#5097 Add more docs and give API warning in ET Java
  extension/android/src/main/java/org/pytorch/executorch/DType.java
  extension/android/src/main/java/org/pytorch/executorch/EValue.java
  extension/android/src/main/java/org/pytorch/executorch/LlamaCallback.java
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
  extension/android/src/main/java/org/pytorch/executorch/Module.java
  extension/android/src/main/java/org/pytorch/executorch/NativePeer.java
  extension/android/src/main/java/org/pytorch/executorch/Tensor.java
Labels: CLA Signed, fb-exported

#4333 h to l start ops | add dim order sanity check
  kernels/portable/cpu/op_hardtanh.cpp
  kernels/portable/cpu/op_index.cpp
  kernels/portable/cpu/op_index_put.cpp
  kernels/portable/cpu/op_index_select.cpp
  kernels/portable/cpu/op_le.cpp
  kernels/portable/cpu/op_leaky_relu.cpp
  kernels/portable/cpu/op_lift_fresh_copy.cpp
  kernels/portable/cpu/op_log_softmax.cpp
  kernels/portable/cpu/op_logical_not.cpp
  kernels/portable/cpu/op_logit.cpp
  kernels/portable/cpu/op_lt.cpp
Labels: CLA Signed, fb-exported

#5053 Add LLaVa runner.
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
  examples/demo-apps/apple_ios/LLaMA/LLaMARunner/LLaMARunner/Exported/LLaMARunner.h
  examples/demo-apps/apple_ios/LLaMA/LLaMARunner/LLaMARunner/Exported/LLaMARunner.mm
Labels: CLA Signed, fb-exported

#5103 Resync Android BUCK 2
  examples/demo-apps/android/LlamaDemo/app/src/main/BUCK
  extension/android/jni/BUCK
Labels: CLA Signed

#5104 Fix typo in runner interface.
  examples/demo-apps/apple_ios/LLaMA/LLaMARunner/LLaMARunner/Exported/LLaMARunner.h
Labels: CLA Signed, fb-exported

#5102 Update Android lint path
  .github/workflows/lint.yml
Labels: CLA Signed

#5105 Build QNN in android_llm_demo.sh and perf
  .github/workflows/android-perf.yml
  build/build_android_llm_demo.sh
Labels: CLA Signed

#4867 Switch XNNPack tests to use export_for_training
  backends/xnnpack/test/test_xnnpack_utils.py
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed, fb-exported, ciflow/trunk

#4970 Implement dumping operator distribution for TOSA graph
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#4886 Update Llava install_requirements.sh
  examples/models/llava/install_requirements.sh
Labels: CLA Signed

#5036 Migrate executorch examples to use export_for_training
  examples/models/test/test_export.py
Labels: CLA Signed, fb-exported

#4331 m to p start ops | add dim order sanity check
  kernels/portable/cpu/op_masked_fill.cpp
  kernels/portable/cpu/op_max.cpp
  kernels/portable/cpu/op_maximum.cpp
  kernels/portable/cpu/op_mean.cpp
  kernels/portable/cpu/op_min.cpp
  kernels/portable/cpu/op_minimum.cpp
  kernels/portable/cpu/op_mm.cpp
  kernels/portable/cpu/op_mul.cpp
  kernels/portable/cpu/op_native_batch_norm.cpp
  kernels/portable/cpu/op_native_group_norm.cpp
  kernels/portable/cpu/op_native_layer_norm.cpp
  kernels/portable/cpu/op_ne.cpp
  kernels/portable/cpu/op_neg.cpp
  kernels/portable/cpu/op_pdist_forward.cpp
  kernels/portable/cpu/op_permute_copy.cpp
  kernels/portable/cpu/op_pixel_shuffle.cpp
Labels: CLA Signed, fb-exported

#5111 Switch to the new tensor API internally.
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/build_llama_android.sh
  .ci/scripts/test_llama.sh
  .ci/scripts/test_llava.sh
  backends/qualcomm/scripts/build.sh
  backends/vulkan/docs/android_demo.md
  backends/xnnpack/README.md
  build/build_android_llm_demo.sh
  docs/source/build-run-qualcomm-ai-engine-direct-backend.md
  docs/source/llm/getting-started.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/demo-apps/android/ExecuTorchDemo/setup.sh
  examples/demo-apps/android/LlamaDemo/setup-with-qnn.sh
  examples/demo-apps/android/LlamaDemo/setup.sh
  examples/llm_manual/CMakeLists.txt
  examples/llm_manual/main.cpp
  examples/llm_manual/managed_tensor.h
  examples/models/flamingo/cross_attention/cross_attention_mask.cpp
  examples/models/flamingo/cross_attention/cross_attention_mask.h
  examples/models/flamingo/cross_attention/cross_attention_mask_test.cpp
  examples/models/flamingo/cross_attention/targets.bzl
  examples/models/llama2/README.md
  examples/models/llama2/runner/CMakeLists.txt
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/targets.bzl
  examples/models/llava/README.md
  examples/models/llava/runner/CMakeLists.txt
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/runner/targets.bzl
  examples/models/phi-3-mini/CMakeLists.txt
  examples/models/phi-3-mini/README.md
  examples/models/phi-3-mini/runner.cpp
  examples/qualcomm/oss_scripts/llama2/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama2/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.h
  examples/qualcomm/qaihub_scripts/llama/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/llama/llama2/qaihub_llama2_7b_runner.cpp
  examples/qualcomm/qaihub_scripts/llama/llama3/qaihub_llama3_8b_runner.cpp
  examples/qualcomm/qaihub_scripts/llama/runner/runner.cpp
  examples/qualcomm/qaihub_scripts/llama/runner/runner.h
  examples/qualcomm/qaihub_scripts/stable_diffusion/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/stable_diffusion/runner/runner.cpp
  examples/xnnpack/README.md
  extension/android/CMakeLists.txt
  extension/android/jni/BUCK
  extension/android/jni/jni_layer.cpp
  extension/aten_util/test/targets.bzl
  extension/llm/runner/CMakeLists.txt
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_decoder_runner.cpp
  extension/llm/runner/text_decoder_runner.h
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_token_generator.h
  kernels/README.md
  test/utils/OSSTestConfig.json
Labels: CLA Signed, fb-exported

#4975 [ExecuTorch] Implement BFloat16 and hook it up to scalar_type_util
  kernels/portable/cpu/scalar_utils.h
  runtime/core/exec_aten/util/genScalarTypeTable.py
  runtime/core/exec_aten/util/scalar_type_util.h
  runtime/core/exec_aten/util/test/scalar_type_util_test.cpp
  runtime/core/portable_type/bfloat16.h
  runtime/core/portable_type/test/CMakeLists.txt
  runtime/core/portable_type/test/bfloat16_test.cpp
  runtime/core/portable_type/test/targets.bzl
Labels: CLA Signed, fb-exported

#5100 Revert default to 8650 for llama
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed

#5025 [Build] Use C++17 Constructor for tiktoken.cpp when C++20 is unavailable
  extension/llm/tokenizer/tiktoken.cpp
Labels: CLA Signed

#5116 Update module/test .pte file
  extension/module/test/module_test.cpp
  extension/module/test/resources/README.md
  extension/module/test/resources/add.pte
  extension/module/test/resources/model.pte
Labels: CLA Signed, fb-exported

#5118 [ET-VK] Fix negative dim in `normalize_to_dim_index`
  backends/vulkan/runtime/graph/ops/impl/utils/DimUtils.h
Labels: CLA Signed, fb-exported

#5092 [ET-VK] Introduce axis mapping for no-copy permute of texture-backed tensors
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5126 Retire the ManagedTensor.
  extension/runner_util/managed_tensor.h
  extension/runner_util/targets.bzl
  extension/runner_util/test/CMakeLists.txt
  extension/runner_util/test/managed_tensor_test.cpp
  extension/runner_util/test/targets.bzl
Labels: CLA Signed, fb-exported

#5094 Use Android llm benchmark runner
  .github/workflows/upload-android-test-specs.yml
  examples/demo-apps/android/LlamaDemo/android-llm-device-farm-test-spec.yml
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/LlmBenchmarkRunner.java
Labels: CLA Signed

#4968 [LLAVA] Enable 2nd XNNPACK Partition pass for the text model
  examples/models/llava/export_llava.py
Labels: CLA Signed

#5119 [llava] Expose prefill image and prompt APIs
  examples/models/llama2/runner/runner.cpp
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_runner.h
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
Labels: CLA Signed

#5093 [ET-VK] Integrate axis mapping into staging <-> image transfer shaders
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/glsl/int8_image_to_nchw_noint8.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_int8_image_noint8.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#5131 Revert "Implement dumping operator distribution for TOSA graph"
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed

#4990 Trigger android.yml with tag ciflow/android/*
  .github/workflows/android.yml
Labels: CLA Signed

#5095 Add proper pt2e calibration
  examples/models/llama2/eval_llama_lib.py
  examples/models/llama2/export_llama_lib.py
  extension/llm/export/builder.py
Labels: CLA Signed

#5096 Remove extract_constant_segment from config
  exir/_serialize/_program.py
  exir/capture/_config.py
  exir/program/_program.py
  runtime/executor/test/method_test.cpp
  runtime/executor/test/program_test.cpp
  runtime/executor/test/targets.bzl
  schema/program.fbs
  test/end2end/exported_module.py
  test/models/deprecated/ModuleLinear-no-constant-segment.pte
  test/models/deprecated/README.md
  test/models/deprecated/TARGETS
  test/models/export_program.py
  test/run_oss_cpp_tests.sh
Labels: CLA Signed, fb-exported

#5134 [ExecuTorch] disable text animation in iOS Llama demo app
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
Labels: CLA Signed, fb-exported

#5108 [WIP][Llava] Add support to cross compile llava_runner for Android
  .ci/scripts/test_llava.sh
  examples/models/llava/CMakeLists.txt
  examples/models/llava/main.cpp
Labels: CLA Signed

#5101 [Llama] Dump RSS info for Linux
  examples/models/llama2/runner/runner.cpp
  examples/models/llava/runner/llava_runner.cpp
  extension/llm/runner/util.h
Labels: CLA Signed

#5136 Revert "Add proper pt2e calibration"
  examples/models/llama2/eval_llama_lib.py
  examples/models/llama2/export_llama_lib.py
  extension/llm/export/builder.py
Labels: CLA Signed

#5132 Prefill API for JNI
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
  extension/llm/runner/multimodal_runner.h
Labels: CLA Signed

#5011 Add Echo parameter to llama runner, jni+java layer, and demo app
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
Labels: CLA Signed

#5128 App skeleton.
  extension/apple/Benchmark/App/App.entitlements
  extension/apple/Benchmark/App/App.swift
  extension/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/apple/Benchmark/Benchmark.xcodeproj/xcshareddata/xcschemes/Benchmark.xcscheme
  extension/apple/Benchmark/Tests/Tests.mm
  extension/apple/Benchmark/Tests/Tests.xcconfig
  extension/apple/Benchmark/Tests/Tests.xctestplan
Labels: CLA Signed, fb-exported

#5139 Disable fail_fast for benchmark jobs
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
Labels: CLA Signed

#5145 Ensure 0-index in constant buffer is carried through
  exir/_serialize/_program.py
  exir/_serialize/test/test_program.py
  runtime/executor/test/program_test.cpp
Labels: CLA Signed, fb-exported

#4942 Allow qnn to use the IR from torch.export.export
  examples/models/llama2/export_llama_lib.py
  examples/models/llava/export_llava.py
  extension/llm/export/builder.py
Labels: CLA Signed

#5151 Add logic to not print stop token on Android
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/PromptFormat.java
Labels: CLA Signed, fb-exported

#4978 [ExecuTorch] support BF16 in op_mm
  kernels/portable/cpu/op_mm.cpp
  kernels/test/op_mm_test.cpp
Labels: CLA Signed, fb-exported

#5150 Add coreml models to CI and benchmark workflow
  .ci/scripts/test_model.sh
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
Labels: CLA Signed

#5127 Use metal instance for Android emulator for KVM support
  .github/workflows/android.yml
Labels: CLA Signed, fb-exported

#5155 print tensor storage bytes in print_readable value list section
  backends/vulkan/runtime/graph/Logging.cpp
Labels: CLA Signed, fb-exported

#5153 [Android Java] Get rid of forwardOnes
  extension/android/jni/jni_layer.cpp
  extension/android/src/main/java/org/pytorch/executorch/Module.java
  extension/android/src/main/java/org/pytorch/executorch/NativePeer.java
Labels: CLA Signed

#5045 [eval_llama] Add option to save checkpoint after eager transforms.
  examples/models/llama2/eval_llama_lib.py
Labels: CLA Signed, fb-exported

#5143 [CoreML] Add support for running statefule model.
  backends/apple/coreml/runtime/delegate/ETCoreMLDefaultModelExecutor.mm
  backends/apple/coreml/runtime/delegate/ETCoreMLModel.h
  backends/apple/coreml/runtime/delegate/ETCoreMLModel.mm
  backends/apple/coreml/runtime/delegate/ETCoreMLModelManager.mm
  backends/apple/coreml/runtime/delegate/MLModel_Prewarm.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.mm
Labels: CLA Signed, ciflow/trunk

#5152 Reland add proper calibration for pt2e flow
  examples/models/llama2/eval_llama_lib.py
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/tokenizer/targets.bzl
  extension/llm/export/TARGETS
  extension/llm/export/builder.py
  extension/llm/tokenizer/targets.bzl
Labels: CLA Signed, fb-exported

#5161 Make TensorImplPtr custom deleter copyable.
  extension/tensor/tensor_impl_ptr.cpp
  extension/tensor/tensor_impl_ptr.h
  extension/tensor/test/tensor_impl_ptr_test.cpp
  extension/tensor/test/tensor_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5166 Expose the compute number of elements helper function.
  runtime/core/exec_aten/exec_aten.h
  runtime/core/exec_aten/util/scalar_type_util.h
  runtime/core/portable_type/tensor_impl.cpp
  runtime/core/portable_type/tensor_impl.h
Labels: CLA Signed, fb-exported

#5144 Give more instructions on java format fix
  .github/workflows/lint.yml
Labels: CLA Signed

#5156 [Android script] Add QNN related lib to AAR
  build/build_android_llm_demo.sh
Labels: CLA Signed

#5146 [ExecuTorch] disable text animation in iOS Llama demo app
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
Labels: CLA Signed

#5140 [ExecuTorch] Handle rank 0 tensors correctly in optimized add/sub/div/mul
  kernels/optimized/cpu/op_add.cpp
  kernels/optimized/cpu/op_div.cpp
  kernels/optimized/cpu/op_mul.cpp
  kernels/optimized/cpu/op_sub.cpp
  kernels/test/op_add_test.cpp
  kernels/test/op_div_test.cpp
  kernels/test/op_mul_test.cpp
  kernels/test/op_sub_test.cpp
Labels: CLA Signed, fb-exported

#5169 Provide more options to create an owning tensor.
  extension/tensor/targets.bzl
  extension/tensor/tensor_impl_ptr.cpp
  extension/tensor/tensor_impl_ptr.h
  extension/tensor/tensor_ptr.h
  extension/tensor/test/targets.bzl
  extension/tensor/test/tensor_impl_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5160 [flamingo] Update preproc imports
  examples/models/flamingo/preprocess/export_preprocess_lib.py
  examples/models/flamingo/preprocess/test_preprocess.py
Labels: CLA Signed

#5172 Refactor namespace usage in module tests.
  extension/module/test/module_test.cpp
Labels: CLA Signed, fb-exported

#5177 Add an overload to skip dtype and sizes.
  extension/tensor/tensor_impl_ptr.h
  extension/tensor/tensor_ptr.h
  extension/tensor/test/tensor_impl_ptr_test.cpp
  extension/tensor/test/tensor_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5133 Make convert to linear an export pass
  backends/xnnpack/passes/convert_to_linear.py
Labels: CLA Signed, fb-exported

#5061 Hide and simplify operator registry internals
  codegen/templates/RegisterCodegenUnboxedKernels.cpp
  codegen/templates/RegisterKernels.cpp
  extension/kernel_util/make_boxed_from_unboxed_functor.h
  extension/kernel_util/test/make_boxed_from_unboxed_functor_test.cpp
  extension/pybindings/pybindings.cpp
  runtime/executor/method.cpp
  runtime/executor/test/executor_test.cpp
  runtime/executor/test/kernel_integration_test.cpp
  runtime/executor/test/kernel_resolution_test.cpp
  runtime/kernel/operator_registry.cpp
  runtime/kernel/operator_registry.h
  runtime/kernel/test/kernel_double_registration_test.cpp
  runtime/kernel/test/operator_registry_max_kernel_num_test.cpp
  runtime/kernel/test/operator_registry_test.cpp
  runtime/kernel/test/test_kernel_manual_registration.cpp
  runtime/kernel/test/test_util.h
Labels: CLA Signed, fb-exported

#5122 [ExecuTorch] Support BFloat16 in CPUBlas gemm
  kernels/optimized/blas/CPUBlas.cpp
  kernels/optimized/blas/CPUBlas.h
  kernels/optimized/test/libblas_test.cpp
Labels: CLA Signed, fb-exported

#4332 q to s start ops | add dim order sanity check
  kernels/portable/cpu/op_reflection_pad1d.cpp
  kernels/portable/cpu/op_reflection_pad2d.cpp
  kernels/portable/cpu/op_reflection_pad3d.cpp
  kernels/portable/cpu/op_relu.cpp
  kernels/portable/cpu/op_remainder.cpp
  kernels/portable/cpu/op_repeat.cpp
  kernels/portable/cpu/op_roll.cpp
  kernels/portable/cpu/op_round.cpp
  kernels/portable/cpu/op_rsub.cpp
  kernels/portable/cpu/op_scatter_add.cpp
  kernels/portable/cpu/op_select_scatter.cpp
  kernels/portable/cpu/op_sigmoid.cpp
  kernels/portable/cpu/op_sign.cpp
  kernels/portable/cpu/op_slice_copy.cpp
  kernels/portable/cpu/op_slice_scatter.cpp
  kernels/portable/cpu/op_softmax.cpp
  kernels/portable/cpu/op_split_copy.cpp
  kernels/portable/cpu/op_split_with_sizes_copy.cpp
  kernels/portable/cpu/op_squeeze_copy.cpp
  kernels/portable/cpu/op_stack.cpp
  kernels/portable/cpu/op_sub.cpp
  kernels/portable/cpu/op_sum.cpp
  kernels/portable/cpu/util/select_copy_util.cpp
Labels: CLA Signed, fb-exported

#5072 Qualcomm AI Engine Direct - Optimization and fix mutable buffer issue
  .github/workflows/pull.yml
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/builders/op_conv2d.py
  backends/qualcomm/builders/op_rms_norm.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/passes/annotate_and_quant_scalar.py
  backends/qualcomm/passes/i64_to_i32.py
  backends/qualcomm/passes/recompose_rms_norm.py
  backends/qualcomm/passes/replace_index_put_input.py
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/quantizer/utils.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
  examples/models/llama2/TARGETS
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
  examples/models/llama2/source_transformation/rms_norm.py
  examples/models/llama2/source_transformation/sdpa.py
  extension/llm/export/partitioner_lib.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed

#5191 Add a target rule for ops_registrations (#5083)
  backends/cadence/aot/TARGETS
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported

#5201 Register llm prefill native method in jni
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed

#5202 [ET-VK] Fix gpuinfo CI
  backends/vulkan/tools/gpuinfo/include/architecture.h
Labels: CLA Signed, fb-exported

#5180 Clean up devtools/etdump
  devtools/etdump/emitter.cpp
  devtools/etdump/emitter.h
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
  devtools/etdump/scalar_type.fbs
  devtools/etdump/targets.bzl
  devtools/etdump/tests/etdump_test.cpp
Labels: CLA Signed, fb-exported

#4328 t to z start ops | add dim order sanity check
  kernels/portable/cpu/op_t_copy.cpp
  kernels/portable/cpu/op_to_copy.cpp
  kernels/portable/cpu/op_transpose_copy.cpp
  kernels/portable/cpu/op_tril.cpp
  kernels/portable/cpu/op_unbind_copy.cpp
  kernels/portable/cpu/op_unsqueeze_copy.cpp
  kernels/portable/cpu/op_var.cpp
  kernels/portable/cpu/op_view_copy.cpp
  kernels/portable/cpu/op_where.cpp
Labels: CLA Signed, fb-exported

#5181 Add Echo parameter to multimodal runner (llava) and jni layer
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_runner.h
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
  extension/llm/runner/multimodal_runner.h
Labels: CLA Signed

#5178 Use c++17 for size test
  extension/llm/custom_ops/op_sdpa.cpp
  runtime/core/exec_aten/util/scalar_type_util.h
  runtime/core/portable_type/half.h
  runtime/core/portable_type/string_view.h
  test/CMakeLists.txt
  test/build_size_test.sh
Labels: CLA Signed, fb-exported

#5076 Add a default delegate time scale converter
  devtools/inspector/_inspector.py
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported

#5174 Qualcomm AI Engine Direct - Uplevel QNN version for ci test
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/test_llama.sh
  .github/workflows/pull.yml
Labels: CLA Signed

#5203 Update schema to include infinity for double values
  exir/_serialize/_dataclass.py
  exir/_serialize/_flatbuffer.py
  exir/emit/test/test_emit.py
  exir/schema.py
Labels: CLA Signed, fb-exported

#5165 Partition Mutable Buffer as Core ML State
  backends/apple/coreml/partition/coreml_partitioner.py
  backends/apple/coreml/scripts/install_requirements.sh
  backends/apple/coreml/test/test_coreml_partitioner.py
  examples/models/llama2/export_llama_lib.py
  exir/backend/utils.py
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed, ciflow/trunk

#5211 Qualcomm AI Engine Direct - Add the argument to specify soc model
  examples/models/llama2/export_llama_lib.py
  examples/qualcomm/utils.py
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed

#5138 Add slice_scatter test: large end value
  kernels/test/op_slice_scatter_test.cpp
Labels: CLA Signed, fb-exported

#5215 [ET-VK] Fix gpuinfo CI
  backends/vulkan/tools/gpuinfo/include/architecture.h
Labels: CLA Signed

#5208 Let the app check "aatp/data" subdir for AWS.
  extension/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/apple/Benchmark/Tests/Tests.mm
Labels: CLA Signed, fb-exported

#5190 Update the API of registering fake kernels to new standard (#5084)
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported

#5175 Qualcomm AI Engine Direct - Apply spin quant R1 and R2
  examples/models/llama2/TARGETS
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/source_transformation/apply_spin_quant_r1_r2.py
Labels: CLA Signed

#5213 Add Half/BFloat16 tests for op_mul
  kernels/portable/cpu/op_mul.cpp
  kernels/test/op_mul_test.cpp
Labels: CLA Signed, fb-exported

#5070 Qualcomm AI Engine Direct - support skip quantization
  backends/qualcomm/builders/op_batch_norm.py
  backends/qualcomm/builders/op_softmax.py
  backends/qualcomm/passes/annotate_and_quant_scalar.py
  backends/qualcomm/passes/recompose_pixel_shuffle.py
  backends/qualcomm/passes/recompose_pixel_unshuffle.py
  backends/qualcomm/quantizer/utils.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/scripts/mobilebert_fine_tune.py
  examples/qualcomm/utils.py
Labels: CLA Signed

#5220 Switch over backend tests to export_for_training
  backends/example/test_example_delegate.py
  exir/backend/test/TARGETS
  exir/backend/test/test_partitioner.py
  exir/backend/test/test_passes.py
Labels: CLA Signed, fb-exported

#5147 [LLava] Fix stats for C++ runner
  .ci/scripts/test_llava.sh
  examples/models/llava/runner/llava_runner.cpp
Labels: CLA Signed

#5200 Update bundled_program to use new namespace
  devtools/bundled_program/bundled_program.cpp
  devtools/bundled_program/bundled_program.h
  extension/pybindings/pybindings.cpp
Labels: CLA Signed, fb-exported

#5204 Android refactor cmake build
  build/build_android_llm_demo.sh
  examples/demo-apps/android/LlamaDemo/setup-with-qnn.sh
  examples/demo-apps/android/LlamaDemo/setup.sh
  extension/android/CMakeLists.txt
  extension/android/jni/BUCK
  extension/android/jni/jni_layer.cpp
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
Labels: CLA Signed

#5224 Android: Leverage prefillPrompt and prefillImage on Llava
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/PromptFormat.java
Labels: CLA Signed, fb-exported

#5158 Update the minimum C++ version to C++17
  CONTRIBUTING.md
  docs/source/getting-started-setup.md
  docs/source/runtime-overview.md
  runtime/platform/compiler.h
Labels: CLA Signed

#5121 Introduce PlatformMemoryAllocator
  runtime/executor/method.cpp
  runtime/executor/method.h
  runtime/executor/platform_memory_allocator.h
  runtime/executor/program.h
  runtime/executor/targets.bzl
  runtime/executor/test/kernel_integration_test.cpp
  runtime/executor/test/managed_memory_manager.h
  runtime/platform/default/minimal.cpp
  runtime/platform/default/posix.cpp
  runtime/platform/platform.h
  runtime/platform/test/executor_pal_override_test.cpp
  runtime/platform/test/stub_platform.cpp
  runtime/platform/test/stub_platform.h
Labels: CLA Signed, fb-exported

#5234 Use dynamic bound by default.
  extension/llm/runner/text_token_generator.h
  extension/tensor/tensor_impl_ptr.h
  extension/tensor/tensor_ptr.h
  extension/tensor/tensor_ptr_maker.h
  extension/tensor/test/tensor_impl_ptr_test.cpp
  extension/tensor/test/tensor_ptr_test.cpp
Labels: CLA Signed, fb-exported

#5205 App side change
  extension/android/benchmark/app/build.gradle.kts
  extension/android/benchmark/app/src/main/AndroidManifest.xml
  extension/android/benchmark/app/src/main/java/org/pytorch/minibench/LlmBenchmarkActivity.java
  extension/android/benchmark/app/src/main/java/org/pytorch/minibench/ModelRunner.java
  extension/android/benchmark/app/src/main/java/org/pytorch/minibench/ModelRunnerCallback.java
Labels: CLA Signed

#5075 Minor fix: Create root dir when it doesn't exist.
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk

#5231 Fix internal executorch_llama_jni
  extension/android/jni/BUCK
Labels: CLA Signed, fb-exported

#5210 Update setup-with-qnn.sh with runner util flag
  examples/demo-apps/android/LlamaDemo/setup-with-qnn.sh
Labels: CLA Signed

#5223 [ET-VK] Integrate axis mapping into optimized matrix multiplication shaders + massive code cleanup
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/addmm_optimized.glsl
  backends/vulkan/runtime/graph/ops/glsl/addmm_optimized.yaml
  backends/vulkan/runtime/graph/ops/glsl/matmul_optimized.glsl
  backends/vulkan/runtime/graph/ops/glsl/matmul_optimized.yaml
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
Labels: CLA Signed, fb-exported
