Repository pytorch/executorch, pull requests merged in 2024-11, with the labels that each got.

#6606 Fix lint
  backends/qualcomm/runtime/backends/QnnProfiler.cpp
  backends/qualcomm/utils/utils.py
Labels: CLA Signed

#6596 [ET-VK] Allow clone op to transfer between memory layouts and storage types
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/bitw8_image_to_nchw_nobitw8buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_bitw8_image_nobitw8buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.yaml
  backends/vulkan/runtime/graph/ops/impl/Clone.cpp
  backends/vulkan/runtime/graph/ops/impl/View.cpp
  backends/vulkan/runtime/graph/ops/impl/View.h
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#6597 [ET-VK] Enable buffer implementation of `aten.linear`
  backends/vulkan/runtime/graph/ops/glsl/matmul_naive_buffer.glsl
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported

#6564 Use pinned commit PyTorch on CI instead of nightly
  .ci/docker/ci_commit_pins/pytorch.txt
  .ci/docker/common/install_clang.sh
  .ci/docker/requirements-ci.txt
  .ci/scripts/setup-linux.sh
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/utils.sh
  .github/workflows/trunk.yml
  install_requirements.py
Labels: CLA Signed

#5771 Create pull_request_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: CLA Signed, Release notes: misc

#6578 Executorch ops fail to build on macbook M1 due to bad formatting
  kernels/quantized/cpu/embeddingxb.cpp
  kernels/quantized/cpu/op_embedding.cpp
Labels: CLA Signed, fb-exported

#6594 Bump torch nightly pin
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed, ciflow/trunk

#6609 [Executorch] Revert compile optimizatin flags for op libs
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6613 Update docs in executorch, remove capture_pre_autograd_graph references
  backends/apple/coreml/README.md
  docs/source/llm/getting-started.md
Labels: CLA Signed, fb-exported

#6553 Enable aoti for preprocess + torch pin update
  .ci/docker/ci_commit_pins/pytorch.txt
  examples/models/llama3_2_vision/preprocess/export_preprocess.py
  examples/models/llama3_2_vision/preprocess/test_preprocess.py
  install_requirements.py
Labels: CLA Signed

#6612 Remove typing true flag from executorch
  backends/arm/quantizer/TARGETS
Labels: CLA Signed, fb-exported, partner: arm

#6452 Search graph for quantization nodes
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/_passes/insert_squeeze_after_sum_pass.py
  backends/arm/_passes/size_adjust_conv2d_pass.py
  backends/arm/operators/op_addmm.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_full.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_mm.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_placeholder.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_relu.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_tanh.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/quantizer/quantization_annotation/mm_annotator.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6640 [Java] add missing optional tensor list functions
  extension/android/src/main/java/org/pytorch/executorch/EValue.java
Labels: CLA Signed

#6627 Add select for compiler_flags in kernels bzl files
  kernels/aten/cpu/util/targets.bzl
  kernels/prim_ops/targets.bzl
  shim/xplat/executorch/codegen/codegen.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6628 Add q_dq_ops targets to only build q dq ops for Windows
  kernels/quantized/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6611 [AOSP] add file descriptor support to file_data_loader
  examples/portable/executor_runner/executor_runner.cpp
  extension/data_loader/file_data_loader.cpp
  extension/data_loader/file_data_loader.h
  extension/data_loader/test/file_data_loader_test.cpp
Labels: CLA Signed

#6649 Revert "Search graph for quantization nodes (#6452)"
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/_passes/insert_squeeze_after_sum_pass.py
  backends/arm/_passes/size_adjust_conv2d_pass.py
  backends/arm/operators/op_addmm.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_full.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_mm.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_placeholder.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_relu.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_tanh.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/quantizer/quantization_annotation/mm_annotator.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed

#6623 compiler.h changes for Windows MSVC support
  kernels/prim_ops/register_prim_ops.cpp
  runtime/executor/program.cpp
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported

#6624 Core runtime changes for Windows MSVC support
  kernels/quantized/cpu/op_quantize.cpp
  runtime/core/portable_type/tensor_impl.cpp
  runtime/executor/memory_manager.h
  runtime/executor/program.cpp
Labels: CLA Signed, fb-exported

#6630 adding suppression tags to improve autodeps noise
  backends/arm/TARGETS
  backends/arm/operators/TARGETS
Labels: CLA Signed, fb-exported

#6642 c10::optional -> std::optional
  kernels/quantized/cpu/embeddingxb.cpp
  kernels/quantized/cpu/embeddingxb.h
  kernels/quantized/cpu/op_dequantize.cpp
  kernels/quantized/cpu/op_embedding.cpp
  kernels/quantized/cpu/op_embedding2b.cpp
  kernels/quantized/cpu/op_embedding4b.cpp
  kernels/quantized/cpu/op_mixed_linear.cpp
  kernels/quantized/cpu/op_mixed_mm.cpp
Labels: CLA Signed, fb-exported

#6635 [ET-VK] Refine paritioner to account for storage type and memory layout
  backends/vulkan/op_registry.py
  backends/vulkan/partitioner/TARGETS
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/targets.bzl
  backends/vulkan/utils.py
Labels: CLA Signed, fb-exported

#6636 [ET-VK] Introduce memory metadata tagging pass
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/__init__.py
  backends/vulkan/_passes/tag_memory_meta_pass.py
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/serialization/vulkan_graph_builder.py
  backends/vulkan/serialization/vulkan_graph_schema.py
  backends/vulkan/targets.bzl
  backends/vulkan/utils.py
  backends/vulkan/vulkan_preprocess.py
  examples/models/llama/export_llama_lib.py
  extension/llm/export/partitioner_lib.py
Labels: CLA Signed, fb-exported

#6650 [llama-mm] Add export-friendly tile position embedding
  extension/llm/modules/README.md
  extension/llm/modules/__init__.py
  extension/llm/modules/_position_embeddings.py
  extension/llm/modules/test/__init__.py
  extension/llm/modules/test/test_position_embeddings.py
  pytest.ini
Labels: CLA Signed

#6656 Add in-memory log buffer in Android JNI
  extension/android/CMakeLists.txt
  extension/android/jni/jni_layer.cpp
  extension/android/src/main/java/org/pytorch/executorch/Module.java
  extension/android/src/main/java/org/pytorch/executorch/NativePeer.java
Labels: CLA Signed, ciflow/android

#6664 Fix broken apple tests
  extension/data_loader/file_data_loader.cpp
Labels: CLA Signed, fb-exported

#6513 Qualcomm AI Engine Direct - Quantizer refine for qat
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/quantizer/observers/per_channel_param_observer.py
  backends/qualcomm/quantizer/qconfig.py
  backends/qualcomm/quantizer/quantizer.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/fastvit.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/scripts/export_example.py
  examples/qualcomm/utils.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed

#6673 Refactor Init function arg
  runtime/executor/test/backend_integration_test.cpp
Labels: CLA Signed, fb-exported

#6637 Refactor pytest config + add default dump dir option
  backends/arm/test/common.py
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6494 Add cat/stack ops to generic annotator
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/cat_annotator.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/test/ops/test_slice.py
  backends/arm/test/ops/test_split.py
  backends/arm/test/ops/test_squeeze.py
  backends/arm/test/ops/test_unsqueeze.py
  backends/arm/test/ops/test_view.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6677 Remove IR check after aten in arm
  backends/arm/test/ops/test_batch_norm.py
Labels: CLA Signed, fb-exported

#6660 Fix type handling for output types from TOSA reference model
  backends/arm/test/runner_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6697 Add support for bits16 in ETDump
  devtools/inspector/_inspector_utils.py
Labels: CLA Signed, fb-exported

#6648 Add per_tensor overload for quantized_conv
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported

#6644 Add dvorjackz to ghstack_land.yml
  .github/workflows/ghstack_land.yml
Labels: CLA Signed, fb-exported

#6675 [ET-VK] Fake u16vecn for devserver
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
  backends/vulkan/targets.bzl
Labels: CLA Signed, fb-exported

#6524 [Executorch] enable sleef consistently
  extension/llm/custom_ops/targets.bzl
  kernels/optimized/lib_defs.bzl
  kernels/optimized/op_registration_util.bzl
  kernels/optimized/test/targets.bzl
  shim/xplat/executorch/kernels/optimized/lib_defs.bzl
  shim/xplat/executorch/kernels/optimized/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6285 Add max_pool2d op to Arm backend
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/test/common.py
  backends/arm/test/ops/test_max_pool.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6658 Run tosa_reference_model using python binding
  backends/arm/arm_backend.py
  backends/arm/test/common.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_select.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk

#6483 Added HiFi optimized mean and where ops.
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_mean.cpp
  backends/cadence/hifi/operators/op_where.cpp
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_where_f32xf32_f32.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_reduce_32_32.c
Labels: CLA Signed

#6687 Revert changes to executor_runner
  examples/portable/executor_runner/executor_runner.cpp
  examples/portable/executor_runner/targets.bzl
Labels: CLA Signed

#6686 Move quantize IO passes from BoltNN to ExecuTorch
  exir/passes/TARGETS
  exir/passes/quantize_io_pass.py
  exir/tests/TARGETS
  exir/tests/test_quantize_io_pass.py
Labels: CLA Signed, fb-exported

#6722 Revert "Qualcomm AI Engine Direct - Quantizer refine for qat (#6513)"
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/quantizer/observers/per_channel_param_observer.py
  backends/qualcomm/quantizer/qconfig.py
  backends/qualcomm/quantizer/quantizer.py
  backends/qualcomm/quantizer/utils.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/fastvit.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/scripts/export_example.py
  examples/qualcomm/utils.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed

#6351 Qualcomm AI Engine Direct - Reduce redundant observers
  backends/qualcomm/quantizer/utils.py
  examples/qualcomm/utils.py
Labels: CLA Signed

#6712 [ET-VK][ez] properly parse skip memory metadata pass
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported

#6729 Revert "Run tosa_reference_model using python binding"
  backends/arm/arm_backend.py
  backends/arm/test/common.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_select.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk

#6724 Add support for uint16 in quant and dequant kernels
  backends/cadence/hifi/kernels/kernels.cpp
  backends/cadence/hifi/operators/dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantize_per_tensor.cpp
  backends/cadence/reference/kernels/kernels.cpp
  backends/cadence/reference/operators/dequantize_per_tensor.cpp
  backends/cadence/reference/operators/quantize_per_tensor.cpp
Labels: CLA Signed, fb-exported

#6647 migrate passes and utils in cadence backend
  backends/cadence/aot/TARGETS
  backends/cadence/aot/pass_utils.py
Labels: CLA Signed, fb-exported

#6563 register quantized_linear.per_tensor in lib
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported

#6688 Tosa specification handling
  backends/arm/arm_backend.py
  backends/arm/operators/node_visitor.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_placeholder.py
  backends/arm/test/common.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/misc/test_dim_order_guards.py
  backends/arm/test/misc/test_lifted_tensor.py
  backends/arm/test/misc/test_tosa_spec.py
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/ops/test_avg_pool.py
  backends/arm/test/ops/test_batch_norm.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_cat.py
  backends/arm/test/ops/test_clone.py
  backends/arm/test/ops/test_conv1d.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/ops/test_conv_combos.py
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/ops/test_div.py
  backends/arm/test/ops/test_exp.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_full.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_layer_norm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/test/ops/test_log.py
  backends/arm/test/ops/test_logsoftmax.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_mean_dim.py
  backends/arm/test/ops/test_mm.py
  backends/arm/test/ops/test_mul.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_reciprocal.py
  backends/arm/test/ops/test_relu.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_rsqrt.py
  backends/arm/test/ops/test_scalars.py
  backends/arm/test/ops/test_select.py
  backends/arm/test/ops/test_sigmoid.py
  backends/arm/test/ops/test_slice.py
  backends/arm/test/ops/test_softmax.py
  backends/arm/test/ops/test_split.py
  backends/arm/test/ops/test_squeeze.py
  backends/arm/test/ops/test_sub.py
  backends/arm/test/ops/test_sum.py
  backends/arm/test/ops/test_tanh.py
  backends/arm/test/ops/test_unsqueeze.py
  backends/arm/test/ops/test_var.py
  backends/arm/test/ops/test_view.py
  backends/arm/test/passes/test_meandim_to_averagepool2d.py
  backends/arm/test/quantizer/test_generic_annotater.py
  backends/arm/tosa_specification.py
  backends/arm/tosa_utils.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6740 Fix pyre
  backends/arm/_passes/TARGETS
  backends/arm/operators/op_max_pool2d.py
Labels: CLA Signed, fb-exported

#6744 Correctly set _GLIBCXX_USE_CXX11_ABI pybind compile options
  CMakeLists.txt
Labels: CLA Signed

#6590 Add Android standalone log target
  extension/android/CMakeLists.txt
  extension/android/jni/BUCK
  extension/android/jni/jni_layer.cpp
  extension/android/jni/log.cpp
  extension/android/jni/log.h
Labels: CLA Signed, fb-exported

#6699 Support sym round and ceil
  exir/pass_base.py
  exir/passes/__init__.py
  exir/passes/executorch_prim_ops_registry.py
  kernels/prim_ops/register_prim_ops.cpp
  kernels/prim_ops/test/prim_ops_test.cpp
Labels: CLA Signed, fb-exported

#6661 Arm backend: Add linear decomposition
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_linear_pass.py
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_addmm.py
  backends/arm/operators/op_permute.py
  backends/arm/operators/op_placeholder.py
  backends/arm/operators/op_sub.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6717 introduce slack channel for community
  README.md
Labels: CLA Signed, fb-exported

#6690 Search graph for quantization parameters
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/_passes/insert_squeeze_after_sum_pass.py
  backends/arm/_passes/size_adjust_conv2d_pass.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_full.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/operators/op_mm.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_placeholder.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_relu.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_tanh.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/quantizer/quantization_annotation/mm_annotator.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
  backends/arm/util/arm_model_evaluator.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6702 Fix missing move and bare new in pytree from_str_internal
  extension/pytree/pytree.h
Labels: CLA Signed, fb-exported

#6719 Swap mha
  extension/llm/modules/README.md
  extension/llm/modules/mha.py
  extension/llm/modules/test/test_mha.py
Labels: CLA Signed, Release notes: examples

#6743 Fix arm related internal build
  backends/arm/TARGETS
  backends/arm/operators/TARGETS
Labels: CLA Signed, fb-exported

#6751 [Android] Added instrumentation test for Module
  extension/android_test/.gitignore
  extension/android_test/TARGETS
  extension/android_test/build.gradle
  extension/android_test/gradle.properties
  extension/android_test/gradle/libs.versions.toml
  extension/android_test/gradle/wrapper/gradle-wrapper.jar
  extension/android_test/gradle/wrapper/gradle-wrapper.properties
  extension/android_test/gradlew
  extension/android_test/gradlew.bat
  extension/android_test/settings.gradle
  extension/android_test/setup.sh
  extension/android_test/src/androidTest/java/org/pytorch/executorch/ModuleInstrumentationTest.java
  extension/android_test/src/androidTest/resources/test.txt
  extension/android_test/src/main/AndroidManifest.xml
Labels: CLA Signed

#6759 added instrumentation test for LlamaModule
  extension/android_test/setup.sh
  extension/android_test/src/androidTest/java/org/pytorch/executorch/LlamaModuleInstrumentationTest.java
Labels: CLA Signed

#6760 add script to generate add.pte
  extension/android_test/add_model.py
  extension/android_test/setup.sh
Labels: CLA Signed

#6753 [ET-VK] Update partitioner to account for custom packed arguments
  backends/vulkan/_passes/insert_prepack_nodes.py
  backends/vulkan/_passes/tag_memory_meta_pass.py
  backends/vulkan/op_registry.py
  backends/vulkan/partitioner/vulkan_partitioner.py
Labels: CLA Signed, fb-exported

#6703 update llama runner to decode single token
  .ci/scripts/test_llama_runner_eager.sh
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
  examples/models/llama/runner/native.py
  examples/models/llama/tokenizer/tiktoken.py
  extension/llm/tokenizer/tokenizer.py
Labels: CLA Signed, fb-exported

#6758 add the ability to have multi-round conversation with llama
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
Labels: CLA Signed, fb-exported

#6211 Qualcomm AI Engine Direct - Add llama sha transforming pass
  examples/models/llama/TARGETS
  examples/models/llama/export_llama.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/source_transformation/attention.py
Labels: CLA Signed

#6752 Tighten type hints for tensor arithmetic
  devtools/inspector/_inspector_utils.py
Labels: CLA Signed, fb-exported

#6770 Fix internal pyre test
  backends/arm/arm_backend.py
Labels: CLA Signed, fb-exported

#6771 Print the number of tokens generated
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
Labels: CLA Signed, fb-exported

#6764 [ET-VK] Reduced int precision for texture coordinates in conv2d_pw op, to reduce shader register pressure and slightly improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported

#6765 [ET-VK] Removing tile input storage variable in conv_pw op and fetching the data in main loop. Also unrolling the main loop for performance improvement.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported

#6766 [ET-VK] Reduced int precision for texture coordinates in conv2d_pw op, to reduce shader register pressure.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported

#6720 migrate utils from jarvis to cadence
  backends/cadence/aot/TARGETS
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/tests/test_pass_filter.py
Labels: CLA Signed, fb-exported

#6780 Add missing ops to ArmQuantizer
  backends/arm/_passes/match_arg_ranks_pass.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/quantizer/quantization_annotation/one_to_one_annotator.py
  backends/arm/quantizer/quantization_annotation/sum_annotator.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6772 [test] add Android java test to gh workflow
  .github/workflows/_android.yml
  build/build_android_llm_demo.sh
  build/run_android_emulator.sh
  extension/android_test/build.gradle
  extension/android_test/setup.sh
Labels: CLA Signed

#6695 torch.export()-only export Llama arg
  examples/models/llama/export_llama_lib.py
  extension/llm/export/builder.py
Labels: CLA Signed, Release notes: examples

#6778 Fix missing header `<algorithm>` in tensor_ptr.h
  extension/tensor/tensor_ptr.h
Labels: CLA Signed

#6784 remove extra torchao commit pin
  .ci/docker/ci_commit_pins/torchao.txt
Labels: CLA Signed

#6742 Run slow model E2E CI on periodic only
  .ci/scripts/gather_test_models.py
Labels: CLA Signed

#6708 Update backend execute args in test
  runtime/executor/test/backend_integration_test.cpp
Labels: CLA Signed, fb-exported

#6787 Remove .ci/docker trigger on Apple workflows
  .github/workflows/apple.yml
Labels: CLA Signed

#6781 [ET-VK] Replace `uint16_t` with `int` for swiftshader
  backends/vulkan/runtime/gen_vulkan_spv.py
Labels: CLA Signed, fb-exported

#6701 Use std::variant to implement pytree Key
  extension/pytree/pytree.h
Labels: CLA Signed, fb-exported

#6785 Add a test to ensure that PT built from the pinned commit is used
  .ci/scripts/setup-linux.sh
  .ci/scripts/utils.sh
Labels: CLA Signed

#6790 Temporarily ignore flaky mha test
  pytest.ini
Labels: CLA Signed

#6721 migrate passes calls to pass utils
  backends/cadence/aot/TARGETS
  backends/cadence/aot/compiler.py
  backends/cadence/aot/passes.py
Labels: CLA Signed, fb-exported

#6793 [llama-mm] Enable kv cache for MultiHeadAttention
  extension/llm/modules/__init__.py
  extension/llm/modules/attention.py
  extension/llm/modules/kv_cache.py
  extension/llm/modules/test/test_attention.py
Labels: CLA Signed

#6794 Add missing quantize ops to q_dq_ops target
  kernels/quantized/targets.bzl
Labels: CLA Signed, fb-exported

#6789 Fix pyre on builder.py
  extension/llm/export/builder.py
Labels: CLA Signed, fb-exported

#6783 Fix missing move and bare new in pytree from_str_internal
  extension/pytree/pytree.h
Labels: CLA Signed, fb-exported

#6795 Fix flaky ET attention test
  extension/llm/modules/test/test_attention.py
  pytest.ini
Labels: CLA Signed

#6801 [llama-mm] Add unit tests for exporting MultiHeadAttention with KVCache
  extension/llm/modules/kv_cache.py
  extension/llm/modules/test/test_attention.py
Labels: CLA Signed

#6507 Accept model type parameter in export_llama
  docs/source/llm/build-run-llama3-qualcomm-ai-engine-direct-backend.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/models/llama/README.md
  examples/models/llama/eval_llama_lib.py
  examples/models/llama/export_llama.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/runner/eager.py
Labels: CLA Signed, fb-exported

#5746 Add support for upsample_nearest2d op in the Arm backend
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/upsample_nearest2d_annotator.py
  backends/arm/test/ops/test_upsample_nearest2d.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6808 Arm backend: Speedup generation of C/C++ header of the pte file
  examples/arm/executor_runner/pte_to_header.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6796 Add qnn sdk docker
  .ci/docker/build.sh
  .ci/docker/ubuntu/Dockerfile
  .github/workflows/docker-builds.yml
  .github/workflows/pull.yml
Labels: CLA Signed, fb-exported

#6810 Refactor tosa_utils
  backends/arm/arm_backend.py
  backends/arm/operators/op_output.py
  backends/arm/process_node.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6812 Arm Backend: Place pte file/data in DDR area
  examples/arm/executor_runner/CMakeLists.txt
Labels: CLA Signed, partner: arm, ciflow/trunk

#6709 Use lambda on all kernel prim ops
  kernels/prim_ops/register_prim_ops.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk

#6791 Add TorchTune pin
  examples/models/llama3_2_vision/install_requirements.sh
Labels: CLA Signed

#6805 [llama-mm] Bump PyTorch pin to 11/12
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed

#6692 Remove PATTERNLINT suppressions
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/runner/image.h
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/stats.h
  extension/llm/runner/text_decoder_runner.h
  extension/llm/runner/text_prefiller.h
  extension/llm/tokenizer/tokenizer.h
  extension/parallel/thread_parallel.h
  kernels/optimized/vec/vec_base.h
  runtime/core/exec_aten/testing_util/tensor_factory.h
Labels: CLA Signed, fb-exported

#6693 Add NOSTDINC and NOTORCHINC lintrunner
  .lintrunner.toml
Labels: CLA Signed, fb-exported

#6622 Expose mehod name as part of backend init context
  runtime/backend/backend_execution_context.h
  runtime/backend/backend_init_context.h
  runtime/executor/method.cpp
  runtime/executor/test/backend_integration_test.cpp
Labels: CLA Signed, fb-exported

#6806 [llama-mm] Add export friendly TiledTokenPositionalEmbedding
  extension/llm/modules/__init__.py
  extension/llm/modules/_position_embeddings.py
  extension/llm/modules/test/test_position_embeddings.py
Labels: CLA Signed

#6816 Reducing VMA large pool allocation to 4 MB from 32 MB to reduce memory wastage.
  backends/vulkan/runtime/vk_api/memory/vma_api.h
Labels: CLA Signed, fb-exported

#6807 [llama-mm] Onboard torchtune vision encoder to ExecuTorch/AOTI
  .ci/scripts/gather_test_models.py
  examples/models/__init__.py
  examples/models/llama3_2_vision/vision_encoder/__init__.py
  examples/models/llama3_2_vision/vision_encoder/model.py
  examples/models/llama3_2_vision/vision_encoder/test/__init__.py
  examples/models/llama3_2_vision/vision_encoder/test/test_vision_encoder.py
  pytest.ini
Labels: CLA Signed

#6823 Remove unused-variable in ods3/services/storage/gorilla/lib3/gorilla/micro_shard/GmscQuery.h
  runtime/platform/assert.h
Labels: CLA Signed, fb-exported

#6799 [ET] Fix serde handling of `inf`
  exir/serde/export_serialize.py
Labels: CLA Signed, fb-exported

#6826 Fix broken trunk test_model.sh
  .ci/scripts/test_model.sh
Labels: CLA Signed, ciflow/trunk

#6827 [ET-VK][ez] Link MoltenVK statically for all Mac builds
  backends/vulkan/targets.bzl
Labels: CLA Signed, fb-exported

#6670 Add op: masked_select
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_masked_select.cpp
  kernels/portable/functions.yaml
  kernels/test/op_masked_select_test.cpp
  kernels/test/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#6828 Update checksums in Xcode projects.
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
Labels: CLA Signed, fb-exported

#6480 Assert that the repo directory is named `executorch`
  CMakeLists.txt
Labels: CLA Signed

#6833 Fix arm dep for jarvis test
  backends/arm/TARGETS
Labels: CLA Signed, fb-exported

#6825 add up to Uint64
  kernels/portable/cpu/test/scalar_utils_test.cpp
  runtime/core/exec_aten/util/scalar_type_util.h
  runtime/core/exec_aten/util/test/scalar_type_util_test.cpp
  runtime/core/portable_type/scalar_type.h
Labels: CLA Signed, fb-exported

#6842 [llama-mm] Fix vision encoder model test
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  examples/models/llama3_2_vision/__init__.py
  examples/models/llama3_2_vision/vision_encoder/model.py
  pytest.ini
Labels: CLA Signed, ciflow/trunk

#6838 Linear tiling experiment
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
  backends/vulkan/runtime/vk_api/memory/Image.cpp
Labels: CLA Signed, fb-exported

#6797 Fix imports to use torchao public api
  backends/vulkan/_passes/int4_weight_only_quantizer.py
  backends/xnnpack/test/ops/linear.py
Labels: CLA Signed, fb-exported

#6829 [ET-VK] Enforce GPU buffer limit when partitioning
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/utils.py
Labels: CLA Signed, fb-exported

#6830 [ET-VK][Llama] Apply XNNPACK partitoner as well when lowering to Vulkan
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, fb-exported, module: vulkan, ciflow/periodic

#6814 Patch for div_mod build issue on Xtensa
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_div_mode_f32_broadcast.c
Labels: CLA Signed

#6854 Install requirements for llama vision
  .ci/scripts/test_model.sh
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/periodic

#6861 Disable llm module test
  extension/llm/modules/test/test_attention.py
  extension/llm/modules/test/test_position_embeddings.py
Labels: CLA Signed

#6864 Add missing Pyre mode headers] [batch:9/1301] [shard:12/N]
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/cast_int64_pass.py
  backends/arm/_passes/conv1d_unsqueeze_pass.py
  backends/arm/_passes/decompose_div_pass.py
  backends/arm/_passes/decompose_layernorm_pass.py
  backends/arm/_passes/decompose_linear_pass.py
  backends/arm/_passes/decompose_meandim_pass.py
  backends/arm/_passes/decompose_softmaxes_pass.py
  backends/arm/_passes/decompose_var_pass.py
  backends/arm/_passes/insert_squeeze_after_sum_pass.py
  backends/arm/_passes/match_arg_ranks_pass.py
  backends/arm/_passes/remove_clone_pass.py
  backends/arm/_passes/scalars_to_attribute_pass.py
  backends/arm/_passes/unsqueeze_scalar_placeholders_pass.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_select.py
  backends/arm/operators/op_sum.py
  backends/arm/operators/op_transpose.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/process_node.py
  backends/arm/quantizer/quantization_annotation/mul_annotator.py
  backends/arm/quantizer/quantization_annotation/upsample_nearest2d_annotator.py
Labels: CLA Signed, fb-exported

#6802 Improve ET_ASSERT_UNREACHABLE_MSG to use formatting
  extension/aten_util/aten_bridge.cpp
  extension/pybindings/pybindings.cpp
  runtime/platform/assert.h
Labels: CLA Signed, fb-exported

#6865 Skip building Apple demo app on fork PRs
  .github/workflows/apple.yml
Labels: CLA Signed

#6847 Add unit tests for old lowering flow for op_cat.py
  backends/xnnpack/test/ops/cat.py
Labels: CLA Signed, fb-exported

#6860 Add shim/README.md to explain what the shim/ tree is for
  shim/README.md
Labels: CLA Signed

#5911 Export TorchTune llama3_2_vision in ET
  .ci/scripts/gather_test_models.py
  examples/models/__init__.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama3_2_vision/__init__.py
  examples/models/llama3_2_vision/text_decoder/model.py
  examples/models/llama3_2_vision/text_decoder/params/demo_config.json
Labels: CLA Signed, Release notes: examples

#6868 Automate SwiftPM updates.
  .github/workflows/apple.yml
Labels: CLA Signed

#6845 expand dtype conversion support in aten_bridge
  extension/aten_util/aten_bridge.cpp
Labels: CLA Signed, fb-exported

#6879 Force-push nightly build branch.
  .github/workflows/apple.yml
Labels: CLA Signed, fb-exported

#6489 Update Hugging Face version
  .github/workflows/trunk.yml
  examples/models/llama/install_requirements.sh
  install_requirements.py
Labels: CLA Signed

#6875 fix lintrunner
  backends/xnnpack/test/ops/cat.py
Labels: CLA Signed

#6874 Fix test_model.sh for vision text decoder
  .ci/scripts/test_model.sh
  examples/models/llama3_2_vision/text_decoder/model.py
Labels: CLA Signed, ciflow/trunk

#6873 Update Xcode projects to use nightly builds.
  docs/source/apple-runtime.md
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
Labels: CLA Signed, fb-exported

#6884 Fix Xcode projects packages pins.
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed, fb-exported

#6869 [llama-mm] Add torch.cond to replace if condition in MHA
  extension/llm/modules/attention.py
  extension/llm/modules/kv_cache.py
  extension/llm/modules/test/test_attention.py
Labels: CLA Signed

#6851 TOSA specification in Arm partitioner
  backends/arm/arm_partitioner.py
  backends/arm/operator_support/__init__.py
  backends/arm/operator_support/mean_dim_support.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operator_support/var_correction_support.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#6696 Adding tests old lowering flow for op_abs.py
  backends/xnnpack/test/ops/abs.py
Labels: CLA Signed, fb-exported

#6885 Remove template file after renaming and amending.
  .github/workflows/apple.yml
Labels: CLA Signed, fb-exported

#6858 merge internal op registration with oss
  backends/cadence/aot/TARGETS
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported

#6891 Add UInt16 support to Q and DQ
  kernels/quantized/cpu/op_dequantize.cpp
  kernels/quantized/cpu/op_quantize.cpp
  kernels/quantized/test/op_dequantize_test.cpp
  kernels/quantized/test/op_quantize_test.cpp
  runtime/core/exec_aten/testing_util/tensor_factory.h
Labels: CLA Signed, fb-exported

#6893 Add UInt16 support to Cadence kernels
  backends/cadence/hifi/operators/dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantize_per_tensor.cpp
  backends/cadence/reference/operators/dequantize_per_tensor.cpp
  backends/cadence/reference/operators/quantize_per_tensor.cpp
Labels: CLA Signed, fb-exported

#6903 Simplify .xcoconfig.
  extension/benchmark/apple/Benchmark/Tests/Tests.xcconfig
Labels: CLA Signed, fb-exported

#6904 Change the branch to download frameworkd from.
  extension/benchmark/apple/Benchmark/Frameworks/download_frameworks.sh
Labels: CLA Signed, fb-exported

#6912 Move linker flags to config files for clarity.
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/LLaMA-Debug.xcconfig
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/LLaMA-Release.xcconfig
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/LLaMARunner-Debug.xcconfig
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/LLaMARunner-Release.xcconfig
Labels: CLA Signed, fb-exported

#6902 Only use `LINEAR` tiling if it's available
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/vk_api/Adapter.cpp
  backends/vulkan/runtime/vk_api/Adapter.h
  backends/vulkan/runtime/vk_api/memory/Allocator.cpp
  backends/vulkan/runtime/vk_api/memory/Allocator.h
  backends/vulkan/runtime/vk_api/memory/Image.cpp
  backends/vulkan/runtime/vk_api/memory/Image.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported
