Repository pytorch/executorch, pull requests merged in 2024-04, with the labels that each got.

#3002 [RELEASE-ONLY] Fix install_requirements.sh
  install_requirements.sh
Labels: CLA Signed

#3021 [Release-only] Fix the wrong test-infra branch on release/0.2
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#3052 Decouple custom ops in llama_transformer.py Part 1/N (#3005)
  examples/models/llama2/builder.py
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
  examples/models/llama2/model.py
Labels: CLA Signed

#3061 Decouple custom ops in llama_transformer.py Part 2/N (#3007)
  examples/models/llama2/TARGETS
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
Labels: CLA Signed

#3025 Cherry-pick commits for executorch_no_prim_ops
  CMakeLists.txt
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/apple/coreml/scripts/build_tests.sh
  backends/apple/mps/CMakeLists.txt
  build/build_apple_frameworks.sh
  build/cmake_deps.toml
  build/executorch-config.cmake
  examples/apple/coreml/executor_runner/coreml_executor_runner.xcodeproj/project.pbxproj
  examples/apple/coreml/scripts/build_executor_runner.sh
  examples/arm/executor_runner/CMakeLists.txt
  runtime/executor/targets.bzl
Labels: CLA Signed, ciflow/trunk

#3026 Fix tutorial for Qualcomm AI Engine Direct Backend (#2956)
  backends/qualcomm/CMakeLists.txt
  docs/source/build-run-qualcomm-ai-engine-direct-backend.md
  examples/qualcomm/executor_runner/qnn_executor_runner.cpp
Labels: CLA Signed

#3027 Android demo app tutorial fix for XNNPACK and QNN (#2962)
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/demo-apps/android/ExecuTorchDemo/app/build.gradle.kts
  examples/demo-apps/android/ExecuTorchDemo/setup.sh
  extension/android/CMakeLists.txt
Labels: CLA Signed

#3051 Skip annotate boolean input (#2957)
  backends/qualcomm/quantizer/utils.py
Labels: CLA Signed

#3114 move mask as sdpa input instead of attribute (#3036)
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
Labels: CLA Signed

#3155 [RELEASE-ONLY] Pin Xcode projects to release/0.2 branch
  .github/workflows/apple.yml
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed

#3166 Add a simple sdpa (#3037)
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/tests/TARGETS
  examples/models/llama2/tests/test_simple_sdpa.py
Labels: CLA Signed

#3178 Docs for lower smaller models to mps/coreml/qnn (#3146)
  examples/models/llama2/README.md
Labels: CLA Signed

#3182 qnn end to end flow for stories model (#3038)
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/partition/common_defs.py
  examples/models/llama2/export_llama_lib.py
Labels: CLA Signed

#3186 Fix build-framework-ios CI job (#2996)
  runtime/executor/targets.bzl
Labels: CLA Signed

#3190 Cherry pick #3006
  CMakeLists.txt
  build/build_apple_frameworks.sh
Labels: CLA Signed

#3214 [RELEASE ONLY] Fix llava encoder
  .ci/scripts/gather_test_models.py
Labels: CLA Signed

#3049 Fix dynamic linking issues with prebuilt pip packages
  .github/workflows/build-wheels-m1.yml
  CMakeLists.txt
  build/packaging/smoke_test.py
Labels: CLA Signed, ciflow/trunk, ciflow/binaries/all

#3259 Dynamically determine the version of the pip package.
  pyproject.toml
  setup.py
Labels: CLA Signed

#3287 Update apple.yml
  .github/workflows/apple.yml
Labels: CLA Signed

#3271 fix qnn install link (#3260)
  examples/models/llama2/export_llama_lib.py
Labels: CLA Signed

#3265 Audit and update the pip package metadata
  README-wheel.md
  pyproject.toml
Labels: CLA Signed

#3309 Update Llava README.md
  examples/models/llava_encoder/README.md
Labels: CLA Signed

#3277 [pyproject.toml] Add a dependency on `torch==2.3`
  .ci/scripts/utils.sh
  examples/models/llava_encoder/install_requirements.sh
  install_requirements.sh
  pyproject.toml
Labels: CLA Signed

#3283 Fix LLAMA app (#3228)
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
Labels: CLA Signed

#3323 Update README-wheel.md to document what's linked into pybindings
  README-wheel.md
  build/packaging/env_var_script_m1.sh
Labels: CLA Signed

#3306 [RELEASE ONLY] Update git clone instructions
  docs/source/getting-started-setup.md
Labels: CLA Signed

#3327 [MPS] Remove the sorting of the nodes from partitioning (not needed for now as Custom Metal kernels are yet not enabled)
  backends/apple/mps/partition/mps_partitioner.py
Labels: CLA Signed

#3329 [MPS] Update MPS documentation; add helper script to build mps_executor_runner
  backends/apple/mps/setup.md
  examples/apple/mps/scripts/build_mps_executor_runner.sh
Labels: CLA Signed

#3331 Update readme.
  examples/demo-apps/apple_ios/LLaMA/README.md
Labels: CLA Signed

#3330 Update custom kernel registration API
  docs/source/kernel-library-custom-aten-kernel.md
Labels: CLA Signed

#3335 To cherry-pick inspector api doc change
  docs/source/_static/img/print_data_tabular.png
  docs/source/sdk-inspector.rst
Labels: CLA Signed

#3336 add buck2 installation into setup.md
  .ci/scripts/test.sh
  .ci/scripts/test_quantized_aot_lib.sh
  .ci/scripts/utils.sh
  backends/qualcomm/setup.md
  docs/source/build-run-xtensa.md
  docs/source/getting-started-setup.md
  docs/source/runtime-build-and-cross-compilation.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/portable/scripts/test_demo_backend_delegation.sh
  examples/sdk/README.md
Labels: CLA Signed

#3338 Update llama2 readme file
  examples/models/llama2/README.md
Labels: CLA Signed

#3347 Enable doc job to run on -rc tags.
  .github/workflows/doc-build.yml
Labels: CLA Signed

#3357 Add EXECUTORCH_SEPARATE_FLATCC_HOST_PROJECT cmake option (#3356)
  sdk/CMakeLists.txt
  setup.py
Labels: CLA Signed, ciflow/trunk

#3366 Reword "preview release" notice now that we are at alpha (#3364)
  docs/source/index.rst
Labels: CLA Signed

#3352 Arm backend: Update documentation
  docs/source/executorch-arm-delegate-tutorial.md
Labels: CLA Signed, partner: arm

#3377 Add Disclaimer
  examples/README.md
Labels: CLA Signed

#3379 Remove preview wording and TODOs from README
  README.md
Labels: CLA Signed

#3380 [RELEASE-ONLY] Fix lint error
  examples/README.md
Labels: CLA Signed

#3386 Manual push of gh-pages/0.2
  0.2/_sources/executorch-arm-delegate-tutorial.md.txt
  0.2/_sources/index.rst.txt
  0.2/_sources/tutorials/export-to-executorch-tutorial.rst.txt
  0.2/_sources/tutorials/sdk-integration-tutorial.rst.txt
  0.2/_sources/tutorials/sg_execution_times.rst.txt
  0.2/executorch-arm-delegate-tutorial.html
  0.2/index.html
  0.2/objects.inv
  0.2/searchindex.js
  0.2/tutorials/export-to-executorch-tutorial.html
  0.2/tutorials/sdk-integration-tutorial.html
  0.2/tutorials/sg_execution_times.html
Labels: CLA Signed

#3314 Create README.md
  README.md
Labels: CLA Signed

#3408 Fix main docs
  main/_sources/tutorials/export-to-executorch-tutorial.rst.txt
  main/_sources/tutorials/sdk-integration-tutorial.rst.txt
  main/_sources/tutorials/sg_execution_times.rst.txt
  main/searchindex.js
  main/tutorials/export-to-executorch-tutorial.html
  main/tutorials/sdk-integration-tutorial.html
  main/tutorials/sg_execution_times.html
Labels: CLA Signed

#3395 Update symlink to 0.2
  stable
  versions.html
Labels: CLA Signed

#3439 Exclude 0.1 from Google search.
  0.1/_modules/bundled_program/core.html
  0.1/_modules/bundled_program/serialize.html
  0.1/_modules/executorch/exir/lowered_backend_module.html
  0.1/_modules/executorch/exir/program/_program.html
  0.1/_modules/exir/backend/backend_api.html
  0.1/_modules/index.html
  0.1/_modules/sdk/etrecord/_etrecord.html
  0.1/_modules/sdk/inspector/inspector.html
  0.1/build-run-coreml.html
  0.1/build-run-mps.html
  0.1/build-run-qualcomm-ai-engine-direct-backend.html
  0.1/build-run-xtensa.html
  0.1/compiler-backend-dialect.html
  0.1/compiler-custom-compiler-passes.html
  0.1/compiler-delegate-and-partitioner.html
  0.1/compiler-memory-planning.html
  0.1/concepts.html
  0.1/demo-apps-android.html
  0.1/demo-apps-ios.html
  0.1/examples-end-to-end-to-lower-model-to-delegate.html
  0.1/executorch-arm-delegate-tutorial.html
  0.1/executorch-runtime-api-reference.html
  0.1/export-overview.html
  0.1/export-to-executorch-api-reference.html
  0.1/genindex.html
  0.1/getting-started-architecture.html
  0.1/getting-started-setup.html
  0.1/index.html
  0.1/intro-how-it-works.html
  0.1/intro-overview.html
  0.1/ir-exir.html
  0.1/ir-ops-set-definition.html
  0.1/kernel-library-custom-aten-kernel.html
  0.1/kernel-library-overview.html
  0.1/kernel-library-selective-build.html
  0.1/markdown-sphinx-tips-tricks.html
  0.1/native-delegates-executorch-xnnpack-delegate.html
  0.1/py-modindex.html
  0.1/quantization-overview.html
  0.1/running-a-model-cpp-tutorial.html
  0.1/runtime-backend-delegate-implementation-and-linking.html
  0.1/runtime-build-and-cross-compilation.html
  0.1/runtime-overview.html
  0.1/runtime-platform-abstraction-layer.html
  0.1/sdk-bundled-io.html
  0.1/sdk-delegate-integration.html
  0.1/sdk-etdump.html
  0.1/sdk-etrecord.html
  0.1/sdk-inspector.html
  0.1/sdk-overview.html
  0.1/sdk-profiling.html
  0.1/sdk-tutorial.html
  0.1/search.html
  0.1/tutorial-xnnpack-delegate-lowering.html
  0.1/tutorials/export-to-executorch-tutorial.html
  0.1/tutorials/sdk-integration-tutorial.html
  0.1/tutorials/sg_execution_times.html
Labels: CLA Signed
