Repository pytorch/executorch, pull requests merged in 2024-07, with the labels that each got.

#4099 [Release v0.3.0] Update versions.html with v0.3.0 rc
  versions.html
Labels: CLA Signed

#4101 [RELEASE-ONLY] Update pyproject.toml for release 0.3.0
  pyproject.toml
Labels: CLA Signed

#4153 Add PR/issue workflow to CONTRIBUTING.md (#4107)
  CONTRIBUTING.md
  README.md
  docs/source/contributing.md
  docs/source/index.rst
Labels: CLA Signed

#4360 [Release 0.3] Update llama2 readme
  examples/models/llama2/README.md
Labels: CLA Signed

#4379 Delete examples/models/phi-3-mini/README.md
  examples/models/phi-3-mini/README.md
Labels: CLA Signed

#4381 Update apple version in release branch
  .github/workflows/apple.yml
Labels: CLA Signed

#4386 Update apple.yml
  .github/workflows/apple.yml
Labels: CLA Signed

#4383 Update apple artifact branch version
  docs/source/apple-runtime.md
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed

#4350 [RELEASE-ONLY][v0.3.0] Update docs to clone v0.3.0
  docs/source/getting-started-setup.md
Labels: CLA Signed

#4405 Update stable to 0.3
  stable
Labels: CLA Signed

#4407 Update readme to use the latest release.
  examples/demo-apps/apple_ios/ExecuTorchDemo/README.md
Labels: CLA Signed

#4411 Use rpath for pypi artifact
  CMakeLists.txt
Labels: CLA Signed, ciflow/binaries, ciflow/binaries/all

#4424 Specify patch version for torch and torchaudio
  pyproject.toml
Labels: CLA Signed, ciflow/binaries
