Repository pytorch/executorch, pull requests merged in 2024-08, with the labels that each got.

#4535 Upsample Bilinear 2d
  backends/xnnpack/operators/op_static_resize_bilinear_2d.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/passes/channels_last_tagged_reshape_pass.py
  backends/xnnpack/passes/convert_to_upsample_bilinear2d.py
  backends/xnnpack/test/ops/bilinear2d.py
Labels: CLA Signed, fb-exported

#4581 Simplify prompt fields logic and added modelType selector
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelType.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/PromptFormat.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/SettingsActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/SettingsFields.java
  examples/demo-apps/android/LlamaDemo/app/src/main/res/layout/activity_settings.xml
Labels: CLA Signed, fb-exported

#4584 update encoder latency
  extension/llm/tokenizer/tiktoken.cpp
Labels: CLA Signed, fb-exported

#4534 Floor, Hardswish, LeakyRelu configs
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/floor.py
  backends/xnnpack/test/ops/hardswish.py
  backends/xnnpack/test/ops/leaky_relu.py
Labels: CLA Signed, fb-exported

#4536 Mean, Min, Neg Configs
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/mean_dim.py
  backends/xnnpack/test/ops/minimum.py
  backends/xnnpack/test/ops/negate.py
Labels: CLA Signed, fb-exported

#4538 Prelu, Pow, Slice
  backends/xnnpack/operators/op_prelu.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/partition/config/node_configs.py
  backends/xnnpack/passes/channels_last_tagged_reshape_pass.py
  backends/xnnpack/test/ops/pow.py
  backends/xnnpack/test/ops/prelu.py
  backends/xnnpack/test/ops/slice_copy.py
  backends/xnnpack/test/ops/square.py
Labels: CLA Signed, fb-exported

#4533 Sub, Sqrt, Pad
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/sqrt.py
  backends/xnnpack/test/ops/static_constant_pad.py
  backends/xnnpack/test/ops/sub.py
Labels: CLA Signed, fb-exported

#4576 Test new partitioner on all models
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/test/models/deeplab_v3.py
  backends/xnnpack/test/models/edsr.py
  backends/xnnpack/test/models/emformer_rnnt.py
  backends/xnnpack/test/models/inception_v3.py
  backends/xnnpack/test/models/inception_v4.py
  backends/xnnpack/test/models/llama2_et_example.py
  backends/xnnpack/test/models/mobilebert.py
  backends/xnnpack/test/models/mobilenet_v2.py
  backends/xnnpack/test/models/mobilenet_v3.py
  backends/xnnpack/test/models/resnet.py
  backends/xnnpack/test/models/torchvision_vit.py
  backends/xnnpack/test/models/very_big_model.py
  backends/xnnpack/test/models/w2l.py
Labels: CLA Signed, fb-exported

#4555 Qualcomm AI Engine Direct - Add source transform for kv cache and sdpa
  backends/qualcomm/passes/replace_inf_buffer.py
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/utils/utils.py
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
  examples/models/llama2/source_transformation/sdpa.py
  extension/llm/export/partitioner_lib.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed

#4543 Qualcomm AI Engine Direct - Add configurable job number for build script
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed

#4546 Expand dataloader interface.
  runtime/core/data_loader.h
Labels: CLA Signed, fb-exported

#4600 add empty shim/TARGETS
  shim/TARGETS
Labels: CLA Signed

#4548 Introduce preprocess custom ops
  extension/llm/custom_ops/TARGETS
  extension/llm/custom_ops/op_tile_crop.cpp
  extension/llm/custom_ops/op_tile_crop.h
  extension/llm/custom_ops/preprocess_custom_ops.py
  extension/llm/custom_ops/targets.bzl
  extension/llm/custom_ops/test_preprocess_custom_ops.py
Labels: CLA Signed, fb-exported

#4598 Remove Proxy from exported programs and modules
  exir/serde/serialize.py
Labels: CLA Signed, fb-exported

#4568 Skip computing capacity for dynamic tensor.
  runtime/core/portable_type/tensor_impl.cpp
  runtime/core/portable_type/tensor_impl.h
Labels: CLA Signed, fb-exported

#4592 [ET-VK][Ez] Improve vec class
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ops/impl/Cat.cpp
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
  backends/vulkan/runtime/graph/ops/impl/Repeat.cpp
  backends/vulkan/runtime/graph/ops/impl/Split.cpp
  backends/vulkan/runtime/graph/ops/impl/Upsample.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/KernelUtils.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/TensorUtils.cpp
  backends/vulkan/runtime/utils/VecUtils.h
  backends/vulkan/runtime/vk_api/Command.cpp
  backends/vulkan/runtime/vk_api/VkUtils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#4593 [ET-VK][Ez] Allow `ParamsBindList` to append a single Binding Info
  backends/vulkan/runtime/vk_api/Descriptor.cpp
  backends/vulkan/runtime/vk_api/Descriptor.h
Labels: CLA Signed, fb-exported

#4594 [ET-VK] Do not apply zero padding for buffer backed tensors
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/activations.h
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/int8_image_to_nchw_noint8.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_int8_image_noint8.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_linear.h
  backends/vulkan/runtime/graph/ops/glsl/unary_op.glsl
  backends/vulkan/runtime/graph/ops/glsl/unary_op.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/impl/UnaryOp.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/test/TARGETS
  backends/vulkan/test/glsl/idx_fill_buffer.glsl
  backends/vulkan/test/glsl/scalar_add_buffer.glsl
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/utils/test_utils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#4564 fix CI errors
  build/constraints/TARGETS
  runtime/kernel/targets.bzl
Labels: CLA Signed, fb-exported

#4632 Buckify open sourced ET-QNN
  backends/qualcomm/aot/ir/qcir_utils.h
  backends/qualcomm/runtime/backends/htpbackend/HtpContextCustomConfig.h
Labels: CLA Signed, fb-exported

#4601 Update on Mac runner build
  examples/models/llama2/README.md
Labels: CLA Signed, fb-exported

#4635 [ET-VK][Ez] Improve vec class
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ops/impl/Cat.cpp
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
  backends/vulkan/runtime/graph/ops/impl/Repeat.cpp
  backends/vulkan/runtime/graph/ops/impl/Split.cpp
  backends/vulkan/runtime/graph/ops/impl/Upsample.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/KernelUtils.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/TensorUtils.cpp
  backends/vulkan/runtime/utils/VecUtils.h
  backends/vulkan/runtime/vk_api/Command.cpp
  backends/vulkan/runtime/vk_api/VkUtils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed

#4633 [coreml] Remove references to build_apple_frameworks.sh "--Release" flag
  backends/apple/coreml/setup.md
  build/build_apple_frameworks.sh
  docs/source/build-run-coreml.md
Labels: CLA Signed

#4590 Qualcomm AI Engine Direct -- update documents
  backends/qualcomm/README.md
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/setup.md
  backends/qualcomm/tests/utils.py
  docs/source/build-run-qualcomm-ai-engine-direct-backend.md
  examples/qualcomm/README.md
  examples/qualcomm/llama2/README.md
  examples/qualcomm/scripts/utils.py
Labels: CLA Signed

#4622 Implement tile_crop custom op
  extension/llm/custom_ops/op_tile_crop.cpp
  extension/llm/custom_ops/op_tile_crop_test.cpp
  extension/llm/custom_ops/targets.bzl
Labels: CLA Signed, fb-exported

#4556 [llava][14/N] Refactor runner prefill() and run_model_step()
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
Labels: CLA Signed

#4567 [llava][15/N] Extract out text decoder runner
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_decoder_runner.cpp
  extension/llm/runner/text_decoder_runner.h
Labels: CLA Signed

#4585 [llava][16/N] Extract out prefill logic into a new class
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
  extension/llm/tokenizer/targets.bzl
Labels: CLA Signed

#4588 [llava][17/N] Move util.h into /e/llm/runner
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/targets.bzl
  extension/llm/runner/util.h
Labels: CLA Signed

#4574 [MPS] Add support for flatbuffer serialization > 4GB
  backends/apple/mps/CMakeLists.txt
  backends/apple/mps/mps_preprocess.py
  backends/apple/mps/runtime/MPSCompiler.mm
  backends/apple/mps/runtime/MPSDelegateHeader.h
  backends/apple/mps/runtime/MPSDelegateHeader.mm
  backends/apple/mps/runtime/MPSGraphBuilder.h
  backends/apple/mps/runtime/MPSGraphBuilder.mm
  backends/apple/mps/runtime/operations/OperationUtils.mm
  backends/apple/mps/serialization/mps_graph_schema.py
  backends/apple/mps/serialization/schema.fbs
  examples/apple/mps/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk

#4643 Gh/larryliu0820/46/base
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_decoder_runner.cpp
  extension/llm/runner/text_decoder_runner.h
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
  extension/llm/runner/util.h
  extension/llm/tokenizer/targets.bzl
Labels: CLA Signed

#4634 Improve ET llama runner logging and debuggability
  examples/models/llama2/runner/runner.cpp
Labels: CLA Signed, fb-exported

#4645 [QNN] fix linter
  backends/qualcomm/aot/ir/qcir_utils.h
Labels: CLA Signed

#4553 fixed quantized_matmul_out
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/quantized_matmul_out.cpp
Labels: CLA Signed, fb-exported

#4650 Fix llava model definition for export
  examples/models/llava/model.py
Labels: CLA Signed

#4646 [executorch] Avoid division in Sampler::sample
  extension/llm/sampler/sampler.cpp
  extension/llm/sampler/sampler.h
Labels: CLA Signed, fb-exported

#4640 Small refactoring of TensorImpl.
  .github/workflows/pull.yml
  runtime/core/portable_type/tensor_impl.cpp
Labels: CLA Signed, fb-exported

#4653 Add core.pyi to resolve pyre issue when importing from executorch.extension.pybindings.core
  extension/pybindings/TARGETS
Labels: CLA Signed, fb-exported

#4586 add buck targets build coverage to kernels operators and codegen
  backends/cadence/aot/TARGETS
  backends/cadence/hifi/kernels/kernels.cpp
  backends/cadence/hifi/operators/dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantize_per_tensor.cpp
  backends/cadence/hifi/operators/quantized_layer_norm.cpp
  backends/cadence/hifi/operators/quantized_linear_out.cpp
  backends/cadence/reference/kernels/TARGETS
  backends/cadence/reference/kernels/kernels.cpp
  backends/cadence/reference/kernels/targets.bzl
  backends/cadence/reference/operators/TARGETS
  backends/cadence/reference/operators/dequantize_per_tensor.cpp
  backends/cadence/reference/operators/op_add.cpp
  backends/cadence/reference/operators/quantize_per_tensor.cpp
  backends/cadence/reference/operators/quantized_conv_out.cpp
  backends/cadence/reference/operators/quantized_layer_norm.cpp
  backends/cadence/reference/operators/quantized_linear_out.cpp
  backends/cadence/reference/operators/quantized_matmul_out.cpp
  backends/cadence/reference/operators/quantized_relu_out.cpp
  backends/cadence/reference/operators/targets.bzl
Labels: CLA Signed, fb-exported

#4595 Fix bundled program and plan_execute in pybindings
  extension/pybindings/pybindings.cpp
  extension/pybindings/pybindings.pyi
Labels: CLA Signed, fb-exported

#4656 [executorch] Avoid division in Sampler::sample
  extension/llm/sampler/sampler.cpp
  extension/llm/sampler/sampler.h
Labels: CLA Signed

#4648 Statically Quantize Image Encoder
  examples/models/llava/export_llava.py
Labels: CLA Signed

#4570 Skip checking for dim order and strindes if those are not provided explicitly.
  runtime/core/portable_type/tensor_impl.cpp
  runtime/core/portable_type/test/tensor_impl_test.cpp
Labels: CLA Signed, fb-exported

#4604 add fp32 bmm op
  backends/xnnpack/operators/__init__.py
  backends/xnnpack/operators/op_bmm.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/bmm.py
Labels: CLA Signed, fb-exported

#4625 Qualcomm AI Engine Direct - fix release build issue
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/scripts/build.sh
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/llama2/qaihub_runner/runner.cpp
  examples/qualcomm/llama2/runner/runner.cpp
  sdk/CMakeLists.txt
Labels: CLA Signed

#4644 improve sampling time
  extension/llm/sampler/sampler.cpp
Labels: CLA Signed, fb-exported

#4660 [llama] Fix text prefiller
  extension/llm/runner/text_prefiller.cpp
Labels: CLA Signed

#4603 Replace custom op pad with aten op, post-export
  examples/models/flamingo/passes/__init__.py
  examples/models/flamingo/passes/replace_custom_ops_with_aten_ops_pass.py
  examples/models/flamingo/passes/test_passes.py
  exir/passes/replace_aten_with_edge_pass.py
Labels: CLA Signed, fb-exported

#4572 Skip storing unnecessary metadata in ManagedTensor.
  examples/llm_manual/managed_tensor.h
  extension/aten_util/make_aten_functor_from_et_functor.h
  extension/aten_util/targets.bzl
  extension/runner_util/managed_tensor.h
  extension/runner_util/test/managed_tensor_test.cpp
Labels: CLA Signed, fb-exported

#4560 Qualcomm AI Engine Direct - fix conv2d to meet QNN constraint
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/builders/op_conv2d.py
  backends/qualcomm/builders/op_prelu.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/constants.py
Labels: CLA Signed

#4657 Not hardcode llama2 model in perf test
  .github/workflows/android-perf.yml
  .github/workflows/android.yml
  examples/demo-apps/android/LlamaDemo/android-llm-device-farm-test-spec.yml
  examples/demo-apps/android/LlamaDemo/app/src/androidTest/java/com/example/executorchllamademo/PerfTest.java
Labels: CLA Signed

#4670 Update phi3 lora example documentation
  examples/models/phi3-mini-lora/README.md
  examples/models/phi3-mini-lora/install_requirements.sh
Labels: CLA Signed, fb-exported

#4453 [Cadence] Enabled x86 executor flow with numerical verification
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/export_example.py
  backends/cadence/build_cadence_runner.sh
  backends/cadence/cadence_runner/TARGETS
  backends/cadence/cadence_runner/cadence_runner.cpp
  backends/cadence/cadence_runner/targets.bzl
  backends/cadence/runtime/TARGETS
  backends/cadence/runtime/__init__.py
  backends/cadence/runtime/executor.py
  backends/cadence/runtime/executor_main.sh
  backends/cadence/runtime/runtime.py
  backends/cadence/runtime/utils.py
Labels: CLA Signed, fb-exported

#4443 Add an activity for benchmarking only
  examples/demo-apps/android/LlamaDemo/app/src/main/AndroidManifest.xml
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/LlmBenchmarkRunner.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelRunner.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelRunnerCallback.java
  examples/demo-apps/android/LlamaDemo/app/src/main/res/layout/activity_benchmarking.xml
Labels: CLA Signed, fb-exported

#4649 allow models to use customized token ids during export
  examples/models/llama2/export_llama_lib.py
  examples/models/llama2/llama_transformer.py
Labels: CLA Signed, fb-exported

#4673 Pack buffer-backed tensors correctly when moving into and out of staging
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.yaml
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/test/utils/test_utils.cpp
Labels: CLA Signed, fb-exported

#4654 Do not print eos
  examples/models/llama2/runner/runner.cpp
Labels: CLA Signed, fb-exported

#4671 Implement load_into for file data loader
  extension/data_loader/file_data_loader.cpp
  extension/data_loader/file_data_loader.h
Labels: CLA Signed, fb-exported

#4678 Delete dead code
  examples/models/llama2/runner/generation.py
Labels: CLA Signed

#4642 Fix periodic run and model name for benchmarking
  .ci/scripts/test_llama.sh
  .github/workflows/android-perf.yml
Labels: CLA Signed

#4679 Delete dead code
  examples/models/llama2/runner/generation.py
Labels: CLA Signed

#4664 Move metadata util to extension/llm/runner.
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/metadata_util.h
  extension/llm/runner/targets.bzl
  extension/module/targets.bzl
Labels: CLA Signed, fb-exported

#4662 Add stories ci for qnn
  .ci/docker/build.sh
  .ci/docker/ubuntu/Dockerfile
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/test_llama.sh
  .github/workflows/docker-builds.yml
  .github/workflows/trunk.yml
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.h
  backends/qualcomm/scripts/build.sh
Labels: CLA Signed

#4624 add a list for ops to be added
  backends/qualcomm/partition/common_defs.py
  backends/qualcomm/partition/qnn_partitioner.py
Labels: CLA Signed, fb-exported

#4685 Back out "Add stories ci for qnn"
  .ci/docker/build.sh
  .ci/docker/ubuntu/Dockerfile
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/test_llama.sh
  .github/workflows/docker-builds.yml
  .github/workflows/trunk.yml
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.h
  backends/qualcomm/scripts/build.sh
Labels: CLA Signed, fb-exported

#4651 [executorch] Preprocess export test
  examples/models/flamingo/__init__.py
  examples/models/flamingo/export_preprocess.py
  examples/models/flamingo/export_preprocess_lib.py
  examples/models/flamingo/install_requirements.sh
  examples/models/flamingo/test_preprocess.py
Labels: CLA Signed

#4690 Add .github/ghstack_direct
  .github/ghstack_direct
Labels: CLA Signed

#4626 Qualcomm AI Engine Direct - File Structure Refactoring
  backends/qualcomm/README.md
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  docs/source/build-run-qualcomm-ai-engine-direct-backend.md
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/README.md
  examples/qualcomm/executor_runner/CMakeLists.txt
  examples/qualcomm/executor_runner/qnn_executor_runner.cpp
  examples/qualcomm/llama2/README.md
  examples/qualcomm/oss_scripts/dino_v2.py
  examples/qualcomm/oss_scripts/esrgan.py
  examples/qualcomm/oss_scripts/fbnet.py
  examples/qualcomm/oss_scripts/gMLP_image_classification.py
  examples/qualcomm/oss_scripts/llama2/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama2/README.md
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/oss_scripts/llama2/model/static_llama.py
  examples/qualcomm/oss_scripts/llama2/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.h
  examples/qualcomm/oss_scripts/squeezenet.py
  examples/qualcomm/oss_scripts/ssd300_vgg16.py
  examples/qualcomm/qaihub_scripts/llama2/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/llama2/README.md
  examples/qualcomm/qaihub_scripts/llama2/qaihub_llama2_7b.py
  examples/qualcomm/qaihub_scripts/llama2/qaihub_llama2_7b_runner.cpp
  examples/qualcomm/qaihub_scripts/llama2/runner/io_memory.cpp
  examples/qualcomm/qaihub_scripts/llama2/runner/io_memory.h
  examples/qualcomm/qaihub_scripts/llama2/runner/runner.cpp
  examples/qualcomm/qaihub_scripts/llama2/runner/runner.h
  examples/qualcomm/scripts/deeplab_v3.py
  examples/qualcomm/scripts/edsr.py
  examples/qualcomm/scripts/inception_v3.py
  examples/qualcomm/scripts/inception_v4.py
  examples/qualcomm/scripts/mobilebert_fine_tune.py
  examples/qualcomm/scripts/mobilenet_v2.py
  examples/qualcomm/scripts/mobilenet_v3.py
  examples/qualcomm/scripts/torchvision_vit.py
  examples/qualcomm/utils.py
Labels: CLA Signed

#4676 Upload Android test spec to ossci-android
  .github/workflows/android-perf.yml
  .github/workflows/android.yml
  .github/workflows/upload-test-specs.yml
Labels: CLA Signed

#4672 Implement load_into for buffer data loader
  extension/data_loader/buffer_data_loader.h
  extension/data_loader/test/buffer_data_loader_test.cpp
Labels: CLA Signed, fb-exported

#4705 [llava][18/N] Move token generation loop to a class
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  examples/models/llama2/runner/targets.bzl
  extension/llm/runner/stats.h
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_decoder_runner.h
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_token_generator.h
Labels: CLA Signed

#4674 Add llama sdpa to generation script
  examples/models/llama2/runner/generation.py
Labels: CLA Signed, fb-exported

#4686 Add the get method to Module to return a single EValue.
  extension/module/module.h
  extension/module/test/module_test.cpp
Labels: CLA Signed, fb-exported

#4702 update generation.py to run in eager mode as well
  examples/models/llama2/runner/eager.py
  examples/models/llama2/runner/generation.py
  examples/models/llama2/runner/native.py
Labels: CLA Signed

#4706 Use a single map for model metadata.
  examples/models/llama2/runner/runner.cpp
  examples/models/llama2/runner/runner.h
  examples/models/llama2/runner/targets.bzl
Labels: CLA Signed, fb-exported

#4680 Expand Program Interface
  runtime/executor/program.cpp
  runtime/executor/program.h
  runtime/executor/test/program_test.cpp
  runtime/executor/test/targets.bzl
Labels: CLA Signed, fb-exported

#4591 Use single rounding as default for TOSA lowering
  backends/arm/operators/op_addmm.py
  backends/arm/tosa_quant_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#4563 Repeat op + pass expand -> repeat
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_repeat.py
  backends/arm/passes/arm_pass_manager.py
  backends/arm/passes/convert_expand_copy_to_repeat.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_repeat.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#4709 Pin lm_eval to 0.4.2
  examples/models/llama2/install_requirements.sh
Labels: CLA Signed

#4665 [llava][19/N] Add multimodal runner base class and build file
  build/cmake_deps.toml
  extension/llm/runner/CMakeLists.txt
  extension/llm/runner/image.h
  extension/llm/runner/image_prefiller.h
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/targets.bzl
Labels: CLA Signed

#4697 Add 256 constraint executorch.max_kernel_num for
  runtime/kernel/targets.bzl
Labels: CLA Signed, fb-exported

#4712 Use MmapDataLoader::MlockConfig::NoMlock for Module::LoadMode::Mmap
  extension/module/module.cpp
Labels: CLA Signed, fb-exported

#4684 Update bundle identifier.
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed, fb-exported

#4711 Fix return type mismatch in choose_qparams_tensor_out
  kernels/quantized/cpu/op_choose_qparams.cpp
Labels: CLA Signed

#4526 [XNNPACK] Share workspace across delegate instances
  backends/xnnpack/CMakeLists.txt
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/runtime/XNNCompiler.h
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  backends/xnnpack/targets.bzl
Labels: CLA Signed

#4666 [llava][20/N] Add llava runner using building blocks in e/llm/runner
  examples/models/llava/runner/CMakeLists.txt
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_runner.h
  examples/models/llava/runner/llava_text_decoder_runner.h
Labels: CLA Signed

#4716 Use the common return_type field to support ET-QNN internally and externally
  backends/qualcomm/aot/ir/qcir_utils.h
Labels: CLA Signed, fb-exported, ciflow/trunk

#4623 [MPS] Add support for Int4 groupwise quantization
  backends/apple/mps/mps_preprocess.py
  backends/apple/mps/operators/__init__.py
  backends/apple/mps/operators/node_visitor.py
  backends/apple/mps/operators/op_quant_dequant.py
  backends/apple/mps/operators/op_skip_ops.py
  backends/apple/mps/partition/mps_partitioner.py
  backends/apple/mps/runtime/MPSDevice.h
  backends/apple/mps/runtime/MPSDevice.mm
  backends/apple/mps/runtime/MPSExecutor.mm
  backends/apple/mps/runtime/MPSGraphBuilder.h
  backends/apple/mps/runtime/operations/BinaryOps.mm
  backends/apple/mps/runtime/operations/MPSGraphSequoiaOps.h
  backends/apple/mps/runtime/operations/OperationUtils.mm
  backends/apple/mps/runtime/operations/QuantDequant.mm
  backends/apple/mps/runtime/operations/UnaryOps.mm
  backends/apple/mps/serialization/mps_graph_schema.py
  backends/apple/mps/serialization/schema.fbs
  backends/apple/mps/test/test_mps_linear.py
  backends/apple/mps/test/test_mps_utils.py
  backends/apple/mps/utils/mps_utils.py
  backends/apple/mps/utils/quant_utils.py
  examples/apple/mps/scripts/bench_utils.py
  examples/apple/mps/scripts/mps_example.py
Labels: CLA Signed, ciflow/trunk

#4717 [llava] Fix llava test-model-linux CI job
  examples/models/llava/install_requirements.sh
Labels: CLA Signed, ciflow/trunk

#4557 [Core ML] Implement intermediate tensor logging
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/delegate/ETCoreMLModelManager.mm
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.h
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.mm
  backends/apple/coreml/runtime/delegate/coreml_backend_delegate.mm
  backends/apple/coreml/runtime/delegate/model_event_logger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelStructurePath.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLOperationProfilingInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLPair.mm
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.h
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.mm
  backends/apple/coreml/runtime/sdk/model_package_info.h
  backends/apple/coreml/runtime/sdk/model_package_info.mm
  backends/apple/coreml/runtime/test/ETCoreMLModelDebuggerTests.mm
  backends/apple/coreml/runtime/test/ETCoreMLTestUtils.mm
  backends/apple/coreml/runtime/util/objc_array_util.h
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/apple/coreml/scripts/generate_test_models.sh
  examples/apple/coreml/scripts/build_executor_runner.sh
  examples/apple/coreml/scripts/debugger_cli.py
  examples/apple/coreml/scripts/extract_coreml_models.py
  examples/apple/coreml/scripts/inspector_cli.py
  examples/apple/coreml/scripts/inspector_utils.py
  examples/sdk/CMakeLists.txt
  examples/sdk/build_sdk_example_runner.sh
Labels: CLA Signed, ciflow/trunk

#4529 API life cycle and deprecation policy in official documentation
  CONTRIBUTING.md
  docs/source/_static/img/api_life_cycle.png
  docs/source/api-life-cycle.md
  docs/source/executorch-runtime-api-reference.rst
  docs/source/export-to-executorch-api-reference.rst
  docs/source/index.rst
Labels: CLA Signed, fb-exported

#4708 FuseDequantLinearPass to convert dq -> linear into weight_int8packed_mm
  backends/transforms/TARGETS
  backends/transforms/fuse_dequant_linear.py
Labels: CLA Signed, fb-exported

#4628 Implement mm op for Arm backend
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_mm.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/mm_annotator.py
  backends/arm/test/ops/test_mm.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm

#4502 Add event tracing and ETDumps to executor_runner
  CMakeLists.txt
  backends/xnnpack/CMakeLists.txt
  docs/source/native-delegates-executorch-xnnpack-delegate.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/portable/executor_runner/executor_runner.cpp
Labels: CLA Signed, module: xnnpack, partner: arm

#4707 VulkanQuantizer for weight-only quantization on linear
  backends/vulkan/quantizer/TARGETS
  backends/vulkan/quantizer/vulkan_quantizer.py
Labels: CLA Signed, fb-exported, module: vulkan, ciflow/periodic

#4675 added expand and gelu ops
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
Labels: CLA Signed, fb-exported

#4605 [executorch] Migrate runtime/platform to new namespace
  runtime/platform/abort.cpp
  runtime/platform/abort.h
  runtime/platform/assert.h
  runtime/platform/clock.h
  runtime/platform/log.cpp
  runtime/platform/log.h
  runtime/platform/platform.h
  runtime/platform/profiler.cpp
  runtime/platform/profiler.h
  runtime/platform/runtime.cpp
  runtime/platform/runtime.h
Labels: CLA Signed, fb-exported

#4736 Fix android perf periodic default spec
  .github/workflows/android-perf.yml
Labels: CLA Signed

#4735 Back out "Implement intermediate tensor logging"
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/delegate/ETCoreMLModelManager.mm
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.h
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.mm
  backends/apple/coreml/runtime/delegate/coreml_backend_delegate.mm
  backends/apple/coreml/runtime/delegate/model_event_logger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelStructurePath.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLOperationProfilingInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLPair.mm
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.h
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.mm
  backends/apple/coreml/runtime/sdk/model_package_info.h
  backends/apple/coreml/runtime/sdk/model_package_info.mm
  backends/apple/coreml/runtime/test/ETCoreMLModelDebuggerTests.mm
  backends/apple/coreml/runtime/test/ETCoreMLTestUtils.mm
  backends/apple/coreml/runtime/util/objc_array_util.h
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/apple/coreml/scripts/generate_test_models.sh
  examples/apple/coreml/scripts/build_executor_runner.sh
  examples/apple/coreml/scripts/debugger_cli.py
  examples/apple/coreml/scripts/extract_coreml_models.py
  examples/apple/coreml/scripts/inspector_cli.py
  examples/apple/coreml/scripts/inspector_utils.py
  examples/sdk/CMakeLists.txt
  examples/sdk/build_sdk_example_runner.sh
Labels: CLA Signed, fb-exported

#4733 cria runner
  extension/llm/tokenizer/tiktoken.h
Labels: CLA Signed, fb-exported

#4566 Refactor delegation code
  exir/backend/backend_api.py
  exir/backend/test/test_backends.py
  exir/backend/utils.py
  exir/lowered_backend_module.py
Labels: CLA Signed, fb-exported, ciflow/trunk

#4743 Revert "Add event tracing and ETDumps to executor_runner"
  CMakeLists.txt
  backends/xnnpack/CMakeLists.txt
  docs/source/native-delegates-executorch-xnnpack-delegate.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/portable/executor_runner/executor_runner.cpp
Labels: CLA Signed

#4739 Back out "Back out "[executorch][PR] [Core ML] Implement intermediate tensor logging""
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/delegate/ETCoreMLModelManager.mm
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.h
  backends/apple/coreml/runtime/delegate/ETCoreMLStrings.mm
  backends/apple/coreml/runtime/delegate/coreml_backend_delegate.mm
  backends/apple/coreml/runtime/delegate/model_event_logger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelAnalyzer.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelDebugger.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.h
  backends/apple/coreml/runtime/sdk/ETCoreMLModelProfiler.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLModelStructurePath.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLOperationProfilingInfo.mm
  backends/apple/coreml/runtime/sdk/ETCoreMLPair.mm
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.h
  backends/apple/coreml/runtime/sdk/model_event_logger_impl.mm
  backends/apple/coreml/runtime/sdk/model_package_info.h
  backends/apple/coreml/runtime/sdk/model_package_info.mm
  backends/apple/coreml/runtime/test/ETCoreMLModelDebuggerTests.mm
  backends/apple/coreml/runtime/test/ETCoreMLTestUtils.mm
  backends/apple/coreml/runtime/util/objc_array_util.h
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/apple/coreml/scripts/generate_test_models.sh
  examples/apple/coreml/scripts/build_executor_runner.sh
  examples/apple/coreml/scripts/debugger_cli.py
  examples/apple/coreml/scripts/extract_coreml_models.py
  examples/apple/coreml/scripts/inspector_cli.py
  examples/apple/coreml/scripts/inspector_utils.py
  examples/sdk/CMakeLists.txt
  examples/sdk/build_sdk_example_runner.sh
Labels: CLA Signed, fb-exported

#4713 Support mutable tensors in TensorParser
  runtime/executor/program.h
  runtime/executor/tensor_parser_exec_aten.cpp
  runtime/executor/test/tensor_parser_test.cpp
  test/run_oss_cpp_tests.sh
Labels: CLA Signed, fb-exported

#4746 Make the Module non-movable.
  extension/module/module.h
Labels: CLA Signed, fb-exported

#4720 fix eager_eval with kv cache and improve pybind eval speed
  examples/models/llama2/eval_llama_lib.py
  examples/models/llama2/evaluate/eager_eval.py
Labels: CLA Signed

#4744 Define @deprecated and @experimental decorators
  exir/TARGETS
  exir/_warnings.py
  exir/tests/TARGETS
  exir/tests/test_warnings.py
  install_requirements.sh
  pyproject.toml
Labels: CLA Signed, fb-exported

#4745 Make seq_len param available in JNI layer generate()
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
Labels: CLA Signed, fb-exported

#4725 Add default dim_order asserts
  backends/xnnpack/runtime/XNNExecutor.cpp
  backends/xnnpack/xnnpack_preprocess.py
Labels: CLA Signed, fb-exported

#4756 Mark thread-safe methods of DataLoader as const.
  backends/apple/coreml/runtime/test/CoreMLBackendDelegateTests.mm
  examples/apple/coreml/executor_runner/main.mm
  extension/data_loader/buffer_data_loader.h
  extension/data_loader/file_data_loader.cpp
  extension/data_loader/file_data_loader.h
  extension/data_loader/mmap_data_loader.cpp
  extension/data_loader/mmap_data_loader.h
  extension/data_loader/shared_ptr_data_loader.h
  runtime/core/data_loader.h
  runtime/executor/test/backend_integration_test.cpp
Labels: CLA Signed, fb-exported

#4667 [llava][21/N] Add llava runner test binary and build script
  .ci/scripts/test_llava.sh
  .github/workflows/pull.yml
  CMakeLists.txt
  examples/models/llava/CMakeLists.txt
  examples/models/llava/export_llava.py
  examples/models/llava/main.cpp
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/test/test_pte.py
  extension/llm/runner/image_prefiller.h
  extension/llm/runner/text_decoder_runner.h
  extension/llm/runner/text_prefiller.cpp
Labels: CLA Signed

#4749 Allow sharing Program among several Modules.
  extension/module/module.cpp
  extension/module/module.h
  extension/module/test/module_test.cpp
  extension/module/test/targets.bzl
Labels: CLA Signed, fb-exported

#4769 [ET-VK] Introduce copy constructor for vTensor to allow for zero-copy operators
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/vk_api/memory/Allocation.cpp
  backends/vulkan/runtime/vk_api/memory/Allocation.h
  backends/vulkan/runtime/vk_api/memory/Buffer.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.h
  backends/vulkan/test/glsl/reference_matmul.glsl
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/utils/test_utils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#4731 Qualcomm AI Engine Direct - add cli tool for QNN artifacts
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.h
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/qaihub_scripts/utils/README.md
  examples/qualcomm/qaihub_scripts/utils/export.py
  examples/qualcomm/utils.py
Labels: CLA Signed, module: qnn

#4772 Update fused kernels and call _safe_softmax from SDPA
  backends/apple/coreml/test/test_coreml_partitioner.py
Labels: CLA Signed, fb-exported

#4766 [ET] promote to_edge_transform_and_lower to public API
  backends/vulkan/test/TARGETS
  backends/vulkan/test/test_vulkan_delegate.py
  backends/xnnpack/test/tester/tester.py
  examples/models/llava/export_llava.py
  exir/__init__.py
  exir/program/__init__.py
  exir/program/_program.py
  exir/program/test/test_program.py
Labels: CLA Signed, fb-exported

#4754 Fix copying of state dict
  exir/program/_fake_program.py
  exir/program/test/test_fake_program.py
Labels: CLA Signed, fb-exported

#4770 [llava][22/N] Turn on xnnpack shared workspace and add README.md
  .ci/scripts/test_llava.sh
  .github/workflows/pull.yml
  examples/models/llava/README.md
Labels: CLA Signed

#4757 added empty out
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
Labels: CLA Signed, fb-exported

#4778 Fix MPS test internal build.
  backends/apple/mps/TARGETS
Labels: CLA Signed, fb-exported

#4774 Make consumed lifted_constants as delegated nodes
  backends/qualcomm/partition/qnn_partitioner.py
Labels: CLA Signed

#4722 Lower phi3 mini with LoRA to edge for training
  examples/models/phi3-mini-lora/README.md
  examples/models/phi3-mini-lora/export_model.py
Labels: CLA Signed, fb-exported

#4783 Don't run Android device tests on forked PRs
  .github/workflows/android.yml
Labels: CLA Signed

#4775 Fix tests in test_mm.py
  backends/arm/test/ops/test_mm.py
Labels: CLA Signed, partner: arm

#4789 Qualcomm AI Engine Direct - Support Llama3 QAIHub
  backends/qualcomm/runtime/QnnManager.cpp
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama2/qnn_llama_runner.cpp
  examples/qualcomm/qaihub_scripts/llama/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/llama/README.md
  examples/qualcomm/qaihub_scripts/llama/llama2/qaihub_llama2_7b.py
  examples/qualcomm/qaihub_scripts/llama/llama2/qaihub_llama2_7b_runner.cpp
  examples/qualcomm/qaihub_scripts/llama/llama3/qaihub_llama3_8b.py
  examples/qualcomm/qaihub_scripts/llama/llama3/qaihub_llama3_8b_runner.cpp
  examples/qualcomm/qaihub_scripts/llama/runner/io_memory.cpp
  examples/qualcomm/qaihub_scripts/llama/runner/io_memory.h
  examples/qualcomm/qaihub_scripts/llama/runner/runner.cpp
  examples/qualcomm/qaihub_scripts/llama/runner/runner.h
  examples/qualcomm/qaihub_scripts/llama2/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/llama2/README.md
Labels: CLA Signed, module: qnn

#4791 [ET-VK] Introduce copy constructor for vTensor to allow for zero-copy…
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/vk_api/memory/Allocation.cpp
  backends/vulkan/runtime/vk_api/memory/Allocation.h
  backends/vulkan/runtime/vk_api/memory/Buffer.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.h
  backends/vulkan/test/glsl/reference_matmul.glsl
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/utils/test_utils.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed

#4790 [ET] promote to_edge_transform_and_lower to public API
  backends/vulkan/test/TARGETS
  backends/vulkan/test/test_vulkan_delegate.py
  backends/xnnpack/test/tester/tester.py
  examples/models/llava/export_llava.py
  exir/__init__.py
  exir/program/__init__.py
  exir/program/_program.py
  exir/program/test/test_program.py
Labels: CLA Signed

#4762 [XNNPACK][Partitioner] enable src based partitioner
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/partition/config/node_configs.py
  backends/xnnpack/test/ops/linear.py
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed, fb-exported

#4763 [ExecuTorch][XNNPACK] Don't partition 3d and transposed convs
  backends/xnnpack/partition/config/gemm_configs.py
Labels: CLA Signed, fb-exported

#4764 [XNNPACK][Partitioner] SDPA Config
  backends/xnnpack/operators/op_sdpa.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/sdpa.py
Labels: CLA Signed, fb-exported

#4765 [XNNPACK][Partitioner] Migrate completely to new config based partitioner
  backends/xnnpack/partition/TARGETS
  backends/xnnpack/partition/xnnpack_partitioner.py
  backends/xnnpack/partition/xnnpack_partitioner2.py
  backends/xnnpack/test/ops/conv1d.py
  backends/xnnpack/test/ops/linear.py
  backends/xnnpack/test/ops/sdpa.py
  backends/xnnpack/test/tester/tester.py
  examples/models/llava/export_llava.py
  examples/models/phi-3-mini/export_phi-3-mini.py
Labels: CLA Signed, fb-exported

#4795 [XNNPACK][Partitioner] enable src based partitioner
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/partition/config/node_configs.py
  backends/xnnpack/test/ops/linear.py
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed

#4796 [ExecuTorch][XNNPACK] Don't partition 3d and transposed convs
  backends/xnnpack/partition/config/gemm_configs.py
Labels: CLA Signed

#4797 [XNNPACK][Partitioner] SDPA Config
  backends/xnnpack/operators/op_sdpa.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/sdpa.py
Labels: CLA Signed

#4798 [XNNPACK][Partitioner] Migrate completely to new config based partitioner
  backends/xnnpack/partition/TARGETS
  backends/xnnpack/partition/xnnpack_partitioner.py
  backends/xnnpack/partition/xnnpack_partitioner2.py
  backends/xnnpack/test/ops/conv1d.py
  backends/xnnpack/test/ops/linear.py
  backends/xnnpack/test/ops/sdpa.py
  backends/xnnpack/test/tester/tester.py
  examples/models/llava/export_llava.py
  examples/models/phi-3-mini/export_phi-3-mini.py
Labels: CLA Signed

#4793 [ao] Pin torchao to 0.4
  examples/models/llama2/install_requirements.sh
Labels: CLA Signed

#4747 Add the example non-genai qnn model to ci and benchinfra
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/test.sh
  .github/workflows/android-perf.yml
  .github/workflows/trunk.yml
Labels: CLA Signed

#4780 Delete unused code
  examples/models/llama2/llama_transformer.py
Labels: CLA Signed, fb-exported

#4792 Fix required checks for update-viablestrict
  .github/workflows/update-viablestrict.yml
Labels: CLA Signed

#4609 [executorch] Migrate exec_aten utils to new namespace
  extension/aten_util/make_aten_functor_from_et_functor.h
  extension/kernel_util/make_boxed_from_unboxed_functor.h
  runtime/backend/backend_execution_context.h
  runtime/backend/backend_init_context.h
  runtime/backend/interface.cpp
  runtime/backend/interface.h
  runtime/core/exec_aten/testing_util/tensor_factory.h
  runtime/core/exec_aten/testing_util/tensor_util.cpp
  runtime/core/exec_aten/testing_util/tensor_util.h
  runtime/core/exec_aten/testing_util/test/tensor_factory_test.cpp
  runtime/core/exec_aten/testing_util/test/tensor_util_test.cpp
  runtime/core/exec_aten/util/dim_order_util.h
  runtime/core/exec_aten/util/scalar_type_util.h
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/tensor_util_aten.cpp
  runtime/core/exec_aten/util/tensor_util_portable.cpp
  runtime/core/exec_aten/util/test/dim_order_util_test.cpp
  runtime/core/exec_aten/util/test/operator_impl_example_test.cpp
  runtime/core/exec_aten/util/test/scalar_type_util_test.cpp
  runtime/core/exec_aten/util/test/tensor_util_test.cpp
  runtime/core/portable_type/tensor_impl.h
  runtime/core/test/evalue_test.cpp
  runtime/executor/memory_manager.h
  runtime/executor/method.cpp
  runtime/executor/method.h
  runtime/executor/method_meta.cpp
  runtime/executor/method_meta.h
  runtime/executor/program.cpp
  runtime/executor/program.h
  runtime/executor/tensor_parser.h
  runtime/executor/tensor_parser_aten.cpp
  runtime/executor/tensor_parser_exec_aten.cpp
  runtime/executor/tensor_parser_portable.cpp
  runtime/executor/test/allocation_failure_stress_test.cpp
  runtime/executor/test/backend_integration_test.cpp
  runtime/executor/test/executor_test.cpp
  runtime/executor/test/kernel_integration_test.cpp
  runtime/executor/test/kernel_resolution_test.cpp
  runtime/executor/test/managed_memory_manager.h
  runtime/executor/test/memory_manager_test.cpp
  runtime/executor/test/method_meta_test.cpp
  runtime/executor/test/method_test.cpp
  runtime/executor/test/program_test.cpp
  runtime/executor/test/tensor_parser_test.cpp
  runtime/executor/test/test_backend_compiler_lib.cpp
  runtime/executor/test/test_backend_with_delegate_mapping.cpp
  runtime/kernel/kernel_runtime_context.h
  runtime/kernel/operator_registry.cpp
  runtime/kernel/operator_registry.h
  runtime/kernel/test/kernel_double_registration_test.cpp
  runtime/kernel/test/kernel_runtime_context_test.cpp
  runtime/kernel/test/operator_registry_max_kernel_num_test.cpp
  runtime/kernel/test/operator_registry_test.cpp
  runtime/kernel/test/test_kernel_manual_registration.cpp
  runtime/kernel/test/test_util.h
  schema/extended_header.cpp
  schema/extended_header.h
  schema/test/extended_header_test.cpp
Labels: CLA Signed, fb-exported

#4805 Fix the arg format passed to update-viablestrict
  .github/workflows/update-viablestrict.yml
Labels: CLA Signed

#4748 [Build] Implement install_requirements.sh with Python
  install_requirements.py
  install_requirements.sh
Labels: CLA Signed, module: build, triaged

#4779 Check that ET and Eager are numericaly equivalent
  exir/tests/TARGETS
  exir/tests/test_joint_graph.py
Labels: CLA Signed, fb-exported

#4803 Fix stories model name
  .ci/scripts/test_llama.sh
  .github/workflows/android-perf.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
Labels: CLA Signed

#4813 Android MultiModal JNI binding
  build/build_android_llm_demo.sh
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/targets.bzl
  extension/android/CMakeLists.txt
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
  extension/llm/runner/image_prefiller.h
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/targets.bzl
Labels: CLA Signed, fb-exported

#4786 Add strides to ManagedTensor
  extension/runner_util/managed_tensor.h
  extension/runner_util/test/managed_tensor_test.cpp
Labels: CLA Signed, fb-exported

#4760 Use pread() in FileDataLoader.
  extension/data_loader/file_data_loader.cpp
Labels: CLA Signed, fb-exported

#4814 Revert "[ao] Pin torchao to 0.4"
  examples/models/llama2/install_requirements.sh
Labels: CLA Signed

#4802 Add ET_EXPERIMENTAL
  docs/source/api-life-cycle.md
  runtime/executor/method.cpp
  runtime/executor/method.h
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported

#4730 Add mul-op for Arm backend
  backends/arm/arm_partitioner.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_mul.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/test/ops/test_mul.py
Labels: CLA Signed, partner: arm, ciflow/trunk
