Repository pytorch/executorch, pull requests merged in 2025-07, with the labels that each got.

#12110 Arm backend: Add pytests time stats for unit test
  backends/arm/test/test_arm_baremetal.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12128 Arm backend: Measure and show time per model during testing
  backends/arm/test/test_model.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#11357 Qualcomm AI Engine Direct - CI for Non-LLM GA model
  .ci/scripts/test_model.sh
  .github/workflows/trunk.yml
  backends/qualcomm/builders/op_slice_copy.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/deit.py
  examples/qualcomm/oss_scripts/mobilevit_v1.py
  examples/qualcomm/oss_scripts/roberta.py
  examples/qualcomm/oss_scripts/swin_transformer.py
Labels: CLA Signed

#12118 Bump version in apple.yml for nightly builds
  .github/workflows/apple.yml
Labels: CLA Signed, release notes: none

#12131 [Executorch][llm] Make mask tensor float only for sdpa
  extension/llm/custom_ops/op_sdpa.cpp
Labels: CLA Signed, fb-exported

#12132 [Executorch][llm] Fix ring kv cache when used with quantized kv cache and sdpa
  examples/models/llama/source_transformation/custom_kv_cache.py
Labels: CLA Signed, fb-exported

#12144 Enable training for pybindings
  tools/cmake/preset/pybind.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, module: training, release notes: training

#11925 remove unnecessary print
  backends/xnnpack/quantizer/xnnpack_quantizer_utils.py
Labels: CLA Signed, fb-exported

#12137 [Release 0.7] Update CI pins
  .ci/docker/ci_commit_pins/pytorch.txt
  .github/workflows/_android.yml
  .github/workflows/_link_check.yml
  .github/workflows/_unittest.yml
  .github/workflows/android-perf.yml
  .github/workflows/android-release-artifacts.yml
  .github/workflows/apple-perf.yml
  .github/workflows/apple.yml
  .github/workflows/build-presets.yml
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-macos.yml
  .github/workflows/doc-build.yml
  .github/workflows/docker-builds.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  .github/workflows/update-viablestrict.yml
  install_requirements.py
Labels: CLA Signed

#12062 Fixes in to_executorch for while
  exir/emit/_emitter.py
  exir/passes/__init__.py
  exir/passes/spec_prop_pass.py
  exir/program/test/test_program.py
Labels: CLA Signed, fb-exported

#12016 Add Pybindings for Program.h/cpp
  extension/pybindings/portable_lib.py
  extension/pybindings/pybindings.cpp
  extension/pybindings/test/make_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12126 add custom annoatation for new model export
  backends/qualcomm/quantizer/custom_annotation.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12127 Arm backend: Add mean.dim to CheckProperQuantization
  backends/arm/operator_support/tosa_supported_operators.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12162 Arm backend: Split executor runner into init + run
  examples/arm/executor_runner/arm_executor_runner.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12166 Revert "Qualcomm AI Engine Direct - CI for Non-LLM GA model"
  .ci/scripts/test_model.sh
  .github/workflows/trunk.yml
  backends/qualcomm/builders/op_slice_copy.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/deit.py
  examples/qualcomm/oss_scripts/mobilevit1.py
  examples/qualcomm/oss_scripts/roberta.py
  examples/qualcomm/oss_scripts/swin_transformer.py
Labels: CLA Signed, ci-no-td

#12171 Revert "Arm backend: Split executor runner into init + run"
  examples/arm/executor_runner/arm_executor_runner.cpp
Labels: CLA Signed, ci-no-td

#12149 Remove _skip_type_promotion config
  examples/apple/coreml/llama/export.py
  exir/capture/_config.py
  exir/program/_program.py
  extension/llm/export/builder.py
  test/end2end/exported_module.py
  test/models/export_program.py
Labels: CLA Signed, fb-exported, release notes: none

#12170 Deprecate tag qdq pass in xnnbackend
  backends/xnnpack/_passes/TARGETS
  backends/xnnpack/_passes/__init__.py
  backends/xnnpack/_passes/channels_last_tagged_reshape_pass.py
  backends/xnnpack/_passes/conv1d_unsqueeze_pass.py
  backends/xnnpack/_passes/decompose_cat.py
  backends/xnnpack/_passes/tag_implicit_q_dq_pass.py
  backends/xnnpack/operators/op_quant_dequant.py
  backends/xnnpack/operators/quant_params.py
  backends/xnnpack/partition/TARGETS
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
  backends/xnnpack/test/passes/test_tag_implicit_q_dq_pass.py
  backends/xnnpack/utils/quant_utils.py
  backends/xnnpack/xnnpack_preprocess.py
Labels: CLA Signed, fb-exported

#12174 Supporting Zephyr with Executorch as a Module
  zephyr/README.md
  zephyr/module.yml
Labels: CLA Signed, release notes: none

#12173 executorch quantier numeric debugging update for recent torchao changes
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
Labels: CLA Signed, fb-exported, release notes: none

#12187 [Release 0.7] Update all docs to reflect the new branch 'release/0.7'
  docs/README.md
  docs/source/getting-started.md
  docs/source/llm/getting-started.md
  docs/source/using-executorch-building-from-source.md
  docs/source/using-executorch-ios.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/mediatek_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/mps_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  extension/benchmark/apple/Benchmark/README.md
Labels: CLA Signed

#12150 Adjust tolerance for fp16 exp & gelu ops test to handle reasonable calculation discrepancies
  backends/xnnpack/test/ops/test_exp.py
  backends/xnnpack/test/ops/test_gelu.py
Labels: CLA Signed, release notes: none

#12192 Arm backend: Add unit tests for per-channel quantization
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/ops/test_conv1d.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/ops/test_conv3d.py
  backends/arm/test/ops/test_conv_combos.py
  backends/arm/test/ops/test_depthwise_conv.py
  backends/arm/test/ops/test_linear.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12179 Fix typing_stubs deps.
  backends/cadence/aot/TARGETS
Labels: CLA Signed, fb-exported, release notes: none

#12181 Fix Qwen export command backslashes
  examples/models/qwen3/README.md
Labels: CLA Signed, release notes: none

#12115 Update SwiftPM pins in Xcode projects
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcodeproj/project.pbxproj
Labels: CLA Signed, release notes: none

#12212 Implemented Runtime Intermediate Output Extraction Based on Corresponding AOT Operators
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported

#12102 Qualcomm AI Engine Direct - GA Whisper
  backends/qualcomm/_passes/lift_constant_scalar_operands.py
  backends/qualcomm/builders/op_index_put.py
  backends/qualcomm/builders/op_linear.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/oss_scripts/whisper/CMakeLists.txt
  examples/qualcomm/oss_scripts/whisper/qnn_whisper_runner.cpp
  examples/qualcomm/oss_scripts/whisper/runner/decoder.cpp
  examples/qualcomm/oss_scripts/whisper/runner/decoder.h
  examples/qualcomm/oss_scripts/whisper/runner/encoder.cpp
  examples/qualcomm/oss_scripts/whisper/runner/encoder.h
  examples/qualcomm/oss_scripts/whisper/runner/runner.cpp
  examples/qualcomm/oss_scripts/whisper/runner/runner.h
  examples/qualcomm/oss_scripts/whisper/whisper.py
  examples/qualcomm/oss_scripts/whisper/whisper_model.py
Labels: CLA Signed, release notes: qualcomm

#12195 Arm backend: Introduce TOSA backend dialect
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/tosa/dialect/lib.py
  backends/arm/tosa/dialect/ops_registration.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#12190 Arm backend: Add pass and test for adaptive_avg_pool2d
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_adaptive_avg_pool2d_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/ops/test_adaptive_avg_pool2d.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12158 Added Pybindings for Method.h/cpp
  extension/pybindings/portable_lib.py
  extension/pybindings/pybindings.cpp
  extension/pybindings/test/make_test.py
  runtime/__init__.py
Labels: CLA Signed, fb-exported, release notes: api

#11857 Added mse range setting
  examples/qualcomm/oss_scripts/llama/eval_llama_qnn.py
Labels: CLA Signed, fb-exported

#12238 annotate the rms_norm
  backends/qualcomm/quantizer/custom_annotation.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12157 fix type promotion for div in RemoveMixedTypeOperators
  exir/passes/remove_mixed_type_operators.py
  exir/tests/test_passes.py
Labels: CLA Signed, release notes: none

#12241 Arm backend: Add decomposition pass and test for asin
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_asin_pass.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_asin.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12163 [Yolo12] Revert of the revert of the Yolo12 Sample
  .ci/scripts/test_yolo12.sh
  backends/openvino/README.md
  examples/models/yolo12/CMakeLists.txt
  examples/models/yolo12/README.md
  examples/models/yolo12/export_and_validate.py
  examples/models/yolo12/inference.h
  examples/models/yolo12/main.cpp
  examples/models/yolo12/requirements.txt
Labels: CLA Signed, ci-no-td, module: openvino

#12184 (release branch only) Revert "Respect selective build for dtype_specialized_elementwise_fn_impl in elementwise_util (#11975)"
  kernels/portable/cpu/util/elementwise_util.h
  kernels/portable/cpu/util/targets.bzl
Labels: CLA Signed, ci-no-td

#12252 [release/0.7 only] Fix check_c10_sync being out of sync
  .ci/scripts/check_c10_sync.sh
  runtime/core/portable_type/c10/README.md
  runtime/core/portable_type/c10/c10/macros/Export.h
  runtime/core/portable_type/c10/c10/targets.bzl
  runtime/core/portable_type/c10/torch/headeronly/TARGETS
  runtime/core/portable_type/c10/torch/headeronly/macros/Export.h
  runtime/core/portable_type/c10/torch/headeronly/targets.bzl
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, release notes: none

#12183 Fix dtype selective build check in elementwise_util
  kernels/portable/cpu/util/elementwise_util.h
Labels: CLA Signed, release notes: none

#12217 Remove unused compute_fun argument to validate_elementwise_fn_inputs
  kernels/portable/cpu/util/elementwise_util.h
Labels: CLA Signed, release notes: none

#12268 Link backend to prtable libs
  backends/mediatek/CMakeLists.txt
  backends/mediatek/scripts/mtk_build.sh
  examples/mediatek/mtk_build_examples.sh
Labels: CLA Signed

#11953 [Backend Tester] Add FACTO operator test skeleton
  backends/test/harness/tester.py
  backends/test/operators/__init__.py
  backends/test/operators/facto_specs.py
  backends/test/operators/test_facto.py
  backends/xnnpack/test/tester/__init__.py
  pytest.ini
Labels: CLA Signed, release notes: none

#11997 [et] generate debug handle before opeartor decomposition
  devtools/inspector/_inspector.py
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_test_utils.py
  devtools/inspector/tests/inspector_utils_test.py
  exir/backend/test/qnn_backend_demo.py
  exir/backend/test/test_backends.py
  exir/backend/test/test_backends_lifted.py
  exir/backend/test/test_debug_handle_map.py
  exir/backend/test/test_delegate_map_builder.py
  exir/backend/test/test_partitioner.py
  exir/backend/test/test_to_backend_multi_method.py
  exir/passes/debug_handle_generator_pass.py
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, release notes: devtools

#12256 [Android] Format all Java files
  .github/workflows/lint.yml
  extension/android/executorch_android/src/androidTest/java/org/pytorch/executorch/RuntimeInstrumentationTest.java
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/extension/llm/LlmModule.java
Labels: CLA Signed, release notes: none

#12177 [cadence] add logging init to cadence tests
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12279 [EE/BE] add float variant to unary_ufunc_realhbbf16_to_bool
  kernels/portable/cpu/op_isinf.cpp
  kernels/portable/cpu/op_isnan.cpp
  kernels/portable/cpu/pattern/pattern.h
  kernels/portable/cpu/pattern/targets.bzl
  kernels/portable/cpu/pattern/unary_ufunc_realhbbf16_to_bool.cpp
Labels: CLA Signed, fb-exported, release notes: none

#12253 Bump PyTorch pin to 20250706
  .ci/docker/ci_commit_pins/pytorch.txt
  .ci/scripts/check_c10_sync.sh
  install_requirements.py
  runtime/core/portable_type/c10/README.md
  runtime/core/portable_type/c10/c10/macros/Export.h
  runtime/core/portable_type/c10/c10/macros/Macros.h
  runtime/core/portable_type/c10/c10/targets.bzl
  runtime/core/portable_type/c10/c10/util/irange.h
  runtime/core/portable_type/c10/torch/headeronly/TARGETS
  runtime/core/portable_type/c10/torch/headeronly/macros/Export.h
  runtime/core/portable_type/c10/torch/headeronly/targets.bzl
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, release notes: none

#12254 Remove mkldnn flag
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported

#12287 Fix bug in ReplaceMulTensorWithMulAndFullOpsPass.
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, release notes: none

#12251 Updated the comparison logic to handle sequences separately
  devtools/inspector/_inspector.py
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_utils_test.py
  devtools/inspector/tests/l1_comparator_test.py
  devtools/inspector/tests/mse_comparator_test.py
  devtools/inspector/tests/snr_comparator_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12285 Add a parameter to pass tokenizer to llama QNN runner
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
  examples/qualcomm/oss_scripts/llama/targets.bzl
Labels: CLA Signed, fb-exported, release notes: none

#12280 update the validity rule for regenerated stride from dim order
  extension/tensor/tensor_ptr.cpp
  extension/tensor/test/tensor_ptr_maker_test.cpp
Labels: CLA Signed, fb-exported

#12093 Add `required_for_abi_source_only = True` to extension/android:executorch_llama
  extension/android/BUCK
Labels: CLA Signed, fb-exported, release notes: build

#12283 [cadence][hifi] Patch operators on build time issues
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_bitwise_and.cpp
  backends/cadence/hifi/operators/op_bitwise_or.cpp
  backends/cadence/hifi/operators/op_bitwise_xor.cpp
  backends/cadence/hifi/operators/op_clamp.cpp
  backends/cadence/hifi/operators/op_eq.cpp
  backends/cadence/hifi/operators/op_fmod.cpp
  backends/cadence/hifi/operators/op_ge.cpp
  backends/cadence/hifi/operators/op_gt.cpp
  backends/cadence/hifi/operators/op_le.cpp
  backends/cadence/hifi/operators/op_lt.cpp
  backends/cadence/hifi/operators/op_masked_fill.cpp
  backends/cadence/hifi/operators/op_ne.cpp
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/hifi/third-party/nnlib/xa_nn_greater_lesser_equal_f32.c
  kernels/portable/cpu/pattern/targets.bzl
Labels: CLA Signed, fb-exported, release notes: cadence

#12299 Update examples/models/qwen2_5/README.md
  examples/models/qwen2_5/README.md
Labels: CLA Signed

#12276 Lookahead decoding on static attention
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12321 Revert "Delete opt_mul_scalar_out (#12145)"
  kernels/optimized/cpu/op_mul.cpp
  kernels/optimized/optimized.yaml
Labels: CLA Signed, ci-no-td, release notes: none

#12322 Patch build error
  runtime/executor/merged_data_map.h
Labels: CLA Signed, fb-exported, release notes: none

#11784 NXP backend: Add quantization of aten.view
  backends/nxp/backend/ir/tflite_optimizer/optimizations/replace_average_pool_before_fully_connected_with_sum.py
  backends/nxp/backend/ir/tflite_optimizer/optimizer.py
  backends/nxp/quantizer/neutron_quantizer.py
  backends/nxp/quantizer/patterns.py
  backends/nxp/tests/ir/converter/node_converter/test_constant_pad_nd_converter.py
  backends/nxp/tests/ir/converter/node_converter/test_view_copy_converter.py
Labels: CLA Signed, ciflow/trunk, module: nxp, release notes: nxp

#11215 NXP backend: Add support for depthwise and separable convolution.
  backends/nxp/backend/edge_helper.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/convolution_converter.py
  backends/nxp/backend/ir/converter/node_converters/shared/conv_utils.py
  backends/nxp/tests/ir/converter/node_converter/test_constant_pad_nd_converter.py
  backends/nxp/tests/ir/converter/node_converter/test_conv_converter.py
  backends/nxp/tests/ir/converter/node_converter/test_softmax_converter.py
  backends/nxp/tests/ir/converter/node_converter/test_view_copy_converter.py
  backends/nxp/tests/models.py
Labels: CLA Signed, module: nxp, release notes: nxp

#12300 Define edge exception and preserve as global
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, release notes: none

#12288 make etrecord support export program
  devtools/etrecord/_etrecord.py
  devtools/etrecord/tests/etrecord_test.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_utils_test.py
  examples/devtools/scripts/gen_sample_etrecord.py
Labels: CLA Signed, fb-exported

#12330 propagate debug handle from edge dialect graph back to exported graph
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
  exir/TARGETS
  exir/debug_handle_utils.py
  exir/passes/TARGETS
  exir/passes/debug_handle_generator_pass.py
Labels: CLA Signed, fb-exported, release notes: devtools

#12328 Remove portable kernels after SwiftPM pin update
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/react-native/rnllama/ios/LlamaBridge.h
  examples/demo-apps/react-native/rnllama/ios/Release.xcconfig
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcodeproj/project.pbxproj
Labels: CLA Signed, release notes: none

#12324 Bump transformer version and fix Llava example
  examples/models/llava/export_llava.py
  examples/models/llava/model.py
  examples/models/llava/test/test_llava.py
  requirements-examples.txt
Labels: CLA Signed, release notes: none

#12342 Reapply "Bump PyTorch pin to 20250706 (#12253)"
  .ci/docker/ci_commit_pins/pytorch.txt
  .ci/scripts/check_c10_sync.sh
  install_requirements.py
  runtime/core/portable_type/c10/README.md
  runtime/core/portable_type/c10/c10/macros/Export.h
  runtime/core/portable_type/c10/c10/macros/Macros.h
  runtime/core/portable_type/c10/c10/targets.bzl
  runtime/core/portable_type/c10/c10/util/irange.h
  runtime/core/portable_type/c10/torch/headeronly/TARGETS
  runtime/core/portable_type/c10/torch/headeronly/macros/Export.h
  runtime/core/portable_type/c10/torch/headeronly/targets.bzl
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, release notes: none

#12362 Bump transformers to 4.53.1
  requirements-examples.txt
Labels: CLA Signed

#12244 Buckify runtime
  backends/nxp/runtime/TARGETS
  backends/nxp/runtime/targets.bzl
Labels: CLA Signed, fb-exported

#12345 Bump arm cortex size test
  .github/workflows/trunk.yml
Labels: CLA Signed, fb-exported, ciflow/trunk

#12315 PyMethod inputs use tensor_ptr_maker to convert attensor to etensor
  extension/pybindings/pybindings.cpp
Labels: CLA Signed, fb-exported, release notes: none

#12374 Add experimental desktop/ folder
  desktop/README.md
Labels: CLA Signed, release notes: none

#12366 Updated AOT debug_handle to operator names mapping
  devtools/inspector/_inspector.py
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_test_utils.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12360 Don't Decompose Hardswish
  backends/xnnpack/partition/config/generic_node_configs.py
Labels: CLA Signed, fb-exported

#12294 Fix null-deref in parse_cond_value
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, release notes: none

#12326 Remove arg index from the get_arg and set_arg of a torch Node
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/remove_ops.py
Labels: CLA Signed, fb-exported

#12198 Binary Comparison Ops
  .lintrunner.toml
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/runtime/graph/ops/glsl/binary_op.glsl
  backends/vulkan/runtime/graph/ops/glsl/binary_op.yaml
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  backends/vulkan/test/op_tests/cases.py
  backends/vulkan/test/op_tests/utils/gen_benchmark_vk.py
  backends/vulkan/test/op_tests/utils/gen_correctness_base.py
Labels: CLA Signed, fb-exported, module: vulkan

#12318 Update comment on deprecation warning to point inernal users to use safer API
  extension/threadpool/threadpool.h
Labels: CLA Signed, fb-exported

#11805 [XNNPACK] Add support for Linear fused BatchNorm
  backends/xnnpack/_passes/__init__.py
  backends/xnnpack/_passes/fuse_batch_norm.py
  backends/xnnpack/_passes/fuse_batch_norm_with_conv.py
  backends/xnnpack/partition/config/node_configs.py
  backends/xnnpack/test/passes/test_batch_norm_fusion.py
Labels: CLA Signed, ciflow/trunk, release notes: none

#12316 Documentation for the PTD file format
  docs/source/index.md
  docs/source/ptd-file-format.md
  extension/flat_tensor/README.md
Labels: CLA Signed, fb-exported

#12247 Add TrainingModule and SGD JNI + PTE-only Training Workflow
  .gitignore
  extension/android/BUCK
  extension/android/CMakeLists.txt
  extension/android/executorch_android/android_test_setup.sh
  extension/android/executorch_android/build.gradle
  extension/android/executorch_android/src/androidTest/java/org/pytorch/executorch/TrainingModuleE2ETest.kt
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/SGD.java
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/TrainingModule.java
  extension/android/jni/BUCK
  extension/android/jni/jni_layer.cpp
  extension/android/jni/jni_layer_training.cpp
Labels: CLA Signed, ciflow/android

#12389 Rename kernels_custom to kernels_llm
  .Package.swift/kernels_llm/dummy.swift
  .Package.swift/kernels_llm_debug/dummy.swift
  .ci/scripts/test_llama_torchao_lowbit.sh
  .ci/scripts/test_llava.sh
  .ci/scripts/test_phi_3_mini.sh
  .github/workflows/apple.yml
  .github/workflows/trunk.yml
  CMakeLists.txt
  Package.swift
  backends/cadence/build_cadence_fusionG3.sh
  backends/cadence/build_cadence_hifi4.sh
  backends/vulkan/docs/android_demo.md
  docs/source/llm/build-run-llama3-qualcomm-ai-engine-direct-backend.md
  docs/source/using-executorch-building-from-source.md
  docs/source/using-executorch-ios.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/Debug.xcconfig
  examples/demo-apps/apple_ios/LLaMA/LLaMA/SupportingFiles/Release.xcconfig
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  examples/models/llama/README.md
  examples/models/llava/CMakeLists.txt
  examples/models/phi-3-mini/README.md
  extension/android/CMakeLists.txt
  extension/benchmark/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/benchmark/apple/Benchmark/Tests/Tests.xcconfig
  extension/llm/custom_ops/CMakeLists.txt
  kernels/README.md
  scripts/build_android_library.sh
  scripts/build_apple_frameworks.sh
  setup.py
  test/run_oss_cpp_tests.sh
  tools/cmake/preset/apple_common.cmake
  tools/cmake/preset/default.cmake
  tools/cmake/preset/llm.cmake
  tools/cmake/preset/pybind.cmake
  tools/cmake/preset/zephyr.cmake
Labels: CLA Signed, ciflow/trunk, release notes: none

#12303 Add example for building executor_runner in Wasm
  .ci/scripts/setup-emscripten.sh
  .github/workflows/pull.yml
  CMakeLists.txt
  examples/wasm/README.md
  examples/wasm/test_build_wasm.sh
Labels: CLA Signed, release notes: examples

#12413 Update checksums in Package.swift
  Package.swift
Labels: CLA Signed

#12414 Remove buck file from LLaMA Xcode project
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed, release notes: none

#12308 [ET-VK] Using push constants for unary op.
  backends/vulkan/runtime/graph/ops/glsl/unary_op.glsl
  backends/vulkan/runtime/graph/ops/impl/UnaryOp.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#12411 refactor XNNPACK's ukernel config srcs
  backends/xnnpack/third-party/xnnpack.buck.bzl
  backends/xnnpack/third-party/xnnpack_src_defs.bzl
Labels: CLA Signed

#12072 Pass Dependencies When Proposing Partitions VIA New Group-Based Partitioner
  exir/backend/canonical_partitioners/group_partitioner.py
  exir/backend/test/test_group_partitioner.py
Labels: CLA Signed, release notes: exir

#11316 Milestone2.2: Optimize transposes in XNNPACK partition by removing redundant to_copy ops
  backends/xnnpack/_passes/__init__.py
  backends/xnnpack/_passes/channels_last_tagged_reshape_pass.py
  backends/xnnpack/_passes/remove_redundant_copy_pass.py
  backends/xnnpack/test/passes/test_remove_redundant_copy_pass.py
Labels: CLA Signed, release notes: none

#12319 Support for unified recipe registry and user interfaces (#12248)
  export/TARGETS
  export/__init__.py
  export/export.py
  export/recipe.py
  export/recipe_provider.py
  export/recipe_registry.py
  export/tests/TARGETS
  export/tests/test_export_recipe.py
  export/tests/test_recipe_provider.py
  export/tests/test_recipe_registry.py
Labels: CLA Signed, fb-exported

#12402 skip some inpector tests for fix oss ci
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported

#12423 Qualcomm AI Engine Direct - Update qualcomm turorial document
  docs/source/backends-qualcomm.md
Labels: CLA Signed, release notes: qualcomm

#12199 [ET-VK][Ops] aligning Q/DQ/CQP op inputs with ATen impl
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams.glslh
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_texture.glsl
  backends/vulkan/runtime/graph/ops/impl/ChooseQParams.cpp
  backends/vulkan/runtime/graph/ops/impl/Dequantize.cpp
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
  backends/vulkan/test/op_tests/choose_qparams_test.cpp
  backends/vulkan/test/op_tests/dequantize_test.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
Labels: CLA Signed, fb-exported

#12203 [ET] correcting cpu ref quantize_per_channel logic to align with ATen
  kernels/quantized/cpu/op_quantize.cpp
  kernels/quantized/cpu/targets.bzl
  kernels/quantized/test/op_quantize_test.cpp
Labels: CLA Signed, fb-exported

#12205 [ET-VK][Ops] quantize_per_channel shaders and impl
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.yaml
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
Labels: CLA Signed, fb-exported

#12210 [ET-VK][testing] Q/DQ/CQP op comprehensive delegate dynamic quantization testing
  backends/vulkan/test/test_vulkan_delegate.py
Labels: CLA Signed, fb-exported

#12369 [ET-VK][Ops] affine quantization operators registration
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/impl/ChooseQParams.cpp
  backends/vulkan/runtime/graph/ops/impl/Dequantize.cpp
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
Labels: CLA Signed, fb-exported

#12266 Add support for absolute mem_id/offset placement constraints.
  backends/cadence/aot/TARGETS
  backends/cadence/aot/memory_constraints.py
  backends/cadence/aot/memory_planning.py
  backends/cadence/aot/memory_planning_algo.py
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/passes.py
  backends/cadence/aot/program_builder.py
  backends/cadence/aot/quantizer/patterns.py
  backends/cadence/aot/tests/test_memory_passes.py
  backends/cadence/aot/tests/test_pass_filter.py
Labels: CLA Signed, fb-exported

#12379 Config object for StaticAttentionIOManager and decoding helper
  examples/models/llama/runner/static_attention_io_manager.h
Labels: CLA Signed, fb-exported, topic: not user facing

#12359 Buckify aot
  backends/nxp/TARGETS
  backends/nxp/tests/TARGETS
Labels: CLA Signed, fb-exported, release notes: none

#12441 [ET-VK] Fix caching mechanism to account for included files
  backends/vulkan/runtime/gen_vulkan_spv.py
Labels: CLA Signed, fb-exported

#11960 [Backend Tester] Add backend test suite skeleton
  .ci/scripts/unittest-buck2.sh
  backends/test/facto/__init__.py
  backends/test/facto/facto_specs.py
  backends/test/facto/test_facto.py
  backends/test/harness/tester.py
  backends/test/suite/README.md
  backends/test/suite/TARGETS
  backends/test/suite/__init__.py
  backends/test/suite/operators/__init__.py
  backends/test/suite/operators/test_add.py
  backends/test/suite/operators/test_div.py
  backends/test/suite/operators/test_elu.py
  backends/test/suite/operators/test_gelu.py
  backends/test/suite/operators/test_glu.py
  backends/test/suite/operators/test_hardsigmoid.py
  backends/test/suite/operators/test_hardswish.py
  backends/test/suite/operators/test_hardtanh.py
  backends/test/suite/operators/test_leaky_relu.py
  backends/test/suite/operators/test_logsigmoid.py
  backends/test/suite/operators/test_mul.py
  backends/test/suite/operators/test_prelu.py
  backends/test/suite/operators/test_relu.py
  backends/test/suite/operators/test_sigmoid.py
  backends/test/suite/operators/test_silu.py
  backends/test/suite/operators/test_sub.py
  backends/test/suite/operators/test_tanh.py
  backends/test/suite/operators/test_threshold.py
  backends/test/suite/targets.bzl
Labels: CLA Signed, release notes: none

#12448 Lookahead decoding for static attention
  examples/models/llama/runner/static_attention_io_manager.h
Labels: CLA Signed, fb-exported, topic: not user facing

#12476 Fix cache_positions tensor size in TextLLMRunner
  extension/llm/runner/text_decoder_runner.cpp
  extension/llm/runner/text_prefiller.h
Labels: CLA Signed

#12407 bump up pytorch bin to 0714
  .ci/docker/ci_commit_pins/pytorch.txt
  backends/xnnpack/test/ops/test_slice_copy.py
  devtools/inspector/tests/inspector_utils_test.py
  install_requirements.py
  runtime/core/portable_type/c10/c10/util/BFloat16.h
  runtime/core/portable_type/c10/c10/util/Half.h
  runtime/core/portable_type/c10/c10/util/bit_cast.h
Labels: CLA Signed, fb-exported, release notes: none

#12380 Eliminate squeeze->op->unsqueeze patterns.
  backends/cadence/aot/remove_ops.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported

#12477 Phi3 runner uses TextLLMRunner
  .ci/scripts/test_phi_3_mini.sh
  .github/workflows/pull.yml
  examples/models/phi-3-mini/CMakeLists.txt
  examples/models/phi-3-mini/README.md
  examples/models/phi-3-mini/export_phi-3-mini.py
  examples/models/phi-3-mini/install_requirements.sh
  examples/models/phi-3-mini/main.cpp
  examples/models/phi-3-mini/phi_3_mini.py
  examples/models/phi-3-mini/runner.cpp
  examples/models/phi-3-mini/runner.h
  tools/cmake/executorch-config.cmake
Labels: CLA Signed, release notes: llm

#12457 CIFAR 10 Debugging/ Training on ET
  extension/training/examples/CIFAR/TARGETS
  extension/training/examples/CIFAR/main.py
  extension/training/examples/CIFAR/model.py
  extension/training/examples/CIFAR/targets.bzl
  extension/training/examples/CIFAR/train.cpp
  extension/training/examples/CIFAR/utils.py
Labels: CLA Signed, fb-exported

#12351 Updated merging logic of AOT to get the corresponding intermediate output
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12427 Adding more explicit error code
  runtime/core/error.h
  runtime/kernel/operator_registry.cpp
  runtime/kernel/test/kernel_double_registration_test.cpp
Labels: CLA Signed, fb-exported

#10871 Add aot example with Neutron Backend
  .github/workflows/trunk.yml
  examples/nxp/README.md
  examples/nxp/aot_neutron_compile.py
  examples/nxp/experimental/cifar_net/cifar_net.pth
  examples/nxp/experimental/cifar_net/cifar_net.py
  examples/nxp/run_aot_example.sh
  examples/nxp/setup.sh
Labels: CLA Signed, ciflow/trunk, module: nxp, release notes: nxp

#12296 [Backend Test] Backend test reporting skeleton
  backends/test/suite/README.md
  backends/test/suite/__init__.py
  backends/test/suite/context.py
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#11929 Expose a method getter api in Module
  extension/module/module.cpp
  extension/module/module.h
Labels: CLA Signed, fb-exported

#12357 [ET-VK] Adding get or create int function to read int value.
  backends/vulkan/runtime/graph/ComputeGraph.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#12348 PAL File for Arm Zephyr Executor Runner
  runtime/platform/default/arm_zephyr.cpp
Labels: CLA Signed, module: arm, release notes: none

#12506 Revert "Qualcomm AI Engine Direct - GA Static QWEN2.5 0.5B"
  backends/qualcomm/_passes/layout_transform.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama/README.md
  examples/qualcomm/oss_scripts/llama/hf_converter/convert_config.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
Labels: CLA Signed, ci-no-td

#12220 Milestone2.1: Partition to_dim_order_copy op in XNN delegate
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/test_to_copy.py
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
Labels: CLA Signed, release notes: none

#12385 Use same constant in runtime for unset debug handle
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
  exir/debug_handle_utils.py
Labels: CLA Signed, fb-exported

#12490 Do not get numel for unbacked symint
  backends/xnnpack/partition/config/xnnpack_config.py
Labels: CLA Signed, fb-exported, release notes: none

#12446 Fix unsigned comparison to remove compiler warning on embedded builds
  runtime/executor/merged_data_map.h
Labels: CLA Signed, release notes: none

#12517 Verify intermediate output capturer on exported program
  devtools/inspector/tests/inspector_test.py
  devtools/inspector/tests/inspector_test_utils.py
  devtools/inspector/tests/intermediate_output_capturer_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12509 Fixed runtime merging logics
  devtools/inspector/_inspector.py
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported, release notes: none

#12504 Fix delegate node metadata
  backends/arm/test/tester/arm_tester.py
  exir/backend/backend_api.py
  exir/backend/test/demos/test_xnnpack_qnnpack.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12442 [ET-VK] Split up prepack command buffer
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/GraphConfig.h
  backends/vulkan/runtime/graph/containers/Constant.h
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/runtime/vk_api/memory/Buffer.h
Labels: CLA Signed, fb-exported

#12443 [ET-VK][ez] Rename `run_prepack()` to `prepack()` and replace `encode_prepack()` + `prepack()` with just `prepack()`
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/test/op_tests/choose_qparams_test.cpp
  backends/vulkan/test/op_tests/dequantize_test.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
  backends/vulkan/test/op_tests/quantized_linear_test.cpp
  backends/vulkan/test/op_tests/rotary_embedding_test.cpp
  backends/vulkan/test/op_tests/sdpa_test.cpp
  backends/vulkan/test/op_tests/utils/gen_computegraph.py
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#12542 Revert "Milestone2.1: Partition to_dim_order_copy op in XNN delegate (#12220)"
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/test_to_copy.py
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
Labels: CLA Signed, ci-no-td

#12500 Source transform for HF RoPE in static attention
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported

#12520 Fix Transpose Optimization Bug With non-4D Tensor Input
  backends/xnnpack/_passes/channels_last_tagged_reshape_pass.py
Labels: CLA Signed, fb-exported, release notes: none

#12551 Fix lint
  backends/nxp/nxp_backend.py
Labels: CLA Signed

#12544 Make OS presets only build library
  CMakePresets.json
  tools/cmake/preset/linux.cmake
  tools/cmake/preset/llm.cmake
  tools/cmake/preset/macos.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#12563 Clean cache between Apple builds
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#12567 Print configured options at the very end
  CMakeLists.txt
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#12387 Add quantization and partitioner flow in the qualcomm doc
  docs/source/backends-qualcomm.md
  docs/source/quantization-overview.md
  examples/qualcomm/scripts/export_example.py
Labels: CLA Signed, fb-exported

#12394 ScalarTensor operation
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ops/glsl/scalar_tensor.glsl
  backends/vulkan/runtime/graph/ops/glsl/scalar_tensor.yaml
  backends/vulkan/runtime/graph/ops/impl/ScalarTensor.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported

#12491 Lookahead decoding eager implementation
  examples/apple/coreml/llama/llama_transformer.py
  examples/apple/coreml/llama/run_lookahead.py
  examples/models/llama/rope.py
  examples/models/llama/static_attention.py
Labels: CLA Signed, fb-exported

#10418 IOManager Interface
  extension/llm/runner/io_manager/TARGETS
  extension/llm/runner/io_manager/io_manager.h
  extension/llm/runner/io_manager/targets.bzl
  extension/llm/runner/io_manager/test/TARGETS
  extension/llm/runner/io_manager/test/targets.bzl
  extension/llm/runner/io_manager/test/test_io_manager.cpp
  tools/cmake/cmake_deps.toml
Labels: CLA Signed, fb-exported, release notes: api, module: llm

#12550 Partition to_dim_order_copy op in XNN delegate
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/test/ops/test_to_copy.py
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
Labels: CLA Signed, release notes: none

#12523 [ET-VK] 3/n Split dispatches between multiple command buffers. Track previous semaphore in context.
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#12393 Update examples/models/llama/README.md to fix build broken
  examples/models/llama/README.md
Labels: CLA Signed

#12472 Remove to_edge_with_preserve_ops
  exir/program/_program.py
Labels: CLA Signed, fb-exported

#12552 Add libkleidiai.a to build_apple_frameworks
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, ciflow/trunk

#12564 Add path for to_edge_transform_and_lower that avoids EDGE_DO_NOT_DECOMP namespace
  exir/program/_program.py
Labels: CLA Signed, ciflow/trunk

#12600 Skip Cmake -j flag when building with Xcode
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, release notes: none

#12403 Improve error message returned in case of memory planning failure.
  backends/cadence/aot/memory_planning.py
  backends/cadence/aot/utils.py
Labels: CLA Signed, fb-exported, release notes: none

#12548 bump pytorch bin to 0716
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
  runtime/core/portable_type/c10/c10/macros/Export.h
  runtime/core/portable_type/c10/c10/macros/Macros.h
Labels: CLA Signed, fb-exported, release notes: none

#12593 Add unittest for op_dequantize_per_tensor and op_quantized_relu
  backends/cadence/hifi/operators/operators.h
  backends/cadence/hifi/operators/tests/test_op_dequantize_per_tensor_out.cpp
  backends/cadence/hifi/operators/tests/test_op_quantized_relu_out.cpp
Labels: CLA Signed, fb-exported

#12608 Revert "Add path for to_edge_transform_and_lower that avoids EDGE_DO_NOT_DECOMP namespace"
  exir/program/_program.py
Labels: CLA Signed, ci-no-td

#12622 Fix llama app project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed, release notes: none

#12570 Add fast path to index_out
  kernels/portable/cpu/op_index.cpp
  kernels/test/op_index_test.cpp
Labels: CLA Signed, fb-exported, release notes: none

#12532 CoreML partitioner improvements
  backends/apple/coreml/partition/coreml_partitioner.py
  backends/apple/coreml/test/test_coreml_partitioner.py
Labels: CLA Signed

#12295 Add deprecation message for constant buffer branch
  runtime/executor/program.cpp
Labels: CLA Signed, fb-exported, release notes: none
