Repository pytorch/executorch, pull requests merged in 2025-05, with the labels that each got.

#8876 Qualcomm AI Engine Direct - Support Qnn IR backend in online preparation
  .ci/scripts/build-qnn-sdk.sh
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.h
  backends/qualcomm/builders/op_dequantize.py
  backends/qualcomm/builders/op_quantize.py
  backends/qualcomm/qnn_preprocess.py
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/qualcomm/runtime/QnnManager.cpp
  backends/qualcomm/runtime/QnnManager.h
  backends/qualcomm/runtime/backends/CMakeLists.txt
  backends/qualcomm/runtime/backends/QnnBackendCache.cpp
  backends/qualcomm/runtime/backends/QnnBackendCache.h
  backends/qualcomm/runtime/backends/QnnBackendCommon.cpp
  backends/qualcomm/runtime/backends/QnnBackendCommon.h
  backends/qualcomm/runtime/backends/QnnBackendFactory.cpp
  backends/qualcomm/runtime/backends/QnnBackendFactory.h
  backends/qualcomm/runtime/backends/QnnContextCommon.cpp
  backends/qualcomm/runtime/backends/QnnContextCommon.h
  backends/qualcomm/runtime/backends/QnnDlcManager.h
  backends/qualcomm/runtime/backends/QnnFunctionInterface.h
  backends/qualcomm/runtime/backends/QnnGraphCommon.cpp
  backends/qualcomm/runtime/backends/QnnGraphCommon.h
  backends/qualcomm/runtime/backends/QnnImplementation.cpp
  backends/qualcomm/runtime/backends/QnnImplementation.h
  backends/qualcomm/runtime/backends/htpbackend/HtpContext.cpp
  backends/qualcomm/runtime/backends/htpbackend/HtpContext.h
  backends/qualcomm/runtime/backends/irbackend/IrBackend.h
  backends/qualcomm/runtime/backends/irbackend/IrContext.h
  backends/qualcomm/runtime/backends/irbackend/aarch64/IrContext.cpp
  backends/qualcomm/runtime/backends/irbackend/aarch64/QnnDlcManager.cpp
  backends/qualcomm/runtime/backends/irbackend/x86_64/IrContext.cpp
  backends/qualcomm/runtime/backends/irbackend/x86_64/QnnDlcManager.cpp
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/serialization/qc_compiler_spec.fbs
  backends/qualcomm/serialization/qc_schema.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  docs/source/backends-qualcomm.md
  examples/qualcomm/test_qualcomm.sh
  examples/qualcomm/utils.py
Labels: CLA Signed, release notes: qualcomm

#10573 Do not raise error when quant primitives are left after partitioner
  exir/TARGETS
  exir/operator/TARGETS
  exir/operator/util.py
  exir/passes/TARGETS
  exir/passes/constant_prop_pass.py
  exir/program/TARGETS
  exir/program/_program.py
  exir/tracer.py
Labels: CLA Signed

#10564 Implement a coversion pass from pow(E,x) to E-1 mul ops.
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10599 Fix missing backslashes in Qwen3 example commands
  examples/models/qwen3/README.md
Labels: CLA Signed, topic: not user facing

#10601 Simplify linker flags for Package.swift tests
  Package.swift
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#10569 Fix quantizer tests after dq conv is enabled
  backends/xnnpack/quantizer/xnnpack_quantizer.py
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
  backends/xnnpack/test/quantizer/test_xnnpack_quantizer.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10562 [MPS] float16 naming fixed and inexistent mps_logical_not model removed
  backends/apple/mps/setup.md
  examples/apple/mps/executor_runner/mps_executor_runner.mm
  examples/apple/mps/scripts/build_mps_executor_runner.sh
Labels: CLA Signed, topic: not user facing

#10607 Update Benchmark README.md
  extension/benchmark/apple/Benchmark/README.md
Labels: CLA Signed, release notes: docs

#10600 Fix num nonbatch dims calculation
  backends/xnnpack/operators/quant_params.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10596 Update doc-build.yml
  .github/workflows/doc-build.yml
Labels: CLA Signed

#10613 Move --deep flag in Benchmakr project to Tests target
  extension/benchmark/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
Labels: CLA Signed, topic: not user facing

#10604 Patch to D73900459
  exir/TARGETS
  exir/passes/TARGETS
Labels: CLA Signed, fb-exported

#10559 Add complex dtype support to op_sum
  kernels/portable/cpu/op_sum.cpp
  kernels/test/op_sum_test.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#10587 [ET-VK][ez] Use standard quant naming scheme for quantized ops
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_qga4w_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qga4w_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_qga4w_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qga4w_tiled.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQCSNW.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQGANW.cpp
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#10615 Support different model types in iOS app
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/Message.swift
Labels: CLA Signed, release notes: examples

#10618 Add prompt constants file
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/Constants.swift
Labels: CLA Signed, topic: not user facing

#10619 Android fix uninitialized temperature
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed, release notes: misc

#10560 Add complex dtype support to mul
  kernels/optimized/cpu/op_mul.cpp
  kernels/portable/cpu/op_mul.cpp
  kernels/test/op_mul_test.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#10620 Update doc-build.yml
  .github/workflows/doc-build.yml
Labels: CLA Signed

#10625 FIx Package.swift tests build
  Package.swift
Labels: CLA Signed, topic: not user facing

#10628 Fix tests build in Package.swift
  Package.swift
Labels: CLA Signed, topic: not user facing

#10527 Support named_data in flat_tensor
  extension/flat_tensor/flat_tensor_data_map.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10614 Add thinking mode toggle and UX improvements for Qwen3 on iOS app
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
Labels: CLA Signed

#10627 Update doc-build.yml
  .github/workflows/doc-build.yml
Labels: CLA Signed

#10590 Replace usage of deprecated `distutils.(file|dir)_util`
  docs/source/conf.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10631 Fix tests build in Package.swift
  Package.swift
Labels: CLA Signed, topic: not user facing

#10634 Fix iOS app frontend build
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
Labels: CLA Signed, topic: not user facing

#10621 Helpers to create empty tensors.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported, topic: not user facing

#10606 Add expand_copy to the list of trivially quantizable ops
  backends/cadence/aot/reorder_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10637 to make TIE quantized linear operator to fall back to nnlib signed kernel for shapes not supported by the TIE kernel.
  backends/cadence/hifi/operators/operators.h
Labels: CLA Signed, fb-exported, topic: not user facing

#10641 Helpers to create full tensors.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10642 Helpers to create ones tensor.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10585 Minor changes to native layer norm shader op to improve perf.
  backends/vulkan/runtime/graph/ops/glsl/native_layer_norm.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#10645 Helpers to create random tensor.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10648 Helpers to create random normal tensor.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10649 Helpers to create random integer tensor.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10624 LlamaDemo Android add Qwen 3 prompt format
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelType.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/ModelUtils.java
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/PromptFormat.java
Labels: CLA Signed, module: examples, release notes: examples

#10643 Helpers to create zeros tensor.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.h
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#10650 Fix linter errors in OSS
  backends/cadence/hifi/operators/operators.h
Labels: CLA Signed, fb-exported, topic: not user facing

#10626 Add filter function to XNNPack Quantizer
  backends/xnnpack/quantizer/xnnpack_quantizer.py
  backends/xnnpack/test/quantizer/test_xnnpack_quantizer.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10664 [LlamaDemo] Support more tokenizer suffix
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/SettingsActivity.java
Labels: CLA Signed, topic: not user facing

#10657 Arm backend: Add SDPA decomposition to annotation pipeline
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_softmax_pass.py
  backends/arm/test/models/test_conformer.py
  backends/arm/test/ops/test_sdpa.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10659 support phi4 in ios demo app
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/Constants.swift
  examples/demo-apps/apple_ios/LLaMA/LLaMA/Application/ContentView.swift
  examples/demo-apps/apple_ios/LLaMA/README.md
Labels: CLA Signed, ciflow/trunk

#10667 [LlamaDemo] Add a button to toggle thinking mode
  examples/demo-apps/android/LlamaDemo/app/src/main/java/com/example/executorchllamademo/MainActivity.java
  examples/demo-apps/android/LlamaDemo/app/src/main/res/drawable/baseline_lightbulb_24.xml
  examples/demo-apps/android/LlamaDemo/app/src/main/res/drawable/blue_lightbulb_24.xml
  examples/demo-apps/android/LlamaDemo/app/src/main/res/layout/activity_main.xml
Labels: CLA Signed, release notes: examples

#10662 Permute elimination pass fixes.
  backends/cadence/aot/TARGETS
  backends/cadence/aot/remove_ops.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10644 Make quantize_pt2 return an ExportedProgram instead of a GraphModule
  backends/cadence/aot/compiler.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10528 Pass one NDM to backend init
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10670 Handle unsupported pybind inputs non-fatally
  extension/pybindings/pybindings.cpp
  extension/pybindings/test/make_test.py
Labels: CLA Signed, fb-exported, release notes: misc

#10653 Arm backend: Add support to neg.default
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_neg.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_neg.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10654 Arm backend: Add support for single input matmul
  backends/arm/_passes/annotate_decomposed_matmul.py
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_matmul.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10655 Arm backend: Refactor TosaArg to use TosaSpecification
  backends/arm/_passes/convert_split_to_slice.py
  backends/arm/operator_support/slice_copy_support.py
  backends/arm/operators/op_rescale.py
  backends/arm/process_node.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_mapping.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10681 Arm backend: Enable test_llama_tosa_BI and related fixes
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/replace_inf_values_pass.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/models/test_llama.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10605 [ET-VK][ez] Improvements to GLSL codegen script
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/test/glsl/reference_matmul.glsl
  backends/vulkan/test/glsl/reference_matmul_common.glslh
  backends/vulkan/test/glsl/reference_matmul_common.yaml
Labels: CLA Signed, fb-exported, release notes: vulkan

#10673 No need to expose executorch dependency executorch_core
  CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10680 vulkan_backend is not necessarily static
  backends/vulkan/CMakeLists.txt
Labels: CLA Signed, module: vulkan, release notes: build

#10678 extension/module should depend on executorch_core
  extension/module/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10674 kernel/portable deps on executorch_core only
  kernels/portable/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10646 [ET-VK] Minor build graph change to improve model load time and memory.
  backends/vulkan/runtime/VulkanBackend.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10647 [ET-VK] Using vector for storing ref_mapping_ in GraphBuilder to improve model load time and memory.
  backends/vulkan/runtime/VulkanBackend.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10665 [ET-VK] Simplifying conv1d op shader by changing it to process one output texel per thread.
  backends/vulkan/runtime/graph/ops/glsl/conv1d.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10679 Remove unused vulkan_executor_runner_lib
  backends/vulkan/CMakeLists.txt
Labels: CLA Signed, module: vulkan, topic: not user facing

#10529 Rename ModuleLinear -> ModuleAddMul
  codegen/tools/targets.bzl
  codegen/tools/test/test_gen_oplist_real_model.py
  extension/flat_tensor/test/CMakeLists.txt
  extension/flat_tensor/test/flat_tensor_data_map_test.cpp
  extension/flat_tensor/test/targets.bzl
  extension/module/test/CMakeLists.txt
  extension/module/test/module_test.cpp
  extension/module/test/targets.bzl
  extension/training/module/test/state_dict_util_test.cpp
  extension/training/module/test/targets.bzl
  runtime/executor/test/CMakeLists.txt
  runtime/executor/test/backend_integration_test.cpp
  runtime/executor/test/method_test.cpp
  runtime/executor/test/program_test.cpp
  runtime/executor/test/targets.bzl
  test/models/export_program.py
  test/models/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10691 Arm Ethos-u: Update buck dep
  backends/arm/_passes/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#10685 Update extension llm runner deps
  extension/llm/runner/CMakeLists.txt
  tools/cmake/cmake_deps.toml
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10693 [ET-VK][ez][Refactor] Re-order `DispatchNode` arguments to match shader layout spec
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DispatchNode.h
  backends/vulkan/runtime/graph/ops/impl/Arange.cpp
  backends/vulkan/runtime/graph/ops/impl/BatchNorm.cpp
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  backends/vulkan/runtime/graph/ops/impl/Clone.cpp
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Copy.cpp
  backends/vulkan/runtime/graph/ops/impl/Embedding.cpp
  backends/vulkan/runtime/graph/ops/impl/Flip.cpp
  backends/vulkan/runtime/graph/ops/impl/Full.cpp
  backends/vulkan/runtime/graph/ops/impl/GridPriors.cpp
  backends/vulkan/runtime/graph/ops/impl/IndexSelect.cpp
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
  backends/vulkan/runtime/graph/ops/impl/NativeLayerNorm.cpp
  backends/vulkan/runtime/graph/ops/impl/Pad.cpp
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
  backends/vulkan/runtime/graph/ops/impl/Pool.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQCSNW.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQGANW.cpp
  backends/vulkan/runtime/graph/ops/impl/Reduce.cpp
  backends/vulkan/runtime/graph/ops/impl/Repeat.cpp
  backends/vulkan/runtime/graph/ops/impl/RepeatInterleave.cpp
  backends/vulkan/runtime/graph/ops/impl/RotaryEmbedding.cpp
  backends/vulkan/runtime/graph/ops/impl/SDPA.cpp
  backends/vulkan/runtime/graph/ops/impl/Select.cpp
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
  backends/vulkan/runtime/graph/ops/impl/Softmax.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/impl/UnaryOp.cpp
  backends/vulkan/runtime/graph/ops/impl/Upsample.cpp
  backends/vulkan/runtime/graph/ops/impl/View.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#10692 xnnpack_backend doesn't need to be STATIC only
  backends/xnnpack/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10683 Make quantize_pt2 private and remove external call sites
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10484 Add pass to remove unused parameters in to_edge
  exir/passes/TARGETS
  exir/passes/__init__.py
  exir/passes/remove_unused_parameters_pass.py
  exir/program/_program.py
  exir/tests/TARGETS
  exir/tests/test_remove_unused_parameters_pass.py
Labels: CLA Signed, fb-exported, module: exir, release notes: exir

#10623 Refactor attention v2
  examples/models/llama/llama_transformer.py
  examples/models/llama/model.py
  examples/models/llama/tests/test_pre_quantization_transforms.py
  examples/models/llama/tests/test_static_attention.py
  examples/models/llava/model.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10706 Use three-dot diffs in URL and xref lint workflows
  .github/workflows/_link_check.yml
Labels: CLA Signed, topic: not user facing

#10709 Match PyTorch _link_check.yml
  .github/workflows/_link_check.yml
Labels: CLA Signed

#10703 [CMake] data_loader and runner_util use executorch_core
  extension/data_loader/CMakeLists.txt
  extension/runner_util/CMakeLists.txt
  extension/runner_util/targets.bzl
  tools/cmake/cmake_deps.toml
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10712 Arm backend: Add non-interactive in git hook
  backends/arm/scripts/pre-push
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9049 Enable xnnpack in aten mode
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/runtime/XNNExecutor.cpp
  backends/xnnpack/runtime/XNNExecutor.h
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  backends/xnnpack/runtime/XNNWeightsCache.cpp
  backends/xnnpack/runtime/XNNWeightsCache.h
  backends/xnnpack/targets.bzl
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#10640 Qwen3 doc and config tweaks
  examples/models/qwen3/4b_config.json
  examples/models/qwen3/README.md
Labels: CLA Signed, topic: not user facing

#10531 Backend data separation test
  exir/backend/test/demos/rpc/ExecutorBackend.cpp
  exir/backend/test/demos/rpc/TARGETS
  exir/backend/test/demos/rpc/executor_backend_preprocess.py
  exir/backend/test/demos/rpc/targets.bzl
  runtime/executor/method.cpp
  runtime/executor/test/backend_data_separation_test.cpp
  runtime/executor/test/targets.bzl
  test/models/export_delegated_program.py
  test/models/export_program.py
  test/models/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10710 extension/module doesn't depend on prim_ops
  extension/module/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10734 Backend data separation test
  exir/backend/test/demos/rpc/ExecutorBackend.cpp
  exir/backend/test/demos/rpc/TARGETS
  exir/backend/test/demos/rpc/executor_backend_preprocess.py
  exir/backend/test/demos/rpc/targets.bzl
  runtime/executor/method.cpp
  runtime/executor/test/backend_data_separation_test.cpp
  runtime/executor/test/targets.bzl
  test/models/export_delegated_program.py
  test/models/export_program.py
  test/models/targets.bzl
Labels: CLA Signed, topic: not user facing

#10730 Prepare for recursive DCE PR
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10705 Add resnet18 test case to OSS
  examples/cadence/models/resnet18.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10567 Implement native_dropout
  kernels/portable/cpu/op_native_dropout.cpp
  kernels/portable/functions.yaml
  kernels/test/CMakeLists.txt
  kernels/test/op_native_dropout_test.cpp
  kernels/test/targets.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, release notes: ops & kernels

#10740 Fix BUCK
  backends/arm/operators/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#10738 Kernels should depend on executorch_core
  configurations/CMakeLists.txt
  examples/models/llama/CMakeLists.txt
  examples/models/llama/runner/CMakeLists.txt
  examples/models/llava/CMakeLists.txt
  examples/models/llava/runner/CMakeLists.txt
  extension/flat_tensor/CMakeLists.txt
  kernels/optimized/CMakeLists.txt
  kernels/quantized/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10449 [ExecuTorch][#10375] Add `extension.BundledModule` to Wrap `extension.Module` with Bundled Program Logic
  devtools/bundled_program/bundled_program.cpp
  devtools/bundled_program/schema/targets.bzl
  extension/module/bundled_module.cpp
  extension/module/bundled_module.h
  extension/module/module.cpp
  extension/module/module.h
  extension/module/targets.bzl
  extension/module/test/bundled_module_test.cpp
  extension/module/test/resources/README.md
  extension/module/test/resources/bundled_program.bpte
  extension/module/test/resources/gen_bundled_program.py
  extension/module/test/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10733 [ET-VK] Using width packed bias in conv1d op to slightly improve speed and memory.
  backends/vulkan/runtime/graph/ops/glsl/conv1d.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10729 Arm backend: Add DecomposeCosineSimilarity
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_cosine_similarity_pass.py
  backends/arm/test/models/test_nn_functional.py
  backends/arm/test/passes/test_decompose_cosine_similarity_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10735 [CMake] Avoid extension_module have dupe flat_tensor cpp
  examples/models/llama/runner/CMakeLists.txt
  examples/models/llava/runner/CMakeLists.txt
  extension/android/CMakeLists.txt
  tools/cmake/cmake_deps.toml
  tools/cmake/executorch-config.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10748 Arm backend: Replace asserts with ValueError for slicing constraints
  backends/arm/operators/op_slice.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10739 [cadence] add-delinearize-index-dep
  backends/cadence/hifi/operators/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#10751 Arm backend: Adjust MaxPool2d padding when window is not divisible by stride
  backends/arm/operators/op_max_pool2d.py
  backends/arm/test/ops/test_max_pool.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10749 Arm backend: add support for operator @
  backends/arm/_passes/annotate_decomposed_matmul.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/ops/test_at.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#10752 Add tools/cmake to unittests
  pytest.ini
Labels: CLA Signed, module: build/install, topic: not user facing

#10758 Add libextension_flat_tensor.a to build_apple_frameworks.sh
  scripts/build_apple_frameworks.sh
Labels: CLA Signed, release notes: build

#10759 Run apple.yml on ciflow/trunk
  .github/workflows/apple.yml
Labels: CLA Signed, topic: not user facing

#10765 Vulkan tests use executorch_core
  backends/vulkan/test/CMakeLists.txt
  backends/vulkan/test/op_tests/CMakeLists.txt
Labels: CLA Signed, module: vulkan, release notes: build

#10697 Handle avg_pool2d with padding == 0 as no padding
  backends/arm/operator_support/pool_2d_support.py
  backends/arm/test/ops/test_avg_pool2d.py
  backends/arm/test/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10764 Tests use executorch_core
  examples/selective_build/CMakeLists.txt
  runtime/kernel/test/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10525 [ET-VK] Introduce generic export pass for fusing Q/DQ nodes
  backends/transforms/fuse_dequant_linear.py
  backends/transforms/targets.bzl
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/__init__.py
  backends/vulkan/_passes/fuse_quantized_ops.py
  backends/vulkan/custom_ops_lib.py
  backends/vulkan/quantizer/vulkan_quantizer.py
  backends/vulkan/targets.bzl
  backends/vulkan/test/TARGETS
  backends/vulkan/test/test_vulkan_delegate.py
  backends/vulkan/test/test_vulkan_passes.py
  backends/vulkan/utils.py
  backends/vulkan/vulkan_preprocess.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed, fb-exported

#10588 [ET-VK] Implement linear_qcs4w
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_qcsnw_tiled.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQCSNW.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQGANW.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.h
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
Labels: CLA Signed, fb-exported

#10775 Arm backend: Add model name to -llama_inputs
  backends/arm/test/models/test_llama.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10766 Automatically announce declared options
  CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/common/preset.cmake
Labels: CLA Signed, module: build/install, release notes: build

#10773 Arm backend: Remove redundant validation check for op_where
  backends/arm/operators/op_where.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10774 Arm backend: Replace asserts with exceptions in permutation code
  backends/arm/operators/op_permute.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10753 Minor vector sizing change.
  backends/vulkan/runtime/vk_api/Descriptor.cpp
  backends/vulkan/runtime/vk_api/Shader.cpp
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: vulkan

#10702 Convert the unit test from java to kotlin
  extension/android/executorch_android/build.gradle
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/EValueTest.java
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/EValueTest.kt
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/TensorTest.java
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/TensorTest.kt
  extension/android/gradle/libs.versions.toml
Labels: CLA Signed, topic: not user facing

#10493 Extract trace from prepare_and_convert and remove export_program
  backends/cadence/aot/compiler.py
  backends/cadence/aot/export_example.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10760 Make constant_folding's _DEFAULT_SKIP_TARGETS public
  exir/passes/constant_prop_pass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10762 : constant fold None
  exir/passes/constant_prop_pass.py
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10778 Arm Backend: Use tosa_ref_model only if it is avaiable
  backends/arm/test/conftest.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10660 Use std::align_alloc in file_data_loader
  .github/workflows/pull.yml
  extension/data_loader/file_data_loader.cpp
  runtime/executor/test/backend_integration_test.cpp
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported, topic: not user facing

#10783 Arm backend: Suppress colors in pre-push if non-interactive
  backends/arm/scripts/pre-push
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10782 Cortex-M: Use q/dq ops in Arm Ethos Runner
  CMakeLists.txt
  backends/arm/scripts/build_executorch.sh
  backends/arm/test/test_arm_baremetal.sh
  backends/cortex_m/CMakeLists.txt
  backends/cortex_m/ops/op_dequantize_per_tensor.cpp
  backends/cortex_m/ops/op_quantize_per_tensor.cpp
  examples/arm/aot_arm_compiler.py
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/run.sh
Labels: CLA Signed, ciflow/trunk, release notes: arm, module: arm

#10489 Save some size in pattern/{bitwise,comparison}_op.h
  .lintrunner.toml
  kernels/portable/cpu/op_bitwise_and.cpp
  kernels/portable/cpu/op_bitwise_or.cpp
  kernels/portable/cpu/op_bitwise_xor.cpp
  kernels/portable/cpu/op_eq.cpp
  kernels/portable/cpu/op_ge.cpp
  kernels/portable/cpu/op_gt.cpp
  kernels/portable/cpu/op_le.cpp
  kernels/portable/cpu/op_lt.cpp
  kernels/portable/cpu/op_ne.cpp
  kernels/portable/cpu/pattern/bitwise_op.h
  kernels/portable/cpu/pattern/comparison_op.h
Labels: CLA Signed, topic: not user facing

#10491 Reapply #9841: Migrate elementwise_util callers to the variants with out_dtypes in template arguments
  kernels/portable/cpu/op_add.cpp
  kernels/portable/cpu/op_addmm.cpp
  kernels/portable/cpu/op_atan2.cpp
  kernels/portable/cpu/op_clamp.cpp
  kernels/portable/cpu/op_copy.cpp
  kernels/portable/cpu/op_div.cpp
  kernels/portable/cpu/op_elu.cpp
  kernels/portable/cpu/op_floor_divide.cpp
  kernels/portable/cpu/op_fmod.cpp
  kernels/portable/cpu/op_maximum.cpp
  kernels/portable/cpu/op_minimum.cpp
  kernels/portable/cpu/op_mul.cpp
  kernels/portable/cpu/op_pow.cpp
  kernels/portable/cpu/op_remainder.cpp
  kernels/portable/cpu/op_rsub.cpp
  kernels/portable/cpu/op_sigmoid.cpp
  kernels/portable/cpu/op_sub.cpp
  kernels/portable/cpu/op_where.cpp
  kernels/portable/cpu/pattern/bitwise_op.h
  kernels/portable/cpu/pattern/comparison_op.h
  kernels/portable/cpu/pattern/logical_op.h
Labels: CLA Signed, topic: not user facing

#10792 Use torchtune 0.6.1
  .ci/scripts/test_model.sh
  .ci/scripts/unittest-linux.sh
  .ci/scripts/unittest-macos.sh
  backends/arm/test/test_arm_baremetal.sh
  examples/models/llama3_2_vision/install_requirements.sh
  requirements-examples.txt
Labels: CLA Signed, topic: not user facing

#10793 bugfix
  backends/cortex_m/ops/op_dequantize_per_tensor.cpp
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#10708 fix bug with sequential backends
  exir/backend/backend_api.py
  exir/backend/test/backend_with_preprocess_all_demo.py
  exir/backend/test/test_to_backend_multi_method.py
  exir/lowered_backend_module.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10781 Remove FLATC_EXECUTABLE and the ability to bring your own flatc
  CMakeLists.txt
  backends/apple/mps/CMakeLists.txt
  backends/qualcomm/CMakeLists.txt
  backends/vulkan/CMakeLists.txt
  backends/xnnpack/CMakeLists.txt
  devtools/CMakeLists.txt
  extension/flat_tensor/serialize/CMakeLists.txt
  schema/CMakeLists.txt
  setup.py
  third-party/CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10779 Introduce assertj test lib to make the throw exception test more accu…
  extension/android/executorch_android/build.gradle
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/Tensor.java
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/EValueTest.kt
  extension/android/executorch_android/src/test/java/org/pytorch/executorch/TensorTest.kt
Labels: CLA Signed, topic: not user facing

#10787 [ET-VK] Return fence after waiting is done.
  backends/vulkan/runtime/graph/ComputeGraph.cpp
Labels: CLA Signed, fb-exported

#10794 [llava] Remove torch.jit.save in llava example
  .ci/scripts/test_llava.sh
  examples/models/llava/CMakeLists.txt
  examples/models/llava/export_llava.py
  examples/models/llava/image_util.py
  examples/models/llava/main.cpp
  examples/models/llava/model.py
  examples/models/llava/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#10798 Move EXECUTORCH_PAL_DEFAULT to default preset
  CMakeLists.txt
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, topic: not user facing

#10788 Make a separate target for kernel utils
  CMakeLists.txt
  extension/llm/custom_ops/CMakeLists.txt
  extension/training/CMakeLists.txt
  kernels/optimized/CMakeLists.txt
  kernels/portable/CMakeLists.txt
  kernels/portable/cpu/util/CMakeLists.txt
  kernels/quantized/CMakeLists.txt
  tools/cmake/cmake_deps.toml
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: build

#10816 Update backends-coreml.md
  docs/source/backends-coreml.md
Labels: CLA Signed, topic: not user facing

#10799 Move EXECUTORCH_LOG_LEVEL to default preset
  CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, topic: not user facing

#10812 Forward-fixing G3 lt kernel
  backends/cadence/fusion_g3/operators/op_lt.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10800 Move EXECUTORCH_ENABLE_PROGRAM_VERIFICATION to default preset
  CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, topic: not user facing

#10825 [jit] Remove TorchScript from doc
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  examples/models/llava/README.md
Labels: CLA Signed, topic: not user facing

#10754 mediatek llama runner use executorch_core
  examples/mediatek/executor_runner/llama_runner/CMakeLists.txt
Labels: CLA Signed, release notes: build

#10824 [jit] Remove @torch.jit.export
  backends/qualcomm/quantizer/observers/per_channel_param_observer.py
  examples/cadence/models/rnnt_encoder.py
  examples/models/efficient_sam/efficient_sam_core/efficient_sam.py
  examples/models/efficient_sam/efficient_sam_core/efficient_sam_encoder.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#10801 Move EXECUTORCH_ENABLE_EVENT_TRACER to default preset
  CMakeLists.txt
  backends/xnnpack/CMakeLists.txt
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10520 Refactor _to_edge_and_lower_llama to remove args
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#10802 Move OPTIMIZE_SIZE to default preset
  CMakeLists.txt
  docs/source/using-executorch-building-from-source.md
  test/build_optimized_size_test.sh
  test/build_size_test.sh
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10803 Delete EXECUTORCH_BUILD_ANDROID_JNI
  CMakeLists.txt
  tools/cmake/Utils.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, topic: not user facing

#10608 [Executorch][llm] Add support for ring kv cache and ring attention
  examples/models/llama/attention.py
  examples/models/llama/tests/TARGETS
  examples/models/llama/tests/test_ring_kv_cache.py
Labels: CLA Signed, fb-exported, release notes: examples

#10609 [Executorch][llm] Add ring buffer based kv cache and mask calculation to MHA
  examples/models/llama/attention.py
  examples/models/llama/source_transformation/sdpa.py
  examples/models/llama/source_transformation/test_quantized_sdpa.py
  examples/models/llama/source_transformation/test_sdpa_with_quantized_kv_cache.py
  examples/models/llama/tests/TARGETS
  examples/models/llama/tests/test_ring_attention.py
  examples/models/llama/tests/test_ring_kv_cache.py
  examples/models/llama/tests/test_simple_sdpa.py
Labels: CLA Signed, fb-exported, release notes: examples

#10610 [Executorch][llm] Make custom update cache op operate on indices
  examples/models/llama/source_transformation/custom_kv_cache.py
  extension/llm/custom_ops/custom_ops.py
  extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_update_cache.cpp
  extension/llm/custom_ops/op_update_cache.h
  extension/llm/custom_ops/test_update_cache.py
Labels: CLA Signed, fb-exported, release notes: examples

#10611 [Executorch][llm] Enable leveraging ring kv cache via module swap
  examples/models/llama/attention.py
  examples/models/llama/source_transformation/custom_kv_cache.py
  examples/models/llama/tests/TARGETS
  examples/models/llama/tests/test_replace_kv_cache.py
  examples/models/llama/tests/test_ring_attention.py
Labels: CLA Signed, fb-exported, release notes: examples

#10612 [Executorch][llm] Enable local global attention in export_llama script
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/custom_kv_cache.py
  examples/models/llama/tests/TARGETS
Labels: CLA Signed, fb-exported, module: llm, release notes: llm

#10519 Refactor _get_source_transforms to remove args
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#10804 Move simple options to default preset
  CMakeLists.txt
  backends/cadence/build_cadence_fusionG3.sh
  backends/cadence/build_cadence_hifi4.sh
  tools/cmake/Utils.cmake
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10814 [ET-VK] Removing un used push constants for conv2d pw.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10827 Default to file load mode in module
  extension/module/module.h
Labels: CLA Signed, fb-exported, release notes: api

#10815 Correct model name in examples/arm/run.sh
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10095 Use certifi certs for buck download
  tools/cmake/resolve_buck.py
Labels: CLA Signed, module: build/install, topic: not user facing

#10813 Arm backend: Update partitioner de-tagging iteration order
  backends/arm/tosa_partitioner.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#10843 Arm backend: Refactor pass tests for TOSA V1.0
  backends/arm/test/passes/test_cast_int64_pass.py
  backends/arm/test/passes/test_convert_expand_copy_to_repeat.py
  backends/arm/test/passes/test_convert_split_to_slice.py
  backends/arm/test/passes/test_convert_to_clamp.py
  backends/arm/test/passes/test_decompose_cosine_similarity_pass.py
  backends/arm/test/passes/test_decompose_div_pass.py
  backends/arm/test/passes/test_decompose_layernorm_pass.py
  backends/arm/test/passes/test_decompose_meandim_pass.py
  backends/arm/test/passes/test_decompose_softmax_pass.py
  backends/arm/test/passes/test_decompose_var_pass.py
  backends/arm/test/passes/test_fold_qdq_pass.py
  backends/arm/test/passes/test_fuse_batchnorm_pass.py
  backends/arm/test/passes/test_fuse_constant_ops_pass.py
  backends/arm/test/passes/test_fuse_equal_placeholders_ops_pass.py
  backends/arm/test/passes/test_insert_table_ops_pass.py
  backends/arm/test/passes/test_ioquantization_pass.py
  backends/arm/test/passes/test_meandim_to_averagepool2d.py
  backends/arm/test/passes/test_remove_clone_pass.py
  backends/arm/test/passes/test_rescale_pass.py
  backends/arm/test/passes/test_unsqueeze_before_repeat_pass.py
  backends/arm/test/tester/test_pipeline.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#10805 Move dependent options to default preset
  CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10806 Delete executorch_print_configuration_summary
  CMakeLists.txt
  examples/models/llama/CMakeLists.txt
  examples/models/llava/CMakeLists.txt
  examples/selective_build/CMakeLists.txt
  test/CMakeLists.txt
  tools/cmake/Utils.cmake
  tools/cmake/common/preset.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: build

#10837 Update ownership for the build system
  CODEOWNERS
Labels: CLA Signed, release notes: build
