Repository pytorch/executorch, pull requests merged in 2025-08, with the labels that each got.

#13048 Add Half / Bfloat16 Tests
  kernels/optimized/cpu/op_sub.cpp
  kernels/test/op_floor_divide_test.cpp
  kernels/test/op_rsub_test.cpp
  kernels/test/op_sub_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#13061 Fix MTK build scripts
  backends/mediatek/scripts/mtk_build.sh
  examples/mediatek/CMakeLists.txt
  examples/mediatek/executor_runner/mtk_llama_executor_runner.cpp
  examples/mediatek/mtk_build_examples.sh
Labels: CLA Signed, release notes: none

#13005 Call ExportPass() inside ReplaceNopTransposeOrPermuteWithViewPass::call().
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, release notes: none

#13067 Decouple LlavaRunner from multimodal runner
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_runner.h
  examples/models/llava/runner/targets.bzl
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed, fb-exported

#13074 Fix installation that causes torch conflict
  install_requirements.py
Labels: CLA Signed, ciflow/trunk

#13070 Remove support for VkSemaphore
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/vk_api/Command.cpp
  backends/vulkan/runtime/vk_api/Command.h
Labels: CLA Signed, fb-exported

#13010 add more export modules after ertrecod created
  devtools/etrecord/_etrecord.py
  devtools/etrecord/tests/etrecord_test.py
Labels: CLA Signed, fb-exported

#13020 add executorch program equipment support in etrecord class
  devtools/etrecord/_etrecord.py
  devtools/etrecord/tests/etrecord_test.py
Labels: CLA Signed, fb-exported

#13034 make to_edge_transform_and_lower support etrecord generation
  devtools/etrecord/tests/etrecord_test.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported

#12977 Extend op_add for complex dtype
  kernels/optimized/cpu/op_add.cpp
  kernels/optimized/cpu/op_add_sub_impl.h
  kernels/portable/cpu/op_add.cpp
  kernels/test/op_add_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#13085 Refactor MTK build scripts Test building MTK examples and runners in ci
  .ci/scripts/build-mediatek-sdk.sh
  backends/mediatek/scripts/mtk_build.sh
  examples/mediatek/README.md
  examples/mediatek/mtk_build_examples.sh
Labels: CLA Signed, release notes: none

#13087 Make Tensor data accessors non-throwing.
  docs/source/using-executorch-ios.md
  extension/apple/ExecuTorch/Exported/ExecuTorch+Tensor.swift
  extension/apple/ExecuTorch/__tests__/TensorTest.swift
Labels: CLA Signed, fb-exported

#13088 Use variadic arguments for execute/forward instead of a single one.
  extension/apple/ExecuTorch/Exported/ExecuTorch+Module.swift
Labels: CLA Signed, fb-exported

#12890 NXP backend: Make the flow robust against input/output swapping.
  backends/nxp/neutron_node_extraction.py
  backends/nxp/nxp_backend.py
  backends/nxp/runtime/NeutronBackend.cpp
  backends/nxp/tests/test_neutron_backend.py
Labels: CLA Signed, module: nxp, release notes: nxp

#13033 Arm backend: Add VGF unit tests to operators (Part 2)
  backends/arm/test/ops/test_ge.py
  backends/arm/test/ops/test_gelu.py
  backends/arm/test/ops/test_group_norm.py
  backends/arm/test/ops/test_gt.py
  backends/arm/test/ops/test_hardsigmoid.py
  backends/arm/test/ops/test_hardswish.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_index_select.py
  backends/arm/test/ops/test_layer_norm.py
  backends/arm/test/ops/test_le.py
  backends/arm/test/ops/test_leaky_relu.py
  backends/arm/test/ops/test_linalg_vector_norm.py
  backends/arm/test/ops/test_linear.py
  backends/arm/test/ops/test_log.py
  backends/arm/test/ops/test_logical.py
  backends/arm/test/ops/test_logsoftmax.py
  backends/arm/test/ops/test_lshift.py
  backends/arm/test/ops/test_lt.py
  backends/arm/test/ops/test_masked_fill.py
  backends/arm/test/ops/test_matmul.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_maximum.py
  backends/arm/test/ops/test_mean_dim.py
  backends/arm/test/ops/test_minimum.py
  backends/arm/test/ops/test_mm.py
  backends/arm/test/ops/test_mul.py
  backends/arm/test/ops/test_ne.py
  backends/arm/test/ops/test_neg.py
  backends/arm/test/ops/test_ones.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_pow.py
  backends/arm/test/ops/test_reciprocal.py
  backends/arm/test/ops/test_relu.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_round.py
  backends/arm/test/ops/test_rshift.py
  backends/arm/test/ops/test_rsqrt.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12870 Add CoreML CI jobs for optimum-executorch models
  .ci/docker/ci_commit_pins/optimum-executorch.txt
  .ci/scripts/test_huggingface_optimum_model.py
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#13108 Update checksums in Package.swift
  Package.swift
Labels: CLA Signed

#12929 Re-order the model list in CI alphabetical order
  .ci/scripts/test_model.sh
Labels: CLA Signed, fb-exported

#13069 Add ISSRuntimeFailure to improve exception handling
  backends/cadence/aot/utils.py
Labels: CLA Signed, fb-exported

#13043 Static attention: support local-global attention
  examples/models/llama/runner/static_attention_io_manager.h
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#12530 [ET-VK] 7/n Split dispatches between multiple command buffers. Split execute dispatch into multiple commands based on dispatch count.
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/GraphConfig.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#13114 Run Qwen script with Buck
  examples/qualcomm/oss_scripts/llama/TARGETS
  examples/qualcomm/oss_scripts/llama/llama.py
Labels: CLA Signed, fb-exported

#13117 bring etrecord updated "reverted" by gh patch fix bot back
  devtools/etrecord/_etrecord.py
  devtools/etrecord/tests/etrecord_test.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, ci-no-td

#13094 Arm backend: Move quant util functions to closer to usage
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/quantizer/quantization_annotator.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13014 - Move register backend logic to its own file
  backends/apple/coreml/runtime/delegate/executorch_operations.h
  backends/apple/coreml/runtime/delegate/executorch_operations.mm
Labels: CLA Signed, fb-exported, ciflow/trunk

#13142 Update using-executorch-ios.md
  docs/source/using-executorch-ios.md
Labels: CLA Signed, release notes: docs

#13105 Add CoreML BERT models to CI
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#13075 Enable both aten and exir for ops in program builder.
  backends/cadence/aot/program_builder.py
  backends/cadence/aot/tests/test_program_builder.py
Labels: CLA Signed, fb-exported, release notes: none

#13065 Arm backend: Add tests for TOSA and VGF for extract_io_params_tosa + fix for bug with is_U55_subset
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/test/misc/test_extract_io_params_tosa.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13102 Arm backend: Added in VGF unit tests for models
  backends/arm/test/models/test_conformer.py
  backends/arm/test/models/test_deit_tiny_arm.py
  backends/arm/test/models/test_dl3_arm.py
  backends/arm/test/models/test_llama.py
  backends/arm/test/models/test_lstm_arm.py
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/models/test_mobilenet_v3_arm.py
  backends/arm/test/models/test_w2l_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#12893 NXP backend: Use default (non-shared) quantization params for HardTanh
  backends/nxp/quantizer/patterns.py
  backends/nxp/tests/executorch_pipeline.py
  backends/nxp/tests/ir/converter/node_converter/test_hardtanh_converter.py
Labels: CLA Signed, release notes: nxp

#10920 Update remove clone to drop no-op q/dq
  backends/transforms/remove_clone_ops.py
  backends/transforms/targets.bzl
  backends/transforms/test/test_remove_clone_ops.py
Labels: CLA Signed, fb-exported, release notes: none

#13012 Use temp allocator for kernel registry
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, module: runtime

#13116 Add ability to pass model_dir to .ci/scripts/test_huggingface_optimum
  .ci/scripts/test_huggingface_optimum_model.py
Labels: CLA Signed

#13160 Update the oss runner to comptiable the passed tokenizer
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#13086 Qualcomm AI Engine Direct - GA Static Qwen3
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/llama/__init__.py
  examples/qualcomm/oss_scripts/llama/decoder_constants.py
  examples/qualcomm/oss_scripts/llama/decoder_utils.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
Labels: CLA Signed, release notes: qualcomm

#13157 [ET-VK][ez] Make `get_tensor()` API protected
  backends/vulkan/runtime/graph/ComputeGraph.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#13106 Cleaned up Wasm cmake
  extension/wasm/CMakeLists.txt
  extension/wasm/test/CMakeLists.txt
  extension/wasm/test/unittests.js
  scripts/build_wasm_tests.sh
  tools/cmake/preset/default.cmake
Labels: CLA Signed

#13131 Added readme for Wasm extension
  extension/wasm/README.md
Labels: CLA Signed

#13071 Correct the Windows cross-compiling commands
  backends/xnnpack/CMakeLists.txt
  third-party/CMakeLists.txt
Labels: CLA Signed

#13134 -Gate lazy registration logic behind compile time macros
  backends/apple/coreml/runtime/delegate/coreml_backend_delegate.mm
Labels: CLA Signed, fb-exported, ciflow/trunk

#12860 [ET-VK] Add 2D Reduction to Vulkan Backend
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/reduce2d.glsl
  backends/vulkan/runtime/graph/ops/glsl/reduce2d.yaml
  backends/vulkan/runtime/graph/ops/impl/Reduce.cpp
Labels: CLA Signed, module: vulkan, release notes: vulkan

#13149 make ExecuTorch program always has valid debug handle map and delegate map
  exir/program/_program.py
Labels: CLA Signed, fb-exported

#13159 [ET-VK][ez] Small optimization to `DynamicDispatchNode`
  backends/vulkan/runtime/graph/ops/DynamicDispatchNode.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#13152 Fix the stride issue in DecomposeAvgPool2d and add a test for it.
  backends/arm/_passes/decompose_avg_pool2d.py
  backends/arm/test/passes/test_decompose_avg_pool2d_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13124 Arm backend: Move QuantArgs to its own file in _passes/
  backends/arm/_passes/decompose_grouped_conv.py
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
  backends/arm/_passes/fuse_quantized_activation_pass.py
  backends/arm/_passes/insert_rescales_pass.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/_passes/quant_args.py
  backends/arm/tosa_quant_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13170 [ET-VK] Fix Build Errors in Vulkan Backend
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/impl/Reduce.cpp
Labels: CLA Signed, module: vulkan, release notes: vulkan

#13144 Fix et_logger by remove the self args in the et_logger decorator
  exir/program/_program.py
Labels: CLA Signed, fb-exported

#13019 Default Export for Mv2 with Real Image Input
  examples/models/mobilenet_v2/model.py
Labels: CLA Signed, release notes: none

#13140 Extend EdgeProgramManager::transform() method declaration with PassManager as a "passes" param variant.
  exir/program/_program.py
  exir/program/test/test_program.py
Labels: CLA Signed, fb-exported, release notes: none

#13113 [ET-VK] 8/n Split dispatches between multiple command buffers. This diff adds a config to limit the maximum number of command buffers created when splitting execution between multiple command buffers.
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/GraphConfig.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#13206 Typo Fix for Default Example Inputs to MobilenetV2 Export
  examples/models/mobilenet_v2/model.py
Labels: CLA Signed, release notes: none

#13193 Adding Models to Test Matrix for Zephyr CI Test
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk, release notes: none, module: microcontrollers

#13181 Arm backend: Add cosh decomposition pass and test
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_cosh_pass.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_cosh.py
Labels: CLA Signed, partner: arm, release notes: arm

#12111 Arm backend: Add Inception v3 test
  backends/arm/test/models/test_inception_v3_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13203 Fix broken fbtest
  backends/apple/coreml/test/test_torch_ops.py
Labels: CLA Signed, fb-exported

#13174 Fix for Type Check in Quantized CPU op_dequantize
  kernels/quantized/cpu/op_dequantize.cpp
Labels: CLA Signed, release notes: none

#13213 Qualcomm AI Engine Direct - Replace get_source_partition in FixedLinearKeepDim
  backends/qualcomm/_passes/fixed_linear_keep_dim.py
Labels: CLA Signed, release notes: qualcomm

#13121 [Executorch][Recipes][Coreml] Add coreml backend recipes
  backends/apple/coreml/TARGETS
  backends/apple/coreml/recipes/__init__.py
  backends/apple/coreml/recipes/coreml_recipe_provider.py
  backends/apple/coreml/recipes/coreml_recipe_types.py
  backends/apple/coreml/test/test_coreml_recipes.py
  backends/apple/coreml/test/test_coreml_utils.py
  backends/apple/coreml/test/test_torch_ops.py
  export/export.py
Labels: CLA Signed, fb-exported

#13223 Arm backend: Move debug functions
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/common/__init__.py
  backends/arm/common/debug.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/tosa_backend.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13225 Add SCALE_DTYPE and ZP_DTYPE support for quantization shaders
  backends/vulkan/_passes/fuse_quantized_ops.py
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_texture.yaml
  backends/vulkan/runtime/graph/ops/glsl/dequantize_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/dequantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/dequantize_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/dequantize_texture.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.yaml
  backends/vulkan/runtime/graph/ops/impl/ChooseQParams.cpp
  backends/vulkan/runtime/graph/ops/impl/Dequantize.cpp
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/ScalarUtils.h
  backends/vulkan/test/test_vulkan_passes.py
Labels: CLA Signed, fb-exported

#13143 raise error when trying to save an etrecord missing essential info
  devtools/etrecord/_etrecord.py
  devtools/etrecord/tests/etrecord_test.py
Labels: CLA Signed, fb-exported, release notes: none

#13209 Add deprecation warning for to_edge + to_backend workflow in XnnpackPartitioner
  backends/xnnpack/partition/xnnpack_partitioner.py
  backends/xnnpack/test/test_xnnpack_partitioner.py
Labels: CLA Signed, release notes: none

#12752 Create add-unanswered-to-project.yml
  .github/workflows/add-unanswered-to-project.yml
Labels: CLA Signed, release notes: none

#13110 Update install_requirements.py to include TORCH_NIGHTLY_URL for requirement-examples.txt
  .github/workflows/pull.yml
  backends/openvino/scripts/openvino_build.sh
  install_requirements.py
Labels: CLA Signed, ciflow/trunk

#13208 Refactor data loader creation.
  extension/module/module.cpp
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#13244 make to_edge support etrecord generation
  devtools/etrecord/tests/etrecord_test.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, release notes: none

#13227 [ET-VK][ez] Fix registration for convolution operator
  backends/vulkan/op_registry.py
Labels: CLA Signed, fb-exported

#13214 Fix error handling macros to work well with MSVC.
  runtime/core/error.h
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported

#13207 Require setting all inputs before execution.
  backends/xnnpack/test/runtime/test_xnn_data_separation.cpp
  extension/runner_util/test/inputs_test.cpp
  runtime/executor/method.cpp
  runtime/executor/method.h
  runtime/executor/test/allocation_failure_stress_test.cpp
  runtime/executor/test/backend_data_separation_test.cpp
  runtime/executor/test/backend_integration_test.cpp
  runtime/executor/test/kernel_integration_test.cpp
  runtime/executor/test/method_test.cpp
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#13169 fix llama buck build
  examples/models/llama/evaluate/eager_eval.py
  examples/qualcomm/oss_scripts/llama/TARGETS
  examples/qualcomm/oss_scripts/llama/decoder_utils.py
Labels: CLA Signed, fb-exported

#13261 Fix MediaTek CI job
  .github/workflows/pull.yml
Labels: CLA Signed, ciflow/trunk, release notes: none

#13179 Qualcomm AI Engine Direct - GA Static Phi-4-mini
  examples/qualcomm/oss_scripts/llama/README.md
  examples/qualcomm/oss_scripts/llama/__init__.py
  examples/qualcomm/oss_scripts/llama/decoder_constants.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
Labels: CLA Signed, release notes: qualcomm

#13161 Save foundation weights separately
  .ci/scripts/test_llama_lora.sh
  backends/xnnpack/operators/node_visitor.py
  examples/models/llama/TARGETS
  examples/models/llama/export_llama_lib.py
  exir/passes/external_constants_pass.py
  exir/program/_program.py
  extension/llm/export/config/llm_config.py
  runtime/executor/merged_data_map.h
Labels: CLA Signed, fb-exported

#13224 Arm backend: Add smaller_stories_llama to test_arm_baremetal
  .github/workflows/trunk.yml
  backends/arm/test/test_arm_baremetal.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13271 Arm backend: Use bucket approach in fuse_equal_placeholder_pass
  backends/arm/_passes/fuse_equal_placeholders_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#12868 Add cmake-format linter
  .lintrunner.toml
  CMakeLists.txt
  backends/arm/CMakeLists.txt
  backends/cadence/CMakeLists.txt
  backends/cadence/cadence.cmake
  backends/cadence/fusion_g3/operators/CMakeLists.txt
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/reference/kernels/CMakeLists.txt
  backends/cadence/reference/operators/CMakeLists.txt
  backends/mediatek/CMakeLists.txt
  backends/nxp/CMakeLists.txt
  backends/openvino/CMakeLists.txt
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/runtime/backends/CMakeLists.txt
  backends/vulkan/test/CMakeLists.txt
  backends/vulkan/test/op_tests/CMakeLists.txt
  backends/xnnpack/cmake/Dependencies.cmake
  backends/xnnpack/test/CMakeLists.txt
  codegen/tools/CMakeLists.txt
  devtools/CMakeLists.txt
  devtools/etdump/CMakeLists.txt
  examples/arm/ethos-u-setup/arm-none-eabi-gcc.cmake
  examples/devtools/CMakeLists.txt
  examples/mediatek/CMakeLists.txt
  examples/models/llama/CMakeLists.txt
  examples/models/llama/runner/CMakeLists.txt
  examples/models/llava/CMakeLists.txt
  examples/models/llava/runner/CMakeLists.txt
  examples/models/phi-3-mini/CMakeLists.txt
  examples/models/yolo12/CMakeLists.txt
  examples/qualcomm/oss_scripts/moshi/CMakeLists.txt
  examples/qualcomm/oss_scripts/t5/CMakeLists.txt
  examples/qualcomm/oss_scripts/whisper/CMakeLists.txt
  examples/qualcomm/qaihub_scripts/llama/CMakeLists.txt
  examples/zephyr/x86_64-linux-arm-zephyr-eabi-gcc.cmake
  extension/android/CMakeLists.txt
  extension/apple/CMakeLists.txt
  extension/flat_tensor/serialize/CMakeLists.txt
  extension/llm/apple/CMakeLists.txt
  extension/module/test/CMakeLists.txt
  extension/runner_util/test/CMakeLists.txt
  kernels/portable/cpu/util/test/CMakeLists.txt
  kernels/test/CMakeLists.txt
  requirements-dev.txt
  requirements-lintrunner.txt
  runtime/executor/test/CMakeLists.txt
  runtime/kernel/test/CMakeLists.txt
  runtime/platform/test/CMakeLists.txt
  tools/cmake/Codegen.cmake
  tools/cmake/common/preset.cmake
  tools/cmake/executorch-wheel-config.cmake
  tools/cmake/preset/apple_common.cmake
  tools/cmake/preset/arm_baremetal.cmake
  tools/cmake/preset/llm.cmake
  tools/cmake/preset/pybind.cmake
  tools/cmake/preset/zephyr.cmake
Labels: CLA Signed, release notes: none

#13287 Try to fix arm CI jobs
  .github/workflows/pull.yml
Labels: CLA Signed, ciflow/trunk, release notes: none

#13293 [ez] Optionally link vulkan backend to devtools example runner
  examples/devtools/CMakeLists.txt
Labels: CLA Signed, module: vulkan, release notes: devtools

#13298 Fix test arm backend
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk, release notes: none

#12720 Fix typo in reduce_util.h from my #9144
  kernels/portable/cpu/util/reduce_util.h
Labels: CLA Signed

#13303 make et.export support etrecord generation
  devtools/etrecord/tests/TARGETS
  devtools/etrecord/tests/etrecord_test.py
  export/export.py
  export/stages.py
  export/tests/test_export_session.py
  export/tests/test_export_stages.py
Labels: CLA Signed, fb-exported, release notes: devtools

#13276 Arm backend: Use padding for the base64 coded ETDump string
  examples/arm/executor_runner/arm_executor_runner.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13281 Arm backend: Move get_tosa_spec to tosa_specification.py
  backends/arm/arm_backend.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/test/misc/test_tosa_spec.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_backend.py
  backends/arm/tosa_partitioner.py
  backends/arm/tosa_specification.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13275 Arm backend: Fix error message if toolchain is bad
  backends/arm/scripts/build_executor_runner.sh
  backends/arm/scripts/build_executorch.sh
  backends/arm/scripts/build_portable_kernels.sh
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13272 Arm backend: Bump TOSA tools to v1.0 update v2025.07.0
  backends/arm/scripts/install_reference_model.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13274 Arm Backend: Add support for expm1.default
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_expm1_pass.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/scripts/parse_test_names.py
  backends/arm/test/ops/test_expm1.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13321 Update doc to point to 0.7 as stable
  stable
  versions.html
Labels: CLA Signed

#13316 Arm backend: Remove function getNodeArgs
  backends/arm/process_node.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13285 Enable QAT for static llama definition
  examples/models/llama/rope.py
Labels: CLA Signed, fb-exported, release notes: none

#13320 Import Fix
  backends/arm/TARGETS
  backends/arm/_passes/TARGETS
Labels: CLA Signed, fb-exported

#13238 [Backend Tester] Add LSTM tests
  backends/test/suite/operators/test_lstm.py
Labels: CLA Signed, release notes: none

#13210 Update build from source docs
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed, release notes: none

#13004 Move to Span<EValue*> instead of EValue** in delegate interface
  backends/apple/coreml/runtime/delegate/coreml_backend_delegate.mm
  backends/apple/coreml/runtime/include/coreml_backend/delegate.h
  backends/apple/mps/runtime/MPSBackend.mm
  backends/arm/runtime/EthosUBackend.cpp
  backends/arm/runtime/VGFBackend.cpp
  backends/mediatek/runtime/NeuronBackend.cpp
  backends/mediatek/runtime/include/NeuronBackend.h
  backends/nxp/runtime/NeutronBackend.cpp
  backends/openvino/runtime/OpenvinoBackend.cpp
  backends/openvino/runtime/OpenvinoBackend.h
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/qualcomm/runtime/QnnExecuTorchBackend.h
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/xnnpack/runtime/XNNExecutor.cpp
  backends/xnnpack/runtime/XNNExecutor.h
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  backends/xnnpack/test/runtime/test_xnnexecutor.cpp
  codegen/api/unboxing.py
  docs/source/compiler-delegate-and-partitioner.md
  exir/backend/test/demos/rpc/ExecutorBackend.cpp
  runtime/backend/interface.h
  runtime/backend/test/backend_interface_update_test.cpp
  runtime/executor/method.cpp
  runtime/executor/test/backend_integration_test.cpp
  runtime/executor/test/test_backend_compiler_lib.cpp
  runtime/executor/test/test_backend_with_delegate_mapping.cpp
Labels: CLA Signed, fb-exported, release notes: api

#12809 [Backend Tester] Add tensor error statistic reporting
  backends/test/harness/error_statistics.py
  backends/test/harness/tester.py
  backends/test/harness/tests/test_error_statistics.py
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#13304 Added ETDump to Wasm
  .github/workflows/pull.yml
  extension/wasm/CMakeLists.txt
  extension/wasm/README.md
  extension/wasm/test/CMakeLists.txt
  extension/wasm/test/unittests_etdump.js
  extension/wasm/test/unittests_etdump_disabled.js
  extension/wasm/wasm_bindings.cpp
  scripts/build_wasm_tests.sh
Labels: CLA Signed

#13249 [Backend Tester] Report PTE size
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#13326 [ET-VK] Add optional blocklist and allowlist to vulkan partitioner to aid debugging
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/utils.py
Labels: CLA Signed, module: vulkan

#13295 [ET-VK][CI] Add vulkan CI to test exporting and running models
  .ci/scripts/setup-vulkan-linux-deps.sh
  .github/workflows/pull.yml
  backends/vulkan/cmake/ShaderLibrary.cmake
  backends/vulkan/test/utils.py
Labels: CLA Signed, module: vulkan

#13301 Add csv and etdump files to gitignore
  .gitignore
Labels: CLA Signed

#13250 [Backend Tester] Add portable test flow
  backends/test/harness/stages/to_edge_transform_and_lower.py
  backends/test/harness/tester.py
  backends/test/suite/flow.py
  backends/test/suite/flows/portable.py
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#13332 Static attention IO manager: fix causal mask bug for last input position
  examples/models/llama/runner/static_attention_io_manager.h
Labels: CLA Signed, fb-exported, topic: not user facing

#13341 Check the number of inputs in Method::set_inputs
  runtime/executor/method.cpp
Labels: CLA Signed, ciflow/trunk, release notes: none

#13284 Fix 8w8a qat qconfig setting activations
  backends/qualcomm/quantizer/qconfig.py
Labels: CLA Signed, fb-exported, release notes: none

#13322 Arm backend: Run pytest model tests in parallell
  backends/arm/test/test_arm_baremetal.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13318 Arm backend: Initial int16 extension
  backends/arm/arm_backend.py
  backends/arm/test/ops/test_sigmoid_16bit.py
  backends/arm/test/ops/test_sigmoid_32bit.py
  backends/arm/test/tester/test_pipeline.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13363 Introduce set input/output API to Module.
  extension/apple/ExecuTorch/Exported/ExecuTorch+Module.swift
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.h
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.mm
  extension/apple/ExecuTorch/__tests__/ModuleTest.swift
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#13185 [ET-VK] Better work group sizes for matmul
  backends/vulkan/runtime/graph/ops/impl/Common.cpp
  backends/vulkan/runtime/graph/ops/impl/Common.h
  backends/vulkan/runtime/graph/ops/impl/Linear.cpp
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearQGANW.cpp
Labels: CLA Signed, fb-exported

#13364 Introduce unload method API to Module.
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.h
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.mm
  extension/apple/ExecuTorch/__tests__/ModuleTest.swift
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#13306 [Backend Tester] Clean up report output
  backends/test/suite/reporting.py
  backends/test/suite/tests/test_reporting.py
Labels: CLA Signed, release notes: none

#13308 [Backend Tester] Write report progressively
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
  backends/test/suite/tests/test_reporting.py
Labels: CLA Signed

#8326 create and validate build_variables.bzl
  CMakeLists.txt
  shim_et/xplat/executorch/build/build_variables.bzl
  tools/cmake/Codegen.cmake
Labels: CLA Signed, release notes: build

#13183 NXP Backend: Add infrastructure for pre processing passes in edge dialect
  backends/nxp/edge_passes/move_auxiliary_operator_into_separate_qdq_cluster_pass.py
  backends/nxp/edge_passes/neutron_edge_pass.py
  backends/nxp/edge_passes/neutron_edge_pass_manager.py
  backends/nxp/tests/executorch_pipeline.py
  backends/nxp/tests/models.py
  backends/nxp/tests/test_batch_norm_fusion.py
  backends/nxp/tests/test_edge_passes.py
Labels: CLA Signed, module: nxp, release notes: nxp

#11119 Android preset
  CMakePresets.json
  scripts/build_android_library.sh
  tools/cmake/preset/android.cmake
Labels: CLA Signed, release notes: android

#12583 Qualcomm AI Engine Direct - Phase out QCIR flow since it is no longer…
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/aot/ir/CMakeLists.txt
  backends/qualcomm/aot/ir/TARGETS
  backends/qualcomm/aot/ir/qcir.fbs
  backends/qualcomm/aot/ir/qcir_utils.cpp
  backends/qualcomm/aot/ir/qcir_utils.h
  backends/qualcomm/aot/ir/targets.bzl
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.h
  backends/qualcomm/aot/python/targets.bzl
  backends/qualcomm/runtime/QnnExecuTorch.h
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/qualcomm/runtime/backends/QnnBackendCache.cpp
  backends/qualcomm/runtime/backends/QnnCustomProtocol.cpp
  backends/qualcomm/runtime/backends/QnnCustomProtocol.h
  backends/qualcomm/runtime/targets.bzl
  backends/qualcomm/tests/utils.py
Labels: CLA Signed, release notes: qualcomm

#13380 Bump Zephyr SDK Version in CI Image from v0.16.0 -> v0.17.2
  .ci/scripts/zephyr-utils.sh
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk, module: arm, release notes: none, module: microcontrollers

#13313 [Backend Tester] Seed based on test name
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
  backends/test/suite/tests/test_reporting.py
Labels: CLA Signed, release notes: none

#13339 removed cron schedule runs to workflow until the GitHub token issue is fixed
  .github/workflows/add-unanswered-to-project.yml
Labels: CLA Signed

#13163 Use unlifted export pass to tag delegated constants
  docs/source/using-executorch-export.md
  examples/models/llama/export_llama_lib.py
  exir/passes/external_constants_pass.py
  test/models/export_delegated_program.py
Labels: CLA Signed, fb-exported

#13273 Arm backend: Generate ETRecord from arm_aot_compiler
  backends/arm/test/test_arm_baremetal.sh
  examples/arm/aot_arm_compiler.py
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: devtools, release notes: arm

#13345 Add support for strongly typed op_quantized_relu
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/tests/test_type_dispatch_passes.py
  backends/cadence/aot/type_dispatch.py
  backends/cadence/hifi/operators/op_quantized_relu_asym8s_asym8s_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_relu_asym8u_asym8u_per_tensor_out.cpp
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/reference/operators/quantized_relu_out.cpp
Labels: CLA Signed, fb-exported

#13360 [Backend Tester] Add test flow CLI arg
  backends/test/suite/discovery.py
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#13425 Update ExecuTorchValue.mm
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.mm
Labels: CLA Signed, release notes: none

#13424 Fix typo in op_quantized_relu_asym8u_asym8u
  backends/cadence/hifi/operators/op_quantized_relu_asym8u_asym8u_per_tensor_out.cpp
Labels: CLA Signed, fb-exported, release notes: none

#13267 Fix unused-local-typedef issue
  runtime/core/exec_aten/util/scalar_type_util.h
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#13428 Android scheduled build add vulkan
  .github/workflows/android-release-artifacts.yml
Labels: CLA Signed, module: vulkan, module: android

#13387 [executorch] Add coreml quant recipes
  backends/apple/coreml/TARGETS
  backends/apple/coreml/recipes/coreml_recipe_provider.py
  backends/apple/coreml/recipes/coreml_recipe_types.py
  backends/apple/coreml/test/test_coreml_recipes.py
Labels: CLA Signed, fb-exported

#13373 Static attention: do not specialize on input sequence length
  examples/models/llama/static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#13429 forward fix
  examples/models/llama/model_args.py
Labels: CLA Signed, fb-exported, release notes: none

#13442 Switch to conda-forge on MacOS
  .ci/scripts/setup-conda.sh
Labels: CLA Signed, topic: not user facing

#13438 use dtype agnostic implementation for non optimized op_permute_copy
  backends/cadence/hifi/operators/op_permute_copy.cpp
  backends/cadence/hifi/operators/operators.h
  backends/cadence/hifi/operators/tests/test_op_permute_copy.cpp
  backends/cadence/hifi/operators/tests/test_op_quantize_per_tensor.cpp
Labels: CLA Signed, fb-exported

#8397 build_variables.bzl: split PROGRAM_NO_PRIM_OPS_SRCS from EXECUTORCH_CORE_SRCS
  runtime/executor/targets.bzl
  shim_et/xplat/executorch/build/build_variables.bzl
Labels: CLA Signed, release notes: none

#8398 build_variables.bzl: split PLATFORM_SRCS from EXECUTORCH_CORE_SRCS
  runtime/platform/targets.bzl
  shim_et/xplat/executorch/build/build_variables.bzl
Labels: CLA Signed, release notes: none

#13385 Allow for HOP to be in the etreord graph
  devtools/debug_format/et_schema.py
Labels: CLA Signed, fb-exported

#13199 Introduce out shape utils (add/stack)
  kernels/portable/cpu/op_add.cpp
  kernels/portable/cpu/op_add.h
  kernels/portable/cpu/op_stack.cpp
  kernels/portable/cpu/op_stack.h
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#13358 switch top-level ExecuTorch build from executorch_srcs.cmake to build_variables.bzl
  CMakeLists.txt
  tools/cmake/Codegen.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, ciflow/android, release notes: build

#13187 Alternative format specifier for %zd
  runtime/executor/method.cpp
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported, release notes: none

#13451 [ET-VK] Move rotary embedding custom op to be handled via graph pass instead of source transform
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/__init__.py
  backends/vulkan/_passes/fuse_patterns.py
  backends/vulkan/custom_ops_lib.py
  backends/vulkan/op_registry.py
  backends/vulkan/partitioner/TARGETS
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/patterns/TARGETS
  backends/vulkan/patterns/__init__.py
  backends/vulkan/patterns/pattern_registry.py
  backends/vulkan/patterns/rope.py
  backends/vulkan/runtime/graph/ops/glsl/linear_qga4w_coop.glsl
  backends/vulkan/targets.bzl
  backends/vulkan/test/test_vulkan_passes.py
  backends/vulkan/vulkan_preprocess.py
  examples/models/llama/TARGETS
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/vulkan_rope.py
Labels: CLA Signed, fb-exported

#13452 [ET-VK] Enable IntxWeightOnlyConfig
  backends/vulkan/patterns/TARGETS
  backends/vulkan/patterns/__init__.py
  backends/vulkan/patterns/quantized_linear.py
  backends/vulkan/test/test_vulkan_delegate.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/quantize.py
  extension/llm/export/config/llm_config.py
Labels: CLA Signed, fb-exported

#13458 Add aten::_upsample_bilinear2d_aa.out
  kernels/portable/cpu/op_upsample_bilinear2d_aa.cpp
  kernels/portable/functions.yaml
  kernels/portable/test/TARGETS
  kernels/portable/test/op_upsample_bilinear2d_aa_test.py
  kernels/portable/test/register_ops_aot_for_test.cpp
  kernels/portable/test/targets.bzl
  kernels/test/CMakeLists.txt
  kernels/test/op_upsample_bilinear2d_aa_test.cpp
  kernels/test/targets.bzl
  shim_et/xplat/executorch/build/build_variables.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#13462 Add support for strongly typed conv_nchw and conv_nhwc
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/tests/test_type_dispatch_passes.py
  backends/cadence/aot/type_dispatch.py
  backends/cadence/hifi/operators/op_quantized_conv_nchw_asym8sxsym8s_asym8s_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv_nchw_asym8uxsym8u_asym8u_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv_nhwc_asym8sxsym8s_asym8s_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv_nhwc_asym8uxsym8u_asym8u_per_tensor_out.cpp
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/reference/operators/quantized_conv_nchw_out.cpp
  backends/cadence/reference/operators/quantized_conv_nhwc_out.cpp
Labels: CLA Signed, fb-exported

#13473 [ET-VK][AOT] Serialize constant tensors via NamedDataMap
  backends/vulkan/serialization/vulkan_graph_builder.py
  backends/vulkan/serialization/vulkan_graph_serialize.py
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported

#13384 Reset Temp Allocator after each use
  runtime/executor/method.cpp
  runtime/executor/test/kernel_integration_test.cpp
Labels: CLA Signed, fb-exported

#13166 Add a generic multimodal runner
  extension/llm/runner/README.md
  extension/llm/runner/llm_runner_helper.cpp
  extension/llm/runner/llm_runner_helper.h
  extension/llm/runner/multimodal_decoder_runner.h
  extension/llm/runner/multimodal_input.h
  extension/llm/runner/multimodal_runner.cpp
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/targets.bzl
  extension/llm/runner/text_llm_runner.h
  shim_et/xplat/executorch/build/build_variables.bzl
Labels: CLA Signed, fb-exported

#13524 Wrap LLM runner tests in anonymous namespace (unbreak unittest-release)
  extension/llm/runner/test/test_generation_config.cpp
  extension/llm/runner/test/test_multimodal_input.cpp
  extension/llm/runner/test/test_text_decoder_runner.cpp
  extension/llm/runner/test/test_text_llm_runner.cpp
  extension/llm/runner/test/test_text_prefiller.cpp
Labels: CLA Signed, release notes: none

#13395 Delete extract_sources.py and cmake_deps.toml
  pyproject.toml
  requirements-dev.txt
  tools/cmake/Utils.cmake
  tools/cmake/cmake_deps.toml
  tools/cmake/extract_sources.py
Labels: CLA Signed, release notes: build

#13390 [Backend Tester] Add nightly CI job for XNNPACK
  .ci/scripts/setup-linux.sh
  .ci/scripts/test_backend_linux.sh
  .github/workflows/nightly.yml
Labels: CLA Signed, release notes: none

#13398 [Backend Tester] Mark adaptive avgpool2d as an unsupported portable op
  backends/test/suite/runner.py
Labels: CLA Signed, release notes: none

#13406 Qualcomm AI Engine Direct - GA Static Smollm2
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/llama/README.md
  examples/qualcomm/oss_scripts/llama/__init__.py
  examples/qualcomm/oss_scripts/llama/decoder_constants.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
Labels: CLA Signed

#13479 Refactor pybinding unit test
  extension/pybindings/test/TARGETS
  extension/pybindings/test/make_test.py
  extension/pybindings/test/test_pybindings.py
Labels: CLA Signed, fb-exported
