Repository pytorch/executorch, pull requests merged in 2025-03, with the labels that each got.

#8816 [build] Fix flatc
  .github/workflows/pull.yml
  data/bin/README.md
  pyproject.toml
  setup.py
Labels: CLA Signed, ciflow/trunk, release notes: build

#8854 Use locally built frameworks for Benchmark app
  .github/workflows/apple-perf.yml
  .github/workflows/apple.yml
  extension/benchmark/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/benchmark/apple/Benchmark/Frameworks/download_frameworks.sh
Labels: CLA Signed, topic: not user facing

#8868 Update README.md
  extension/benchmark/apple/Benchmark/README.md
Labels: CLA Signed, module: benchmark, topic: not user facing

#8704 merge q_8w_linear and main functions in q_8w_linear shader
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#8846 Fix static_llama to read some previously hardcoded options from ModelArgs
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8879 Fix docstring of to_backend in backend_api.py
  exir/backend/backend_api.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#8875 Arm backend: Fix error not raised in TosaArg class
  backends/arm/tosa_mapping.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8581 Address various warnings as errors
  extension/threadpool/cpuinfo_utils.cpp
  extension/threadpool/targets.bzl
  kernels/portable/cpu/op__to_dim_order_copy.cpp
  kernels/portable/cpu/op_amax.cpp
  kernels/portable/cpu/op_amin.cpp
  kernels/portable/cpu/op_argmax.cpp
  kernels/portable/cpu/op_argmin.cpp
  kernels/portable/cpu/op_expand_copy.cpp
  kernels/portable/cpu/util/activation_ops_util.cpp
  kernels/portable/cpu/util/broadcast_util.cpp
  kernels/portable/cpu/util/copy_ops_util.h
  kernels/portable/cpu/util/functional_util.h
  kernels/portable/cpu/util/reduce_util.cpp
  kernels/portable/cpu/util/reduce_util.h
  kernels/portable/cpu/util/repeat_util.cpp
  kernels/portable/cpu/util/targets.bzl
  kernels/prim_ops/et_view.cpp
  runtime/core/data_loader.h
  runtime/core/exec_aten/util/dim_order_util.h
  runtime/core/exec_aten/util/tensor_shape_to_c_string.cpp
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/tensor_util_portable.cpp
  runtime/core/portable_type/c10/c10/util/irange.h
  runtime/core/portable_type/tensor_impl.cpp
  runtime/core/tensor_layout.cpp
  runtime/executor/method.cpp
  runtime/executor/method_meta.cpp
  runtime/executor/program.cpp
  runtime/executor/targets.bzl
  runtime/executor/tensor_parser.h
  runtime/executor/tensor_parser_exec_aten.cpp
  runtime/executor/tensor_parser_portable.cpp
  runtime/kernel/operator_registry.cpp
  runtime/kernel/operator_registry.h
  runtime/platform/log.cpp
  runtime/platform/log.h
  runtime/platform/profiler.cpp
  schema/extended_header.cpp
  test/build_size_test.sh
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#8837 Migrate pybind11 external deps to regular third-party deps
  backends/apple/coreml/TARGETS
  backends/qualcomm/aot/python/targets.bzl
  exir/verification/TARGETS
  extension/pytree/TARGETS
  extension/training/pybindings/TARGETS
Labels: CLA Signed, fb-exported

#8871 Add missing dep to executorch/extensin/pybindings:portable_lib
  extension/pybindings/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#8862 Basic performance logging for Llama python runner
  examples/models/llama/runner/generation.py
Labels: CLA Signed, release notes: examples

#8882 Add editable mode in Building from source file
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed, topic: not user facing

#8850 add merge function for NamedDataStore
  exir/_serialize/_named_data_store.py
  exir/_serialize/test/test_named_data_store.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8845 Allow non tensor checkpoint values
  examples/models/checkpoint.py
Labels: CLA Signed, topic: not user facing

#8886 Update Demo Scripts To Use .ptd (retry)
  CMakeLists.txt
  extension/training/CMakeLists.txt
  extension/training/examples/XOR/export_model.py
  extension/training/examples/XOR/train.cpp
Labels: CLA Signed, fb-exported, release notes: training

#8889 Add previous logging for to_edge model in export_llama
  extension/llm/export/builder.py
Labels: CLA Signed, topic: not user facing

#8482 [Benchmark] fail test if model artifact does not exist
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
Labels: CLA Signed, topic: not user facing

#8888 Fix broken tests
  exir/program/_program.py
Labels: CLA Signed, fb-exported, module: xnnpack, topic: not user facing

#8908 fix wrong error msg
  devtools/etdump/etdump_flatcc.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8918 fix head_dim in metadata
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8616 Qualcomm AI Engine Direct - Meta CI for Mobilebert , W2L, and Llama
  .ci/scripts/test_model.sh
  .github/workflows/trunk.yml
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
  examples/qualcomm/scripts/mobilebert_fine_tune.py
  examples/qualcomm/scripts/wav2letter.py
Labels: CLA Signed, topic: not user facing

#8880 Arm backend: Enable test_w2l_u85_BI
  backends/arm/test/models/test_w2l_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8925 Update using-executorch-building-from-source.md
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed, topic: not user facing

#8891 [ExecuTorch][XNNPACK] Don't partition per_tensor weights with qd8
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/test/ops/test_linear.py
  backends/xnnpack/utils/quant_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8892 [ExecuTorch][XNNPACK] Rename linear weight partitioning flag for clarity
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/partition/config/xnnpack_config.py
  backends/xnnpack/test/ops/test_linear.py
  backends/xnnpack/test/ops/test_lstm.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8897 [ExecuTorch] Arm Ethos: Do not depend on `torch.testing._internal `
  backends/arm/test/passes/test_rescale_pass.py
  backends/arm/test/runner_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8411 Arm backend: Update fuse_batchnorm_pass to create new placeholders
  backends/arm/_passes/TARGETS
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/fuse_batchnorm2d_pass.py
  backends/arm/test/passes/test_fuse_batchnorm_pass.py
  backends/transforms/targets.bzl
  backends/transforms/test/test_create_delete_constant_placeholder.py
  backends/transforms/utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8919 [minibench] Drop outliers from benchmark result
  extension/benchmark/android/benchmark/app/src/main/java/org/pytorch/minibench/BenchmarkActivity.java
Labels: CLA Signed, topic: not user facing

#8904 Fix ANE llama export
  .ci/scripts/test_ane_static_llama.sh
  .github/workflows/trunk.yml
  examples/apple/coreml/llama/export.py
  examples/apple/coreml/llama/llama_transformer.py
Labels: CLA Signed

#8901 Link xnn_executor_runner with optimized op library
  backends/xnnpack/CMakeLists.txt
Labels: CLA Signed, release notes: devtools

#8912 [Windows] [Tensor.cpp] add #include <algorithm>
  backends/vulkan/runtime/api/containers/Tensor.cpp
Labels: CLA Signed, release notes: build

#8896 Add a pass to remove certain redundant branched quant/dequant nodes
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/remove_ops.py
  backends/cadence/aot/tests/test_fusion_ops_passes.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8949 Fix trunk.yml
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#8906 [Android demo] Decouple pte file from assets and remove unused
  build/build_android_library.sh
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/demo-apps/android/ExecuTorchDemo/app/build.gradle.kts
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/BUCK
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/assets/corgi2.jpg
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/assets/test1.png
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/assets/test2.jpg
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/assets/test3.png
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/java/com/example/executorchdemo/ClassificationActivity.java
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/java/com/example/executorchdemo/ImageNetClasses.java
  examples/demo-apps/android/ExecuTorchDemo/app/src/main/java/com/example/executorchdemo/MainActivity.java
  examples/demo-apps/android/ExecuTorchDemo/settings.gradle.kts
  examples/demo-apps/android/ExecuTorchDemo/setup.sh
Labels: CLA Signed, topic: not user facing

#8953 Add support for ptd in runner
  examples/models/llama/runner/runner.cpp
  examples/models/llama/runner/runner.h
Labels: CLA Signed, fb-exported, release notes: misc

#8856 Add Phi-4-mini-instruct
  .ci/scripts/test_model.sh
  examples/models/__init__.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/model_args.py
  examples/models/llama/rope.py
  examples/models/phi-4-mini/config.json
  examples/models/phi-4-mini/convert_weights.py
Labels: CLA Signed, release notes: examples

#8943 Add optimized kernels to executorch pybindings
  exir/backend/test/TARGETS
  exir/backend/test/demos/rpc/TARGETS
  exir/backend/test/demos/rpc/targets.bzl
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8955 fix -Werror -Wunused in executor_runner
  examples/portable/executor_runner/executor_runner.cpp
Labels: CLA Signed

#8864 add BroadcastIndexesRange
  kernels/portable/cpu/util/broadcast_indexes_range.h
  kernels/portable/cpu/util/targets.bzl
  kernels/portable/cpu/util/test/CMakeLists.txt
  kernels/portable/cpu/util/test/broadcast_indexes_range_test.cpp
  kernels/portable/cpu/util/test/targets.bzl
  test/utils/OSSTestConfig.json
Labels: CLA Signed, topic: not user facing

#8887 [executorch][runtime] Introduce PteDataMap for weight sharing
  extension/testing_util/targets.bzl
  runtime/executor/program.cpp
  runtime/executor/program.h
  runtime/executor/pte_data_map.cpp
  runtime/executor/pte_data_map.h
  runtime/executor/targets.bzl
  runtime/executor/test/pte_data_map_test.cpp
  runtime/executor/test/targets.bzl
Labels: CLA Signed, release notes: runtime

#8853 [executorch][runtime] Add get_named_data_map to Program
  runtime/executor/program.cpp
  runtime/executor/program.h
  runtime/executor/test/program_test.cpp
Labels: CLA Signed, release notes: runtime

#8921 introduce file_data_sink
  devtools/etdump/data_sinks/file_data_sink.cpp
  devtools/etdump/data_sinks/file_data_sink.h
  devtools/etdump/data_sinks/targets.bzl
  devtools/etdump/data_sinks/tests/file_data_sink_test.cpp
  devtools/etdump/data_sinks/tests/targets.bzl
Labels: CLA Signed, fb-exported

#8952 Add unfold_copy.out
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_unfold_copy.cpp
  kernels/portable/cpu/util/copy_ops_util.cpp
  kernels/portable/cpu/util/copy_ops_util.h
  kernels/portable/functions.yaml
  kernels/test/op_unfold_copy_test.cpp
  kernels/test/targets.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported, module: kernels, release notes: ops & kernels

#8940 Add max_pool2d_with_indices_backward
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_max_pool2d_with_indices_backward.cpp
  kernels/portable/cpu/util/kernel_ops_util.cpp
  kernels/portable/cpu/util/kernel_ops_util.h
  kernels/portable/functions.yaml
  kernels/test/op_max_pool2d_with_indices_backward_test.cpp
  kernels/test/targets.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#8913 [Windows] [file_data_loader.cpp] Add compat_unistd.h
  extension/data_loader/file_data_loader.cpp
  runtime/platform/compat_unistd.h
  runtime/platform/targets.bzl
Labels: CLA Signed, release notes: build

#8915 [Windows] don't use invalid flags on Windows
  backends/vulkan/targets.bzl
  runtime/core/named_data_map.h
  runtime/executor/method.h
  runtime/executor/program.h
  runtime/executor/tensor_parser.h
Labels: CLA Signed, release notes: build

#8478 Adding Convolution operator optimizations
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_quantized_conv_out.cpp
Labels: CLA Signed, topic: not user facing

#8938 Add proper CMake build for extension_parallel
  CMakeLists.txt
  build/cmake_deps.toml
  build/executorch-config.cmake
  extension/parallel/CMakeLists.txt
  kernels/optimized/CMakeLists.txt
Labels: CLA Signed, release notes: build

#8877 Qualcomm AI Engine Direct - Remove copy headers mechanism
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/runtime/backends/CMakeLists.txt
Labels: CLA Signed, release notes: qualcomm

#8969 Default ExecuTorch targets to ExecuTorch-wide Buck visibility
  shim_et/xplat/executorch/build/runtime_wrapper.bzl
Labels: CLA Signed, release notes: build

#8975 [Portable] Easy fix of unfold_copy_out function signature
  kernels/portable/cpu/op_unfold_copy.cpp
Labels: CLA Signed, topic: not user facing

#8916 [Windows] [mmap_data_loader.cpp] mmap equivalent for Windows
  extension/data_loader/mman.h
  extension/data_loader/mman_windows.cpp
  extension/data_loader/mman_windows.h
  extension/data_loader/mmap_data_loader.cpp
  extension/data_loader/targets.bzl
  extension/data_loader/test/mmap_data_loader_test.cpp
Labels: CLA Signed, release notes: build

#8976 Remove unused build/test_android_ci.sh
  build/test_android_ci.sh
Labels: CLA Signed, topic: not user facing

#8922 bump pytorch version
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#8865 Deploy BroadcastIndexesRange
  kernels/portable/cpu/util/broadcast_util.h
  kernels/portable/cpu/util/elementwise_util.h
  kernels/portable/cpu/util/targets.bzl
Labels: CLA Signed, release notes: ops & kernels

#8971 Fix phi4mini test model
  .ci/scripts/test_model.sh
  examples/models/__init__.py
  examples/models/llama/export_llama_lib.py
  examples/models/phi-4-mini/__init__.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#8945 Use NDM in backend init context
  runtime/backend/backend_init_context.h
  runtime/backend/interface.h
  runtime/backend/targets.bzl
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, release notes: api

#8993 Do not export autogenerated headers.
  runtime/executor/targets.bzl
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#8996 Add extension parallel as a dep to kernels custom framework
  build/build_apple_frameworks.sh
Labels: CLA Signed, topic: not user facing

#8997 Arm backend: Add FuseViewCopyTransform and FuseConstantsPass in arm_pass_manager
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/fuse_constant_ops_pass.py
  backends/arm/test/passes/test_fuse_constant_ops_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8972 Update update-viablestrict.yml to ubuntu-22.04
  .github/workflows/update-viablestrict.yml
Labels: CLA Signed, topic: not user facing

#8979 Skip uploading some unused artifacts
  build/build_android_library.sh
Labels: CLA Signed, fb-exported, topic: not user facing

#8907 [Cadence] add quant relu per tensor for cpu flow
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/quantized_relu_out.cpp
Labels: CLA Signed, topic: not user facing

#8984 [minibench] Add PSS data to result
  extension/benchmark/android/benchmark/app/build.gradle.kts
  extension/benchmark/android/benchmark/app/src/main/java/org/pytorch/minibench/BenchmarkActivity.java
Labels: CLA Signed, topic: not user facing

#9016 [ET-VK] Fix debug build + print maximum storage buffer size with device limits
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/vk_api/Adapter.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8820 Add qk norm optionally before attention calculation
  examples/models/llama/TARGETS
  examples/models/llama/attention.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/model_args.py
  examples/models/llama/norm.py
  examples/models/llama/static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8970 Fix flatcc path for Windows
  devtools/CMakeLists.txt
Labels: CLA Signed, release notes: build

#9028 [Android docs] Add backend link
  docs/source/using-executorch-android.md
Labels: CLA Signed, topic: not user facing

#8942 link quantize conv
  backends/cadence/hifi/operators/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8978 Update jni runner
  extension/android/jni/jni_layer_llama.cpp
  extension/android/src/main/java/org/pytorch/executorch/LlamaModule.java
Labels: CLA Signed, fb-exported, release notes: misc

#9017 Add buck rules in coreml llama transformer
  examples/apple/coreml/llama/TARGETS
  examples/apple/coreml/llama/export.py
  examples/apple/coreml/llama/llama_transformer.py
  examples/apple/coreml/llama/run.py
  pyproject.toml
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#9020 [cadence] add reference quantized_fully_connected_out
  backends/cadence/aot/functions.yaml
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/quantized_fully_connected_out.cpp
Labels: CLA Signed, topic: not user facing

#8967 support
  exir/program/_program.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9038 Unbreak buck exported_deps for elementwise_util
  kernels/portable/cpu/util/targets.bzl
Labels: CLA Signed, topic: not user facing

#9030 Modifying slice op to support all tensor packing.
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/slice_batch_height_width.glsl
  backends/vulkan/runtime/graph/ops/glsl/slice_channel.glsl
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8648 [ET-VK] Moving PushConstantData class implementation a separate h and cpp file.
  backends/vulkan/runtime/graph/containers/PushConstantData.cpp
  backends/vulkan/runtime/graph/containers/PushConstantData.h
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DispatchNode.h
Labels: CLA Signed, fb-exported, topic: not user facing

#8649 [ET-VK] Adding PushConstantDataInfo input to PrepackNode class.
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.h
Labels: CLA Signed, fb-exported, topic: not user facing

#9051 Add program schema dep to pte_data_map_test.
  runtime/executor/test/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9043 Remove dbort from CODEOWNERS
  CODEOWNERS
Labels: CLA Signed, topic: not user facing

#8946 Handle custom_ops like any other ET lib in Android and examples/models/lla{m,v}a/CMakeLists.txt
  build/cmake_deps.toml
  build/executorch-config.cmake
  examples/models/llama/CMakeLists.txt
  examples/models/llava/CMakeLists.txt
  extension/android/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#9055 mkdir when destination directory doesn't exist
  setup.py
Labels: CLA Signed, module: build/install, release notes: build

#9031 Lower the logging level of kernel metadata from Error to Info
  runtime/kernel/operator_registry.h
Labels: CLA Signed, fb-exported, topic: not user facing

#9050 [ET-VK][ez] Log GLSL file path on compile error
  backends/vulkan/runtime/gen_vulkan_spv.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8857 add pass to remove cat from slice pass
  backends/cadence/aot/remove_ops.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9054 executorch/backends/apple/coreml/test
  backends/apple/coreml/test/test_coreml_partitioner.py
  backends/qualcomm/_passes/decompose_any.py
  backends/qualcomm/_passes/decompose_linalg_vector_norm.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  backends/transforms/test/test_rank_0_to_rank_1.py
  examples/apple/coreml/llama/export.py
  exir/tests/test_memory_planning.py
  exir/verification/test/test_verifier.py
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#8914 [Windows] [memory_allocator.h] remove ET_TRY macros
  backends/apple/mps/runtime/MPSBackend.mm
  backends/arm/runtime/EthosUBackend.cpp
  backends/mediatek/runtime/NeuronBackend.cpp
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  exir/backend/test/demos/rpc/ExecutorBackend.cpp
  runtime/core/memory_allocator.h
  runtime/core/test/memory_allocator_test.cpp
  runtime/executor/tensor_parser_portable.cpp
  runtime/executor/test/test_backend_compiler_lib.cpp
  runtime/executor/test/test_backend_with_delegate_mapping.cpp
Labels: CLA Signed, ciflow/trunk, release notes: build

#5503 Upload javadoc
  .ci/docker/common/install_java.sh
  .ci/docker/ubuntu/Dockerfile
  .github/workflows/doc-build.yml
  extension/android/src/main/java/org/pytorch/executorch/EValue.java
  extension/android/src/main/java/org/pytorch/executorch/Tensor.java
Labels: CLA Signed, topic: not user facing

#9081 Arm backend: Re-enable Corstone FVP test
  backends/arm/test/conftest.py
  backends/arm/test/models/test_w2l_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8713 Test most of //runtime in unittest-buck
  .ci/scripts/unittest-buck2.sh
  runtime/core/exec_aten/testing_util/test/targets.bzl
  runtime/core/test/targets.bzl
Labels: CLA Signed, release notes: build

#9076 fix lintrunner
  backends/cadence/aot/remove_ops.py
Labels: CLA Signed, topic: not user facing

#9078 Update arm/_passes/TARGETS
  backends/arm/_passes/TARGETS
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9052 removed temp memory from mean dim out
  backends/cadence/fusion_g3/operators/op_mean.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9086 executorch/backends/transforms/test
  backends/transforms/test/test_create_delete_constant_placeholder.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9075 Fix missing algorithm header in thread_parallel
  extension/parallel/thread_parallel.cpp
Labels: CLA Signed, module: extension

#9065 android build vulkan in AAR
  build/build_android_library.sh
Labels: CLA Signed, module: vulkan, topic: not user facing

#9102 Use NDM in backend init context
  runtime/backend/backend_init_context.h
  runtime/backend/interface.h
  runtime/backend/targets.bzl
  runtime/executor/method.cpp
Labels: CLA Signed, release notes: api

#9099 Copy javadoc to the right directory
  .github/workflows/doc-build.yml
Labels: CLA Signed, topic: not user facing

#9069 Include custom ops in xnn_executor_runner if they're built
  backends/xnnpack/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#9106 Skip some arm tests
  backends/arm/test/passes/test_fuse_constant_ops_pass.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9103 Link to javadoc
  docs/source/index.rst
  docs/source/using-executorch-android.md
Labels: CLA Signed, topic: not user facing

#9100 [Windows] Add macro for weak linkage for Windows platforms
  runtime/platform/default/posix.cpp
Labels: CLA Signed, release notes: build

#9041 Build/test //kernels/portable/cpu/... in unittest-buck
  .ci/scripts/unittest-buck2.sh
  kernels/portable/cpu/targets.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, topic: not user facing

#9042 Build/test //kernels/portable/... in unittest-buck
  .ci/scripts/unittest-buck2.sh
  kernels/portable/targets.bzl
  kernels/portable/test/TARGETS
  kernels/portable/test/targets.bzl
  runtime/core/portable_type/c10/c10/targets.bzl
Labels: CLA Signed

#9122 embedding 4bit inference support
  examples/qualcomm/oss_scripts/llama/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9120 Add buck to build binary for Android
  examples/xnnpack/executor_runner/TARGETS
  examples/xnnpack/executor_runner/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8032 Enhance load_method to support optional planned memory allocator
  extension/module/module.cpp
  extension/module/module.h
Labels: CLA Signed, module: runtime, triaged, module: extension, release notes: api

#9025 Linear to Conv2d transform for static attention
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8983 Split & remove extension_parallel
  .lintrunner.toml
  CMakeLists.txt
  Test.cmake
  build/cmake_deps.toml
  build/executorch-config.cmake
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/custom_ops/targets.bzl
  extension/parallel/CMakeLists.txt
  extension/parallel/TARGETS
  extension/parallel/targets.bzl
  extension/parallel/test/TARGETS
  extension/parallel/test/targets.bzl
  extension/parallel/thread_parallel.h
  extension/threadpool/CMakeLists.txt
  extension/threadpool/targets.bzl
  extension/threadpool/test/CMakeLists.txt
  extension/threadpool/test/targets.bzl
  extension/threadpool/test/thread_parallel_test.cpp
  extension/threadpool/thread_parallel.cpp
  kernels/optimized/CMakeLists.txt
  kernels/optimized/blas/BlasKernel.h
  kernels/optimized/lib_defs.bzl
  runtime/kernel/targets.bzl
  runtime/kernel/thread_parallel_interface.h
  test/utils/OSSTestConfig.json
Labels: CLA Signed, release notes: misc

#9044 Make serial parallel_for "polyfill" iterate backwards in debug builds
  runtime/kernel/targets.bzl
  runtime/kernel/thread_parallel_interface.h
Labels: CLA Signed

#9068 Replace custom optional with std::optional
  extension/aten_util/make_aten_functor_from_et_functor.h
  kernels/portable/cpu/util/reduce_util.h
  runtime/core/exec_aten/exec_aten.h
  runtime/core/portable_type/optional.h
  runtime/core/portable_type/test/optional_test.cpp
Labels: CLA Signed, topic: not user facing

#9104 Adding linalg_svd and linag_det ops to executorch
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9159 Unbreak optimized kernels buck build (and check it in unittest-buck)
  .ci/scripts/unittest-buck2.sh
  kernels/optimized/lib_defs.bzl
Labels: CLA Signed, topic: not user facing

#9118 Fix pre-autograd transforms not getting persisted during xnnpack export
  extension/llm/export/builder.py
Labels: CLA Signed, release notes: examples

#9097 [Cadence] add reference requantize out and tests
  backends/cadence/aot/TARGETS
  backends/cadence/aot/export_example.py
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/ref_implementations.py
  backends/cadence/reference/kernels/kernels.cpp
  backends/cadence/reference/kernels/kernels.h
  backends/cadence/reference/operators/CMakeLists.txt
  backends/cadence/reference/operators/requantize_out.cpp
  examples/cadence/operators/targets.bzl
  examples/cadence/operators/test_requantize_op.py
Labels: CLA Signed, topic: not user facing

#9146 Don't repeatedly find_package(GTest) while running CMake
  build/Test.cmake
Labels: CLA Signed, release notes: build

#9063 [ET-VK] Add buffer support for binary ops
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ops/glsl/binary_op.glsl
  backends/vulkan/runtime/graph/ops/glsl/binary_op.yaml
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#9162 Update cmake build 3rd party path for Llama Project
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
Labels: CLA Signed, release notes: build, release notes: examples

#9135 Do auto redirect for old getting started page
  docs/source/getting-started-setup.md
  docs/source/getting-started-setup.rst
Labels: CLA Signed, topic: not user facing

#9108 Refactor: MapReduceOverDimListPlan
  kernels/portable/cpu/util/reduce_util.h
Labels: CLA Signed, release notes: api

#9109 Refactor: ReduceOverDimListPlan
  kernels/portable/cpu/util/reduce_util.h
Labels: CLA Signed, release notes: api

#9136 [ET-VK] Shortening code for slice op when packed dim is not the same as slice dim.
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9137 [ET-VK] Renaming slice_channel and slice_batch_height_width files to reflect change in its utility.
  backends/vulkan/runtime/graph/ops/glsl/slice_packed_dim.glsl
  backends/vulkan/runtime/graph/ops/glsl/slice_packed_dim.yaml
  backends/vulkan/runtime/graph/ops/glsl/slice_unpacked_dim.glsl
  backends/vulkan/runtime/graph/ops/glsl/slice_unpacked_dim.yaml
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9138 [ET-VK] Performance improvement to few indexing functions.
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#8936 Make cache replacement export log less noisy
  examples/models/llama/source_transformation/quantized_kv_cache.py
Labels: CLA Signed, topic: not user facing

#9140 Move third-party/glob_defs.bzl to shim_et
  backends/xnnpack/third-party/xnnpack_src_defs.bzl
  shim_et/xplat/executorch/third-party/glob_defs.bzl
  third-party/TARGETS
Labels: CLA Signed, topic: not user facing

#9092 Make pass_utils pyre-strict
  backends/cadence/aot/pass_utils.py
  backends/cadence/aot/passes.py
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9168 Fix LLM fine-tuning examples import error on OSS
  backends/vulkan/runtime/graph/ops/impl/BinaryOp.cpp
  pyproject.toml
Labels: CLA Signed, fb-exported, topic: not user facing

#9128 Arm backend: Add TOSA support for logical not
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/ops_unary.py
  backends/arm/test/models/test_conformer.py
  backends/arm/test/ops/test_logical.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9000 Fix typo in executorch documentation
  docs/source/backends-xnnpack.md
Labels: CLA Signed, topic: not user facing

#9166 Rename M1 references in wheel building to macOS
  .github/workflows/build-wheels-macos.yml
  build/packaging/env_var_script_macos.sh
Labels: CLA Signed, module: ci, release notes: build

#9082 Arm backend: Bump FVP timeout to 10 min
  backends/arm/scripts/run_fvp.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9083 Arm backend: Make build script source the generated setup_path.sh
  backends/arm/scripts/build_executorch.sh
  backends/arm/scripts/build_executorch_runner.sh
  backends/arm/scripts/build_portable_kernels.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9184 Arm backend: Bump Vela pin to support matmul on Ethos-U55
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_mm.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9187 Revert "Unbreak optimized kernels buck build (and check it in unittest-buck) (#9159)"
  .ci/scripts/unittest-buck2.sh
  kernels/optimized/lib_defs.bzl
Labels: CLA Signed, topic: not user facing

#9181 Qualcomm AI Engine Direct - support XR2Gen3 SoC
  backends/qualcomm/serialization/qc_compiler_spec.fbs
  backends/qualcomm/serialization/qc_schema.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, release notes: qualcomm

#9195 Update XNNPACK and backend template docs
  docs/source/backend-template.md
  docs/source/backends-xnnpack.md
Labels: module: doc, CLA Signed, triaged, release notes: misc

#9167 Use requirements-dev.txt to install pip deps
  build/packaging/pre_build_script.sh
Labels: CLA Signed, module: ci, release notes: build

#9193 Attempt to unbreak build_apple_frameworks
  build/build_apple_frameworks.sh
Labels: CLA Signed, topic: not user facing

#9173 [ET-VK] Allow memory tagging pass to handle nodes with list of tensor args
  backends/vulkan/_passes/tag_memory_meta_pass.py
Labels: CLA Signed, release notes: vulkan

#9201 fix ci
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#9209 Link custom kernels with libextension_threadpool
  build/build_apple_frameworks.sh
Labels: CLA Signed, topic: not user facing

#9208 Modify minibench SDK
  extension/benchmark/android/benchmark/app/build.gradle.kts
Labels: CLA Signed, topic: not user facing

#9196 Add _unsafe_reset_threadpool to pybindings
  extension/pybindings/portable_lib.py
  extension/pybindings/pybindings.cpp
  extension/pybindings/pybindings.pyi
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported, release notes: misc, topic: not user facing

#8987 Build optimized_portable_kernels if threadpool is enabled
  build/cmake_deps.toml
  build/executorch-config.cmake
  configurations/CMakeLists.txt
  extension/android/CMakeLists.txt
  kernels/portable/CMakeLists.txt
  kernels/test/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#9139 Extract parallel_for_each_reduce_over_dim_output_index from argmin parallelization PoC
  kernels/portable/cpu/op_argmin.cpp
  kernels/portable/cpu/util/reduce_util.h
  kernels/portable/cpu/util/targets.bzl
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, release notes: ops & kernels

#9176 cover //kernels/prim_ops/... in unittest-buck
  .ci/scripts/unittest-buck2.sh
  kernels/prim_ops/test/TARGETS
Labels: CLA Signed, topic: not user facing

#9206 Update android docs
  docs/source/using-executorch-android.md
Labels: CLA Signed, topic: not user facing

#9210 [Android benchmarking] Cool down the device before a run
  extension/benchmark/android/benchmark/android-llm-device-farm-test-spec.yml.j2
  extension/benchmark/android/benchmark/app/src/main/java/org/pytorch/minibench/BenchmarkActivity.java
Labels: CLA Signed, topic: not user facing

#9212 Pull submodules recursively for Benchmark app on CI
  .github/workflows/apple-perf.yml
Labels: CLA Signed, topic: not user facing

#9205 Enable model based selective build on xplat
  codegen/tools/targets.bzl
  shim_et/xplat/executorch/build/runtime_wrapper.bzl
Labels: CLA Signed, fb-exported, topic: not user facing
