Repository pytorch/executorch, pull requests merged in 2025-09, with the labels that each got.

#13777 Add backend-agnostic implementation for dequantize_per_tensor
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13803 Arm backend: Add passes to handle int64 const and int64 output ops
  backends/arm/README.md
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/convert_int64_const_ops_to_int32.py
  backends/arm/_passes/convert_int64_output_ops_to_int32.py
  backends/arm/test/models/stable_diffusion/test_CLIPTextModelWithProjection.py
  backends/arm/test/models/stable_diffusion/test_T5EncoderModel.py
  backends/arm/test/models/stable_diffusion/test_vae_AutoencoderKL.py
  backends/arm/test/models/test_conformer.py
  backends/arm/test/passes/test_convert_int64_const_ops_to_int32.py
  backends/arm/test/passes/test_convert_int64_output_ops_to_int32.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13839 Arm backend: Change W2L "input type" for Ethos-U55 test
  backends/arm/test/models/test_w2l_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#13717 Use extension module for pybind
  exir/backend/test/test_backends.py
  exir/backend/test/test_backends_lifted.py
  exir/backend/test/test_compatibility.py
  extension/pybindings/pybindings.cpp
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported

#13760 NXP backend: Fix incorrect `linear` test.
  backends/nxp/tests/ir/converter/node_converter/test_linear_converter.py
Labels: CLA Signed, module: nxp, release notes: nxp

#13415 NXP backend: Remove optimization in remove_unused_tensors_and_buffers.py
  backends/nxp/backend/ir/tflite_optimizer/optimizations/remove_unused_tensors_and_buffers.py
  backends/nxp/backend/ir/tflite_optimizer/optimizer.py
Labels: CLA Signed, module: nxp, release notes: nxp

#13850 Fix -rpath linker option for Apple build
  examples/models/llama/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, release notes: none

#13848 Fix apple-perf export tests for 8da4w_out_8da8w
  .github/workflows/apple-perf.yml
Labels: CLA Signed, ciflow/trunk, release notes: none

#13749 Remove last remnants of requantize kernels
  backends/cadence/hifi/kernels/kernels.cpp
Labels: CLA Signed, fb-exported

#13885 Fix prefill_inference
  examples/qualcomm/oss_scripts/llama/decoder_utils.py
Labels: CLA Signed, fb-exported

#13579 Add pybindings for attribute tensors
  extension/pybindings/pybindings.cpp
  extension/pybindings/pybindings.pyi
  extension/pybindings/test/test_pybindings.py
Labels: CLA Signed, fb-exported

#13895 Revert "Arm backend: Add 16A8W linear ops support and test (#13754)"
  backends/arm/operators/op_transpose.py
  backends/arm/operators/op_view.py
  backends/arm/test/ops/test_linear.py
Labels: CLA Signed, ci-no-td

#13868 Arm backend: Add schema for debug data capture
  backends/arm/debug/__init__.py
  backends/arm/debug/schema.py
  backends/arm/test/misc/test_debug_hook.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13911 Revert "Use extension module for pybind (#13858)"
  exir/backend/test/test_backends.py
  exir/backend/test/test_backends_lifted.py
  exir/backend/test/test_compatibility.py
  extension/pybindings/pybindings.cpp
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, ci-no-td

#13912 Add qnn deps to LlamaDemo gradle
  examples/demo-apps/android/LlamaDemo/app/build.gradle.kts
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
Labels: CLA Signed, release notes: android

#13908 Arm backend: Enable capture of debug information during TOSA serialization
  backends/arm/arm_backend.py
  backends/arm/operators/node_visitor.py
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_amax.py
  backends/arm/operators/op_amin.py
  backends/arm/operators/op_any.py
  backends/arm/operators/op_avg_pool2d.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_cat.py
  backends/arm/operators/op_clamp.py
  backends/arm/operators/op_constant_pad_nd.py
  backends/arm/operators/op_conv2d.py
  backends/arm/operators/op_cos.py
  backends/arm/operators/op_eq.py
  backends/arm/operators/op_erf.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_ge.py
  backends/arm/operators/op_gt.py
  backends/arm/operators/op_index_select.py
  backends/arm/operators/op_index_tensor.py
  backends/arm/operators/op_le.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_lt.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/operators/op_maximum.py
  backends/arm/operators/op_minimum.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_neg.py
  backends/arm/operators/op_permute.py
  backends/arm/operators/op_pow.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_repeat.py
  backends/arm/operators/op_rshift_tensor.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_sin.py
  backends/arm/operators/op_slice.py
  backends/arm/operators/op_sub.py
  backends/arm/operators/op_table.py
  backends/arm/operators/op_tanh.py
  backends/arm/operators/op_to_copy.py
  backends/arm/operators/op_to_dim_order_copy.py
  backends/arm/operators/op_transpose.py
  backends/arm/operators/op_upsample_bilinear2d.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/operators/op_view.py
  backends/arm/operators/op_where.py
  backends/arm/operators/ops_binary.py
  backends/arm/operators/ops_identity.py
  backends/arm/operators/ops_unary.py
  backends/arm/test/common.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/tester/test_pipeline.py
  backends/arm/tosa_backend.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13887 XNNPACK: Kleidi QP8 and SME2
  backends/xnnpack/cmake/Dependencies.cmake
  backends/xnnpack/runtime/XNNCompiler.cpp
Labels: CLA Signed, ciflow/trunk, release notes: xnnpack

#13731 Optimize index_out via fast path
  kernels/portable/cpu/op_index.cpp
  kernels/test/op_index_test.cpp
Labels: CLA Signed, fb-exported, release notes: none

#12597 Add constraints for cadence idma ops.
  backends/cadence/aot/memory_constraints.py
  backends/cadence/aot/memory_planning.py
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported, release notes: none

#13823 Support Half/BFloat16 in native_group_norm
  kernels/portable/cpu/op_native_group_norm.cpp
  kernels/test/op_native_group_norm_test.cpp
Labels: CLA Signed, fb-exported, release notes: none

#13919 Static attention batch size > 1
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#13921 Back out "Add XNNPACK backend option for workspace sharing"
  backends/test/multi_method_delegate_test.cpp
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/runtime/XNNExecutor.h
  backends/xnnpack/runtime/XNNPACKBackend.cpp
  backends/xnnpack/runtime/XNNPACKBackend.h
  backends/xnnpack/runtime/XNNWorkspace.h
  backends/xnnpack/runtime/XNNWorkspaceManager.cpp
  backends/xnnpack/runtime/XNNWorkspaceManager.h
  backends/xnnpack/targets.bzl
  backends/xnnpack/test/runtime/test_workspace_manager.cpp
  backends/xnnpack/test/runtime/test_workspace_sharing.cpp
  backends/xnnpack/test/runtime/test_xnnexecutor.cpp
  backends/xnnpack/test/targets.bzl
  shim_et/xplat/executorch/build/build_variables.bzl
Labels: CLA Signed, fb-exported

#13660 Force -O3 for executorch op_div.cpp in "clang 17" also
  shim_et/xplat/executorch/kernels/optimized/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#13909 Adjust atol/rtol for ring attention's quantized kv cache test
  examples/models/llama/tests/test_ring_attention.py
Labels: CLA Signed, release notes: none

#13931 Revert #13851 #13853 #13854 #13855
  examples/models/llava/export_llava.py
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/test/test_llava.py
  examples/models/llava/test/test_pte.py
  examples/models/voxtral/CMakeLists.txt
  examples/models/voxtral/multimodal.cpp
  extension/llm/runner/audio.h
  extension/llm/runner/constants.h
  extension/llm/runner/llm_runner_helper.cpp
  extension/llm/runner/llm_runner_helper.h
  extension/llm/runner/multimodal_input.h
  extension/llm/runner/multimodal_prefiller.cpp
  extension/llm/runner/multimodal_runner.cpp
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/text_token_generator.h
Labels: CLA Signed, ci-no-td

#13897 Add backend-agnostic implementation for quantized_linear
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13876 Update Neutron Converter
  backends/nxp/TARGETS
Labels: CLA Signed, fb-exported

#13870 Add audio to multimodal runner
  examples/models/llava/export_llava.py
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/test/test_llava.py
  examples/models/llava/test/test_pte.py
  extension/llm/runner/audio.h
  extension/llm/runner/constants.h
  extension/llm/runner/multimodal_input.h
  extension/llm/runner/multimodal_prefiller.cpp
  extension/llm/runner/targets.bzl
Labels: CLA Signed, fb-exported, release notes: llm

#13872 Make token and stat callback optional in multimodal runner
  extension/llm/runner/multimodal_runner.cpp
  extension/llm/runner/multimodal_runner.h
  extension/llm/runner/text_token_generator.h
Labels: CLA Signed, fb-exported

#13735 [EXIR] Register _clone_dim_order op and map aten.clone
  backends/apple/coreml/compiler/torch_ops.py
  backends/apple/coreml/test/test_torch_ops.py
  backends/arm/_passes/remove_clone_pass.py
  backends/arm/operator_support/clone_support.py
  backends/arm/test/misc/test_partition_decomposed_quantized_ops.py
  backends/arm/test/ops/test_clone.py
  backends/arm/test/passes/test_remove_clone_pass.py
  backends/qualcomm/_passes/convert_bmm_to_matmul.py
  backends/qualcomm/_passes/remove_redundancy.py
  backends/qualcomm/partition/common_defs.py
  backends/qualcomm/tests/utils.py
  exir/passes/dim_order_ops_registry.py
  exir/tests/test_memory_format_ops_pass.py
  exir/tests/test_memory_format_ops_pass_utils.py
Labels: CLA Signed, ciflow/trunk, release notes: none

#13833 Fix reduction over dim list for empty input
  kernels/portable/cpu/op_any.cpp
  kernels/portable/cpu/op_mean.cpp
  kernels/portable/cpu/op_var.cpp
  kernels/portable/cpu/util/reduce_util.h
  kernels/test/op_any_test.cpp
  kernels/test/op_mean_test.cpp
  kernels/test/op_sum_test.cpp
  kernels/test/op_var_test.cpp
Labels: CLA Signed, fb-exported

#13846 Update backend-agnostic quantize_per_tensor to use scale_inv to match the quantize_per_tensor_out implementation
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13847 Backend-agnostic implementation of quantized_layer_norm_per_tensor
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13961 Scriptify mel spectrogram processor
  extension/audio/mel_spectrogram.py
Labels: CLA Signed, release notes: multimodal

#13791 [Executorch][target recipes] Add target based recipes for lowering models to a target device
  backends/apple/coreml/TARGETS
  backends/apple/coreml/recipes/coreml_recipe_provider.py
  backends/apple/coreml/test/test_coreml_recipes.py
  backends/xnnpack/TARGETS
  backends/xnnpack/__init__.py
  backends/xnnpack/recipes/TARGETS
  backends/xnnpack/recipes/__init__.py
  backends/xnnpack/recipes/xnnpack_recipe_provider.py
  backends/xnnpack/recipes/xnnpack_recipe_types.py
  backends/xnnpack/test/TARGETS
  backends/xnnpack/test/recipes/test_xnnpack_recipes.py
  export/TARGETS
  export/recipe.py
  export/stages.py
  export/target_recipes.py
  export/tests/TARGETS
  export/tests/test_target_recipes.py
Labels: CLA Signed, fb-exported

#13959 Disable xnnpack jobs in macos
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#13993 Arm backend: Add INT64 support to to_copy
  backends/arm/operator_support/to_copy_support.py
  backends/arm/test/models/stable_diffusion/test_T5EncoderModel.py
  backends/arm/test/ops/test_to_copy.py
  backends/arm/test/passes/test_convert_int64_output_ops_to_int32.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13805 model : support LiquidAI LFM2 hybrid family
  examples/models/lfm2/README.md
  examples/models/lfm2/__init__.py
  examples/models/lfm2/config/lfm2_1_2b_config.json
  examples/models/lfm2/config/lfm2_350m_config.json
  examples/models/lfm2/config/lfm2_700m_config.json
  examples/models/lfm2/config/lfm2_xnnpack_fp32.yaml
  examples/models/lfm2/config/lfm2_xnnpack_q8da4w.yaml
  examples/models/lfm2/convert_weights.py
  examples/models/lfm2/short_conv.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/feed_forward.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/model_args.py
  examples/models/llama/source_transformation/spin_quant.py
  extension/llm/export/config/llm_config.py
Labels: CLA Signed, release notes: examples

#13995 Arm backend: Refactor compiler choices in setup.sh
  backends/arm/scripts/toolchain_utils.sh
  examples/arm/setup.sh
Labels: CLA Signed, ciflow/trunk, module: arm, release notes: none

#13916 Fix internal tests for LiquidAI LFM2
  examples/models/lfm2/__init__.py
  examples/models/lfm2/short_conv.py
  examples/models/llama/TARGETS
  examples/models/llama/feed_forward.py
  examples/models/llama/llama_transformer.py
Labels: CLA Signed, fb-exported, release notes: none

#13966 fix facto contraints to avoid char,byte in full
  backends/cadence/utils/facto_util.py
Labels: CLA Signed, fb-exported

#13940 Arm backend: Add decomposition of div.Tensor_mode
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_div_tensor_mode.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/ops/test_div_tensor_mode.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#13955 Backend-agnostic implementation of quantized_conv_nchw
  backends/cadence/aot/TARGETS
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#14024 [retake] Use extension module for pybind
  exir/backend/test/test_backends.py
  exir/backend/test/test_backends_lifted.py
  exir/backend/test/test_compatibility.py
  extension/pybindings/pybindings.cpp
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported

#13884 Use OSS kernels everywhere
  backends/cadence/hifi/kernels/targets.bzl
  backends/cadence/hifi/operators/op_quantized_conv_nchw_out.cpp
  backends/cadence/reference/kernels/kernels.cpp
  backends/cadence/reference/kernels/targets.bzl
Labels: CLA Signed, fb-exported

#14031 Arm backend: fwd fix for tosa dir refactor for buck files
  backends/arm/README.md
  backends/arm/TARGETS
  backends/arm/_passes/TARGETS
  backends/arm/debug/TARGETS
  backends/arm/operator_support/TARGETS
  backends/arm/operators/TARGETS
  backends/arm/test/TARGETS
  backends/arm/tosa/TARGETS
  backends/arm/tosa/dialect/TARGETS
Labels: CLA Signed, fb-exported

#14009 Arm backend: Refactor setup.sh to break out vulkan
  backends/arm/scripts/vulkan_utils.sh
  examples/arm/setup.sh
Labels: CLA Signed, module: vulkan, ciflow/trunk, module: arm, release notes: none

#13789 Arm backend: Add 16A8W support and test for add operation
  backends/arm/operators/op_add.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/targets.bzl
Labels: CLA Signed, fb-exported, partner: arm, ciflow/trunk, release notes: arm, module: arm

#13816 [ET-VK] Quantized Int8 Linear
  .github/workflows/pull.yml
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/common.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_common.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_bias_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_input_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_input_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_fp_compute.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_fp_int8_compute.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_int8_int8_compute.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_store.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_per_out_channel_params.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_weight_scales_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_weight_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_input_block.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_input_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_input_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_weight_block.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_weight_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int8_weight_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int_per_out_channel_params.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int_weight_sums_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_q8csw_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_q8csw_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_q8ta_q8csw_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_q8ta_q8csw_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/pack_q8_linear_weight.glsl
  backends/vulkan/runtime/graph/ops/glsl/pack_q8_linear_weight.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_and_pack_linear_input.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_and_pack_linear_input.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.h
  backends/vulkan/runtime/graph/ops/impl/utils/QuantizationConfig.h
  backends/vulkan/test/custom_ops/CMakeLists.txt
  backends/vulkan/test/custom_ops/q8csw_linear.cpp
  backends/vulkan/test/custom_ops/targets.bzl
  backends/vulkan/test/custom_ops/utils.cpp
  backends/vulkan/test/custom_ops/utils.h
Labels: CLA Signed, fb-exported

#13818 [ET-VK][AOT] Enable exporting Q8 Quantized Linear + Convolution
  .github/workflows/pull.yml
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/__init__.py
  backends/vulkan/_passes/fold_qdq.py
  backends/vulkan/custom_ops_lib.py
  backends/vulkan/op_registry.py
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/patterns/TARGETS
  backends/vulkan/patterns/__init__.py
  backends/vulkan/patterns/pattern_registry.py
  backends/vulkan/patterns/quantized_convolution.py
  backends/vulkan/patterns/quantized_linear.py
  backends/vulkan/patterns/rope.py
  backends/vulkan/test/TARGETS
  backends/vulkan/test/test_vulkan_delegate.py
  backends/vulkan/test/utils.py
  backends/vulkan/utils.py
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported

#13879 [ET-VK][ez] Enable max_pool2d.default
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/max_pool2d.glsl
  backends/vulkan/runtime/graph/ops/impl/Pool.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported

#14019 [ET-VK] Fast path for choose_qparams
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_per_row.glsl
  backends/vulkan/runtime/graph/ops/glsl/choose_qparams_per_row.yaml
  backends/vulkan/runtime/graph/ops/impl/ChooseQParams.cpp
  backends/vulkan/test/custom_ops/choose_qparams_per_row.cpp
  backends/vulkan/test/custom_ops/targets.bzl
Labels: CLA Signed, fb-exported

#14020 [ET-VK] Implement linear_q4gsw
  backends/vulkan/custom_ops_lib.py
  backends/vulkan/op_registry.py
  backends/vulkan/patterns/quantized_linear.py
  backends/vulkan/runtime/graph/ops/glsl/linear_common.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_fp_compute.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_output_tile_fp_int4_compute.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_fp_weight_scales_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int4_weight_block.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int4_weight_tile.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_int4_weight_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/linear_q4gsw_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_q4gsw_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/linear_q4gsw_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/linear_q4gsw_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/pack_q4_linear_weight.glsl
  backends/vulkan/runtime/graph/ops/glsl/pack_q4_linear_weight.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
  backends/vulkan/test/custom_ops/CMakeLists.txt
  backends/vulkan/test/custom_ops/q4gsw_linear.cpp
  backends/vulkan/test/custom_ops/quantized_int4_linear.cpp
  backends/vulkan/test/custom_ops/quantized_q4gaw_linear.cpp
  backends/vulkan/test/custom_ops/targets.bzl
  backends/vulkan/test/custom_ops/utils.cpp
  backends/vulkan/test/custom_ops/utils.h
Labels: CLA Signed, fb-exported

#13892 Qualcomm AI Engine Direct - Strengthen Unit Test Robustness
  backends/qualcomm/_passes/build_quant_io.py
  backends/qualcomm/quantizer/qconfig.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/custom_op/custom_ops_1.py
  examples/qualcomm/oss_scripts/albert.py
  examples/qualcomm/oss_scripts/bert.py
  examples/qualcomm/oss_scripts/conv_former.py
  examples/qualcomm/oss_scripts/cvt.py
  examples/qualcomm/oss_scripts/deit.py
  examples/qualcomm/oss_scripts/dino_v2.py
  examples/qualcomm/oss_scripts/distilbert.py
  examples/qualcomm/oss_scripts/dit.py
  examples/qualcomm/oss_scripts/efficientSAM/efficientSAM.py
  examples/qualcomm/oss_scripts/efficientnet.py
  examples/qualcomm/oss_scripts/esrgan.py
  examples/qualcomm/oss_scripts/eurobert.py
  examples/qualcomm/oss_scripts/fastvit.py
  examples/qualcomm/oss_scripts/fbnet.py
  examples/qualcomm/oss_scripts/focalnet.py
  examples/qualcomm/oss_scripts/gMLP_image_classification.py
  examples/qualcomm/oss_scripts/mobilevit_v1.py
  examples/qualcomm/oss_scripts/mobilevit_v2.py
  examples/qualcomm/oss_scripts/pvt.py
  examples/qualcomm/oss_scripts/qwen2_5/qwen2_5.py
  examples/qualcomm/oss_scripts/regnet.py
  examples/qualcomm/oss_scripts/retinanet.py
  examples/qualcomm/oss_scripts/roberta.py
  examples/qualcomm/oss_scripts/squeezenet.py
  examples/qualcomm/oss_scripts/ssd300_vgg16.py
  examples/qualcomm/oss_scripts/swin_transformer.py
  examples/qualcomm/oss_scripts/t5/t5.py
  examples/qualcomm/oss_scripts/whisper/whisper.py
  examples/qualcomm/scripts/deeplab_v3.py
  examples/qualcomm/scripts/edsr.py
  examples/qualcomm/scripts/inception_v3.py
  examples/qualcomm/scripts/inception_v4.py
  examples/qualcomm/scripts/mobilebert_fine_tune.py
  examples/qualcomm/scripts/mobilenet_v2.py
  examples/qualcomm/scripts/mobilenet_v3.py
  examples/qualcomm/scripts/torchvision_vit.py
  examples/qualcomm/scripts/wav2letter.py
  examples/qualcomm/utils.py
Labels: CLA Signed

#13886 Add program-data separation to pybindings
  extension/pybindings/pybindings.cpp
  extension/pybindings/pybindings.pyi
  extension/pybindings/test/make_test.py
  extension/pybindings/test/test_pybindings.py
Labels: CLA Signed, fb-exported

#13862 Arm backend: Move vgf files to own folder
  backends/arm/TARGETS
  backends/arm/test/misc/test_extract_io_params_tosa.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/vgf/__init__.py
  backends/arm/vgf/backend.py
  backends/arm/vgf/partitioner.py
  examples/arm/aot_arm_compiler.py
  examples/arm/vgf_minimal_example.ipynb
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13927 Qualcomm AI Engine Direct - Test QNN2.37 uplevel Fix
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/test_backend_linux.sh
  .ci/scripts/test_qnn_static_llama.sh
  .github/workflows/android-perf.yml
Labels: CLA Signed, ciflow/nightly

#13825 Jni layer use multimodal runner
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed

#14103 Update hashes
  Package.swift
Labels: CLA Signed

#13958 Remove quantized_conv and leave just per tensor variants
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13997 Arm backend: Preserve output order
  backends/arm/test/misc/test_outputs_order.py
  backends/arm/tosa/backend.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14063 Arm backend: Make ops supported check TOSA profile-aware
  backends/arm/operator_support/tosa_profile_supported_op_lists.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/ops/test_bitwise.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14083 Arm backend: Refactor setup.sh $PATH creation
  backends/arm/scripts/mlsdk_utils.sh
  backends/arm/scripts/toolchain_utils.sh
  backends/arm/scripts/utils.sh
  backends/arm/scripts/vulkan_utils.sh
  examples/arm/setup.sh
Labels: CLA Signed, ciflow/trunk, module: arm, release notes: none

#14081 remove Numpy-2.0 incompatible use of numpy.product
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#13907 Replace aten linalg svd with cadence version.
  backends/cadence/aot/program_builder.py
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported

#14114 Arm backend: Fix tensor_div_mode decomp for scalar input
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/test/ops/test_div_tensor_mode.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing, release notes: none

#14017 Update default executor runner with new optional options
  backends/arm/test/ops/test_acos.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/runner_utils.py
  examples/portable/executor_runner/executor_runner.cpp
  extension/runner_util/inputs.cpp
  extension/runner_util/inputs.h
  extension/runner_util/inputs_aten.cpp
  extension/runner_util/inputs_portable.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: examples

#13841 NXP backend: Update the pass `move_auxiliary_operator_into_separate_qdq_cluster`.
  backends/nxp/edge_passes/move_auxiliary_operator_into_separate_qdq_cluster_pass.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14033 Add uint8/int8 specializations for conv per tensor
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#14130 [ET-VK] Implement SDPA with fused ops
  .github/workflows/pull.yml
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/flash_attention_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/flash_attention_texture3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/kv_cache_update.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_attn_weight_scale_and_mask.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_attn_weight_scale_and_mask.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_attn_weights_softmax.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_attn_weights_softmax.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_attn_weights_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_attn_weights_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_attn_weights_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_attn_weights_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_out_coop.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_out_coop.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_out_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_compute_out_tiled.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_attn_weight_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_attn_weight_tile_store.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_k_cache_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_out_tile_store.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_q_projected_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_fp_v_cache_tile_load.glslh
  backends/vulkan/runtime/graph/ops/glsl/sdpa_kv_cache_update.glsl
  backends/vulkan/runtime/graph/ops/glsl/sdpa_kv_cache_update.yaml
  backends/vulkan/runtime/graph/ops/glsl/sdpa_q_projected_input_tile.glslh
  backends/vulkan/runtime/graph/ops/impl/SDPA.cpp
  backends/vulkan/test/op_tests/CMakeLists.txt
  backends/vulkan/test/op_tests/sdpa_test.cpp
  backends/vulkan/test/scripts/test_op.sh
Labels: CLA Signed, fb-exported

#14034 Ensure we can call custom ops from torch cadence lib
  backends/cadence/aot/TARGETS
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#14118 Arm backend: Add pass to handle int64 placeholders
  backends/arm/README.md
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/insert_int32_casts_after_int64_placeholders.py
  backends/arm/_passes/insert_int64_input_cast_pass.py
  backends/arm/test/models/stable_diffusion/test_CLIPTextModelWithProjection.py
  backends/arm/test/models/stable_diffusion/test_SD3Transformer2DModel.py
  backends/arm/test/models/stable_diffusion/test_T5EncoderModel.py
  backends/arm/test/models/test_llama.py
  backends/arm/test/ops/test_embedding.py
  backends/arm/test/passes/test_insert_int32_casts_after_int64_placeholders_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14141 Arm backend: Remove unused function `build_rescale_conv_output`
  backends/arm/tosa/quant_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, module: arm, release notes: none

#14005 Expose Model Explorer's visualize_from_config
  devtools/visualization/__init__.py
  devtools/visualization/visualization_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#13844 NXP backend: Fix shared quantization bugs.
  backends/nxp/backend/ir/converter/node_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/convolution_converter.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14152 Arm backend: Forward fix for VGF refactoring
  backends/arm/test/TARGETS
Labels: CLA Signed, fb-exported

#13120 Update CoreML docs
  docs/source/backends-coreml.md
Labels: CLA Signed

#14147 Add torchcodec as temporary dependency
  examples/models/moshi/mimi/install_requirements.sh
  install_requirements.py
Labels: CLA Signed, release notes: none

#14100 LlmModule prefill refactor
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/extension/llm/LlmModule.java
  extension/android/jni/jni_layer_llama.cpp
Labels: CLA Signed

#14035 Update channels last python reference to not use memory_format=channels_last
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported

#14073 Replace export_for_training with export
  backends/apple/coreml/test/test_coreml_quantizer.py
  backends/apple/mps/test/test_mps_utils.py
  backends/cortex_m/test/test_quantize_op_fusion_pass.py
  backends/example/test_example_delegate.py
  backends/mediatek/quantizer/annotator.py
  backends/qualcomm/tests/utils.py
  backends/test/harness/stages/quantize.py
  backends/test/suite/runner.py
  backends/transforms/test/test_duplicate_dynamic_quant_chain.py
  backends/vulkan/test/test_vulkan_passes.py
  backends/vulkan/test/utils.py
  backends/xnnpack/test/ops/test_check_quant_params.py
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
  backends/xnnpack/test/quantizer/test_representation.py
  backends/xnnpack/test/quantizer/test_xnnpack_quantizer.py
  backends/xnnpack/test/test_xnnpack_utils.py
  devtools/inspector/tests/inspector_test.py
  docs/source/backend-delegates-xnnpack-reference.md
  docs/source/backends-coreml.md
  docs/source/backends-xnnpack.md
  docs/source/bundled-io.md
  docs/source/llm/export-custom-llm.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  docs/source/tutorials_source/export-to-executorch-tutorial.py
  examples/apple/mps/scripts/mps_example.py
  examples/llm_manual/export_nanogpt.py
  examples/mediatek/aot_utils/oss_utils/utils.py
  examples/mediatek/model_export_scripts/llama.py
  examples/models/llama/eval_llama_lib.py
  examples/models/phi-3-mini/export_phi-3-mini.py
  examples/models/test/test_export.py
  examples/portable/scripts/export_and_delegate.py
  examples/xnnpack/aot_compiler.py
  examples/xnnpack/quantization/example.py
  exir/backend/test/test_partitioner.py
  exir/backend/test/test_passes.py
  exir/emit/test/test_emit.py
  exir/tests/test_extract_io_quant_params.py
  exir/tests/test_passes.py
  exir/tests/test_quantization.py
  exir/tests/test_quantize_io_pass.py
  extension/export_util/utils.py
  extension/llm/README.md
  extension/llm/export/builder.py
  extension/llm/export/test_export_passes.py
  extension/module/test/resources/gen_bundled_program.py
  extension/training/README.md
  extension/training/examples/XOR/export_model.py
Labels: CLA Signed, fb-exported, ciflow/trunk, ciflow/binaries, release notes: api

#14126 [Executorch][QNN Recipes] Introduce QNN fp16 recipe
  backends/qualcomm/_passes/TARGETS
  backends/qualcomm/recipes/TARGETS
  backends/qualcomm/recipes/__init__.py
  backends/qualcomm/recipes/qnn_recipe_provider.py
  backends/qualcomm/recipes/qnn_recipe_types.py
Labels: CLA Signed, fb-exported

#14174 Revert "Arm backend: Add --enable_debug_mode to AOT compiler (#14145)"
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_sum.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, ci-no-td

#14247 Measure model latency when input list is not provided
  examples/qualcomm/executor_runner/qnn_executor_runner.cpp
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14238 Swap Llava export arg order
  examples/models/llava/export_llava.py
  examples/models/llava/model.py
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/test/test_llava.py
Labels: CLA Signed, ciflow/trunk, release notes: none

#14283 Update Voxtral README.md
  examples/models/voxtral/README.md
Labels: CLA Signed, release notes: none

#14278 [tosa-tools] Remove v0.80 usage from ET
  backends/arm/TARGETS
  backends/arm/operators/TARGETS
  backends/arm/tosa/TARGETS
  backends/nxp/TARGETS
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14241 pyre-fix
  backends/xnnpack/test/ops/test_linear.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, fb-exported, meta-exported

#14189 Add support for conv1d
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_type_dispatch_passes.py
  backends/cadence/aot/type_dispatch.py
  backends/cadence/hifi/operators/op_quantized_conv1d_nchw_asym8sxsym8s_asym8s_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv1d_nchw_asym8uxsym8u_asym8u_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv1d_nhwc_asym8sxsym8s_asym8s_per_tensor_out.cpp
  backends/cadence/hifi/operators/op_quantized_conv1d_nhwc_asym8uxsym8u_asym8u_per_tensor_out.cpp
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/reference/operators/quantized_conv_nchw_out.cpp
  backends/cadence/reference/operators/quantized_conv_nhwc_out.cpp
Labels: CLA Signed, fb-exported, meta-exported

#14093 Remove non-per-tensor quantized add and replace with per-tensor variant
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported, meta-exported

#14298 Arm backend: Fix incorrect tag name
  backends/arm/scripts/mlsdk_utils.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14163 NXP backend: Move optimization in keep_one_empty_buffer.py to Model builder
  backends/nxp/backend/ir/converter/builder/model_builder.py
  backends/nxp/backend/ir/tflite_optimizer/optimizations/keep_one_empty_buffer.py
  backends/nxp/backend/ir/tflite_optimizer/optimizer.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14257 Arm Backend: Add visualization script for Arm models
  backends/arm/requirements-arm-tosa.txt
  examples/arm/run.sh
  examples/arm/visualize.py
Labels: CLA Signed, partner: arm, release notes: arm

#14228 Clean up test type dispatches
  backends/cadence/aot/TARGETS
  backends/cadence/aot/tests/test_type_dispatch_passes.py
Labels: CLA Signed, fb-exported, meta-exported

#14273 Arm backend: Add --enable_debug_mode to AOT compiler (Try 2)
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_sum.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, fb-exported, partner: arm, release notes: arm, meta-exported

#14304 swap arg init in text_llm_runner
  extension/llm/runner/text_llm_runner.cpp
Labels: CLA Signed

#14140 Arm backend: use ArmCompileSpec in backend
  backends/arm/ethosu/backend.py
  backends/arm/test/misc/test_tosa_spec.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa/backend.py
  backends/arm/tosa/partitioner.py
  backends/arm/tosa/specification.py
  backends/arm/vgf/backend.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14143 Arm backend: Add support for ETDump of outputs
  backends/arm/scripts/build_executor_runner.sh
  backends/arm/scripts/run_fvp.sh
  backends/arm/test/test_model.py
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14315 Temporarily disable OpenVINO CI job
  .github/workflows/pull.yml
Labels: CLA Signed

#14225 Update cache position population and arg order for multimodal runner
  extension/llm/runner/multimodal_decoder_runner.h
  extension/llm/runner/multimodal_prefiller.cpp
  extension/llm/runner/text_decoder_runner.cpp
  extension/llm/runner/util.h
Labels: CLA Signed, release notes: llm

#14185 [Backend Tester] Skip tests with undelegated conv3d ops
  backends/test/suite/runner.py
Labels: CLA Signed

#14303 Add sleef dependency on windows builds
  runtime/core/portable_type/c10/c10/targets.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14202 NXP backend: Relocation of remove_io_quant_ops_pass.py
  backends/nxp/backend/ir/edge_passes/__init__.py
  backends/nxp/edge_passes/remove_io_quant_ops_pass.py
  backends/nxp/tests/executorch_pipeline.py
  examples/nxp/aot_neutron_compile.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14323 Remove unused broadcast_util include and dep for op__to_dim_order_copy
  kernels/portable/cpu/op__to_dim_order_copy.cpp
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, release notes: none

#14328 Qualcomm AI Engine Direct - Rope Fix
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
Labels: CLA Signed

#14345 Fix buck target for LLM runner util
  extension/llm/runner/targets.bzl
  extension/llm/runner/util.h
Labels: CLA Signed

#14096 Quantized Softmax Kernel
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/quantizer/fusion_pass.py
  backends/cadence/aot/quantizer/patterns.py
  backends/cadence/aot/quantizer/quantizer.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14354 Add tensor deps to llm runner buck
  extension/llm/runner/targets.bzl
Labels: CLA Signed

#14231 Move ReplaceAtenConvolutionWithCadenceConvolutionPass to common section.
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14356 Remove LlavaRunner
  examples/models/llava/CMakeLists.txt
  examples/models/llava/runner/CMakeLists.txt
  examples/models/llava/runner/llava_image_prefiller.h
  examples/models/llava/runner/llava_runner.cpp
  examples/models/llava/runner/llava_runner.h
  examples/models/llava/runner/llava_text_decoder_runner.h
  examples/models/llava/runner/targets.bzl
  examples/models/llava/targets.bzl
  extension/android/CMakeLists.txt
  extension/android/jni/BUCK
Labels: CLA Signed

#14308 solved serde issue when serializing op using list of faketensor as output
  exir/serde/export_serialize.py
Labels: CLA Signed, fb-exported, meta-exported

#14270 Split OSS generic ops into their own buck targets
  backends/cadence/aot/TARGETS
  backends/cadence/generic/operators/targets.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14364 Revert "Quantized Softmax Kernel"
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/quantizer/fusion_pass.py
  backends/cadence/aot/quantizer/patterns.py
  backends/cadence/aot/quantizer/quantizer.py
Labels: CLA Signed, ci-no-td

#14379 Fix eval_llama_qnn script
  examples/qualcomm/oss_scripts/llama/eval_llama_qnn.py
Labels: CLA Signed

#14348 [Windows] Reduce trunk model test count
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk, release notes: none

#14318 limit facto to 4000 bytes than numel
  backends/cadence/utils/facto_util.py
Labels: CLA Signed, fb-exported, meta-exported

#14360 [Backend Tester] Add pass rate breakdown by parameterization to markdown summary
  .github/workflows/test-backend-arm.yml
  .github/workflows/test-backend-coreml.yml
  .github/workflows/test-backend-qnn.yml
  .github/workflows/test-backend-vulkan.yml
  .github/workflows/test-backend-xnnpack.yml
  backends/test/suite/generate_markdown_summary.py
  backends/test/suite/reporting.py
  backends/test/suite/runner.py
  backends/test/suite/tests/test_reporting.py
Labels: CLA Signed, release notes: none, ciflow/nightly

#14112 NXP backend: Add pre-processing pass to fuse Lienar + Add
  backends/nxp/aten_passes/fuse_linear_and_add_pass.py
  backends/nxp/aten_passes/neutron_aten_pass_manager.py
  backends/nxp/backend/edge_helper.py
  backends/nxp/backend/ir/tflite_optimizer/optimizations/fuse_fully_connected_and_add_operators.py
  backends/nxp/backend/ir/tflite_optimizer/optimizer.py
  backends/nxp/tests/test_linear_and_add_fusion.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14352 Enforce tensor a dtype == tensor b dtype for where.out in facto
  backends/cadence/utils/facto_util.py
Labels: CLA Signed, fb-exported, meta-exported

#14119 Fix format string error in Android PAL initialization assert macro
  runtime/platform/default/android.cpp
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14392 Rename image_encoder to vision_encoder to match HF naming convention
  examples/models/llava/export_llava.py
  examples/models/llava/test/test_llava.py
  examples/models/llava/test/test_pte.py
  extension/llm/runner/constants.h
  extension/llm/runner/multimodal_prefiller.cpp
Labels: CLA Signed, fb-exported, release notes: llm, meta-exported

#14387 Add selective_build.bzl file in prepartion for next PR
  kernels/prim_ops/selective_build.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14230 Add option in memory planning to put shared state on same location across entry points
  exir/emit/_emitter.py
  exir/memory_planning.py
  exir/passes/memory_planning_pass.py
  exir/program/_program.py
  exir/tests/test_memory_planning.py
Labels: CLA Signed, fb-exported, meta-exported

#14375 Arm backend: Add docstrings to init and arm_quantizer_utils in quantizer
  backends/arm/quantizer/__init__.py
  backends/arm/quantizer/arm_quantizer_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14370 Arm backend: Remove sin_cos_support.py
  backends/arm/operator_support/__init__.py
  backends/arm/operator_support/sin_cos_support.py
  backends/arm/operator_support/tosa_profile_supported_op_lists.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14393 [RELEASE ONLY CHANGES] Update torch pins to 2.9
  .ci/docker/ci_commit_pins/pytorch.txt
  .ci/docker/common/install_pytorch.sh
  .github/workflows/docker-builds.yml
  install_requirements.py
Labels: CLA Signed, release notes: none

#14377 Add support for non tensor inputs to portable executor runner
  backends/arm/test/ops/test_acos.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/ops/test_sum.py
  backends/arm/test/tester/test_pipeline.py
  examples/portable/executor_runner/executor_runner.cpp
  extension/runner_util/inputs.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: examples, release notes: arm

#14381 Targets for Qualcomm llm eval
  examples/qualcomm/oss_scripts/llama/TARGETS
Labels: CLA Signed, fb-exported, meta-exported

#14333 Bump Optimum ET pin
  .ci/docker/ci_commit_pins/optimum-executorch.txt
Labels: CLA Signed, ciflow/trunk, release notes: none

#14418 Use fbjni 0.7.0 and set ANDROID_SUPPORT_FLEXIBLE_PAGE_SIZES=ON
  docs/source/using-executorch-android.md
  examples/demo-apps/android/LlamaDemo/app/build.gradle.kts
  extension/android/CMakeLists.txt
  extension/android/build.gradle
  extension/android/executorch_android/build.gradle
  extension/benchmark/android/benchmark/app/build.gradle.kts
  scripts/build_android_library.sh
Labels: CLA Signed, release notes: android

#14423 Removing spamming log
  extension/llm/runner/util.h
Labels: CLA Signed

#14411 Qualcomm AI Engine Direct - fix sliding attention update bug
  examples/qualcomm/oss_scripts/llama/runner/kv_manager.cpp
Labels: CLA Signed, release notes: qualcomm

#14252 Summary: Add Stateful FC Cortex-m linearOps
  backends/cortex_m/CMakeLists.txt
  backends/cortex_m/ops/cmsis_scratch_buffer_context.h
  backends/cortex_m/ops/cortex_m_ops_common.h
  backends/cortex_m/ops/op_quantized_linear.cpp
  backends/cortex_m/ops/operators.py
  backends/cortex_m/ops/operators.yaml
  backends/cortex_m/passes/passes_utils.py
  backends/cortex_m/passes/quantized_linear_fusion_pass.py
  backends/cortex_m/passes/quantized_op_fusion_pass.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed

#14429 Add prefill API to MultimodalRunner
  extension/llm/runner/multimodal_runner.cpp
  extension/llm/runner/multimodal_runner.h
Labels: CLA Signed, release notes: llm

#14422 RPATH Fix for portable_lib Python Extension
  .ci/scripts/wheel/test_base.py
  CMakeLists.txt
Labels: CLA Signed, ciflow/binaries, ciflow/binaries/all

#14390 [RELEASE ONLY CHANGES] Apply release workflow changes for 1.0
  .github/workflows/_android.yml
  .github/workflows/_link_check.yml
  .github/workflows/_unittest.yml
  .github/workflows/android-perf.yml
  .github/workflows/android-release-artifacts.yml
  .github/workflows/apple-perf.yml
  .github/workflows/apple.yml
  .github/workflows/build-presets.yml
  .github/workflows/build-wheels-aarch64-linux.yml
  .github/workflows/build-wheels-linux.yml
  .github/workflows/build-wheels-macos.yml
  .github/workflows/build-wheels-windows.yml
  .github/workflows/doc-build.yml
  .github/workflows/docker-builds.yml
  .github/workflows/lint.yml
  .github/workflows/nightly.yml
  .github/workflows/periodic.yml
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  .github/workflows/update-viablestrict.yml
Labels: CLA Signed

#14427 [multimodal] Let Audio take float data blob
  examples/models/voxtral/multimodal.cpp
  extension/llm/runner/audio.h
  extension/llm/runner/multimodal_prefiller.cpp
Labels: CLA Signed, release notes: llm

#14332 Add selective build support for prim ops
  codegen/tools/combine_prim_ops_headers.py
  codegen/tools/gen_all_oplist.py
  codegen/tools/gen_oplist.py
  codegen/tools/gen_selected_prim_ops.py
  codegen/tools/targets.bzl
  codegen/tools/test/test_gen_oplist.py
  examples/selective_build/targets.bzl
  kernels/prim_ops/register_prim_ops.cpp
  kernels/prim_ops/selective_build_prim_ops.h
  kernels/prim_ops/targets.bzl
  shim_et/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14397 getMethodMetadata should contain used backend name
  extension/android/executorch_android/src/androidTest/java/org/pytorch/executorch/ModuleE2ETest.kt
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/Module.java
Labels: CLA Signed, release notes: none

#14451 [multimodal] Add token support to MultimodalInput
  extension/llm/runner/multimodal_input.h
  extension/llm/runner/multimodal_prefiller.cpp
  extension/llm/runner/multimodal_runner.cpp
  extension/llm/runner/test/test_multimodal_input.cpp
Labels: CLA Signed

#14439 Fix eval_llama_qnn
  examples/qualcomm/oss_scripts/llama/decoder_utils.py
  examples/qualcomm/oss_scripts/llama/eval_llama_qnn.py
Labels: CLA Signed, fb-exported, meta-exported

#14268 Introduce strongly typed quant/dequant ops
  backends/cadence/aot/TARGETS
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/type_dispatch.py
  backends/cadence/generic/operators/dequantize_per_tensor.cpp
  backends/cadence/generic/operators/quantize_per_tensor.cpp
  backends/cadence/generic/operators/targets.bzl
  backends/cadence/hifi/operators/op_dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/op_dequantize_per_tensor_asym8s.cpp
  backends/cadence/hifi/operators/op_quantize_per_tensor.cpp
  backends/cadence/hifi/operators/op_quantize_per_tensor_asym8s.cpp
  backends/cadence/hifi/operators/targets.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14368 Add U55 and U85 16A8W linear tests
  backends/arm/test/ops/test_linear.py
  backends/arm/tosa/quant_utils.py
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: arm, meta-exported

#14448 Use weight cache for quantized tensor scale data
  backends/xnnpack/runtime/XNNCompiler.cpp
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14445 Update ReplaceConvolutionOptionalArgsWithConcreteArgsPass to work with cadence.convolution
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, meta-exported

#14398 Add initial backends/cadence/vision module scaffold with optimized softmax kernel (no iDMA), fix new op dependencies,, update namespace (#12480)
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/functions_vision.yaml
  backends/cadence/build_cadence_vision.sh
  backends/cadence/vision/kernels/CMakeLists.txt
  backends/cadence/vision/kernels/kernels.cpp
  backends/cadence/vision/kernels/kernels.h
  backends/cadence/vision/kernels/targets.bzl
  backends/cadence/vision/operators/CMakeLists.txt
  backends/cadence/vision/operators/op_add.cpp
  backends/cadence/vision/operators/op_dequantize_per_tensor.cpp
  backends/cadence/vision/operators/op_embedding.cpp
  backends/cadence/vision/operators/op_full.cpp
  backends/cadence/vision/operators/op_im2row_out.cpp
  backends/cadence/vision/operators/op_quantize_per_tensor.cpp
  backends/cadence/vision/operators/op_quantized_conv_out.cpp
  backends/cadence/vision/operators/op_quantized_fully_connected_out.cpp
  backends/cadence/vision/operators/op_quantized_layer_norm.cpp
  backends/cadence/vision/operators/op_quantized_linear_out.cpp
  backends/cadence/vision/operators/op_quantized_matmul_out.cpp
  backends/cadence/vision/operators/op_quantized_relu_out.cpp
  backends/cadence/vision/operators/op_requantize_out.cpp
  backends/cadence/vision/operators/op_softmax.cpp
  backends/cadence/vision/operators/op_view_copy.cpp
  backends/cadence/vision/operators/operators.h
  backends/cadence/vision/operators/quantized_ops.h
  backends/cadence/vision/operators/targets.bzl
  backends/cadence/vision/third-party/dummy.c
  backends/cadence/vision/third-party/include/api.h
  backends/cadence/vision/third-party/include/dtypes.h
  backends/cadence/vision/third-party/include_private/common.h
  backends/cadence/vision/third-party/include_private/expf_tbl.h
  backends/cadence/vision/third-party/include_private/idma_init.h
  backends/cadence/vision/third-party/include_private/inff_tbl.h
  backends/cadence/vision/third-party/include_private/nanf_tbl.h
  backends/cadence/vision/third-party/library/api/tensor_transposef.c
  backends/cadence/vision/third-party/library/api/vsoftmaxf.c
  backends/cadence/vision/third-party/library/tables/expf_tbl.c
  backends/cadence/vision/third-party/library/tables/inff_tbl.c
  backends/cadence/vision/third-party/library/tables/nanf_tbl.c
  backends/cadence/vision/third-party/targets.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14269 Add int32 quant/dequant back
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/type_dispatch.py
  backends/cadence/generic/kernels/kernels.cpp
  backends/cadence/generic/operators/dequantize_per_tensor.cpp
  backends/cadence/generic/operators/quantize_per_tensor.cpp
  backends/cadence/hifi/kernels/kernels.cpp
  backends/cadence/hifi/operators/op_dequantize_per_tensor.cpp
  backends/cadence/hifi/operators/op_quantize_per_tensor.cpp
Labels: CLA Signed, fb-exported, meta-exported

#14446 Add pybind extension to the DLL search path on Windows
  extension/pybindings/portable_lib.py
Labels: CLA Signed, ciflow/binaries, ciflow/binaries/all, release notes: none

#14435 Make _get_program_from_buffer work for bundled programs
  CMakeLists.txt
  codegen/tools/CMakeLists.txt
  codegen/tools/selective_build.cpp
  docs/source/backends-arm-ethos-u.md
  examples/arm/executor_runner/CMakeLists.txt
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14479 [executorch][PR] Add Differential Revision to PRs created by pytorchbot
  .github/scripts/propose_ghstack_orig_pr.py
Labels: CLA Signed, fb-exported, meta-exported
