Repository pytorch/executorch, pull requests merged in 2025-04, with the labels that each got.

#9121 Add im2row per tensor overload
  backends/cadence/aot/functions.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/utils.py
  backends/cadence/reference/operators/im2row_out.cpp
  backends/cadence/reference/operators/requantize_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9149 Support llama3 training
  examples/llm_pte_finetuning/llama3_config.yaml
  examples/llm_pte_finetuning/model_exporter.py
  examples/llm_pte_finetuning/training_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9556 fix rsqrt test case
  backends/cadence/utils/facto_util.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9769 Move replacement of conv to linear/fc to opt level 2
  backends/cadence/aot/replace_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9790 Bump nightly version in xcode projects
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/LLaMA/LLaMA.xcodeproj/project.pbxproj
  examples/demo-apps/react-native/rnllama/ios/rnllama.xcodeproj/project.pbxproj
Labels: CLA Signed, topic: not user facing

#9789 Add a util to print tag easily
  runtime/core/tag.h
  runtime/core/test/tag_test.cpp
  runtime/core/test/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9712 Arm backend: update docs to new template
  docs/source/backends-arm-ethos-u.md
  docs/source/tutorial-arm-ethos-u.md
Labels: CLA Signed, partner: arm, topic: not user facing

#9391 Arm backend: Use dbg_fail when node visitors raise exceptions
  backends/arm/ethosu_backend.py
  backends/arm/process_node.py
  backends/arm/tosa_backend.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9780 Fix test_mimi
  examples/models/moshi/mimi/test_mimi.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9362 Arm backend: Make passes preserve and update node metadata
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass.py
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/_passes/decompose_layernorm_pass.py
  backends/arm/_passes/decompose_meandim_pass.py
  backends/arm/_passes/decompose_softmax_unstable_pass.py
  backends/arm/_passes/decompose_var_pass.py
  backends/arm/_passes/mm_to_bmm_pass.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9309 Add support for torch.pow in the Arm backend
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/_passes/match_arg_ranks_pass.py
  backends/arm/_passes/replace_scalar_with_tensor_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_pow.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_pow.py
  backends/transforms/replace_scalar_with_tensor.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9794 Arm Backend: temp fix for flaky eq op test
  backends/arm/test/ops/test_eq.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9795 Arm backend: Change _is_ok_for_quantization to support output check
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/quantizer/quantization_annotator.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9796 Arm backend: Add additional unsupported checks to Ethos-U55 backend
  backends/arm/operator_support/__init__.py
  backends/arm/operator_support/ethos_u55_support.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/op_permute.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_sigmoid_16bit.py
  backends/arm/test/ops/test_sigmoid_32bit.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9765 [ET-VK] Store weights transposed for int8 linear
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_bitw8_image_nobitw8buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.h
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported

#9766 [ET-VK] Efficient tiled int8 matmul
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear_optimized.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear_optimized.yaml
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear_tiled.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear_tiled.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
Labels: CLA Signed, fb-exported

#9762 Add try-before-set tests for DataSink in DebugEvent and LogDelegateIntermediateOutput
  devtools/etdump/tests/etdump_test.cpp
Labels: CLA Signed, topic: not user facing

#9785 [ExecuTorch][Llama] Change runner to enable chunked prefill
  examples/models/llama/runner/runner.cpp
  examples/models/llava/runner/llava_runner.cpp
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
Labels: CLA Signed, fb-exported, release notes: examples

#9799 Try upgrading to CoreML Tools 8.2
  backends/apple/coreml/scripts/install_requirements.sh
  pyproject.toml
Labels: CLA Signed, ciflow/trunk, release notes: build

#9786 [Executorch][custo ops] Add prototype defs for custom op
  extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_tile_crop_aot.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#9798 [0.6 Release] Add 0.6 to ET docs index
  versions.html
Labels: CLA Signed

#9416 [ET-VK] Simplify lane offset copy logic in copy_packed_dim_offset shader.
  backends/vulkan/runtime/graph/ops/glsl/copy_packed_dim_offset.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#9415 [ET-VK] Adding all tensor packing support for repeat op.
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/copy_packed_dim_offset.glsl
  backends/vulkan/runtime/graph/ops/impl/Copy.cpp
  backends/vulkan/runtime/graph/ops/impl/Repeat.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9809 Change training pybind extension_module linkage to static
  CMakeLists.txt
  extension/training/CMakeLists.txt
  pytest.ini
  setup.py
Labels: CLA Signed, topic: not user facing

#9791 Allow passing in calibration data to `convert_pt2`
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9808 fix qnn export
  examples/qualcomm/oss_scripts/llama/llama.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9764 Add cadence.where_Scalar op
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9815 [Executorch][custo ops] Add prototype defs for custom op
  extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_tile_crop_aot.cpp
Labels: CLA Signed, release notes: ops & kernels

#9661 executorch
  backends/apple/coreml/test/test_coreml_quantizer.py
  backends/apple/mps/test/test_mps_utils.py
  backends/cadence/aot/compiler.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
  backends/example/test_example_delegate.py
  backends/mediatek/quantizer/annotator.py
  backends/qualcomm/tests/utils.py
  backends/transforms/test/test_duplicate_dynamic_quant_chain.py
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
  backends/xnnpack/test/quantizer/test_representation.py
  backends/xnnpack/test/quantizer/test_xnnpack_quantizer.py
  backends/xnnpack/test/test_xnnpack_utils.py
  backends/xnnpack/test/tester/tester.py
  docs/source/tutorials_source/export-to-executorch-tutorial.py
  examples/apple/mps/scripts/mps_example.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, fb-exported, release notes: misc

#9834 Arm Backend: Fixes related to pytorch updates
  backends/arm/operators/op_table.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/test/misc/test_partition_decomposed_quantized_ops.py
  backends/arm/test/models/test_nn_functional.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9835 Arm backend: Disable test case test_w2l_arm.py::test_w2l_u85_BI
  backends/arm/test/models/test_w2l_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9833 Make Android Module thread-safe and prevent destruction during inference
  extension/android/executorch_android/src/androidTest/java/org/pytorch/executorch/ModuleInstrumentationTest.java
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/Module.java
Labels: CLA Signed, fb-exported, module: android, release notes: api

#9718 Add README.md for the NXP eIQ Neutron Backend
  backends/nxp/README.md
Labels: CLA Signed, module: nxp, release notes: nxp

#9384 Make PyTorch headers available in optimized_portable_kernels, define ET_USE_PYTORCH_HEADERS
  CMakeLists.txt
  kernels/optimized/CMakeLists.txt
  kernels/portable/CMakeLists.txt
  runtime/core/portable_type/c10/c10/targets.bzl
Labels: CLA Signed, topic: not user facing

#9818 A short term fix for editable mode install failed to import root level module such as exir
  pyproject.toml
  setup.py
  src/README.md
  src/executorch/backends
  src/executorch/codegen
  src/executorch/data
  src/executorch/devtools
  src/executorch/examples/apple
  src/executorch/examples/llm_pte_finetuning
  src/executorch/examples/models
  src/executorch/exir
  src/executorch/extension
  src/executorch/kernels/quantized
  src/executorch/runtime
  src/executorch/schema
  src/executorch/util
Labels: CLA Signed, ciflow/trunk, release notes: build

#9832 introduce DelegateDebugIntId
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
  devtools/etdump/tests/etdump_test.cpp
  runtime/core/event_tracer.h
  runtime/core/test/event_tracer_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9788 Update android docs
  docs/source/using-executorch-android.md
Labels: CLA Signed, topic: not user facing

#9817 Support multiple prompts in the runner
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9532 [ET-VK] Adding all tensor packing support for native layer norm.
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/native_layer_norm.glsl
  backends/vulkan/runtime/graph/ops/impl/NativeLayerNorm.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9792 [ET-VK] Adding round op support.
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/glsl/unary_op.yaml
  backends/vulkan/runtime/graph/ops/impl/UnaryOp.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9831 [ET-VK] Replace Uniform buffers with push constants for native layer norm op
  backends/vulkan/runtime/graph/ops/glsl/native_layer_norm.glsl
  backends/vulkan/runtime/graph/ops/impl/NativeLayerNorm.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9873 Arm backend: Improve pre-push hook
  backends/arm/scripts/pre-push
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9866 Arm backend: Convert assert to throw TypeError in arm_pass_utils
  backends/arm/_passes/arm_pass_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9869 Arm backend: Add where.self
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/match_arg_ranks_pass.py
  backends/arm/_passes/match_where_self_arg_dtype_pass.py
  backends/arm/operator_support/ethos_u55_support.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_where.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/models/test_conformer.py
  backends/arm/test/models/test_llama.py
  backends/arm/test/ops/test_where.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9845 Fix scalar type logging from #9751
  kernels/portable/cpu/op_repeat_interleave.cpp
  kernels/portable/cpu/util/index_util.cpp
Labels: CLA Signed, topic: not user facing

#9875 Arm backend: Convert assert to throw ValueError in op_sigmoid
  backends/arm/operators/op_sigmoid.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9884 Create release.yml
  .github/release.yml
Labels: CLA Signed

#9864 forward fix
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9879 Support QK norm in static attention
  examples/models/llama/static_attention.py
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9885 Update test build instructions in kernels readme
  kernels/README.md
Labels: CLA Signed, fb-exported, release notes: build

#9898 Arm backend: Add expected failure for test_torch_functions.py
  backends/arm/test/models/test_torch_functions.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9836 Arm backend: Add ERF operator
  backends/arm/_passes/insert_table_ops.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_erf.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_erf.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9895 Arm backend: Add info message to assertions in fold_qdq_with_annotated_qparams_pass
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9896 Arm backend: Convert assert to throw ValueError in op_tanh
  backends/arm/operators/op_tanh.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9897 Arm backend: Convert assert to throw TypeError in op_add
  backends/arm/operators/op_add.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9900 Arm backend: Align MobileNetV2 with MobileNetV3 unittest
  backends/arm/test/models/test_mobilenet_v2_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9901 Arm backend: Remove use of TOSA_DBG_VERBOSE
  backends/arm/tosa_backend.py
  backends/arm/tosa_partitioner.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9903 Arm backend: Add support for Leaky ReLU
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_leaky_relu_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_leaky_relu.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9886 [Executorch][sdpa] Refactor sdpa into impl and op
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/custom_ops/op_sdpa_impl.h
  extension/llm/custom_ops/targets.bzl
Labels: CLA Signed, fb-exported, release notes: examples

#9887 [Executorch][sdpa] Add accidentaly removed flash attentiona args check
  extension/llm/custom_ops/op_sdpa.cpp
Labels: CLA Signed, fb-exported, release notes: examples

#9888 [Executorch][SDPA] Remove slice creation
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/custom_ops/op_sdpa_impl.h
Labels: CLA Signed, fb-exported, release notes: examples

#9889 [Executorch][sdpa] Setup the structure to enable quantized gemms for sdpa
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/custom_ops/op_sdpa_impl.h
Labels: CLA Signed, fb-exported, release notes: examples

#9902 Arm backend: Handle memory mode corectly in test_model.py
  backends/arm/test/test_model.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9905 Arm backend: Convert assert to throw ValueError in tosa_backend
  backends/arm/tosa_backend.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9574 Added hardtanh operator
  backends/cadence/aot/functions_fusion_g3.yaml
  backends/cadence/fusion_g3/operators/CMakeLists.txt
  backends/cadence/fusion_g3/operators/op_hardtanh.cpp
Labels: CLA Signed, topic: not user facing

#9838 Fix build gating on optimized_portable_kernels
  kernels/portable/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#9906 Arm backend: Skip instead of returning in Llama test
  backends/arm/test/models/test_llama.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9578 Bump PyTorch pin to 2025-03-25
  .ci/docker/ci_commit_pins/pytorch.txt
  backends/arm/test/models/test_conformer.py
  install_requirements.py
Labels: CLA Signed, topic: not user facing

#9907 Arm backend: Reduce arm_executor_runner binary size
  examples/arm/ethos-u-setup/core_platform/0002-Move-input_data_sec-to-NOLOAD-area.patch
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9543 Arm backend: Add ethos_u_minimal_example jupyter notebook
  examples/arm/README.md
  examples/arm/ethos_u_minimal_example.ipynb
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9890 Reapply "Depend on extension/threadpool, not thread_parallel_interface, in buck (#9511)"
  extension/parallel/targets.bzl
  extension/threadpool/targets.bzl
  kernels/optimized/cpu/targets.bzl
  kernels/optimized/lib_defs.bzl
  kernels/portable/cpu/util/targets.bzl
  runtime/kernel/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9822 [ExecuTorch][to_backend] add AllNodePartitioner
  exir/backend/canonical_partitioners/TARGETS
  exir/backend/canonical_partitioners/all_node_partitioner.py
  exir/backend/test/test_backends.py
  exir/backend/test/test_backends_lifted.py
  exir/backend/test/test_compatibility.py
  exir/program/TARGETS
Labels: CLA Signed, topic: not user facing

#9819 Expose symbols on macos in the xplat pytorch stack
  shim_et/xplat/executorch/build/runtime_wrapper.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9752 etdumpfilter impl
  devtools/etdump/etdump_filter.cpp
  devtools/etdump/etdump_filter.h
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
  devtools/etdump/targets.bzl
  devtools/etdump/tests/etdump_filter_test.cpp
  devtools/etdump/tests/targets.bzl
  runtime/core/event_tracer.h
Labels: CLA Signed, fb-exported, topic: not user facing

#9922 Reapply "Depend on extension/threadpool, not thread_parallel_interface, in buck (#9511)"
  extension/parallel/targets.bzl
  extension/threadpool/targets.bzl
  kernels/optimized/cpu/targets.bzl
  kernels/optimized/lib_defs.bzl
  kernels/portable/cpu/util/targets.bzl
  runtime/kernel/targets.bzl
Labels: CLA Signed, topic: not user facing

#9923 Support slice ops with default start
  backends/xnnpack/operators/op_slice_copy.py
  backends/xnnpack/test/ops/test_slice_copy.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9926 Arm backend: Add pytest.mark.flaky on U85 tests in test_mm.py
  backends/arm/test/ops/test_mm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9929 Arm backend: Convert assert to throw ValueError in op_exp
  backends/arm/operators/op_exp.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9931 Arm backend: Convert assert to raise ValueError for comparison operators
  backends/arm/operators/op_eq.py
  backends/arm/operators/op_ge.py
  backends/arm/operators/op_gt.py
  backends/arm/operators/op_le.py
  backends/arm/operators/op_lt.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9927 Qualcomm AI Engine Direct - Fix mobilebert finetune script
  examples/qualcomm/scripts/mobilebert_fine_tune.py
Labels: CLA Signed, ciflow/trunk

#8227 aten.leakyrelu.default Op registery
  backends/vulkan/op_registry.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#9891 Update release.yaml
  .github/release.yml
Labels: CLA Signed

#9793 Add code structure and a few other links to CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  docs/source/using-executorch-building-from-source.md
Labels: module: doc, CLA Signed, release notes: build

#9934 per_channel_group can't be dynamic
  backends/xnnpack/utils/quant_utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9883 [ET-VK] Improve packing format for int4 linear operator + misc improvements
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ops/glsl/pack_int4_linear_weight_transposed_interleaved.glsl
  backends/vulkan/runtime/graph/ops/glsl/pack_int4_linear_weight_transposed_interleaved.yaml
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearGroupwiseInt4.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearInt8.cpp
  backends/vulkan/runtime/vk_api/Adapter.h
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#9917 [ET-VK][ez] Make squeeze insertion requirements more strict
  backends/vulkan/_passes/squeeze_unsqueeze_inputs.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#9918 [ET-VK][ez] Allow logit linear layer to be lowered to Vulkan
  backends/vulkan/_passes/int4_weight_only_quantizer.py
  backends/vulkan/op_registry.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, fb-exported, module: vulkan, release notes: vulkan

#9920 Update Executorch ops registration for rms_norm
  backends/cadence/aot/ops_registrations.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9936 [Easy] Fix list numbering typo
  examples/models/llama/README.md
Labels: module: doc, CLA Signed, triaged, release notes: misc

#9949 [ET-VK] Improve packing format for int4 linear operator + misc improvements
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ops/glsl/pack_int4_linear_weight_transposed_interleaved.glsl
  backends/vulkan/runtime/graph/ops/glsl/pack_int4_linear_weight_transposed_interleaved.yaml
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_4w_linear.yaml
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearGroupwiseInt4.cpp
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinearInt8.cpp
  backends/vulkan/runtime/vk_api/Adapter.h
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
Labels: CLA Signed, release notes: vulkan

#9950 [ET-VK][ez] Make squeeze insertion requirements more strict
  backends/vulkan/_passes/squeeze_unsqueeze_inputs.py
Labels: CLA Signed, release notes: vulkan

#9951 [ET-VK][ez] Allow logit linear layer to be lowered to Vulkan
  backends/vulkan/_passes/int4_weight_only_quantizer.py
  backends/vulkan/op_registry.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, module: vulkan, release notes: vulkan

#9946 Expose L4 ops to ExecuTorch Client and add MWA to ExecuTorch Client
  kernels/quantized/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#9937 introducing filter to etdumpgen
  devtools/etdump/etdump_filter.h
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
  devtools/etdump/tests/etdump_test.cpp
  devtools/etdump/tests/targets.bzl
  runtime/core/event_tracer.h
  runtime/core/test/event_tracer_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9899 Arm backend: Add pre-push checks for op tests
  backends/arm/scripts/parse_test_names.py
  backends/arm/scripts/pre-push
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9941 Fix naming convention in quantizer
  backends/cadence/aot/quantizer/quantizer.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9956 executorch/backends/xnnpack/test/ops
  backends/xnnpack/test/ops/test_check_quant_params.py
  examples/llm_manual/export_nanogpt.py
  examples/mediatek/aot_utils/oss_utils/utils.py
  examples/mediatek/model_export_scripts/llama.py
  examples/models/phi-3-mini/export_phi-3-mini.py
  examples/models/test/test_export.py
  examples/portable/scripts/export_and_delegate.py
  examples/xnnpack/aot_compiler.py
  examples/xnnpack/quantization/example.py
  exir/backend/test/test_partitioner.py
  exir/backend/test/test_passes.py
  exir/emit/test/test_emit.py
  exir/tests/test_passes.py
  exir/tests/test_quantization.py
  exir/tests/test_quantize_io_pass.py
  extension/export_util/utils.py
  extension/llm/export/builder.py
  extension/llm/export/test_export_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#9935 Allow emitting mutable buffer names in schema
  exir/capture/_config.py
  exir/emit/_emit_program.py
  exir/emit/_emitter.py
  exir/emit/test/test_emit.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, module: exir, release notes: api

#9596 Update test_ios_ci.sh to use the app from executorch-examples repo
  .ci/scripts/test_ios_ci.sh
Labels: CLA Signed, topic: not user facing

#9954 android-release-artifacts.yml allow upload AAR to maven
  .github/workflows/android-release-artifacts.yml
  extension/android/executorch_android/build.gradle
Labels: CLA Signed, release notes: build

#9968 Update test_ios.sh
  scripts/test_ios.sh
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#9970 Update demo-apps-ios.md
  docs/source/demo-apps-ios.md
Labels: module: doc, CLA Signed, release notes: docs

#9978 Getting Started, compare against reference eager model for verification in pybind
  docs/source/getting-started.md
Labels: CLA Signed, release notes: docs

#9975 Add python version in building from source page
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed, release notes: docs

#9976 Delete examples/demo-apps/apple_ios/ExecuTorchDemo directory
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/xcshareddata/xcschemes/MobileNetClassifierTest.xcscheme
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/Arctic fox.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/Samoyed.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/hot pot.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/App.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CameraController.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CameraPreview.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/ClassificationController.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/ContentView.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CustomViews.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/ImageClassification/ImageClassification.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNet-Bridging-Header.h
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.h
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.mm
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/Test/MobileNetClassifierTest.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/README.md
Labels: CLA Signed, topic: not user facing

#9955 Add op_amax support
  backends/qualcomm/_passes/layout_transform.py
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/op_amax.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, fb-exported, release notes: qualcomm

#9957 Modify executorch_module_static and executorch_tensor spelling problem in doc
  docs/source/backends-coreml.md
  docs/source/backends-xnnpack.md
  docs/source/getting-started.md
  docs/source/using-executorch-cpp.md
Labels: CLA Signed, release notes: misc

#9985 Just build AAR in place
  .ci/scripts/build_android_instrumentation.sh
  .github/workflows/_android.yml
  extension/android/executorch_android/build.gradle
  scripts/build_android_library.sh
Labels: CLA Signed, release notes: build

#9938 [ez][release blocker fix] Insert `linalg_vector_norm` into decomp table used for Edge export
  exir/program/test/test_program.py
  exir/tracer.py
Labels: CLA Signed

#9991 Delete examples/demo-apps/apple_ios/ExecuTorchDemo directory (#9976)
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/project.pbxproj
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo.xcodeproj/xcshareddata/xcschemes/MobileNetClassifierTest.xcscheme
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/Arctic fox.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/Samoyed.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Resources/Examples/hot pot.jpg
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/App.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CameraController.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CameraPreview.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/ClassificationController.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/ContentView.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/App/CustomViews.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/ImageClassification/ImageClassification.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNet-Bridging-Header.h
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.h
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.mm
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/MobileNetClassifier.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/ExecuTorchDemo/Sources/MobileNet/Test/MobileNetClassifierTest.swift
  examples/demo-apps/apple_ios/ExecuTorchDemo/README.md
Labels: CLA Signed, ciflow/trunk

#9980 Add maven version in main in Getting Started page
  docs/source/getting-started.md
Labels: CLA Signed, release notes: docs

#9979 [RELEASE 0.6] Change maven to 0.6.0-rc1 in Getting Started
  docs/source/getting-started.md
Labels: CLA Signed, release notes: docs

#10000 [doc] Fix tokenizer related documentation
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/models/llama2/README.md
  examples/models/phi-3-mini/README.md
  examples/qualcomm/oss_scripts/llama/README.md
Labels: CLA Signed, release notes: docs

#10008 using-executorch-android.md: Use an easier example
  docs/source/using-executorch-android.md
Labels: CLA Signed, release notes: docs

#10016 Various typo and 0.6 specific changes to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: CLA Signed

#10006 Fix minor README typos specific to 0.6
  README.md
Labels: CLA Signed, triaged, release notes: docs

#10013 [doc] Code pointers in CoreML doc should point to release/0.6 codebase
  docs/source/backends-coreml.md
Labels: CLA Signed, release notes: docs

#10020 fix building from source
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed

#10019 fix links in faq
  docs/source/using-executorch-faqs.md
Labels: CLA Signed

#10021 Update backends-xnnpack.md
  docs/source/backends-xnnpack.md
Labels: CLA Signed

#10027 [Doc] Update getting-started-architecture.md
  docs/source/getting-started-architecture.md
Labels: CLA Signed, topic: not user facing

#10023 [Release-only] Update runtime doc code links to point to 0.6
  docs/source/using-executorch-cpp.md
  docs/source/using-executorch-runtime-integration.md
Labels: CLA Signed, release notes: docs

#10025 Typo updates for README and Contributions
  CONTRIBUTING.md
  README.md
Labels: CLA Signed, triaged, release notes: docs

#9355 Qualcomm AI Engine Direct - Add submodule quant config setting
  backends/qualcomm/_passes/decompose_einsum.py
  backends/qualcomm/_passes/decompose_linalg_vector_norm.py
  backends/qualcomm/_passes/utils.py
  backends/qualcomm/quantizer/quantizer.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/transforms/decompose_sdpa.py
  examples/qualcomm/utils.py
  extension/llm/export/quantizer_lib.py
Labels: CLA Signed, release notes: qualcomm

#9960 Fix deprecated unittest asserts in executorch
  backends/xnnpack/test/ops/test_check_quant_params.py
  examples/models/llava/test/test_llava.py
Labels: CLA Signed, fb-exported

#10032 remove reduntant log_delegate_intermediate_logging_helper call
  devtools/etdump/etdump_flatcc.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#9993 Arm backend: Set all 16/32 bit sigmoid tests to flaky
  backends/arm/test/ops/test_sigmoid_16bit.py
  backends/arm/test/ops/test_sigmoid_32bit.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9959 Arm backend: Raise atol in MobileNetV3 unit tests
  backends/arm/test/models/test_mobilenet_v3_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10022 Add examples for CPP demo app
  docs/source/getting-started.md
Labels: CLA Signed, release notes: docs

#10043 [arm][ez] Add `xfail` for `norm` tests
  backends/arm/test/models/test_torch_functions.py
Labels: CLA Signed, ciflow/trunk, release notes: arm, module: arm

#9943 [Executorch][SDPA] Refactor + Make quantized sdpa handle sequence at dim 1 or 2
  extension/llm/custom_ops/op_sdpa.cpp
  extension/llm/custom_ops/op_sdpa.h
  extension/llm/custom_ops/op_sdpa_aot.cpp
  extension/llm/custom_ops/op_sdpa_impl.h
  extension/llm/custom_ops/test_quantized_sdpa.py
Labels: CLA Signed, fb-exported, release notes: examples

#10026 Add link to executorch-examples in module/c++ doc
  docs/source/using-executorch-cpp.md
Labels: CLA Signed, release notes: docs

#9996 Arm Backend: Add Tiny Stories llama test case for TOSA BI
  backends/arm/test/models/test_llama.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#10038 Fix up some Docs
  docs/source/using-executorch-building-from-source.md
  docs/source/using-executorch-faqs.md
Labels: CLA Signed, topic: not user facing

#10070 Update demo-apps-ios.md
  docs/source/demo-apps-ios.md
Labels: CLA Signed

#10067 Update kernels readme
  kernels/README.md
Labels: CLA Signed, fb-exported, release notes: docs

#10056 [#9971] Gracefully error out in ETDump for get_flatbuffer_scalar_type
  devtools/etdump/etdump_flatcc.cpp
  devtools/etdump/etdump_flatcc.h
  runtime/core/event_tracer.h
  runtime/core/test/event_tracer_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#10064 Llama exported model from executorch-community
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  examples/models/llama/README.md
Labels: CLA Signed, release notes: docs

#10082 llama doc update
  examples/models/llama/README.md
Labels: CLA Signed, release notes: docs

#10084 Update using-executorch-android.md
  docs/source/using-executorch-android.md
Labels: release notes: docs

#10086 Update LlamaDemo AAR build docs
  examples/demo-apps/android/LlamaDemo/docs/delegates/mediatek_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
Labels: CLA Signed, release notes: docs

#9989 Improve android instrumentation test experience and add docs
  .ci/scripts/build_android_instrumentation.sh
  .github/workflows/_android.yml
  extension/android/README.md
  extension/android/executorch_android/android_test_setup.sh
  extension/android/executorch_android/build.gradle
  extension/android/executorch_android/src/androidTest/java/org/pytorch/executorch/LlmModuleInstrumentationTest.java
  scripts/build_android_library.sh
Labels: CLA Signed, release notes: docs

#10024 Update backends-xnnpack.md
  docs/source/backends-xnnpack.md
Labels: CLA Signed

#9977 New Contributor Guide documentation for newcomers to ExecuTorch or open-source
  CONTRIBUTING.md
  docs/source/_static/img/new-contributor-guide/ci1.png
  docs/source/_static/img/new-contributor-guide/cla1.png
  docs/source/_static/img/new-contributor-guide/cla2.png
  docs/source/_static/img/new-contributor-guide/end_of_draft_pr1.png
  docs/source/_static/img/new-contributor-guide/end_of_draft_pr2.png
  docs/source/_static/img/new-contributor-guide/good_first_issues.png
  docs/source/_static/img/new-contributor-guide/how_to_clone.png
  docs/source/_static/img/new-contributor-guide/how_to_draft_pr1.png
  docs/source/_static/img/new-contributor-guide/how_to_draft_pr2.png
  docs/source/_static/img/new-contributor-guide/how_to_draft_pr3.png
  docs/source/_static/img/new-contributor-guide/how_to_fork1.png
  docs/source/_static/img/new-contributor-guide/how_to_fork2.png
  docs/source/_static/img/new-contributor-guide/how_to_pr1.png
  docs/source/_static/img/new-contributor-guide/how_to_pr2.png
  docs/source/_static/img/new-contributor-guide/how_to_pr3.png
  docs/source/_static/img/new-contributor-guide/release_notes.png
  docs/source/_static/img/new-contributor-guide/synced_fork.png
  docs/source/_static/img/new-contributor-guide/unsynced_fork.png
  docs/source/new-contributor-guide.md
Labels: CLA Signed, topic: not user facing

#10088 Remove unused lines in build_android_library.sh
  .github/workflows/_android.yml
  .github/workflows/android-perf.yml
  .github/workflows/android-release-artifacts.yml
  scripts/build_android_library.sh
Labels: CLA Signed, topic: not user facing

#10073 Return None as dynamic shape when enable_dynamic_shape is False
  extension/llm/export/TARGETS
  extension/llm/export/builder.py
  extension/llm/export/test/TARGETS
  extension/llm/export/test/__init__.py
  extension/llm/export/test/test_builder.py
Labels: CLA Signed, fb-exported, topic: not user facing

#10090 fix lint
  backends/qualcomm/tests/utils.py
Labels: CLA Signed, topic: not user facing

#10097 In quantized sdpa dequant v
  extension/llm/custom_ops/op_sdpa_impl.h
Labels: CLA Signed, fb-exported, release notes: examples

#9928 Arm backend: Add support for sqrt
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_sqrt_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/ops/test_sqrt.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#9994 Arm backend: Placeholder processing now handles non-persistent buffers
  backends/arm/process_node.py
  backends/arm/test/misc/test_non_persistent_buffers.py
  backends/arm/test/models/test_llama.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing
