Repository pytorch/executorch, pull requests merged in 2025-06, with the labels that each got.

#10093 Qualcomm AI Engine Direct - Add rewrite function of observer
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, release notes: qualcomm

#11275 Qualcomm AI Engine Direct - Fix error of avg pool2d
  backends/qualcomm/builders/op_avg_pool2d.py
Labels: CLA Signed

#11265 Use GraphBuilder in memory passes unit tests. # 1
  backends/cadence/aot/TARGETS
  backends/cadence/aot/memory_constraints.py
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11287 Make release labels optional
  .github/scripts/label_utils.py
  .github/scripts/trymerge.py
  .github/workflows/check-labels.yml
Labels: CLA Signed, release notes: misc

#11065 Qualcomm AI Engine Direct - GA Model Enablement (deit)
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/deit.py
Labels: CLA Signed, release notes: qualcomm

#11298 [llama examples] Update README.md to refer directly consolidated.00.p…
  examples/models/llama/README.md
Labels: CLA Signed, release notes: none

#11246 Support approximate gelu
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11253 [ET-VK][ez] Enable dynamic shape support when using push constants
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DispatchNode.h
  backends/vulkan/runtime/graph/ops/ExecuteNode.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11254 [ET-VK][ez] Updates to DynamicDispatchNode
  backends/vulkan/runtime/graph/ops/DynamicDispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DynamicDispatchNode.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11255 [ET-VK] Introduce generalized shaders for transfer ops and use it for select and slice
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/glsl/select.glslh
  backends/vulkan/runtime/graph/ops/glsl/select_batch_4d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_batch_4d.yaml
  backends/vulkan/runtime/graph/ops/glsl/select_channel_3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_channel_4d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_channel_4d.yaml
  backends/vulkan/runtime/graph/ops/glsl/select_height_3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_height_3d.yaml
  backends/vulkan/runtime/graph/ops/glsl/select_height_4d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_height_4d.yaml
  backends/vulkan/runtime/graph/ops/glsl/select_width_3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_width_3d.yaml
  backends/vulkan/runtime/graph/ops/glsl/select_width_4d.glsl
  backends/vulkan/runtime/graph/ops/glsl/select_width_4d.yaml
  backends/vulkan/runtime/graph/ops/glsl/slice.glslh
  backends/vulkan/runtime/graph/ops/glsl/slice_packed_dim.glsl
  backends/vulkan/runtime/graph/ops/glsl/slice_packed_dim.yaml
  backends/vulkan/runtime/graph/ops/glsl/slice_unpacked_dim.glsl
  backends/vulkan/runtime/graph/ops/glsl/transfer_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/transfer_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/transfer_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/transfer_texture.yaml
  backends/vulkan/runtime/graph/ops/impl/Common.cpp
  backends/vulkan/runtime/graph/ops/impl/Common.h
  backends/vulkan/runtime/graph/ops/impl/Select.cpp
  backends/vulkan/runtime/graph/ops/impl/Slice.cpp
  backends/vulkan/runtime/graph/ops/impl/Transfer.cpp
  backends/vulkan/runtime/graph/ops/impl/Transfer.h
  backends/vulkan/test/op_tests/cases.py
  backends/vulkan/test/test_vulkan_delegate.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#11209 Fix output spec + insert clone for constant_prop_pass.
  exir/passes/constant_prop_pass.py
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, release notes: none

#11031 serialize scales as bf16 and serialize in Named Data Map
  backends/xnnpack/operators/node_visitor.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
Labels: CLA Signed, fb-exported, release notes: none

#11274 removing 8da4w-gptq
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, topic: not user facing, release notes: none

#11252 [ET-VK] Using push constants for buffer to image prepack nodes.
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_bitw8_image_nobitw8buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_bitw8_image_nobitw8buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.yaml
  backends/vulkan/runtime/graph/ops/impl/Clone.cpp
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.h
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11290 Remove remaining reference to torchgen.gen_executorch
  codegen/api/et_cpp.py
  codegen/api/types/__init__.py
  codegen/api/types/signatures.py
  codegen/gen.py
  codegen/test/test_executorch_custom_ops.py
  codegen/test/test_executorch_gen.py
  codegen/tools/gen_oplist.py
  third-party/TARGETS
  tools/cmake/Codegen.cmake
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#11317 Mitigate coremltool issue with python 3.13
  docs/source/backends-coreml.md
  pyproject.toml
Labels: CLA Signed, ciflow/trunk

#11315 Removing uneeded buck deps in cmake build flow
  .ci/scripts/utils.sh
  examples/selective_build/test_selective_build.sh
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#11256 [ET-VK] Add reshape functions for transformers related operators
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
  backends/vulkan/runtime/graph/ops/impl/Permute.h
  backends/vulkan/runtime/graph/ops/impl/RotaryEmbedding.cpp
  backends/vulkan/runtime/graph/ops/impl/Squeeze.cpp
  backends/vulkan/runtime/graph/ops/impl/Unsqueeze.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/TensorUtils.cpp
  backends/vulkan/runtime/graph/ops/impl/utils/TensorUtils.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#11257 [ET-VK] Add support for binary symint ops
  backends/vulkan/_passes/tag_memory_meta_pass.py
  backends/vulkan/op_registry.py
  backends/vulkan/runtime/graph/ops/impl/SymIntOps.cpp
  backends/vulkan/serialization/vulkan_graph_builder.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#8612 irangeify most of runtime/core/exec_aten
  runtime/core/exec_aten/testing_util/targets.bzl
  runtime/core/exec_aten/testing_util/tensor_factory.h
  runtime/core/exec_aten/testing_util/tensor_util.cpp
  runtime/core/exec_aten/testing_util/test/targets.bzl
  runtime/core/exec_aten/testing_util/test/tensor_factory_test.cpp
  runtime/core/exec_aten/util/dim_order_util.h
  runtime/core/exec_aten/util/targets.bzl
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/tensor_util_aten.cpp
  runtime/core/exec_aten/util/tensor_util_portable.cpp
  runtime/core/exec_aten/util/test/dim_order_util_test.cpp
  runtime/core/exec_aten/util/test/operator_impl_example_test.cpp
  runtime/core/exec_aten/util/test/targets.bzl
  runtime/core/exec_aten/util/test/tensor_util_test.cpp
Labels: CLA Signed, release notes: none

#11261 Switch fbcode builds of ExecuTorch and PyTorch to fbsource sleef
  kernels/optimized/lib_defs.bzl
  runtime/core/portable_type/c10/c10/targets.bzl
  shim_et/xplat/executorch/kernels/optimized/lib_defs.bzl
Labels: CLA Signed, fb-exported, release notes: none

#11356 Arm backend: Replace asserts with exceptions in quantization annotator
  backends/arm/quantizer/quantization_annotator.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#11346 Save 16 KiB by moving part of optimized add/sub to .cpp
  kernels/optimized/cpu/binary_ops.cpp
  kernels/optimized/cpu/binary_ops.h
  kernels/optimized/cpu/targets.bzl
Labels: CLA Signed, release notes: none

#11294 Make op_glu_test input asymmetric
  kernels/test/op_glu_test.cpp
Labels: CLA Signed, release notes: none

#11273 Added docs for setting up executorch on windows
  docs/source/using-executorch-building-from-source.md
Labels: CLA Signed, release notes: none

#11305 [ET-VK] Use push constants for image and buffer to nchw prepack nodes.
  backends/vulkan/runtime/graph/ops/glsl/bitw8_image_to_nchw_nobitw8buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/bitw8_image_to_nchw_nobitw8buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.glsl
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/impl/Clone.cpp
  backends/vulkan/runtime/graph/ops/impl/Staging.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.cpp
  backends/vulkan/runtime/graph/ops/utils/StagingUtils.h
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11306 [ET-VK] Using push constants for convolution prepack dispatches.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_prepack_weights.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_prepack_weights.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv_transpose2d_prepack_weights.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11118 support channels last inputs in xnnpack
  backends/xnnpack/_passes/channels_last_tagged_reshape_pass.py
  backends/xnnpack/runtime/XNNExecutor.cpp
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
  backends/xnnpack/test/tester/tester.py
  backends/xnnpack/xnnpack_preprocess.py
Labels: CLA Signed, release notes: none

#11197 [ET-VK][Ops] aten.var.dim from scratch implementation
  backends/vulkan/runtime/graph/ops/glsl/var_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/var_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/var_texture3d.glsl
  backends/vulkan/runtime/graph/ops/glsl/var_texture3d.yaml
  backends/vulkan/runtime/graph/ops/impl/Var.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#11345 [ET-VK] Consolidate shader compilation into one vkCreateComputePipelines call
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/DispatchNode.h
  backends/vulkan/runtime/graph/ops/ExecuteNode.h
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.h
  backends/vulkan/runtime/vk_api/Pipeline.cpp
  backends/vulkan/runtime/vk_api/Pipeline.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#11362 fix-up
  runtime/core/exec_aten/testing_util/tensor_factory.h
Labels: CLA Signed, fb-exported

#10982 Script for benchmark stability assessment
  .ci/scripts/analyze_benchmark_stability.py
Labels: CLA Signed, release notes: none

#11374 Revert "Switch fbcode builds of ExecuTorch and PyTorch to fbsource sl…
  kernels/optimized/lib_defs.bzl
  runtime/core/portable_type/c10/c10/targets.bzl
  shim_et/xplat/executorch/kernels/optimized/lib_defs.bzl
Labels: CLA Signed, ci-no-td, release notes: none

#11293 Use `__cpp_aligned_new` instead of hand-rolling the implementation
  extension/data_loader/file_data_loader.cpp
  extension/data_loader/file_data_loader.h
  extension/data_loader/file_descriptor_data_loader.cpp
  extension/data_loader/file_descriptor_data_loader.h
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported, release notes: none

#11376 remove raied error to solve ci issue.
  devtools/etrecord/_etrecord.py
Labels: CLA Signed, fb-exported, release notes: none

#11299 Create decompose_ops.py and test_decompose_ops.py
  backends/cadence/aot/TARGETS
  backends/cadence/aot/decompose_ops.py
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_decompose_ops_passes.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported

#11361 Temp fix to unblock diff train
  backends/vulkan/_passes/int4_weight_only_quantizer.py
Labels: CLA Signed, fb-exported

#11385 Restore explicit so load in Module.java
  extension/android/executorch_android/src/main/java/org/pytorch/executorch/Module.java
Labels: CLA Signed, fb-exported, topic: not user facing

#11097 Qualcomm AI Engine Direct - GA FocalNet
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/_passes/annotate_adaptive_avg_pool1d.py
  backends/qualcomm/_passes/annotate_stack.py
  backends/qualcomm/_passes/annotate_unbind.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/oss_scripts/focalnet.py
Labels: CLA Signed, release notes: qualcomm

#11386 Add visibility to codegen's gen_lib so users can use it
  codegen/targets.bzl
Labels: CLA Signed, fb-exported, release notes: none

#11339 Reduce memory requirement on export_llama tests with no params (#11175)
  examples/models/llama/model_args.py
  examples/models/llama/tests/test_export_llama_lib.py
Labels: CLA Signed, fb-exported, release notes: none

#8760 Neuron buffer allocator decouple from ExecuTorch framework
  backends/mediatek/CMakeLists.txt
  backends/mediatek/runtime/NeuronBackend.cpp
  backends/mediatek/runtime/NeuronBufferAllocator.cpp
  backends/mediatek/runtime/include/NeuronBufferAllocator.h
  backends/mediatek/scripts/mtk_build.sh
  examples/mediatek/CMakeLists.txt
  examples/mediatek/mtk_build_examples.sh
Labels: CLA Signed, partner: mediatek, release notes: mediatek

#11036 Qualcomm AI Engine Direct - GA CvT
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/cvt.py
Labels: CLA Signed

#10570 Qualcomm AI Engine Direct - Streaming Mimi Enablement
  backends/qualcomm/_passes/convert_conv1d_to_conv2d.py
  backends/qualcomm/_passes/lift_constant_scalar_operands.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/oss_scripts/moshi/CMakeLists.txt
  examples/qualcomm/oss_scripts/moshi/mimi.py
  examples/qualcomm/oss_scripts/moshi/model/static_conv.py
  examples/qualcomm/oss_scripts/moshi/model/static_convtr.py
  examples/qualcomm/oss_scripts/moshi/model/static_mimi.py
  examples/qualcomm/oss_scripts/moshi/model/static_seanet_decoder.py
  examples/qualcomm/oss_scripts/moshi/qnn_mimi_decoder_runner.cpp
  examples/qualcomm/oss_scripts/moshi/runner/runner.cpp
  examples/qualcomm/oss_scripts/moshi/runner/runner.h
Labels: CLA Signed, release notes: qualcomm

#11208 Qualcomm AI Engine Direct - GA mobilevit
  backends/qualcomm/aot/wrappers/OpWrapper.h
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/oss_scripts/mobilevit1.py
Labels: CLA Signed, release notes: qualcomm

#11364 Milestone3.1: Support tanh op in XNNPACK backend
  backends/xnnpack/operators/__init__.py
  backends/xnnpack/operators/op_tanh.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/test_tanh.py
Labels: CLA Signed, release notes: none

#11429 Init Value with a generic scalar.
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.h
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.mm
  extension/apple/ExecuTorch/Internal/ExecuTorchUtils.mm
  extension/apple/ExecuTorch/__tests__/ValueTest.swift
Labels: CLA Signed, fb-exported, release notes: none

#11358 [ET-VK] Adding more pointwise convolution tests.
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported

#11397 fix model export issues
  examples/models/llama/source_transformation/lora.py
  examples/models/llama/source_transformation/pre_quantization.py
  examples/models/llama/source_transformation/quantize.py
Labels: CLA Signed, fb-exported, release notes: none

#11342 [llm] Add a generic text only LLM runner
  .ci/scripts/build_llama_android.sh
  .ci/scripts/test_llama.sh
  .ci/scripts/test_llama_torchao_lowbit.sh
  .ci/scripts/test_llava.sh
  examples/demo-apps/apple_ios/LLaMA/LLaMARunner/LLaMARunner/Exported/LLaMARunner.mm
  examples/models/llama/CMakeLists.txt
  examples/models/llama/main.cpp
  examples/models/llama/runner/CMakeLists.txt
  examples/models/llama/runner/runner.cpp
  examples/models/llama/runner/runner.h
  examples/models/llama/runner/targets.bzl
  examples/models/llama/runner/test/CMakeLists.txt
  examples/models/llama/runner/test/TARGETS
  examples/models/llama/runner/test/targets.bzl
  examples/models/llama/tokenizer/llama_tiktoken.cpp
  examples/models/llama/tokenizer/llama_tiktoken.h
  examples/models/llava/runner/CMakeLists.txt
  extension/android/jni/jni_layer_llama.cpp
  extension/benchmark/apple/Benchmark/Benchmark.xcodeproj/project.pbxproj
  extension/benchmark/apple/Benchmark/Tests/LLaMA/LLaMATests.mm
  extension/llm/runner/CMakeLists.txt
  extension/llm/runner/targets.bzl
  extension/llm/runner/test/CMakeLists.txt
  extension/llm/runner/test/targets.bzl
  extension/llm/runner/test/test_generation_config.cpp
  extension/llm/runner/test/test_text_llm_runner.cpp
  extension/llm/runner/text_llm_runner.cpp
  extension/llm/runner/text_llm_runner.h
  test/run_oss_cpp_tests.sh
  tools/cmake/cmake_deps.toml
Labels: CLA Signed, fb-exported, release notes: none

#11310 Arm backend: Support for dynamic shapes and fix resize bugs
  backends/arm/operators/op_upsample_bilinear2d.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/test/ops/test_upsample_nearest2d.py
  backends/arm/test/tester/test_pipeline.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#11403 Fix default value of cat_dim.
  backends/cadence/aot/memory_constraints.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11384 Integrate the `IntermediateOutputCapturer` into Inspector
  devtools/inspector/TARGETS
  devtools/inspector/_inspector.py
  devtools/inspector/tests/inspector_test.py
Labels: CLA Signed, fb-exported

#11428 Complex Support: optimized bmm
  kernels/optimized/blas/CPUBlas.cpp
  kernels/optimized/blas/CPUBlas.h
  kernels/optimized/cpu/op_bmm.cpp
  kernels/optimized/test/libblas_test.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#11344 Use GraphBuilder in test_replace_ops_passes. #1
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11451 Resolve buck earlier
  CMakeLists.txt
Labels: module: build/install, ciflow/trunk, release notes: none

#11443 Fix-up
  kernels/optimized/cpu/targets.bzl
Labels: CLA Signed, fb-exported

#11263 Allow us to print output metadata for the case where output is not tensor
  extension/pybindings/pybindings.cpp
Labels: CLA Signed, fb-exported, release notes: none

#11445 Starter Task 1: Get learning rate for llm_pte_finetuning example from config file
  examples/llm_pte_finetuning/llama3_config.yaml
  examples/llm_pte_finetuning/phi3_alpaca_code_config.yaml
  examples/llm_pte_finetuning/phi3_config.yaml
  examples/llm_pte_finetuning/qwen_05b_config.yaml
  examples/llm_pte_finetuning/runner.py
  examples/llm_pte_finetuning/training_lib.py
Labels: CLA Signed, fb-exported

#11456 Use GraphBuilder in test_replace_ops_passes. #2
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11465 Revert 11294 v2
  kernels/test/op_glu_test.cpp
Labels: CLA Signed, ci-no-td, release notes: none

#11440 adjust compatibility for the cortex_m backend
  backends/cortex_m/ops/targets.bzl
  backends/cortex_m/test/targets.bzl
Labels: CLA Signed, fb-exported

#11439 adjust compatibility for the cadence backend
  backends/cadence/fusion_g3/operators/targets.bzl
  backends/cadence/hifi/kernels/targets.bzl
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/hifi/third-party/nnlib/targets.bzl
Labels: CLA Signed, fb-exported

#11459 Arm backend: Re-enable Dedicated_Sram for the Ethos-U85
  backends/arm/runtime/EthosUBackend.cpp
  backends/arm/scripts/build_executor_runner.sh
  backends/arm/test/test_arm_baremetal.sh
  backends/arm/test/test_model.py
  examples/arm/executor_runner/arm_executor_runner.cpp
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#11468 Arm backend: Make validate_same_dtype print readable types
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_amax.py
  backends/arm/operators/op_amin.py
  backends/arm/operators/op_any.py
  backends/arm/operators/op_avg_pool2d.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_clamp.py
  backends/arm/operators/op_constant_pad_nd.py
  backends/arm/operators/op_cos.py
  backends/arm/operators/op_eq.py
  backends/arm/operators/op_erf.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_ge.py
  backends/arm/operators/op_gt.py
  backends/arm/operators/op_le.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_lt.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/operators/op_maximum.py
  backends/arm/operators/op_minimum.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_neg.py
  backends/arm/operators/op_permute.py
  backends/arm/operators/op_pow.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_repeat.py
  backends/arm/operators/op_rshift_tensor.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_sin.py
  backends/arm/operators/op_slice.py
  backends/arm/operators/op_sub.py
  backends/arm/operators/op_sum.py
  backends/arm/operators/op_tanh.py
  backends/arm/operators/op_transpose.py
  backends/arm/operators/op_upsample_bilinear2d.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/operators/op_view.py
  backends/arm/operators/op_where.py
  backends/arm/operators/operator_validation_utils.py
  backends/arm/operators/ops_binary.py
  backends/arm/operators/ops_identity.py
  backends/arm/operators/ops_unary.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#11396 NXP backend: Enable initial unit tests workflow
  .github/workflows/trunk.yml
  backends/nxp/requirements-tests.txt
  backends/nxp/run_unittests.sh
  examples/nxp/setup.sh
Labels: CLA Signed, ciflow/trunk, module: nxp, release notes: nxp

#11401 [ET-VK][ez] Fix Vulkan Validation layer errors due to consecutive command buffer encoding
  backends/vulkan/runtime/VulkanBackend.cpp
  backends/vulkan/runtime/VulkanDelegateHeader.cpp
  backends/vulkan/runtime/VulkanDelegateHeader.h
  backends/vulkan/runtime/graph/ComputeGraph.cpp
  backends/vulkan/runtime/graph/GraphConfig.cpp
  backends/vulkan/runtime/graph/GraphConfig.h
  backends/vulkan/test/test_vulkan_delegate.py
  backends/vulkan/test/utils/test_utils.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, module: vulkan

#11477 [ET-VK] Minor dispatch improvement to conv2d dw op to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_sned_output_tile.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11204 Add vectorized_math.h
  .lintrunner.toml
  kernels/portable/cpu/util/targets.bzl
  kernels/portable/cpu/util/test/CMakeLists.txt
  kernels/portable/cpu/util/test/targets.bzl
  kernels/portable/cpu/util/test/vectorized_math_test.cpp
  kernels/portable/cpu/util/vectorized_math.h
  runtime/core/portable_type/c10/c10/targets.bzl
  runtime/core/portable_type/targets.bzl
  test/utils/OSSTestConfig.json
Labels: CLA Signed, release notes: none

#9584 Add SupportedTensorDtypes::BOOL
  kernels/portable/cpu/util/dtype_util.cpp
  kernels/portable/cpu/util/dtype_util.h
Labels: CLA Signed, release notes: none

#11500 Migrate some missed pt2e pieces
  backends/arm/_passes/scalars_to_attribute_pass.py
  backends/qualcomm/_passes/lift_constant_scalar_operands.py
  export/export.py
Labels: CLA Signed

#11402 Adding operators: bitwiseand, bitwiseor, bitwisexor, embedding, eq, fmod, ge, gt, hardtanh, le, lt, maskedfill, ne, select_copy and quantisedmatmul. Link all kernels to internal compiler (#10840)
  backends/cadence/CMakeLists.txt
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/hifi/kernels/CMakeLists.txt
  backends/cadence/hifi/kernels/kernels.h
  backends/cadence/hifi/operators/CMakeLists.txt
  backends/cadence/hifi/operators/op_bitwise_and.cpp
  backends/cadence/hifi/operators/op_bitwise_or.cpp
  backends/cadence/hifi/operators/op_bitwise_xor.cpp
  backends/cadence/hifi/operators/op_embedding.cpp
  backends/cadence/hifi/operators/op_eq.cpp
  backends/cadence/hifi/operators/op_fmod.cpp
  backends/cadence/hifi/operators/op_ge.cpp
  backends/cadence/hifi/operators/op_gt.cpp
  backends/cadence/hifi/operators/op_hardtanh.cpp
  backends/cadence/hifi/operators/op_le.cpp
  backends/cadence/hifi/operators/op_lt.cpp
  backends/cadence/hifi/operators/op_masked_fill.cpp
  backends/cadence/hifi/operators/op_ne.cpp
  backends/cadence/hifi/operators/op_quantized_matmul_out.cpp
  backends/cadence/hifi/operators/op_select_copy.cpp
  backends/cadence/hifi/operators/op_split_with_sizes_copy.cpp
  backends/cadence/hifi/operators/targets.bzl
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_fmod_broadcast_f32.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_logicalxor_bool_bool.c
  backends/cadence/hifi/third-party/nnlib/xa_nn_greater_lesser_equal_f32.c
Labels: CLA Signed, fb-exported

#11388 fix unittest-buck2 -- buck test doesn't imply buck build
  .ci/scripts/unittest-buck2.sh
  kernels/portable/cpu/targets.bzl
Labels: CLA Signed, release notes: none

#11448 Move gflags to third-party
  CMakeLists.txt
  backends/apple/coreml/scripts/build_tests.sh
  backends/cadence/build_cadence_fusionG3.sh
  backends/cadence/build_cadence_hifi4.sh
  third-party/CMakeLists.txt
  tools/cmake/preset/default.cmake
Labels: CLA Signed, module: build/install, ciflow/trunk, ciflow/binaries, release notes: none

#11444 GraphBuilder in memory passes unit tests. #3
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11484 Use nullptr to represent fallback kernels
  runtime/kernel/operator_registry.cpp
  runtime/kernel/operator_registry.h
Labels: CLA Signed, fb-exported, release notes: none

#11498 Tests failing for exp op in xnnpack
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/test/ops/test_exp.py
Labels: CLA Signed, fb-exported

#11028 Add new export LLM config
  examples/models/llama/config/TARGETS
  examples/models/llama/config/llm_config.py
  examples/models/llama/config/targets.bzl
  examples/models/llama/config/test_llm_config.py
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, release notes: api, release notes: llm

#11029 Introduce hydra framework with backwards compatibility
  examples/models/llama/TARGETS
  examples/models/llama/config/llm_config.py
  examples/models/llama/export_llama.py
  examples/models/llama/export_llama_args.py
  examples/models/llama/export_llama_hydra.py
  examples/models/llama/export_llama_lib.py
  examples/models/llama/install_requirements.sh
Labels: CLA Signed, fb-exported, release notes: none

#11081 Convert args to LlmConfig
  examples/apple/mps/scripts/mps_example.py
  examples/models/llama/config/llm_config.py
Labels: CLA Signed, fb-exported, release notes: none

#11179 adjust platform compatibility for qnn backend
  backends/qualcomm/targets.bzl
Labels: CLA Signed, fb-exported, release notes: none

#11520 Arm backend: Bump cortex-m size test threshold
  .github/workflows/trunk.yml
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#11505 [xnn update prep] Update Dtypes for XNNPACK
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
Labels: CLA Signed, release notes: none

#11453 Updated list of supported chipsets for Qualcomm AI Engine backend
  backends/qualcomm/README.md
Labels: CLA Signed, fb-exported

#11516 Fix flags in apple_common.cmake
  tools/cmake/preset/apple_common.cmake
Labels: CLA Signed, ciflow/trunk, release notes: none

#11525 Back out "Tests failing for exp op in xnnpack"
  backends/xnnpack/operators/__init__.py
  backends/xnnpack/operators/op_exp.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/test_exp.py
Labels: CLA Signed, fb-exported

#11509 Reapply #11294 and #11295 (improve GLU test and implement using internal views to avoid copying)
  kernels/portable/cpu/op_glu.cpp
  kernels/portable/cpu/util/broadcast_indexes_range.h
  kernels/portable/cpu/util/elementwise_util.h
  kernels/test/op_glu_test.cpp
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported

#11538 Fix mps example for non-LLMs
  examples/apple/mps/scripts/mps_example.py
Labels: CLA Signed, ciflow/trunk

#11535 Revert "Milestone3.1: Support tanh op in XNNPACK backend (#11364)"
  backends/xnnpack/operators/__init__.py
  backends/xnnpack/operators/op_tanh.py
  backends/xnnpack/partition/config/__init__.py
  backends/xnnpack/partition/config/generic_node_configs.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/test_tanh.py
Labels: CLA Signed, ci-no-td

#9245 Add (and fix) OSS check that et_operator_library dtype_selective_build builds
  .ci/scripts/unittest-buck2.sh
  examples/selective_build/targets.bzl
  shim_et/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, topic: not user facing, release notes: none

#11571 Revert "Add (and fix) OSS check that et_operator_library dtype_select…
  .ci/scripts/unittest-buck2.sh
  examples/selective_build/targets.bzl
  shim_et/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, ci-no-td, release notes: none

#11544 Remove empty TARGETS file
  tools/buck/constraints/TARGETS
Labels: CLA Signed, fb-exported

#11540 Enable selective build in OSS
  CMakeLists.txt
  codegen/tools/CMakeLists.txt
  codegen/tools/gen_oplist.py
  codegen/tools/selective_build.cpp
  codegen/tools/selective_build.pyi
  codegen/tools/targets.bzl
  codegen/tools/test/test_selective_build.py
  setup.py
Labels: CLA Signed, fb-exported, release notes: none

#11566 solve duplicate dependency issues to unblock pybinding backend migration
  extension/module/bundled_module.cpp
  extension/module/bundled_module.h
  extension/module/module.cpp
  extension/module/module.h
  extension/module/test/bundled_module_test.cpp
Labels: CLA Signed, fb-exported

#11565 [ExecuTorch][#10447] Extend `PyBundledModule` with `extension.BundledModule`
  CMakeLists.txt
  devtools/bundled_program/test/test_end2end.py
  extension/pybindings/README.md
  extension/pybindings/pybindings.cpp
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported, ciflow/trunk, ciflow/binaries

#11606 Revert D73564127
  CMakeLists.txt
  devtools/bundled_program/test/test_end2end.py
  extension/pybindings/README.md
  extension/pybindings/pybindings.cpp
  shim_et/xplat/executorch/extension/pybindings/pybindings.bzl
Labels: CLA Signed, fb-exported, ci-no-td

#7120 Add MediaTek backend CI
  .ci/scripts/build-mediatek-sdk.sh
  .ci/scripts/setup-mediatek-deps.sh
  .ci/scripts/test_model.sh
  .github/workflows/pull.yml
Labels: CLA Signed, release notes: mediatek

#11545 Improve performance of _to_dim_order_copy
  kernels/portable/cpu/op__to_dim_order_copy.cpp
  kernels/portable/cpu/op_glu.cpp
  kernels/portable/cpu/util/broadcast_indexes_range.h
  kernels/portable/cpu/util/elementwise_util.h
  shim_et/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, release notes: ops & kernels

#11497 Make core aten exception ops modifiable at runtime.
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11599 [ET-VK] Clean up `vTensor` member variables and expose `dim order` UBO and push constant
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/graph/ComputeGraph.h
  backends/vulkan/runtime/vk_api/Descriptor.cpp
  backends/vulkan/runtime/vk_api/Descriptor.h
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported

#11601 Support for Model API for Selective Build in OSS
  examples/selective_build/CMakeLists.txt
  examples/selective_build/test_selective_build.sh
  tools/cmake/Codegen.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries

#11616 Use PAL table override for pybinding log routing
  extension/pybindings/pybindings.cpp
Labels: CLA Signed, fb-exported, release notes: none

#11610 Update default models to be benchmarked continuously
  .github/workflows/android-perf-private-device-experiment.yml
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf-private-device-experiment.yml
  .github/workflows/apple-perf.yml
Labels: CLA Signed, release notes: none

#11591 Add API to log errors with a custom description appended.
  extension/apple/ExecuTorch/Exported/ExecuTorchError.h
  extension/apple/ExecuTorch/Exported/ExecuTorchError.m
Labels: CLA Signed, fb-exported

#11627 Add valueWithFloat API.
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.h
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.mm
Labels: CLA Signed, fb-exported

#11619 Support for Header File Generation in DTYPE Selective Build in OSS
  examples/selective_build/CMakeLists.txt
  tools/cmake/Codegen.cmake
Labels: CLA Signed, ciflow/trunk, ciflow/binaries

#11629 Return retained objects from toNSArray.
  extension/apple/ExecuTorch/Exported/ExecuTorchTensor.mm
  extension/apple/ExecuTorch/Internal/ExecuTorchUtils.h
Labels: CLA Signed, fb-exported

#11630 Return retained objects from NSError constructors.
  extension/apple/ExecuTorch/Exported/ExecuTorchError.h
  extension/apple/ExecuTorch/Exported/ExecuTorchError.m
Labels: CLA Signed, fb-exported

#11632 Return retained objects from Value constructors.
  extension/apple/ExecuTorch/Exported/ExecuTorchValue.h
Labels: CLA Signed, fb-exported

#11633 Return retained objects from Module constructors.
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.h
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.mm
Labels: CLA Signed, fb-exported

#11472 Arm backend: Add validate_valid_dtype
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_add.py
  backends/arm/operators/op_amax.py
  backends/arm/operators/op_amin.py
  backends/arm/operators/op_any.py
  backends/arm/operators/op_avg_pool2d.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_clamp.py
  backends/arm/operators/op_constant_pad_nd.py
  backends/arm/operators/op_cos.py
  backends/arm/operators/op_eq.py
  backends/arm/operators/op_erf.py
  backends/arm/operators/op_exp.py
  backends/arm/operators/op_ge.py
  backends/arm/operators/op_gt.py
  backends/arm/operators/op_le.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_lt.py
  backends/arm/operators/op_max_pool2d.py
  backends/arm/operators/op_maximum.py
  backends/arm/operators/op_minimum.py
  backends/arm/operators/op_mul.py
  backends/arm/operators/op_neg.py
  backends/arm/operators/op_permute.py
  backends/arm/operators/op_pow.py
  backends/arm/operators/op_reciprocal.py
  backends/arm/operators/op_repeat.py
  backends/arm/operators/op_rshift_tensor.py
  backends/arm/operators/op_rsqrt.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/operators/op_sin.py
  backends/arm/operators/op_slice.py
  backends/arm/operators/op_sub.py
  backends/arm/operators/op_table.py
  backends/arm/operators/op_tanh.py
  backends/arm/operators/op_transpose.py
  backends/arm/operators/op_upsample_bilinear2d.py
  backends/arm/operators/op_upsample_nearest2d.py
  backends/arm/operators/op_view.py
  backends/arm/operators/op_where.py
  backends/arm/operators/operator_validation_utils.py
  backends/arm/operators/ops_unary.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#11636 Arm backend: Add embedding.default + index_select
  backends/arm/README.md
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_embedding_pass.py
  backends/arm/_passes/insert_int64_input_cast_pass.py
  backends/arm/operator_support/__init__.py
  backends/arm/operator_support/embedding_support.py
  backends/arm/operator_support/index_select_support.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_index_select.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/models/test_llama.py
  backends/arm/test/ops/test_embedding.py
  backends/arm/test/ops/test_index_select.py
  backends/arm/test/passes/test_insert_int64_to_int32_cast_pass.py
  backends/arm/test/passes/test_int32_cast_embedding_pass.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/analyze_output_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/test/tester/test_pipeline.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#11639 Arm backend: Fix warnings from cppcheck in runtime
  backends/arm/runtime/EthosUBackend.cpp
  backends/arm/runtime/VelaBinStream.cpp
Labels: CLA Signed, module: runtime, partner: arm, ciflow/trunk, release notes: arm

#11643 Fix flags in apple_common.cmake
  tools/cmake/preset/apple_common.cmake
Labels: CLA Signed, ciflow/trunk, release notes: none

#11624 Mapping between runtime and aot intermediate outputs
  devtools/inspector/_inspector_utils.py
  devtools/inspector/tests/inspector_utils_test.py
Labels: CLA Signed, fb-exported, release notes: none

#11648 [ET-VK][ez] Allow Vulkan operator tests to run on devserver and Mac
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported, module: vulkan

#11603 Define ET_HAS_EXCEPTIONS macro
  runtime/platform/compiler.h
Labels: CLA Signed, fb-exported, release notes: api

#11479 [ET] enabling half dtype input for quantization
  kernels/quantized/cpu/op_quantize.cpp
  kernels/quantized/test/op_quantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11552 [ET] enabling half dtype output for dequantization and making logic consistent
  kernels/quantized/cpu/op_dequantize.cpp
  kernels/quantized/test/op_dequantize_test.cpp
  runtime/core/exec_aten/util/scalar_type_util.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#11366 [ET-VK][Ops] quantize ops skeleton test framework
  backends/vulkan/test/op_tests/quantize_test.cpp
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported, release notes: vulkan

#11367 [ET-VK][Ops] quantize_per_token.default test setup
  backends/vulkan/test/op_tests/quantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11368 [ET-VK][Ops] quantize_per_tensor.default test setup
  backends/vulkan/test/op_tests/quantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11480 [ET-VK][Ops] dequantize ops skeleton test framework
  backends/vulkan/test/op_tests/dequantize_test.cpp
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported, release notes: vulkan

#11481 [ET-VK][Ops] dequantize_per_tensor.default test setup
  backends/vulkan/test/op_tests/dequantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11482 [ET-VK][Ops] dequantize_per_token.default test setup
  backends/vulkan/test/op_tests/dequantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11555 [ET-VK][Ops] choose_qparams.tensor test setup
  backends/vulkan/test/op_tests/choose_qparams_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11556 [ET-VK][Ops] choose_qparams_per_token_asymmetric.default test setup
  backends/vulkan/test/op_tests/choose_qparams_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11641 Remove buck-out on clean ET install
  install_executorch.py
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#11662 Support for cmdline flag to toggle Debug vs Release build types in cmake
  .ci/scripts/utils.sh
  examples/selective_build/test_selective_build.sh
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#11728 Fix lint
  install_requirements.py
Labels: CLA Signed, release notes: none

#11727 Revert vulkan changes from D76646172 fixup patch
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/runtime/graph/ops/glsl/arange.yaml
  backends/vulkan/runtime/graph/ops/glsl/avg_pool2d.yaml
  backends/vulkan/runtime/graph/ops/glsl/binary_op.yaml
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/buffer_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/copy_channel_offset.yaml
  backends/vulkan/runtime/graph/ops/glsl/copy_offset.yaml
  backends/vulkan/runtime/graph/ops/glsl/copy_packed_dim_offset.yaml
  backends/vulkan/runtime/graph/ops/glsl/embedding.yaml
  backends/vulkan/runtime/graph/ops/glsl/flip.yaml
  backends/vulkan/runtime/graph/ops/glsl/image_to_nchw.yaml
  backends/vulkan/runtime/graph/ops/glsl/index_select.yaml
  backends/vulkan/runtime/graph/ops/glsl/index_select_channel.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.glsl
  backends/vulkan/runtime/graph/ops/glsl/nchw_to_image.yaml
  backends/vulkan/runtime/graph/ops/glsl/no_op.yaml
  backends/vulkan/runtime/graph/ops/glsl/permute.yaml
  backends/vulkan/runtime/graph/ops/glsl/repeat.yaml
  backends/vulkan/runtime/graph/ops/glsl/unary_op.yaml
  backends/vulkan/runtime/graph/ops/glsl/view.yaml
  backends/vulkan/runtime/graph/ops/utils/ShaderNameUtils.cpp
  backends/vulkan/runtime/vk_api/Types.h
  backends/vulkan/test/glsl/all_shaders.yaml
  backends/vulkan/test/op_tests/choose_qparams_test.cpp
  backends/vulkan/test/op_tests/dequantize_test.cpp
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
  backends/vulkan/test/op_tests/rotary_embedding_test.cpp
  backends/vulkan/test/op_tests/sdpa_test.cpp
  backends/vulkan/test/op_tests/targets.bzl
  backends/vulkan/test/op_tests/test_utils.cpp
  backends/vulkan/test/op_tests/test_utils.h
  backends/vulkan/test/op_tests/utils/gen_benchmark_vk.py
  backends/vulkan/test/op_tests/utils/gen_correctness_vk.py
  backends/vulkan/tools/gpuinfo/glsl/warp_size.yaml
  kernels/quantized/cpu/op_dequantize.cpp
  kernels/quantized/cpu/op_quantize.cpp
  kernels/quantized/test/op_dequantize_test.cpp
  kernels/quantized/test/op_quantize_test.cpp
  runtime/core/exec_aten/util/scalar_type_util.h
Labels: CLA Signed, fb-exported, module: vulkan, ci-no-td, release notes: vulkan

#11659 Update CMakeLists.txt for extension/apple to strip debug symbols path
  extension/apple/CMakeLists.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, release notes: none

#11577 Implement ReplaceMulTensorWithMulAndFullOpsPass.
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11742 Fixed linter
  examples/qualcomm/oss_scripts/llama/eval_llama_qnn.py
Labels: CLA Signed, release notes: none

#11745 Fix for overriding installed executorch when running optimum-et models
  .github/workflows/android-perf.yml
  .github/workflows/apple-perf.yml
  .github/workflows/trunk.yml
Labels: CLA Signed, release notes: none

#11724 Arm backend: Added decomposition for MaxPool2d with dilation > 0.
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/decompose_maxpool2d_with_dilation.py
  backends/arm/test/ops/test_max_pool.py
Labels: CLA Signed, partner: arm, triaged, ciflow/trunk, release notes: arm

#11755 Arm backend: Fix bug in decompose linear vector norm
  backends/arm/_passes/decompose_linalg_vector_norm_pass.py
  backends/arm/_passes/decompose_sum_pass.py
  backends/arm/operators/op_sum.py
  backends/arm/test/models/test_torch_functions.py
  backends/arm/test/ops/test_sum.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#11751 Add numerical comparator base class and L1 comparator
  devtools/inspector/numerical_comparator/TARGETS
  devtools/inspector/numerical_comparator/__init__.py
  devtools/inspector/numerical_comparator/inspector_numerical_comparator_base.py
  devtools/inspector/numerical_comparator/l1_numerical_comparator.py
  devtools/inspector/numerical_comparator/numerical_comparator_base.py
  devtools/inspector/tests/TARGETS
  devtools/inspector/tests/l1_comparator_test.py
Labels: CLA Signed, fb-exported, release notes: none

#11759 Add MSE numerical comparator
  devtools/inspector/numerical_comparator/TARGETS
  devtools/inspector/numerical_comparator/__init__.py
  devtools/inspector/numerical_comparator/mse_numerical_comparator.py
  devtools/inspector/tests/TARGETS
  devtools/inspector/tests/mse_comparator_test.py
Labels: CLA Signed, fb-exported, release notes: none

#11596 Refactor XNNPACK tester to extract delegate-independent tester classes
  backends/__init__.py
  backends/arm/test/misc/test_lifted_tensor.py
  backends/arm/test/passes/test_cast_int64_pass.py
  backends/arm/test/quantizer/test_generic_annotater.py
  backends/arm/test/tester/analyze_output_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/test/harness/TARGETS
  backends/test/harness/__init__.py
  backends/test/harness/stages/__init__.py
  backends/test/harness/stages/export.py
  backends/test/harness/stages/partition.py
  backends/test/harness/stages/quantize.py
  backends/test/harness/stages/run_passes.py
  backends/test/harness/stages/serialize.py
  backends/test/harness/stages/stage.py
  backends/test/harness/stages/to_edge.py
  backends/test/harness/stages/to_edge_transform_and_lower.py
  backends/test/harness/stages/to_executorch.py
  backends/test/harness/tester.py
  backends/xnnpack/test/__init__.py
  backends/xnnpack/test/passes/__init__.py
  backends/xnnpack/test/passes/test_activation_fusion.py
  backends/xnnpack/test/passes/test_tag_implicit_q_dq_pass.py
  backends/xnnpack/test/tester/TARGETS
  backends/xnnpack/test/tester/__init__.py
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed, fb-exported, ciflow/trunk, release notes: none

#11657 Reapply D74208085: "Switch fbcode builds of ExecuTorch and PyTorch to fbsource sleef (#11261)"
  kernels/optimized/lib_defs.bzl
  runtime/core/portable_type/c10/c10/targets.bzl
  shim_et/xplat/executorch/kernels/optimized/lib_defs.bzl
Labels: CLA Signed, fb-exported, release notes: none

#11369 [ET-VK][Ops] quantization op shaders and impl
  backends/vulkan/runtime/graph/ops/glsl/quantize.glslh
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.yaml
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
  backends/vulkan/test/op_tests/test_utils.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11764 skip et quantizer numeric debugging tests for infra update
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
Labels: CLA Signed, fb-exported

#11730 [Quantized DeConv Support] Enable Quantized Transposed Convs with groups==1
  backends/xnnpack/quantizer/xnnpack_quantizer_utils.py
  backends/xnnpack/test/ops/test_conv2d.py
Labels: CLA Signed, fb-exported

#11732 [XNNPACK Quantizer] Select between TConvs and Convs
  backends/xnnpack/quantizer/xnnpack_quantizer.py
  backends/xnnpack/test/quantizer/test_xnnpack_quantizer.py
Labels: CLA Signed, fb-exported

#11592 [llm] Fix start_pos not being updated in prefill_chunk()
  extension/llm/runner/test/CMakeLists.txt
  extension/llm/runner/test/targets.bzl
  extension/llm/runner/test/test_text_prefiller.cpp
  extension/llm/runner/text_prefiller.cpp
  extension/llm/runner/text_prefiller.h
Labels: CLA Signed, fb-exported, release notes: llm

#11757 Support Span to construct from a single element similar to ArrayRef
  runtime/core/span.h
  runtime/core/test/span_test.cpp
Labels: CLA Signed, fb-exported, release notes: api

#11740 Set pyre-strict for passes unit tests.
  backends/cadence/aot/TARGETS
  backends/cadence/aot/tests/test_fusion_ops_passes.py
  backends/cadence/aot/tests/test_memory_passes.py
  backends/cadence/aot/tests/test_pass_filter.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
  backends/cadence/aot/tests/test_reorder_ops_passes.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
  backends/cadence/aot/tests/test_simplify_ops_passes.py
  backends/cadence/aot/typing_stubs.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: none

#11553 [ET-VK][Ops] enabling double support for quantization and dequantization ops
  backends/vulkan/runtime/graph/ops/glsl/dequantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/dequantize_texture.glsl
  backends/vulkan/runtime/graph/ops/glsl/dequantize_texture.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_buffer.yaml
  backends/vulkan/runtime/graph/ops/glsl/quantize_texture.yaml
  backends/vulkan/runtime/graph/ops/impl/Quantize.cpp
  backends/vulkan/test/op_tests/dequantize_test.cpp
  backends/vulkan/test/op_tests/quantize_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#11773 Improve executor_runner cmake instructions
  backends/xnnpack/README.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/xnnpack/README.md
Labels: CLA Signed, release notes: none
