Repository pytorch/executorch, pull requests merged in 2025-01, with the labels that each got.

#7457 release notes: Updated README.md installation for MacOS
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
Labels: CLA Signed

#7470 Install torchao by default
  examples/models/llama/install_requirements.sh
  examples/models/llama3_2_vision/install_requirements.sh
  examples/models/phi-3-mini-lora/install_requirements.sh
  install_requirements.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7478 [ET-VK][ez] Fix undefined behaviour in ambiguous `ParamsBuffer` constructor
  backends/vulkan/runtime/api/containers/ParamsBuffer.h
  backends/vulkan/runtime/api/containers/Tensor.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7479 [ET-VK] Create Pipeline layouts with push constant ranges when required
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/runtime/vk_api/Pipeline.cpp
  backends/vulkan/runtime/vk_api/Pipeline.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7480 [ET-VK] Fix metadata UBO VVL warnings
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/api/containers/Tensor.h
  backends/vulkan/runtime/vk_api/Adapter.h
  backends/vulkan/runtime/vk_api/Descriptor.cpp
  backends/vulkan/runtime/vk_api/Descriptor.h
  backends/vulkan/runtime/vk_api/Device.cpp
  backends/vulkan/runtime/vk_api/Device.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7254 [executorch][serialization] Refactor flatbuffer utils into separate file
  exir/_serialize/TARGETS
  exir/_serialize/_program.py
  exir/_serialize/padding.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7451 Remove path that is not needed for SDPA decomp
  backends/cadence/aot/compiler.py
  backends/cadence/aot/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7473 Update install_requirements to install --pybind xnnpack by default.
  docs/source/getting-started-setup.md
  install_requirements.py
Labels: CLA Signed, ciflow/trunk, release notes: build

#7442 Enable mypy, part 1
  .github/workflows/lint.yml
  .gitignore
  .lintrunner.toml
  .mypy.ini
  build/buck_util.py
  build/extract_sources.py
  codegen/tools/__init__.py
  codegen/tools/gen_all_oplist.py
  codegen/tools/gen_oplist.py
  codegen/tools/gen_ops_def.py
  codegen/tools/merge_yaml.py
  codegen/tools/test/test_gen_oplist_real_model.py
  kernels/test/gen_supported_features_test.py
  requirements-lintrunner.txt
  scripts/file_size_compare.py
  setup.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7469 [Xnnpack] Accept default padding value for torch.constant_pad_nd
  backends/xnnpack/operators/op_static_constant_pad.py
  backends/xnnpack/test/ops/test_static_constant_pad.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7495 Add uint16 to supported dtypes in exir/dialects
  exir/dialects/edge/dtype/supported.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7175 Qualcomm AI Engine Direct - Support Hybrid Mode for Llama3.2
  backends/qualcomm/CMakeLists.txt
  backends/qualcomm/aot/ir/qcir.fbs
  backends/qualcomm/aot/ir/qcir_utils.cpp
  backends/qualcomm/aot/ir/qcir_utils.h
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.h
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.cpp
  backends/qualcomm/aot/python/targets.bzl
  backends/qualcomm/runtime/QnnExecuTorch.h
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/qualcomm/runtime/QnnExecuTorchBackend.h
  backends/qualcomm/runtime/QnnManager.cpp
  backends/qualcomm/runtime/backends/CMakeLists.txt
  backends/qualcomm/runtime/backends/QnnBackendCache.cpp
  backends/qualcomm/runtime/backends/QnnContextCommon.cpp
  backends/qualcomm/runtime/backends/QnnContextCommon.h
  backends/qualcomm/runtime/backends/QnnCustomProtocol.cpp
  backends/qualcomm/runtime/backends/QnnCustomProtocol.h
  backends/qualcomm/runtime/backends/QnnLogger.cpp
  backends/qualcomm/runtime/targets.bzl
  backends/qualcomm/serialization/qc_binary_info.fbs
  backends/qualcomm/targets.bzl
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/oss_scripts/llama3_2/README.md
  examples/qualcomm/oss_scripts/llama3_2/llama.py
  examples/qualcomm/oss_scripts/llama3_2/qnn_llama3_2_runner.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/io_memory.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/io_memory.h
  examples/qualcomm/oss_scripts/llama3_2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama3_2/runner/runner.h
Labels: CLA Signed, partner: qualcomm, topic: not user facing

#7493 Enable mypy lintrunner, Part 2 (codegen/*, docs/*)
  .lintrunner.toml
  .mypy.ini
  docs/source/conf.py
  docs/source/custom_directives.py
  docs/source/executorch_custom_versions.py
  docs/source/tutorials_source/devtools-integration-tutorial.py
  docs/source/tutorials_source/export-to-executorch-tutorial.py
  setup.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7255 [executorch][flat_tensor] Generate flatc files
  extension/flat_tensor/serialize/TARGETS
  extension/flat_tensor/serialize/flat_tensor.fbs
  extension/flat_tensor/serialize/flat_tensor_schema.py
  extension/flat_tensor/serialize/scalar_type.fbs
  extension/flat_tensor/serialize/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7447 [ET-VK] [ET-VK] Reduced int precision for all int storage in conv pw op to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7450 [ET-VK] Minor fix to conv 2d op using wg_size from create_conv2d_global_wg_size to determine local wg size.
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, module: benchmark, topic: not user facing

#7452 [ET-VK] Modify conv 2d pw op shader and dispatch settings to linearly dispatch work accounting for linearity texture to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7474 [ET-VK] Using vec2 to store output positions to reudce shader register footprint.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7475 [ET-VK] Using shared variable to store calculated output pose to free up registers and improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7476 [ET-VK] Changing texture access pattern for conv2d pw op to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7477 [ET-VK] Changing texture access pattern for conv2d dw ops to improve performance.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7485 [ET-VK] Adding batch processing to conv2d dw shader by caching input texel and kernel values for reuse.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.yaml
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7481 Build executorch Sphinx docs internally and link to static docs
  docs/TARGETS
  docs/source/conf.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7494 Enable mypy lintrunner, Part 3 (profiler/*)
  .lintrunner.toml
  .mypy.ini
  profiler/parse_profiler_results.py
  profiler/profiler_results_cli.py
Labels: CLA Signed, topic: not user facing

#7508 Add custom ops deps
  examples/qualcomm/oss_scripts/llama3_2/TARGETS
Labels: CLA Signed, topic: not user facing

#7496 Enable mypy lintrunner, Part 4 (util/*)
  .lintrunner.toml
  .mypy.ini
  util/activation_memory_profiler.py
  util/python_profiler.py
Labels: CLA Signed, topic: not user facing

#7497 Enable mypy lintrunner, Part 5 (test/*)
  .lintrunner.toml
  .mypy.ini
  test/end2end/exported_module.py
  test/end2end/test_end2end.py
  test/models/export_delegated_program.py
  test/models/generate_linear_out_bundled_program.py
Labels: CLA Signed, topic: not user facing

#7521 [executorch][flat_tensor] Generate flatc files
  extension/flat_tensor/serialize/TARGETS
  extension/flat_tensor/serialize/flat_tensor.fbs
  extension/flat_tensor/serialize/flat_tensor_schema.py
  extension/flat_tensor/serialize/scalar_type.fbs
  extension/flat_tensor/serialize/targets.bzl
Labels: CLA Signed, topic: not user facing

#7516 Create a separate header for macros used with nnlib kernel calls.
  backends/cadence/fusion_g3/operators/op_add.cpp
  backends/cadence/fusion_g3/operators/targets.bzl
  backends/cadence/fusion_g3/operators/xt_macros.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7534 Fix mypy lintrunner
  .lintrunner.toml
  docs/source/conf.py
Labels: CLA Signed, topic: not user facing

#7535 Add support to export XNNPACK based static_llama
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7510 Call eval() in `quantize_pt2`
  backends/cadence/aot/compiler.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6515 Add bitwise tests
  kernels/test/op_bitwise_and_test.cpp
  kernels/test/op_bitwise_or_test.cpp
  kernels/test/op_bitwise_xor_test.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#7528 Clean up portable op_topk
  kernels/portable/cpu/op_topk.cpp
  kernels/test/op_topk_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7517 fix the qnn sdk env issue
  examples/qualcomm/oss_scripts/llama3_2/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7453 Improve error messages for tensor size errors
  runtime/core/exec_aten/util/dim_order_util.h
  runtime/core/portable_type/tensor_impl.cpp
  runtime/executor/method.cpp
  runtime/kernel/operator_registry.cpp
Labels: CLA Signed, fb-exported, release notes: misc

#7520 Change status to beta in pyproject.toml file
  pyproject.toml
Labels: CLA Signed, topic: not user facing

#6888 Arm backend: Test TOSA, Ethos-U55 and Ethos-U85 on github
  .ci/scripts/setup-arm-baremetal-tools.sh
  .ci/scripts/utils.sh
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  backends/arm/README.md
  backends/arm/test/runner_utils.py
  backends/arm/test/setup_testing.sh
  backends/arm/test/test_arm_baremetal.sh
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7298 Generalize all annotators into a generic parameterizable annotator
  backends/arm/quantizer/TARGETS
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/quantizer/quantization_annotation/TARGETS
  backends/arm/quantizer/quantization_annotation/__init__.py
  backends/arm/quantizer/quantization_annotation/adaptive_ang_pool2d_annotator.py
  backends/arm/quantizer/quantization_annotation/add_annotator.py
  backends/arm/quantizer/quantization_annotation/conv_annotator.py
  backends/arm/quantizer/quantization_annotation/generic_annotator.py
  backends/arm/quantizer/quantization_annotation/linear_annotator.py
  backends/arm/quantizer/quantization_annotation/max_pool2d_annotator.py
  backends/arm/quantizer/quantization_annotation/min_max_annotator.py
  backends/arm/quantizer/quantization_annotation/mm_annotator.py
  backends/arm/quantizer/quantization_annotation/mul_annotator.py
  backends/arm/quantizer/quantization_annotation/one_to_one_annotator.py
  backends/arm/quantizer/quantization_annotation/sub_annotator.py
  backends/arm/quantizer/quantization_annotation/upsample_nearest2d_annotator.py
  backends/arm/quantizer/quantization_annotator.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: backends

#4856 [Build] Support windows in resolve_buck.py
  build/resolve_buck.py
Labels: CLA Signed, module: build, triaged, ciflow/trunk, release notes: build

#7464 Add portable upsample_nearest2d kernel
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_upsample_nearest2d.cpp
  kernels/portable/cpu/util/upsample_util.cpp
  kernels/portable/cpu/util/upsample_util.h
  kernels/portable/functions.yaml
  kernels/portable/test/TARGETS
  kernels/portable/test/op_upsample_nearest2d_test.py
  kernels/portable/test/register_ops_aot_for_test.cpp
  kernels/test/op_upsample_nearest2d_test.cpp
  kernels/test/targets.bzl
  shim/xplat/executorch/kernels/portable/op_registration_util.bzl
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#7449 Fix NATIVE_FP16 macro in our fork of half.h
  runtime/core/portable_type/half.h
Labels: CLA Signed, release notes: runtime

#7558 Fix the use of PyTorch pin commit in MacOS
  .ci/docker/conda-env-ci.txt
  .ci/scripts/setup-macos.sh
  .ci/scripts/utils.sh
Labels: CLA Signed, topic: not user facing

#7522 [ET-VK] Adding a common utility function to calculate 3d output position based on unique index.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils_u16.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7526 [ET-VK] Adding batch processing in x axis to conv2d dw shader by caching input texel for reuse.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.yaml
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7545 [ET-VK] Changing all conv 2d pw ints from uint16 to int since it slightly improves perf.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils_u16.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7518 Qualcomm AI Engine Direct - Add unit test for Spill-Fill buffer
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, topic: not user facing

#7540 Refactor CadenceQuantizer
  backends/cadence/aot/compiler.py
  backends/cadence/aot/export_example.py
  backends/cadence/aot/quantizer/quantizer.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7403 ArmBackend: Runtime to accept int8 datatype
  examples/arm/executor_runner/arm_executor_runner.cpp
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7559 Explain how to run C++ tests locally in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: CLA Signed, fb-exported, release notes: build

#7574 Clean up executorch_print_configuration_summary
  build/Utils.cmake
Labels: CLA Signed, release notes: build

#7573 Upgrade actions/download-artifact@v4
  .github/workflows/apple-perf.yml
  .github/workflows/apple.yml
Labels: CLA Signed, topic: not user facing

#7542 Arm backend: Add .coveragerc file
  backends/arm/README.md
  backends/arm/test/.coveragerc
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7551 Update PyTorch/TorchVision and TorchAudio nightly pin
  .ci/docker/ci_commit_pins/pytorch.txt
  install_requirements.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7589 Make Tester check shapes of reference and model output
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7576 [ET-VK] Parse required extensions of shaders and check capabilities during dispatch
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/gen_vulkan_spv.py
  backends/vulkan/runtime/graph/ops/DispatchNode.cpp
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/vk_api/Adapter.cpp
  backends/vulkan/runtime/vk_api/Exception.cpp
  backends/vulkan/runtime/vk_api/Exception.h
  backends/vulkan/runtime/vk_api/Shader.cpp
  backends/vulkan/runtime/vk_api/Shader.h
  backends/vulkan/test/op_tests/utils/gen_correctness_base.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7577 [ET-VK][ez][buck] Simplify test buck file
  backends/vulkan/test/op_tests/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7580 Fixing linux build.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7563 [mps] dim_order Fix
  backends/apple/mps/mps_preprocess.py
  backends/apple/mps/operators/constant_ops.py
  backends/apple/mps/operators/op_clone.py
  backends/apple/mps/test/test_mps.py
  backends/apple/mps/test/test_mps_utils.py
Labels: CLA Signed, module: mps, topic: not user facing

#7575 Add event tracer for backend init
  runtime/backend/backend_init_context.h
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, release notes: backends

#7279 Fix executorch kv cache incompatibility with to_executorch lowering
  examples/models/llama/export_llama_lib.py
  examples/models/llama3_2_vision/runner/native.py
  exir/emit/_emitter.py
  exir/emit/test/test_emit.py
  exir/passes/init_mutable_pass.py
  extension/llm/export/builder.py
  extension/llm/modules/test/test_attention.py
  extension/llm/modules/test/test_kv_cache.py
Labels: CLA Signed, topic: not user facing

#7600 [ET-VK][ez] Fix 8-bit linear shaders extension requirement
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear.glsl
  backends/vulkan/runtime/graph/ops/glsl/q_8w_linear_optimized.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7404 Add mean.dtype_out op for internal model
  kernels/aten/functions.yaml
  kernels/portable/cpu/op_mean.cpp
  kernels/portable/cpu/util/reduce_util.cpp
  kernels/portable/functions.yaml
  kernels/test/op_mean_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7581 Validate evalue indexes in MethodMeta
  runtime/executor/method_meta.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7609 Add tests for cross attention
  extension/llm/modules/test/test_attention.py
Labels: CLA Signed, topic: not user facing

#7602 add maybe_unused where needed in size_test.cpp
  test/size_test.cpp
Labels: CLA Signed, release notes: devtools

#7603 Reduce size of Method::parse_types
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, release notes: runtime

#7529 resolve XT_KERNEL_CHECK header file and BUCK dep
  backends/cadence/fusion_g3/operators/op_mean.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7594 backends/cadence cmakelist update to fix reference code build
  backends/cadence/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#7601 [ET-VK][ez] Misc fixes related to extension support checking
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/test/op_tests/utils/gen_computegraph.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7620 [ET-VK][ez] Misc fixes related to extension support checking
  backends/vulkan/runtime/api/containers/Tensor.cpp
  backends/vulkan/runtime/graph/ops/PrepackNode.cpp
  backends/vulkan/test/op_tests/utils/gen_computegraph.py
Labels: CLA Signed, topic: not user facing

#7608 Reduce size of Method::init
  runtime/executor/method.cpp
Labels: CLA Signed, fb-exported, release notes: runtime

#7611 Readability refactor
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7595 [ET-VK] Fixing conv2d dw incorrect output when stride != dilation issue.
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.yaml
  backends/vulkan/runtime/graph/ops/impl/Convolution.cpp
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#6811 Qualcomm AI Engine Direct - Support QNN 2.28
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/setup-qnn-deps.sh
  .ci/scripts/test_llama.sh
  backends/qualcomm/runtime/backends/QnnBackendCache.cpp
  backends/qualcomm/runtime/backends/htpbackend/HtpBackendCache.cpp
  docs/source/build-run-qualcomm-ai-engine-direct-backend.md
  docs/source/llm/build-run-llama3-qualcomm-ai-engine-direct-backend.md
  shim/xplat/executorch/backends/qualcomm/qnn_version.bzl
Labels: CLA Signed, ciflow/trunk, release notes: backends

#7615 [ET-VK] Request VMA_ALLOCATION_CREATE_HOST_ACCESS_SEQUENTIAL_WRITE_BIT, not RANDOM
  backends/vulkan/runtime/vk_api/memory/Allocator.cpp
Labels: CLA Signed, release notes: backends

#7605 update dynamic shape detection
  backends/xnnpack/operators/op_squeeze.py
  exir/backend/utils.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7570 Work around flatccrt issue in CI script
  .ci/scripts/build-qnn-sdk.sh
Labels: CLA Signed, topic: not user facing

#7632 [0.5 release] Bumping version.txt
  version.txt
Labels: CLA Signed, topic: not user facing

#7635 Make kv cache pos buffer name more specific
  examples/models/llama/export_llama_lib.py
  extension/llm/modules/attention.py
  extension/llm/modules/kv_cache.py
  extension/llm/modules/test/test_attention.py
  extension/llm/modules/test/test_kv_cache.py
Labels: CLA Signed, topic: not user facing

#7268 [executorch][flat_tensor] Serialize flat tensor
  exir/_serialize/TARGETS
  extension/flat_tensor/__init__.py
  extension/flat_tensor/serialize/TARGETS
  extension/flat_tensor/serialize/__init__.py
  extension/flat_tensor/serialize/flat_tensor_schema.py
  extension/flat_tensor/serialize/serialize.py
  extension/flat_tensor/test/TARGETS
  extension/flat_tensor/test/test_serialize.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7638 Fix kv cache pyre and build
  examples/models/llama/TARGETS
  exir/emit/test/TARGETS
  exir/passes/TARGETS
  extension/llm/export/TARGETS
  extension/llm/export/builder.py
  runtime/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7554 Add visualization to devtools
  backends/xnnpack/test/tester/tester.py
  devtools/visualization/__init__.py
  devtools/visualization/visualization_utils.py
  devtools/visualization/visualization_utils_test.py
  install_requirements.py
Labels: CLA Signed, module: devtools, partner: arm, topic: not user facing

#7514 [XNNPACK] Support 2d Transposed Convolution in XNNPACK delegate
  backends/xnnpack/_passes/fuse_activation_pass.py
  backends/xnnpack/_passes/fuse_batch_norm_with_conv.py
  backends/xnnpack/_passes/tag_implicit_q_dq_pass.py
  backends/xnnpack/operators/node_visitor.py
  backends/xnnpack/operators/op_conv2d.py
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/partition/configs.py
  backends/xnnpack/runtime/XNNCompiler.cpp
  backends/xnnpack/serialization/runtime_schema.fbs
  backends/xnnpack/serialization/schema.fbs
  backends/xnnpack/serialization/xnnpack_graph_schema.py
  backends/xnnpack/test/ops/test_conv2d.py
  backends/xnnpack/test/passes/test_activation_fusion.py
  backends/xnnpack/test/passes/test_batch_norm_fusion.py
  backends/xnnpack/test/passes/test_channels_last_tagged_reshape.py
  backends/xnnpack/test/test_xnnpack_utils_classes.py
  devtools/size_analysis_tool/size_analysis_tool_test.py
Labels: CLA Signed, module: xnnpack, release notes: xnnpack

#7631 [0.5 release] Update version references for release
  docs/source/getting-started-setup.md
Labels: CLA Signed

#7523 Add alias copy smoke test
  kernels/test/op_alias_copy_test.cpp
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#7610 Update dim_order type
  exir/schema.py
  exir/tensor.py
  exir/tests/common.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7513 Fix the logging format string for the negative zero point in XNNCompiler.cpp
  backends/xnnpack/runtime/XNNCompiler.cpp
Labels: CLA Signed, topic: not user facing

#7637 Validate value indices when deserializing list types
  runtime/executor/method.cpp
  runtime/executor/tensor_parser.h
  runtime/executor/tensor_parser_exec_aten.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7657 Make executorch stride sort size oblivious
  exir/tensor.py
Labels: bug, CLA Signed, fb-exported, release notes: misc

#7586 Typo in coreml README.md
  backends/apple/coreml/README.md
Labels: CLA Signed, release notes: examples

#7664 Additional QNN version fix
  .github/workflows/android-perf.yml
Labels: CLA Signed, topic: not user facing

#7665 fix-up
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
  backends/vulkan/runtime/graph/ops/glsl/indexing_utils_u16.h
Labels: CLA Signed, topic: not user facing

#7537 Log dtype names on input dtype mismatch
  runtime/executor/method.cpp
  runtime/executor/targets.bzl
Labels: CLA Signed, fb-exported, release notes: misc

#7649 Use ArmQuantizer to quantize bias
  backends/arm/process_node.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/quantizer/quantization_config.py
  backends/arm/test/misc/test_debug_feats.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7646 Arm backend: Size adjust conv2d pass improvements
  backends/arm/_passes/size_adjust_conv2d_pass.py
  backends/arm/test/ops/test_conv1d.py
  backends/arm/test/ops/test_conv2d.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7670 Update torchtune pin
  examples/models/llama3_2_vision/install_requirements.sh
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7667 [ET-VK][ez] Test specific sizes of linear sizes in generated operator tests
  backends/vulkan/test/op_tests/cases.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7606 Fix duplication of classes in modules
  extension/android/BUCK
Labels: CLA Signed, fb-exported, topic: not user facing

#7680 Enable bot to cc people
  .github/pytorch-probot.yml
Labels: CLA Signed, topic: not user facing

#7281 fix delegate cache duplicate bug
  exir/_serialize/_program.py
  exir/backend/test/demos/rpc/TARGETS
  exir/emit/_emitter.py
  exir/emit/test/TARGETS
  exir/emit/test/test_emit.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7617 [xnnpack] Add debug XNNGraph printing
  backends/xnnpack/serialization/xnnpack_graph_serialize.py
Labels: CLA Signed, module: xnnpack, topic: not user facing

#7685 [ET-VK][ez] Add print operator for `StorageType` enum
  backends/vulkan/runtime/utils/StorageUtils.h
Labels: CLA Signed, fb-exported, topic: not user facing

#7687 Add uint16 to supported dtypes and regenerate edge.yaml
  exir/dialects/edge/dtype/runner.py
  exir/dialects/edge/edge.yaml
  exir/dialects/edge/test/test_edge_yaml.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7668 Make ArmPassManager aware of TosaSpecification
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/cast_int64_pass.py
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
  backends/arm/_passes/meandim_to_averagepool_pass.py
  backends/arm/_passes/remove_clone_pass.py
  backends/arm/arm_backend.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/test/common.py
  backends/arm/test/ops/test_avg_pool.py
  backends/arm/test/ops/test_clone.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_relu.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_var.py
  backends/arm/test/passes/test_fold_qdq_pass.py
  backends/arm/test/passes/test_meandim_to_averagepool2d.py
  backends/arm/test/tester/arm_tester.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#7648 Remove incorrectly xfailing split tests
  backends/arm/test/ops/test_split.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7647 Remove quantize_io from compile_spec
  backends/arm/arm_backend.py
  backends/arm/arm_partitioner.py
  backends/arm/test/common.py
  backends/arm/test/ops/test_depthwise_conv.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7675 Move ai-edge-model-explorer into devtools/install_requirements.sh
  .lintrunner.toml
  devtools/install_requirements.sh
  devtools/visualization/visualization_utils.py
  devtools/visualization/visualization_utils_test.py
  install_requirements.py
  pytest.ini
Labels: CLA Signed, topic: not user facing

#7698 Arm backend: Remove the reordering of inputs flag
  backends/arm/arm_backend.py
  backends/arm/test/common.py
  backends/arm/test/test_arm_baremetal.sh
  examples/arm/aot_arm_compiler.py
  examples/arm/run.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7412 [ExecuTorch][Llama] Split custom sdpa op and kv cache
  examples/models/llama/export_llama_lib.py
  examples/models/llama/source_transformation/quantized_kv_cache.py
  examples/models/llama/source_transformation/sdpa.py
  examples/models/llama/source_transformation/test_sdpa_with_quantized_kv_cache.py
Labels: CLA Signed, topic: not user facing

#7684 Fix Graph builder for higher order ops.
  backends/cadence/aot/graph_builder.py
  backends/cadence/aot/tests/test_graph_builder.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7636 add qnn test template job
  .github/workflows/pull.yml
Labels: CLA Signed, fb-exported, topic: not user facing

#7693 support half and bf16 in to_dim_order_copy (#7689)
  kernels/portable/cpu/op__to_dim_order_copy.cpp
  kernels/test/op__to_dim_order_copy_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7512 Fixed always rebuild issue in cmake.
  schema/CMakeLists.txt
Labels: CLA Signed, release notes: build

#7714 [xnnpack] Reexport after quantize in aot_compiler
  examples/xnnpack/aot_compiler.py
Labels: bug, CLA Signed, module: xnnpack, release notes: examples

#7703 install_requirements.py: use argparse, minor cleanup
  install_requirements.py
Labels: CLA Signed, release notes: build

#7704 install_requirements.py: refactor: extract install_requirements() function
  install_requirements.py
Labels: CLA Signed, release notes: build

#7663 Validate tensor sizes during method load
  runtime/executor/tensor_parser_portable.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7673 refactor test targets
  examples/cadence/operators/TARGETS
  examples/cadence/operators/targets.bzl
  examples/cadence/operators/test_quantized_conv1d_op.py
  examples/cadence/operators/test_quantized_linear_op.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7671 Fix uninitialized variable type-check in FuseQuantizedActivationPass
  backends/arm/_passes/fuse_quantized_activation_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7700 Remove unused functions for quantization handling
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_dequant.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_quant.py
  backends/arm/operators/op_relu.py
  backends/arm/process_node.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7724 Revert "Remove unused functions for quantization handling"
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_dequant.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_quant.py
  backends/arm/operators/op_relu.py
  backends/arm/process_node.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7705 install_requirements.py: reorganize requirements
  install_requirements.py
  requirements-examples.txt
Labels: CLA Signed, ciflow/trunk, release notes: build

#7683 fix g3 dequant
  backends/cadence/fusion_g3/operators/op_dequantize.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7731 Fix linux_job_v2 after https://github.com/pytorch/test-infra/pull/6104
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#7686 migrate facto utils to OSS
  examples/cadence/operators/facto_util.py
  examples/cadence/operators/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7706 fix typo in cadence cp quantized_conv_out
  backends/cadence/reference/operators/quantized_conv_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7729 [ET-VK][ez] Fix `conv2d_pw` shared memory buffer not having a constant size
  backends/vulkan/runtime/graph/ops/glsl/conv2d_pw.glsl
Labels: CLA Signed, fb-exported, topic: not user facing

#7652 Update the version for apple packages on the release branch
  .github/workflows/apple.yml
Labels: CLA Signed

#7708 rename top-level install_requirements.{py,sh,bat} to install_executorch
  .ci/scripts/utils.sh
  .github/workflows/apple.yml
  .github/workflows/pull.yml
  backends/apple/mps/setup.md
  backends/cadence/build_cadence_fusionG3.sh
  backends/cadence/build_cadence_hifi4.sh
  backends/vulkan/docs/android_demo.md
  backends/xnnpack/README.md
  build/test_ios.sh
  docs/README.md
  docs/source/apple-runtime.md
  docs/source/build-run-xtensa.md
  docs/source/getting-started-setup.md
  docs/source/llm/getting-started.md
  docs/source/runtime-build-and-cross-compilation.md
  docs/source/tutorial-xnnpack-delegate-lowering.md
  examples/demo-apps/android/ExecuTorchDemo/README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/mediatek_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/qualcomm_README.md
  examples/demo-apps/android/LlamaDemo/docs/delegates/xnnpack_README.md
  examples/demo-apps/apple_ios/ExecuTorchDemo/README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/mps_README.md
  examples/demo-apps/apple_ios/LLaMA/docs/delegates/xnnpack_README.md
  examples/demo-apps/react-native/rnllama/README.md
  examples/devtools/build_example_runner.sh
  examples/models/llama/README.md
  examples/models/llava/README.md
  examples/models/phi-3-mini-lora/README.md
  examples/models/phi-3-mini/README.md
  examples/portable/README.md
  examples/xnnpack/README.md
  extension/pybindings/README.md
  extension/training/README.md
  install_executorch.bat
  install_executorch.py
  install_executorch.sh
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, ciflow/android, release notes: build

#7716 don't touch CMAKE_BUILD_ARGS in install_executorch.py
  install_executorch.py
Labels: CLA Signed, release notes: build

#7739 [ET-VK][ez] Fix linear weight int4 test due to change in ATen API
  backends/vulkan/test/op_tests/linear_weight_int4_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7618 Qualcomm AI Engine Direct - Unify Llama2&Llama3 and Small Accuracy Improvement.
  backends/qualcomm/_passes/insert_requantize.py
  backends/qualcomm/quantizer/custom_annotation.py
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/qualcomm/CMakeLists.txt
  examples/qualcomm/README.md
  examples/qualcomm/oss_scripts/llama/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama/README.md
  examples/qualcomm/oss_scripts/llama/TARGETS
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
  examples/qualcomm/oss_scripts/llama/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/io_memory.cpp
  examples/qualcomm/oss_scripts/llama/runner/io_memory.h
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
  examples/qualcomm/oss_scripts/llama/targets.bzl
  examples/qualcomm/oss_scripts/llama2/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama2/README.md
  examples/qualcomm/oss_scripts/llama2/llama.py
  examples/qualcomm/oss_scripts/llama2/qnn_llama_runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama2/runner/runner.h
  examples/qualcomm/oss_scripts/llama3_2/README.md
  examples/qualcomm/oss_scripts/llama3_2/TARGETS
Labels: CLA Signed, topic: not user facing

#7753 fix turing tests from arm pr
  exir/passes/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7725 [Arm] Cleanup unused functions
  backends/arm/_passes/annotate_channels_last_dim_order_pass.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_dequant.py
  backends/arm/operators/op_hardtanh.py
  backends/arm/operators/op_quant.py
  backends/arm/operators/op_relu.py
  backends/arm/process_node.py
  backends/arm/tosa_quant_utils.py
  backends/arm/tosa_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7735 add targets for devtools.visualization
  backends/xnnpack/test/tester/TARGETS
  devtools/visualization/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7741 type checking for xnnpack
  backends/xnnpack/_passes/tag_implicit_q_dq_pass.py
  backends/xnnpack/operators/node_visitor.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7722 [Arm backend] Refactor runner_utils, removing RunnerUtil
  backends/arm/test/common.py
  backends/arm/test/models/test_mobilenet_v2_arm.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_maximum.py
  backends/arm/test/ops/test_minimum.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/analyze_output_utils.py
  backends/arm/test/tester/arm_tester.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#7738 [ET-VK] Fix SDK `event_name` for inputs and outputs
  backends/vulkan/runtime/VulkanBackend.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#7740 [ET-VK] Print op breakdown in tsv format
  backends/vulkan/runtime/vk_api/QueryPool.cpp
  backends/vulkan/runtime/vk_api/QueryPool.h
Labels: CLA Signed, fb-exported, release notes: vulkan

#7796 Fix test to be robust against fp numerics
  devtools/inspector/tests/inspector_test.py
Labels: CLA Signed, topic: not user facing

#7797 forward fix for D68269174
  backends/arm/arm_backend.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7770 Update XNN delegate to handle non-decomposed upsample ops
  backends/xnnpack/_passes/convert_to_upsample_bilinear2d.py
  backends/xnnpack/test/ops/test_bilinear2d.py
  exir/emit/test/test_emit.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7789 Allow executorch clients to use runtime py lib.
  runtime/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#7798 Add pass to extract mutable weights into a .ptd
  exir/capture/_config.py
  exir/emit/_emitter.py
  exir/emit/test/test_emit.py
  exir/passes/external_constants_pass.py
  exir/program/_program.py
Labels: CLA Signed, fb-exported, release notes: api

#7779 Do not constant prop for mutable buffers.
  exir/passes/constant_prop_pass.py
  exir/tests/test_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7757 turn on dim order in xnnpack test
  backends/xnnpack/test/tester/tester.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7811 [0.5 Release] Clarify banner on main docs page
  docs/source/index.rst
Labels: CLA Signed, topic: not user facing

#7788 Cleanup memory passes tests.
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7744 [xnnpack] Refactor test/op_linear
  backends/xnnpack/test/ops/test_linear.py
Labels: CLA Signed, fb-exported, release notes: xnnpack
