Repository pytorch/executorch, pull requests merged in 2025-02, with the labels that each got.

#7978 Revert "Back out "Support Half/BFloat16 in max_pool2d (#7829)""
  kernels/portable/cpu/op_max_pool2d_with_indices.cpp
  kernels/test/op_max_pool2d_with_indices_test.cpp
Labels: CLA Signed, release notes: ops & kernels

#8126 Update the Readme with better copy and details on how to find us on Discord
  README.md
  docs/source/_static/img/et-logo.png
Labels: CLA Signed

#8123 Support Half/Bfloat for rand() and fill().
  extension/tensor/tensor_ptr_maker.cpp
  extension/tensor/test/tensor_ptr_maker_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8039 Add abstract base class for attention mechanisms with unified interface
  backends/qualcomm/tests/test_qnn_delegate.py
  examples/models/llama/TARGETS
  examples/models/llama/attention.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/model.py
  examples/models/llama/model_args.py
  examples/models/llama/rope.py
  examples/models/llama/source_transformation/attention.py
  examples/models/llama/source_transformation/attention_sink.py
  examples/models/llama/source_transformation/quantized_kv_cache.py
  examples/models/llama/source_transformation/sdpa.py
  examples/models/llama/source_transformation/test_attention_sink.py
  examples/models/llama/source_transformation/test_quantized_kv_cache.py
  examples/models/llama/source_transformation/test_sdpa_with_quantized_kv_cache.py
  examples/models/llama/tests/test_pre_quantization_transforms.py
  examples/models/llama/tests/test_simple_sdpa.py
  examples/models/llava/model.py
Labels: CLA Signed, fb-exported, release notes: examples

#8053 link mean dim kernels
  backends/cadence/fusion_g3/operators/op_mean.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8059 add mean to g3 nightly
  examples/cadence/operators/facto_util.py
  examples/cadence/operators/test_g3_ops.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8110 [executorch] Create target for named_data_map
  runtime/core/targets.bzl
  runtime/core/tensor_layout.cpp
  runtime/core/tensor_layout.h
  runtime/core/test/tensor_layout_test.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8128 Single location to update optional args for all attentions
  examples/models/llama/attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8131 Update README.md with refined list of products and backends
  README.md
Labels: CLA Signed, partner: arm, topic: not user facing

#8133 Add tosa serializer to .mypy.ini
  .mypy.ini
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8147 [executorch] Create target for named_data_map
  runtime/core/targets.bzl
  runtime/core/tensor_layout.cpp
  runtime/core/tensor_layout.h
  runtime/core/test/tensor_layout_test.cpp
Labels: CLA Signed, topic: not user facing

#7691 Qualcomm AI Engine Direct - Add 4-bit Embedding Quantization Option
  backends/qualcomm/_passes/__init__.py
  backends/qualcomm/_passes/annotate_and_quant_scalar.py
  backends/qualcomm/_passes/i64_to_i32.py
  backends/qualcomm/_passes/utils.py
  backends/qualcomm/scripts/build.sh
  backends/qualcomm/utils/constants.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/fastvit.py
  examples/qualcomm/oss_scripts/llama/CMakeLists.txt
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/model/static_llama.py
  examples/qualcomm/oss_scripts/llama/runner/io_manager.cpp
  examples/qualcomm/oss_scripts/llama/runner/io_manager.h
  examples/qualcomm/oss_scripts/llama/runner/runner.cpp
  examples/qualcomm/oss_scripts/llama/runner/runner.h
  examples/qualcomm/utils.py
Labels: CLA Signed, topic: not user facing

#8107 Refactor and add Llama Python library build
  examples/qualcomm/oss_scripts/llama/TARGETS
  examples/qualcomm/oss_scripts/llama/llama.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8151 Adding instructions on how to run the Deepseek R1 Distill Llama 8B model
  examples/models/deepseek-r1-distill-llama-8B/README.md
Labels: CLA Signed, release notes: examples

#8073 Enable Training Pybindings in OSS
  CMakeLists.txt
  install_executorch.py
  setup.py
Labels: CLA Signed, release notes: api

#8161 [data_loader] Fix a log message that didn't use all of its args
  extension/data_loader/mmap_data_loader.cpp
Labels: CLA Signed, topic: not user facing

#8136 Add hardswish operator to Arm backend
  backends/arm/_passes/insert_table_ops.py
  backends/arm/arm_partitioner.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/ops/test_hardswish.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#7541 Arm unittest refactor of Add and Conv2D test cases
  backends/arm/test/common.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/test/tester/test_pipeline.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8176 Fix runner_utils path in Arm backend
  backends/arm/test/common.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8098 bump PyTorch nightly to 20250131
  .ci/docker/ci_commit_pins/pytorch.txt
  .ci/docker/conda-env-ci.txt
  .ci/scripts/setup-macos.sh
  backends/arm/test/models/test_conformer.py
  backends/arm/test/runner_utils.py
  install_requirements.py
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#8146 Implement portable abs for complex input
  kernels/portable/cpu/op_abs.cpp
  kernels/test/op_abs_test.cpp
  runtime/core/exec_aten/util/scalar_type_util.h
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#8173 Increase CI timeout
  .github/workflows/pull.yml
Labels: CLA Signed, module: ci, topic: not user facing

#8155 Add EXECUTORCH_CLIENTS for visibility in extension/export_util:export_util
  extension/export_util/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#8182 [ET-VK] Add utility functions to get pipeline executable properties
  backends/vulkan/runtime/api/Context.cpp
  backends/vulkan/runtime/api/Context.h
  backends/vulkan/runtime/vk_api/Adapter.cpp
  backends/vulkan/runtime/vk_api/Pipeline.cpp
  backends/vulkan/test/vulkan_compute_api_test.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#8040 add argmin, add_ ops
  backends/qualcomm/_passes/layout_transform.py
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/op_argmin.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8170 patch rms norm recompose pass
  backends/qualcomm/_passes/recompose_rms_norm.py
Labels: CLA Signed, fb-exported, topic: not user facing, release notes: qualcomm

#8188 Fix missing canonicalize_program in qnn
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, module: qnn

#7604 Buckify Llama multimodal export
  examples/models/llama/TARGETS
  examples/models/llama3_2_vision/TARGETS
  examples/models/llama3_2_vision/text_decoder/TARGETS
  examples/models/llama3_2_vision/text_decoder/model.py
  examples/models/llama3_2_vision/vision_encoder/TARGETS
  examples/models/llama3_2_vision/vision_encoder/model.py
  extension/llm/modules/TARGETS
  extension/llm/modules/_position_embeddings.py
  extension/llm/modules/attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8142 don't double-install executorch for one-off linux pull-time jobs
  .github/workflows/pull.yml
Labels: CLA Signed, release notes: build

#8172 Error out if registering prim ops multiple times
  codegen/tools/gen_all_oplist.py
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8137 Bugfix in TosaSpecification representation
  backends/arm/test/misc/test_tosa_spec.py
  backends/arm/tosa_specification.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#8041 Add to.dtype and neg ops
  backends/qualcomm/_passes/layout_transform.py
  backends/qualcomm/builders/__init__.py
  backends/qualcomm/builders/op_neg.py
  backends/qualcomm/builders/qnn_constants.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8134 Qualcomm AI Engine Direct - documentation for KV cache update
  examples/qualcomm/oss_scripts/llama/README.md
  examples/qualcomm/oss_scripts/llama/assets/ShiftPointer.png
  examples/qualcomm/oss_scripts/llama/assets/SmartMask.png
Labels: CLA Signed, release notes: qualcomm

#8201 [executorch] Suppress wdeprecated warnings on tensor_layout.h and named_data_map.h
  runtime/core/named_data_map.h
  runtime/executor/method.h
  runtime/executor/program.h
Labels: CLA Signed, fb-exported, topic: not user facing

#8212 Enable buck2 daemon restarter
  .buckconfig
Labels: CLA Signed, release notes: build

#8208 Increase string buffer size for tensor size errors
  runtime/core/portable_type/tensor_impl.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8190 Add `strict=True` explicit flag to Executorch invocations to torch.export.export
  backends/qualcomm/utils/utils.py
  devtools/visualization/visualization_utils_test.py
  exir/emit/test/test_emit.py
  exir/program/test/test_program.py
  extension/llm/modules/test/test_kv_cache.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8203 [BE] Remind users to update submodule
  build/extract_sources.py
  setup.py
Labels: CLA Signed, topic: not user facing

#8143 [cadence][hifi] update quantized_relu_per_tensor_out signature to match internal flow
  backends/cadence/hifi/operators/op_quantized_relu_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8164 open source quantized_fully_connected
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/hifi/operators/op_quantized_fully_connected_out.cpp
  backends/cadence/hifi/operators/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8152 add aot op checks for new hifi ops, add pow_Tensor_Scalar test in HiFi
  backends/cadence/hifi/operators/op_clamp.cpp
  backends/cadence/hifi/third-party/nnlib/xa_nn_elm_atan2_f32.c
Labels: CLA Signed, fb-exported, topic: not user facing

#8057 Only apply do_not_use_nightly_on_ci on regular PRs
  .ci/scripts/setup-linux.sh
  .ci/scripts/setup-macos.sh
Labels: CLA Signed, topic: not user facing

#8236 Add missing Pyre mode headers] [batch:12/1577] [shard:13/N]
  backends/arm/_passes/annotate_decomposed_matmul.py
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
  backends/arm/_passes/fuse_batchnorm2d_pass.py
  backends/arm/_passes/fuse_quantized_activation_pass.py
  backends/arm/_passes/insert_table_ops.py
  backends/arm/_passes/mm_to_bmm_pass.py
  backends/arm/operator_support/right_shift_support.py
  backends/arm/operators/op_clamp.py
  backends/arm/operators/op_rshift.py
  backends/arm/util/arm_model_evaluator.py
  backends/cadence/aot/fuse_ops.py
  backends/cadence/aot/tests/test_fusion_ops_passes.py
  backends/cadence/aot/tests/test_memory_passes.py
  backends/cadence/aot/tests/test_remove_ops_passes.py
  backends/cadence/aot/tests/test_reorder_ops_passes.py
  backends/cadence/aot/tests/test_replace_ops_passes.py
  backends/cadence/aot/tests/test_simplify_ops_passes.py
  backends/cadence/runtime/runtime.py
  backends/cadence/runtime/utils.py
  examples/cadence/operators/test_add_op.py
  examples/cadence/operators/test_g3_ops.py
  examples/cadence/operators/test_quantized_conv1d_op.py
  examples/cadence/operators/test_quantized_linear_op.py
Labels: CLA Signed, fb-exported

#8233 Fix allocation-size-too-big crash in prepare_input_tensors
  extension/runner_util/inputs.cpp
  extension/runner_util/inputs.h
  extension/runner_util/test/inputs_test.cpp
Labels: CLA Signed, fb-exported, release notes: misc

#7900 [executorch][flat_tensor] DataMap implementation
  extension/flat_tensor/TARGETS
  extension/flat_tensor/flat_tensor_data_map.cpp
  extension/flat_tensor/flat_tensor_data_map.h
  extension/flat_tensor/targets.bzl
  extension/flat_tensor/test/TARGETS
  extension/flat_tensor/test/flat_tensor_data_map_test.cpp
  extension/flat_tensor/test/targets.bzl
  runtime/core/data_loader.h
Labels: CLA Signed, fb-exported, release notes: api

#8232 Delete the ramaining empty folder
  examples/qualcomm/oss_scripts/llama3_2/TARGETS
  examples/qualcomm/oss_scripts/llama3_2/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#7943 Add function to stringify tensor shapes
  kernels/portable/cpu/util/broadcast_util.cpp
  kernels/portable/cpu/util/targets.bzl
  kernels/portable/cpu/util/tensor_util.cpp
  kernels/portable/cpu/util/tensor_util.h
  kernels/portable/cpu/util/test/CMakeLists.txt
  kernels/portable/cpu/util/test/targets.bzl
  kernels/portable/cpu/util/test/tensor_util_test.cpp
  runtime/core/exec_aten/util/tensor_util.h
  runtime/core/exec_aten/util/test/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#8198 method_meta add uses_backend function
  runtime/executor/method_meta.cpp
  runtime/executor/method_meta.h
  runtime/executor/test/backend_integration_test.cpp
Labels: CLA Signed, fb-exported, release notes: runtime

#8235 Update verifier to handle None Tensor outputs
  exir/verification/arg_validator.py
  exir/verification/test/test_verifier.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8224 [ET-VK][int4] patch 4-bit source transformation quantizer to support linear modules with biases
  backends/vulkan/_passes/int4_weight_only_quantizer.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#8225 [ET-VK][int4] patch 4-bit linear op for ensuring w-packed in/out
  backends/vulkan/runtime/graph/ops/impl/QuantizedLinear.cpp
Labels: CLA Signed, fb-exported, release notes: vulkan

#8226 [ET-VK][int4] Wrap int4 linear calls with view_copy nodes to squeeze/unsqueeze inputs
  backends/vulkan/_passes/TARGETS
  backends/vulkan/_passes/__init__.py
  backends/vulkan/_passes/squeeze_int4_linear_inputs.py
  backends/vulkan/targets.bzl
  backends/vulkan/vulkan_preprocess.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#8090 Add support for quantized transposed conv
  backends/xnnpack/quantizer/xnnpack_quantizer.py
  backends/xnnpack/quantizer/xnnpack_quantizer_utils.py
  backends/xnnpack/test/ops/test_conv2d.py
Labels: CLA Signed, fb-exported, module: xnnpack, release notes: xnnpack

#8088 Use TmpTensor for MatMul op.
  backends/vulkan/runtime/graph/ops/impl/MatMul.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8140 Prioritise FuseBatchnorm2D over DecomposeBatchNormPass
  backends/arm/_passes/arm_pass_manager.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8209 Arm backend: Add is_node_supported checks for 4 ops
  backends/arm/operator_support/__init__.py
  backends/arm/operator_support/convolution_support.py
  backends/arm/operator_support/pool_2d_support.py
  backends/arm/operator_support/reduce_sum_support.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/operators/op_log.py
  backends/arm/operators/op_sigmoid.py
  backends/arm/test/ops/test_avg_pool.py
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_sum.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8280 [executorch][flat_tensor] DataMap implementation
  extension/flat_tensor/TARGETS
  extension/flat_tensor/flat_tensor_data_map.cpp
  extension/flat_tensor/flat_tensor_data_map.h
  extension/flat_tensor/targets.bzl
  extension/flat_tensor/test/TARGETS
  extension/flat_tensor/test/flat_tensor_data_map_test.cpp
  extension/flat_tensor/test/targets.bzl
  runtime/core/data_loader.h
Labels: CLA Signed, release notes: api

#8258 Use STDOUT fallback after FileNotFoundError in gather benchmarks
  .ci/scripts/gather_benchmark_configs.py
Labels: CLA Signed, topic: not user facing

#8278 Fix unittests failures introduced from D69212362
  exir/emit/test/test_emit.py
  exir/program/test/test_program.py
Labels: CLA Signed, fb-exported

#8207 Move print_delegate_info to devtools
  devtools/backend_debug/__init__.py
  devtools/backend_debug/delegation_info.py
  examples/models/llama/export_llama_lib.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8276 fix memory planning not skipping None values
  exir/passes/memory_planning_pass.py
  exir/tests/test_memory_planning.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8275 Add visualization debug pass
  backends/arm/_passes/_debug_passes.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8186 Pass ForwardOptions from top level module and also return any relevant state as output
  examples/models/llama/attention.py
  examples/models/llama/eval_llama_lib.py
  examples/models/llama/evaluate/eager_eval.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/model.py
  examples/models/llama/runner/eager.py
  examples/models/llava/export_llava.py
  examples/models/llava/model.py
  extension/llm/export/builder.py
Labels: CLA Signed, fb-exported, topic: not user facing, module: llm

#8174 Add a parameter to output delegate summary in llama export
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/oss_scripts/llama/runner/io_manager.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8286 Fix build
  kernels/portable/cpu/util/targets.bzl
  kernels/portable/cpu/util/tensor_util.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8003 Add option to enforce alignment constraint when planning memory
  backends/cadence/aot/compiler.py
  backends/cadence/aot/memory_planning.py
  backends/cadence/aot/tests/test_memory_passes.py
Labels: CLA Signed, fb-exported, release notes: cadence

#8285 Dont error check unused tensors in convolution_backward.out
  kernels/portable/cpu/op_convolution_backward.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#7653 add begin/end to ExecuTorch pytree::arr
  extension/pytree/aten_util/ivalue_util.cpp
  extension/pytree/pytree.h
  extension/pytree/test/test_pytree.cpp
Labels: CLA Signed, fb-exported, release notes: misc

#7654 add a bunch of bounds checking to pytree
  extension/pytree/pytree.h
  extension/pytree/test/test_pytree.cpp
Labels: CLA Signed, fb-exported, release notes: misc

#7655 Replace pytree_assert with production pytree_check. Remove pytree_unreachable
  extension/pytree/pybindings.cpp
  extension/pytree/pytree.h
Labels: CLA Signed, fb-exported, release notes: misc

#8295 skip op in partitioning if there are bool input tensors
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/utils.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#8281 [ET-VK] fix index error bug in ViewCopyToSqueezeUnsqueezePass
  backends/transforms/view_copy_to_squeeze_unsqueeze.py
Labels: bug, CLA Signed, fb-exported, release notes: vulkan

#8287 Update documentation flow and add placeholders
  backends/vulkan/README.md
  docs/source/concepts.md
  docs/source/debug-backend-delegate.md
  docs/source/getting-started-architecture.md
  docs/source/index.rst
  docs/source/native-delegates-executorch-arm-ethos-u-delegate.md
  docs/source/native-delegates-executorch-cadence-delegate.md
  docs/source/native-delegates-executorch-coreml-delegate.md
  docs/source/native-delegates-executorch-mediatek-delegate.md
  docs/source/native-delegates-executorch-mps-delegate.md
  docs/source/native-delegates-executorch-qualcomm-delegate.md
  docs/source/native-delegates-executorch-xnnpack-delegate.md
  docs/source/tutorials_source/bundled_program.bp
  docs/source/using-executorch-android.md
  docs/source/using-executorch-cpp.md
  docs/source/using-executorch-export.md
  docs/source/using-executorch-ios.md
  docs/source/using-executorch-troubleshooting.md
Labels: CLA Signed

#8307 [ArmBackend] Fix in setup.sh for MacOS
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, module: user experience, release notes: arm

#8303 update emitter default evalue to have dim order match size
  exir/emit/_emitter.py
Labels: CLA Signed, fb-exported, topic: not user facing

#7944 Include tensor shapes in get_broadcast_target_size error message
  kernels/portable/cpu/util/broadcast_util.cpp
  kernels/portable/cpu/util/test/broadcast_test.cpp
Labels: CLA Signed, release notes: devtools

#7931 Qualcomm AI Engine Direct - context dump utility
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.cpp
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.h
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, release notes: qualcomm

#8197 Elide static view copies
  exir/capture/_config.py
  exir/emit/_emitter.py
  exir/emit/test/test_emit.py
  exir/tests/test_remove_view_copy.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8315 [BE] Move submodule check out from setup.py
  install_executorch.py
  setup.py
Labels: CLA Signed, release notes: build

#7438 Update getting-started-setup.md and fix missing command
  docs/source/getting-started-setup.md
Labels: module: doc, CLA Signed, release notes: misc

#8297 Add BUCK files for llava python and C++ libs
  examples/models/llava/export_llava.py
  examples/models/llava/image_util.py
  examples/models/llava/model.py
  examples/models/llava/targets.bzl
Labels: CLA Signed, fb-exported, release notes: examples, topic: not user facing

#7040 Use c10 version of half/bfloat16 in executorch
  .lintrunner.toml
  CMakeLists.txt
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/arm/CMakeLists.txt
  backends/qualcomm/CMakeLists.txt
  backends/xnnpack/CMakeLists.txt
  build/build_apple_frameworks.sh
  build/executorch-config.cmake
  examples/apple/coreml/executor_runner/coreml_executor_runner.xcodeproj/project.pbxproj
  examples/arm/executor_runner/CMakeLists.txt
  runtime/core/portable_type/bfloat16.h
  runtime/core/portable_type/bfloat16_math.h
  runtime/core/portable_type/c10/TARGETS
  runtime/core/portable_type/c10/macros/Export.h
  runtime/core/portable_type/c10/macros/Macros.h
  runtime/core/portable_type/c10/targets.bzl
  runtime/core/portable_type/c10/util/BFloat16-inl.h
  runtime/core/portable_type/c10/util/BFloat16-math.h
  runtime/core/portable_type/c10/util/BFloat16.h
  runtime/core/portable_type/c10/util/Half-inl.h
  runtime/core/portable_type/c10/util/Half.h
  runtime/core/portable_type/c10/util/TypeSafeSignMath.h
  runtime/core/portable_type/c10/util/bit_cast.h
  runtime/core/portable_type/c10/util/floating_point_utils.h
  runtime/core/portable_type/half.h
  runtime/core/portable_type/targets.bzl
  runtime/kernel/test/CMakeLists.txt
  shim/xplat/executorch/build/env_interface.bzl
Labels: CLA Signed, fb-exported, ciflow/trunk, topic: not user facing

#7546 Integrate torchgen exception boundary with ExecuTorch
  build/Codegen.cmake
  configurations/CMakeLists.txt
  kernels/optimized/CMakeLists.txt
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, release notes: build

#7041 Reuse GELU implementation from PyTorch core
  .ci/scripts/build_llama_android.sh
  .ci/scripts/test_llama.sh
  .ci/scripts/test_llava.sh
  .ci/scripts/test_model.sh
  .ci/scripts/test_phi_3_mini.sh
  .ci/scripts/utils.sh
  .github/workflows/pull.yml
  .github/workflows/trunk.yml
  build/Utils.cmake
  build/build_android_llm_demo.sh
  kernels/optimized/CMakeLists.txt
  kernels/optimized/cpu/op_gelu.cpp
  kernels/optimized/cpu/targets.bzl
  kernels/optimized/op_registration_util.bzl
  kernels/optimized/optimized-oss.yaml
  shim/xplat/executorch/kernels/optimized/op_registration_util.bzl
  test/run_oss_cpp_tests.sh
Labels: CLA Signed, fb-exported, release notes: ops & kernels

#8310 Static attention implementation
  examples/models/llama/TARGETS
  examples/models/llama/attention.py
  examples/models/llama/llama_transformer.py
  examples/models/llama/static_attention.py
  examples/models/llama/tests/TARGETS
  examples/models/llama/tests/test_static_attention.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8325 Change llm getting started tutorial to use to_edge_transform_and_lower
  docs/source/llm/getting-started.md
Labels: module: doc, CLA Signed, topic: not user facing

#8323 Expand dict API to allow dtype strings
  codegen/tools/gen_oplist.py
  codegen/tools/test/test_gen_oplist.py
  codegen/tools/test/test_gen_selected_op_variants.py
  examples/selective_build/targets.bzl
  examples/selective_build/test_selective_build.sh
  shim/xplat/executorch/codegen/codegen.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8328 Minor change to static llama export lib
  examples/qualcomm/oss_scripts/llama/TARGETS
Labels: CLA Signed, fb-exported, topic: not user facing

#8248 Install mkl for PyTorch and libjpeg/libpng for TorchVision
  .ci/docker/common/install_base.sh
  .ci/docker/common/install_conda.sh
  .github/workflows/lint.yml
Labels: CLA Signed, topic: not user facing

#8335 Squeeze on the dimension we have selected
  backends/arm/_passes/decompose_select.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8337 Minor improvements in Arm testing.
  backends/arm/test/ops/test_bmm.py
  backends/arm/test/ops/test_mm.py
  backends/arm/test/runner_utils.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8339 Lower timeout for llava-runner and eval_llama-mmlu jobs again
  .github/workflows/pull.yml
Labels: CLA Signed, topic: not user facing

#8238 Actually run op_linear_test in OSS
  kernels/test/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#8342 old discord invite link expired.
  README.md
Labels: CLA Signed, topic: not user facing

#8329 Fix broken tests from elide view copy
  exir/tests/test_memory_planning.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8343 Add link to Discord on the website
  docs/source/contributing.md
  docs/source/index.rst
Labels: module: doc, CLA Signed, topic: not user facing

#8340 Fix flaky rand() tests.
  extension/tensor/tensor_ptr_maker.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8304 oss qnn bug fix
  backends/qualcomm/_passes/annotate_and_quant_scalar.py
  backends/qualcomm/_passes/decompose_silu.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8352 Nit fix: Maunal -> Manual
  examples/llm_manual/README.md
Labels: CLA Signed, topic: not user facing

#8349 Add cmake support for flat tensor
  CMakeLists.txt
  build/Utils.cmake
  build/cmake_deps.toml
  extension/flat_tensor/CMakeLists.txt
  extension/flat_tensor/flat_tensor_data_map.cpp
  extension/flat_tensor/serialize/CMakeLists.txt
  extension/flat_tensor/serialize/serialize.cpp
  extension/flat_tensor/serialize/targets.bzl
  extension/flat_tensor/test/CMakeLists.txt
  extension/flat_tensor/test/flat_tensor_data_map_test.cpp
  extension/flat_tensor/test/test_serialize.cpp
  runtime/executor/test/CMakeLists.txt
  test/models/export_program.py
  test/run_oss_cpp_tests.sh
  test/utils/OSSTestConfig.json
Labels: CLA Signed, topic: not user facing

#8327 Add safety checks when rendering kernel key strings
  runtime/kernel/operator_registry.cpp
  runtime/kernel/operator_registry.h
  runtime/kernel/test/operator_registry_test.cpp
  runtime/kernel/test/test_util.h
Labels: CLA Signed, fb-exported, topic: not user facing

#8016 Make sure size_test CI uses -Wall -Werror
  CONTRIBUTING.md
  kernels/portable/cpu/op_full.cpp
  kernels/portable/cpu/op_full_like.cpp
  kernels/portable/cpu/op_scatter.cpp
  kernels/portable/cpu/util/broadcast_util.cpp
  runtime/core/portable_type/tensor_impl.cpp
  test/build_size_test.sh
Labels: CLA Signed, ciflow/trunk, topic: not user facing

#8334 make et program serialization in bp in line with et program manager
  devtools/bundled_program/TARGETS
  devtools/bundled_program/core.py
  devtools/bundled_program/test/test_bundle_data.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8359 Add buck file for qnn executor runner and export script
  examples/qualcomm/TARGETS
  examples/qualcomm/executor_runner/TARGETS
  examples/qualcomm/executor_runner/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8356 Unbrkea some buck builds (tensor_dimension_limit)
  runtime/core/exec_aten/testing_util/targets.bzl
  runtime/core/exec_aten/util/targets.bzl
Labels: CLA Signed, topic: not user facing

#8338 Make stage ids unique in the Arm TestPipeline
  backends/arm/test/ops/test_conv2d.py
  backends/arm/test/tester/test_pipeline.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8367 Add additional checks for operator support.
  backends/arm/arm_partitioner.py
  backends/arm/operator_support/convolution_support.py
  backends/arm/operator_support/pool_2d_support.py
  backends/arm/operator_support/reduce_sum_support.py
  backends/arm/operator_support/right_shift_support.py
  backends/arm/operator_support/to_copy_support.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/test/misc/test_custom_partition.py
  backends/arm/test/tester/arm_tester.py
  exir/backend/operator_support.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8200 [executorch][runtime] Add NamedDataMap to method load
  extension/flat_tensor/test/targets.bzl
  runtime/executor/method.cpp
  runtime/executor/method.h
  runtime/executor/program.cpp
  runtime/executor/program.h
  runtime/executor/targets.bzl
  runtime/executor/tensor_parser.h
  runtime/executor/tensor_parser_aten.cpp
  runtime/executor/tensor_parser_exec_aten.cpp
  runtime/executor/tensor_parser_portable.cpp
  runtime/executor/test/CMakeLists.txt
  runtime/executor/test/method_test.cpp
  runtime/executor/test/targets.bzl
  test/models/targets.bzl
Labels: CLA Signed, fb-exported, release notes: api

#7884 Qualcomm AI Engine Direct - CI for QNN Static Stories Llama
  .ci/scripts/test_qnn_static_llama.sh
  .github/workflows/pull.yml
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/oss_scripts/llama/llama.py
  examples/qualcomm/utils.py
Labels: CLA Signed, partner: qualcomm, module: qnn, release notes: qualcomm

#8148 Add SoC SXR2250P
  backends/qualcomm/serialization/qc_compiler_spec.fbs
  backends/qualcomm/serialization/qc_schema.py
Labels: CLA Signed, fb-exported, release notes: qualcomm

#8319 Update HuggingFace model checkpointer import
  examples/models/llama/UTILS.md
Labels: CLA Signed, topic: not user facing

#7780 Qualcomm AI Engine Direct - dynamic shape support
  backends/qualcomm/aot/ir/qcir.fbs
  backends/qualcomm/aot/ir/qcir_utils.cpp
  backends/qualcomm/aot/python/PyQnnManagerAdaptor.h
  backends/qualcomm/aot/python/PyQnnWrapperAdaptor.cpp
  backends/qualcomm/aot/wrappers/OpWrapper.cpp
  backends/qualcomm/aot/wrappers/OpWrapper.h
  backends/qualcomm/aot/wrappers/TensorWrapper.cpp
  backends/qualcomm/aot/wrappers/TensorWrapper.h
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/debugger/utils.py
  backends/qualcomm/runtime/QnnExecuTorchBackend.cpp
  backends/qualcomm/runtime/QnnManager.cpp
  backends/qualcomm/runtime/backends/QnnGraphCommon.cpp
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/qualcomm/tests/utils.py
  backends/qualcomm/utils/utils.py
  examples/qualcomm/executor_runner/qnn_executor_runner.cpp
  examples/qualcomm/utils.py
Labels: CLA Signed, partner: qualcomm, triaged, release notes: qualcomm

#8365 Qualcomm AI Engine Direct - Add checks for Bmm to Matmul pass
  backends/qualcomm/_passes/convert_bmm_to_matmul.py
Labels: CLA Signed, topic: not user facing, release notes: qualcomm

#8386 fix index error bug in ViewCopyToSqueezeUnsqueezePass
  backends/transforms/view_copy_to_squeeze_unsqueeze.py
Labels: CLA Signed, fb-exported, release notes: vulkan

#8298 Add a pass to convert rank-0 tensor to rank-1 tensor
  backends/transforms/rank_0_to_rank_1.py
  backends/transforms/targets.bzl
  backends/transforms/test/test_rank_0_to_rank_1.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8380 fix the expand_copy lower issue
  backends/qualcomm/_passes/convert_bmm_to_matmul.py
  backends/qualcomm/_passes/convert_to_linear.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8388 Unbreak build-benchmark-app
  build/build_apple_frameworks.sh
Labels: CLA Signed, topic: not user facing

#8314 Use tensor_shape_to_c_string for error in check_mask_indices
  kernels/portable/cpu/util/advanced_index_util.cpp
  kernels/portable/cpu/util/targets.bzl
Labels: CLA Signed, release notes: devtools

#8389 Remove duplicated portable test targets
  kernels/test/targets.bzl
Labels: CLA Signed, topic: not user facing

#8344 Use symmetric weights for convs and int8 in the default quantizer
  backends/cadence/aot/export_example.py
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/quantizer/quantizer.py
  backends/cadence/hifi/operators/op_quantized_relu_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8370 Arm backend: Add Deeplab3 test
  backends/arm/test/models/test_dl3_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8362 Update shim to unbreak OSS tests buck build
  shim/BUCK
Labels: CLA Signed, topic: not user facing

#8407 Fix multiple find_package(Torch) calls
  CMakeLists.txt
  build/Codegen.cmake
  extension/llm/custom_ops/CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#8426 fix lintrunner
  backends/cadence/aot/export_example.py
Labels: CLA Signed, topic: not user facing

#8401 Enable pybind with mps
  install_executorch.py
Labels: CLA Signed, fb-exported, release notes: apple

#8384 Fix logging.info not appearing
  examples/models/llama/export_llama.py
Labels: CLA Signed, topic: not user facing

#8428 Change header to BSD license
  backends/xnnpack/test/quantizer/test_pt2e_quantization.py
  exir/_serialize/padding.py
  exir/passes/quantize_io_pass.py
Labels: CLA Signed, topic: not user facing

#8390 Mention the PR author in mergebot PRs
  .github/scripts/propose_ghstack_orig_pr.py
Labels: CLA Signed, topic: not user facing

#8433 Fix lint error due to main function too complex
  install_executorch.py
Labels: CLA Signed, topic: not user facing

#8424 Fix HiFi relu for int8
  backends/cadence/hifi/operators/op_quantized_relu_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8405 [ExecuTorch] Arm Ethos Bento Kernel
  backends/arm/test/runner_utils.py
Labels: CLA Signed, fb-exported, partner: arm, ciflow/trunk, topic: not user facing

#8427 Add -Wno-global-constructors -Wno-shadow to fft_r2c op target
  kernels/optimized/cpu/targets.bzl
  kernels/optimized/op_registration_util.bzl
  shim/xplat/executorch/kernels/optimized/op_registration_util.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8444 Fix indentation
  backends/cadence/hifi/operators/op_quantized_relu_out.cpp
Labels: CLA Signed, fb-exported, topic: not user facing

#8204 [Executorch] Refactor op_mul's broadcasting utils
  kernels/optimized/cpu/binary_ops.h
  kernels/optimized/cpu/op_mul.cpp
  kernels/test/op_mul_test.cpp
Labels: CLA Signed, module: kernels, release notes: ops & kernels

#8457 Arm backend: Fix Corstone-300 linker script patch
  backends/arm/scripts/utils.sh
  examples/arm/executor_runner/CMakeLists.txt
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#6495 Refactor ArmBackend
  backends/arm/CMakeLists.txt
  backends/arm/README.md
  backends/arm/arm_backend.py
  backends/arm/arm_vela.py
  backends/arm/ethosu_backend.py
  backends/arm/ethosu_partitioner.py
  backends/arm/quantizer/arm_quantizer.py
  backends/arm/quantizer/arm_quantizer_utils.py
  backends/arm/runtime/EthosUBackend.cpp
  backends/arm/test/misc/test_custom_partition.py
  backends/arm/test/misc/test_tosa_spec.py
  backends/arm/test/ops/test_avg_pool.py
  backends/arm/test/ops/test_batch_norm.py
  backends/arm/test/ops/test_clamp.py
  backends/arm/test/ops/test_clone.py
  backends/arm/test/ops/test_expand.py
  backends/arm/test/ops/test_hardtanh.py
  backends/arm/test/ops/test_max_pool.py
  backends/arm/test/ops/test_permute.py
  backends/arm/test/ops/test_relu.py
  backends/arm/test/ops/test_repeat.py
  backends/arm/test/ops/test_var.py
  backends/arm/test/runner_utils.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa_backend.py
  backends/arm/tosa_partitioner.py
  backends/arm/tosa_specification.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#8458 [ArmBackend] Minor improvements to model unit tests
  backends/arm/test/models/test_conformer.py
  backends/arm/test/models/test_dl3_arm.py
  backends/arm/test/models/test_lstm_arm.py
  backends/arm/test/models/test_mobilenet_v2_arm.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8316 Use tensor_shape_to_c_string for error in check_glu_args
  kernels/portable/cpu/util/activation_ops_util.cpp
  kernels/portable/cpu/util/targets.bzl
Labels: CLA Signed, release notes: devtools

#8371 Arm backend: Enable numerical testing of quantized rshift
  backends/arm/test/ops/test_rshift.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8455 Arm backend: Support aten.full_like
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/convert_full_like_to_full_pass.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/test/models/test_conformer.py
  backends/arm/test/ops/test_full.py
  examples/arm/setup.sh
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8470 fix install_requirements.sh use in xnnpack README
  examples/xnnpack/README.md
Labels: CLA Signed, topic: not user facing

#8462 Do not offload transposed convolutions with non-zero output padding
  backends/xnnpack/partition/config/gemm_configs.py
  backends/xnnpack/test/ops/test_conv2d.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8354 Python hugging face tokenizer
  examples/models/llama/install_requirements.sh
  examples/models/llama/runner/eager.py
  examples/models/llama/runner/generation.py
  examples/models/llama/runner/native.py
  examples/models/llama3_2_vision/runner/generation.py
  extension/llm/tokenizer/hf_tokenizer.py
  extension/llm/tokenizer/utils.py
Labels: CLA Signed, release notes: examples

#8443 Fix TrainingModule Parameter Bug
  extension/training/pybindings/_training_module.py
  extension/training/pybindings/test/test.py
Labels: CLA Signed, fb-exported, topic: not user facing

#8481 Build extension_flat_tensor when tests are built
  CMakeLists.txt
Labels: CLA Signed, topic: not user facing

#8425 Add operator library to llava runner BUCK target
  examples/models/llava/runner/targets.bzl
Labels: CLA Signed, fb-exported, topic: not user facing

#8480 Revert "Add pass for replacing dq-q patterns with rescale"
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/fold_qdq_with_annotated_qparams_pass.py
  backends/arm/_passes/insert_rescales_pass.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_rescale.py
  backends/arm/test/ops/test_add.py
  backends/arm/test/passes/test_rescale_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, topic: not user facing

#8442 Fix shadowing of C <complex.h> by c10 include directory
  CMakeLists.txt
  backends/apple/coreml/CMakeLists.txt
  backends/apple/coreml/runtime/workspace/executorchcoreml.xcodeproj/project.pbxproj
  backends/arm/CMakeLists.txt
  backends/qualcomm/CMakeLists.txt
  build/build_apple_frameworks.sh
  build/executorch-config.cmake
  examples/apple/coreml/executor_runner/coreml_executor_runner.xcodeproj/project.pbxproj
  examples/arm/executor_runner/CMakeLists.txt
  kernels/optimized/cpu/targets.bzl
  runtime/core/portable_type/c10/README.md
  runtime/core/portable_type/c10/c10/TARGETS
  runtime/core/portable_type/c10/c10/macros/Export.h
  runtime/core/portable_type/c10/c10/macros/Macros.h
  runtime/core/portable_type/c10/c10/targets.bzl
  runtime/core/portable_type/c10/c10/util/BFloat16-inl.h
  runtime/core/portable_type/c10/c10/util/BFloat16-math.h
  runtime/core/portable_type/c10/c10/util/BFloat16.h
  runtime/core/portable_type/c10/c10/util/Half-inl.h
  runtime/core/portable_type/c10/c10/util/Half.h
  runtime/core/portable_type/c10/c10/util/TypeSafeSignMath.h
  runtime/core/portable_type/c10/c10/util/bit_cast.h
  runtime/core/portable_type/c10/c10/util/floating_point_utils.h
  runtime/core/portable_type/targets.bzl
  runtime/core/portable_type/test/CMakeLists.txt
  runtime/core/portable_type/test/dont_shadow_complex_test.c
  test/utils/OSSTestConfig.json
Labels: CLA Signed, fb-exported, release notes: build

#8451 Deprecate ET_LOG{,_MSG}_AND_RETURN_IF_FALSE
  runtime/core/error.h
  runtime/core/exec_aten/util/tensor_util.h
Labels: CLA Signed, release notes: api

#8490 fix missing Buck dep for tensor_shape_to_c_string_test
  runtime/core/exec_aten/util/test/targets.bzl
Labels: CLA Signed, topic: not user facing
