Repository pytorch/executorch, pull requests merged in 2025-10, with the labels that each got.

#14628 Add Hifi compiled runtime
  backends/nxp/runtime/targets.bzl
Labels: CLA Signed, fb-exported, meta-exported

#14373 NXP backend: Add infrastructure for context dependant partitioning
  backends/nxp/backend/ir/converter/node_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/view_copy_converter.py
  backends/nxp/neutron_partitioner.py
  backends/nxp/tests/test_context_sensitive_delegation.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14633 Try to get nightly wheel build work with qnn
  backends/qualcomm/__init__.py
  backends/qualcomm/scripts/download_qnn_sdk.py
  setup.py
Labels: CLA Signed, ciflow/binaries

#14697 Move to ProxyValue instead of FakeTensor weights.
  backends/cadence/aot/replace_ops.py
  backends/cadence/aot/simplify_ops.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14730 Disable nxp tests
  backends/nxp/tests/TARGETS
Labels: CLA Signed, fb-exported, meta-exported

#14627 Arm backend: Correct type annotations in aot_arm_compiler
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk

#14376 Arm backend: Add complie spec factories
  backends/arm/TARGETS
  backends/arm/test/TARGETS
  backends/arm/test/common.py
  backends/arm/test/tester/arm_tester.py
  backends/arm/tosa/backend.py
  backends/arm/util/_factory.py
  examples/arm/aot_arm_compiler.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14715 Aoti support multi method
  backends/cuda/cuda_backend.py
  backends/cuda/cuda_partitioner.py
  backends/cuda/replace_slice_copy_with_slice.py
Labels: CLA Signed, release notes: desktop

#14653 Arm backend: Backend test TOSA FP, INT and Ethos-U55/U85
  .ci/scripts/test_backend.sh
  .github/workflows/test-backend-arm.yml
  backends/test/suite/flow.py
  backends/test/suite/flows/arm.py
Labels: CLA Signed, partner: arm, release notes: none

#14723 NXP Backend: Add codeowner for the NXP Backend
  CODEOWNERS
Labels: CLA Signed, module: nxp, release notes: none

#14708 Add transposed convolution
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported, meta-exported

#14675 support qnn mean (dim=None)
  backends/qualcomm/builders/op_mean_dim.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, fb-exported, meta-exported

#14646 Update mul int16 test
  backends/arm/operators/op_repeat.py
  backends/arm/test/ops/test_mul.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14718 NXP backend: Improve Neutron targets handling
  backends/nxp/backend/edge_program_converter.py
  backends/nxp/backend/ir/converter/builder/model_builder.py
  backends/nxp/backend/ir/converter/node_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/add_tensor_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/cat_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/constant_pad_nd_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/convolution_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/mean_dim_converter.py
  backends/nxp/backend/ir/converter/node_converters/ops_converters/softmax_converter.py
  backends/nxp/backend/ir/tflite_optimizer/optimizations/prune_transpose_operators.py
  backends/nxp/backend/neutron_converter_manager.py
  backends/nxp/backend/neutron_target_spec.py
  backends/nxp/neutron_partitioner.py
  backends/nxp/nxp_backend.py
  backends/nxp/tests/executors.py
  backends/nxp/tests/test_neutron_backend.py
  backends/nxp/tests/test_neutron_converter_manager.py
Labels: CLA Signed, module: nxp, release notes: nxp

#14623 Arm Backend: Add tests for stack.default
  backends/arm/test/ops/test_stack.py
Labels: CLA Signed, partner: arm, release notes: arm

#14737 update lama export DS specs to be more accurate.
  extension/llm/export/builder.py
  extension/llm/export/test/test_builder.py
Labels: CLA Signed, fb-exported, meta-exported

#14592 Fix pyproject.toml license classifier deprecation
  pyproject.toml
  requirements-dev.txt
Labels: CLA Signed, ciflow/trunk, ciflow/binaries, ciflow/binaries/all, topic: not user facing

#14714 Update addmm int16 for Ethos-U85
  backends/arm/operators/op_bmm.py
  backends/arm/test/ops/test_addmm.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14740 Use FusedMovingAvgObsFakeQuantize instead of FakeQuantize for faster QAT
  backends/qualcomm/quantizer/qconfig.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14716 Add Phi4 test and fix regex parsing.
  extension/llm/apple/ExecuTorchLLM/Exported/ExecuTorchLLMTextRunner.h
  extension/llm/apple/ExecuTorchLLM/Exported/ExecuTorchLLMTextRunner.mm
  extension/llm/apple/ExecuTorchLLM/__tests__/MultimodalRunnerTest.swift
  extension/llm/apple/ExecuTorchLLM/__tests__/TextRunnerTest.swift
Labels: CLA Signed, fb-exported, meta-exported

#14772 Update MTK tool versions in documents
  backends/mediatek/README.md
  docs/source/backends-mediatek.md
Labels: CLA Signed

#14719 Bugfix/fix nxp separable conv test
  backends/nxp/tests/test_split_group_convolution.py
Labels: CLA Signed

#14754 Swift support for multiple ptd files
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.h
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.mm
Labels: CLA Signed, fb-exported, meta-exported

#14786 Patch https://github.com/pytorch/executorch/pull/14754
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.h
  extension/apple/ExecuTorch/Exported/ExecuTorchModule.mm
Labels: CLA Signed

#14732 [ET-VK] Miscellaneous fixes
  .github/workflows/pull.yml
  backends/vulkan/_passes/fold_qdq.py
  backends/vulkan/_passes/fuse_patterns.py
  backends/vulkan/_passes/fuse_quantized_ops.py
  backends/vulkan/_passes/tag_memory_meta_pass.py
  backends/vulkan/op_registry.py
  backends/vulkan/partitioner/vulkan_partitioner.py
  backends/vulkan/patterns/quantized_linear.py
  backends/vulkan/runtime/graph/ops/glsl/conv2d.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw.glsl
  backends/vulkan/runtime/graph/ops/glsl/conv2d_dw_output_tile.glsl
  backends/vulkan/runtime/graph/ops/glsl/full.yaml
  backends/vulkan/runtime/graph/ops/glsl/softmax.glsl
  backends/vulkan/runtime/graph/ops/impl/BatchNorm.cpp
  backends/vulkan/runtime/graph/ops/impl/Permute.cpp
  backends/vulkan/runtime/graph/ops/impl/Pool.cpp
  backends/vulkan/runtime/graph/ops/impl/Squeeze.cpp
  backends/vulkan/test/TARGETS
  backends/vulkan/test/test_vulkan_passes.py
  backends/vulkan/test/utils.py
  backends/vulkan/utils.py
  backends/vulkan/vulkan_preprocess.py
  examples/vulkan/export.py
Labels: CLA Signed, fb-exported, ciflow/nightly, meta-exported

#14738 Add transposed im2row
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported, meta-exported

#14763 Update linear -> conv2d int16 for Ethos
  backends/arm/operators/op_conv2d.py
  backends/arm/test/ops/test_linear.py
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14728 Add platforms for all operator library sub-targets.
  shim_et/xplat/executorch/codegen/codegen.bzl
  shim_et/xplat/executorch/kernels/prim_ops/selective_build.bzl
Labels: CLA Signed, fb-exported, release notes: none, meta-exported

#14752 fix test-huggingface-transformers-* tests
  .github/workflows/trunk.yml
Labels: CLA Signed, ciflow/trunk

#14744 Summary: Use javaClassStatic() for class references stored in static …
  extension/android/jni/jni_helper.cpp
  extension/android/jni/jni_helper.h
Labels: CLA Signed

#14624 Arm backend: Fix torch.matmul() failures for 2D tensor inputs
  backends/arm/_passes/annotate_decomposed_matmul.py
  backends/arm/test/ops/test_matmul.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14805 [Windows] Enable LLM preset in CI
  .github/workflows/build-presets.yml
  tools/cmake/preset/windows.cmake
Labels: CLA Signed

#14626 Arm backend: Add 6D tensor and pixel shuffle/unshuffle support
  backends/arm/_passes/to_tosa_memory_format_pass.py
  backends/arm/constants.py
  backends/arm/operator_support/tosa_supported_operators.py
  backends/arm/quantizer/quantization_annotator.py
  backends/arm/scripts/parse_test_names.py
  backends/arm/test/models/stable_diffusion/test_SD3Transformer2DModel.py
  backends/arm/test/ops/test_pixel_shuffling.py
  backends/arm/tosa/dialect/ops/transpose.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14657 Arm backend: Add test for monitoring memory allocation
  .github/workflows/trunk.yml
  backends/arm/test/test_arm_baremetal.sh
  backends/arm/test/test_memory_allocator_log.py
Labels: CLA Signed, ciflow/trunk, module: arm, release notes: none

#14823 Revert "[Windows] Enable LLM preset in CI (#14805)"
  .github/workflows/build-presets.yml
  tools/cmake/preset/windows.cmake
Labels: CLA Signed, ci-no-td

#14720 Restructure ET documentation with 'Platform First' model
  docs/source/advanced-topics-section.md
  docs/source/android-arm-vgf.md
  docs/source/android-backends.md
  docs/source/android-examples.md
  docs/source/android-mediatek.md
  docs/source/android-qualcomm.md
  docs/source/android-samsung-exynos.md
  docs/source/android-section.md
  docs/source/android-vulkan.md
  docs/source/android-xnnpack.md
  docs/source/api-section.md
  docs/source/api.md
  docs/source/backend-delegate-advanced.md
  docs/source/backends-overview.md
  docs/source/backends-samsung-exynos.md
  docs/source/backends-section.md
  docs/source/backends-xnnpack.md
  docs/source/backends.md
  docs/source/compiler-delegate-and-partitioner.md
  docs/source/compiler-ir-advanced.md
  docs/source/desktop-backends.md
  docs/source/desktop-coreml.md
  docs/source/desktop-mps.md
  docs/source/desktop-openvino.md
  docs/source/desktop-section.md
  docs/source/desktop-xnnpack.md
  docs/source/edge-platforms-section.md
  docs/source/embedded-arm-ethos-u.md
  docs/source/embedded-backends.md
  docs/source/embedded-cadence.md
  docs/source/embedded-nxp.md
  docs/source/embedded-section.md
  docs/source/file-formats-advanced.md
  docs/source/index.md
  docs/source/intro-section.md
  docs/source/intro.md
  docs/source/ios-backends.md
  docs/source/ios-coreml.md
  docs/source/ios-examples.md
  docs/source/ios-mps.md
  docs/source/ios-section.md
  docs/source/ios-xnnpack.md
  docs/source/kernel-library-advanced.md
  docs/source/kernel-library-overview.md
  docs/source/llm/build-run-llama3-qualcomm-ai-engine-direct-backend.md
  docs/source/llm/working-with-llms.md
  docs/source/platforms-desktop.md
  docs/source/platforms-embedded.md
  docs/source/quantization-optimization.md
  docs/source/quick-start-section.md
  docs/source/runtime-integration-advanced.md
  docs/source/success-stories.md
  docs/source/support-section.md
  docs/source/tools-section.md
  docs/source/using-executorch-export.md
Labels: CLA Signed

#14825 Add Gemma 3 test.
  extension/llm/apple/ExecuTorchLLM/Exported/ExecuTorchLLMMultimodalRunner.h
  extension/llm/apple/ExecuTorchLLM/Exported/ExecuTorchLLMMultimodalRunner.mm
  extension/llm/apple/ExecuTorchLLM/__tests__/MultimodalRunnerTest.swift
  extension/llm/apple/ExecuTorchLLM/__tests__/TextRunnerTest.swift
Labels: CLA Signed, fb-exported, meta-exported

#14789 Fixed assumption on out_shift for quantized linear
  backends/cadence/aot/ref_implementations.py
  backends/cadence/aot/tests/test_ref_implementations.py
Labels: CLA Signed, fb-exported, meta-exported

#14822 Run ET-eager on message recall
  examples/models/llama/rope.py
Labels: CLA Signed, fb-exported, topic: not user facing, meta-exported

#14808 oss et update to support SAR2230P
  backends/qualcomm/serialization/qc_schema.py
  backends/qualcomm/utils/utils.py
Labels: CLA Signed, fb-exported, partner: qualcomm, topic: not user facing, meta-exported

#14584 Arm backend: Move rescale ops out of node visitors
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/insert_rescales_pass.py
  backends/arm/operators/op_abs.py
  backends/arm/operators/op_eq.py
  backends/arm/operators/op_ge.py
  backends/arm/operators/op_gt.py
  backends/arm/operators/op_le.py
  backends/arm/operators/op_lt.py
  backends/arm/operators/op_maximum.py
  backends/arm/operators/op_minimum.py
  backends/arm/test/passes/test_insert_rescale_i32_pass.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14850 NXP backend: Add NXP backend tutorial page
  docs/source/backends-nxp.md
Labels: CLA Signed, module: nxp

#14848 Qualcomm AI Engine Direct - Suite Operator Test Support Part 2
  backends/qualcomm/_passes/__init__.py
  backends/qualcomm/_passes/decompose_threshold.py
  backends/qualcomm/_passes/lift_constant_scalar_operands.py
  backends/qualcomm/_passes/qnn_pass_manager.py
  backends/qualcomm/builders/node_visitor.py
  backends/qualcomm/builders/op_transpose.py
  backends/qualcomm/quantizer/annotators.py
  backends/qualcomm/quantizer/quantizer.py
  backends/qualcomm/tests/models.py
  backends/qualcomm/tests/test_qnn_delegate.py
  backends/test/suite/flows/qualcomm.py
  backends/test/suite/operators/__init__.py
  backends/test/suite/operators/test_rsqrt.py
  backends/test/suite/operators/test_sqrt.py
Labels: CLA Signed, partner: qualcomm

#14818 Arm backend: Bump tosa version to remove mlplatform dependencies
  backends/arm/requirements-arm-tosa.txt
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14815 Arm backend: Change input distribution on resnet18 test
  backends/arm/test/models/test_resnet18.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14866 [ez] Try to fix Samsung CI job
  .github/workflows/pull.yml
Labels: CLA Signed

#14827 [aoti-et] Add cuda delegate runtime code
  .ci/scripts/test_model.sh
  .github/workflows/cuda.yml
  .lintrunner.toml
  CMakeLists.txt
  backends/aoti/CMakeLists.txt
  backends/aoti/aoti_model_container.h
  backends/cuda/CMakeLists.txt
  backends/cuda/runtime/cuda_backend.cpp
  backends/cuda/runtime/shims/utils.h
  examples/cuda/scripts/__init__.py
  examples/cuda/scripts/export.py
  examples/models/moshi/mimi/install_requirements.sh
  examples/models/moshi/mimi/test_mimi.py
  src/executorch/examples/cuda
  tools/cmake/preset/default.cmake
  torch_pin.py
Labels: CLA Signed, release notes: desktop

#14861 Introduce public MergedDataMap
  .ci/scripts/build-qnn-sdk.sh
  .ci/scripts/test_llama_torchao_lowbit.sh
  .ci/scripts/test_torchao_huggingface_checkpoints.sh
  .ci/scripts/test_yolo12.sh
  .github/workflows/trunk.yml
  CMakeLists.txt
  backends/mediatek/scripts/mtk_build.sh
  backends/qualcomm/scripts/build.sh
  backends/samsung/build.sh
  backends/vulkan/test/scripts/test_model.sh
  backends/vulkan/test/scripts/test_op.sh
  extension/named_data_map/CMakeLists.txt
  extension/named_data_map/TARGETS
  extension/named_data_map/merged_data_map.cpp
  extension/named_data_map/merged_data_map.h
  extension/named_data_map/targets.bzl
  extension/named_data_map/test/CMakeLists.txt
  extension/named_data_map/test/TARGETS
  extension/named_data_map/test/merged_data_map_test.cpp
  extension/named_data_map/test/targets.bzl
  scripts/build_wasm_tests.sh
  shim_et/xplat/executorch/build/build_variables.bzl
  test/run_oss_cpp_tests.sh
  tools/cmake/Codegen.cmake
  tools/cmake/preset/android.cmake
  tools/cmake/preset/apple_common.cmake
  tools/cmake/preset/default.cmake
  tools/cmake/preset/llm.cmake
  tools/cmake/preset/profiling.cmake
  tools/cmake/preset/pybind.cmake
  tools/cmake/preset/windows.cmake
Labels: CLA Signed, fb-exported, meta-exported

#14820 Including mixed quant Linear op in Jarvis
  backends/cadence/aot/functions_hifi.yaml
  backends/cadence/aot/ops_registrations.py
  backends/cadence/aot/quantizer/fusion_pass.py
  backends/cadence/aot/quantizer/patterns.py
  backends/cadence/aot/quantizer/quantizer.py
Labels: CLA Signed, fb-exported, meta-exported

#14875 [aoti-et] Add a voxtral runner and add CI
  .ci/docker/ci_commit_pins/optimum-executorch.txt
  .github/workflows/cuda.yml
  backends/aoti/utils.h
  backends/cuda/CMakeLists.txt
  backends/cuda/tests/voxtral_runner.cpp
Labels: CLA Signed, release notes: desktop

#14883 Arm backend: fix meandim when dim = None
  backends/arm/_passes/decompose_meandim_pass.py
  backends/arm/test/ops/test_mean_dim.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14852 NXP backend: Update user guide and docs Readme
  backends/nxp/README.md
  examples/nxp/README.md
Labels: CLA Signed, module: nxp, release notes: nxp

#14844 Arm backend: Add docstrings for tosa/partitioner.py
  backends/arm/tosa/partitioner.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: arm

#14694 Arm backend: Add TOSA dialect op for MATMUL
  backends/arm/_passes/__init__.py
  backends/arm/_passes/arm_pass_manager.py
  backends/arm/_passes/fuse_constant_ops_pass.py
  backends/arm/_passes/rewrite_matmul.py
  backends/arm/operators/__init__.py
  backends/arm/operators/op_bmm.py
  backends/arm/operators/op_tosa_matmul.py
  backends/arm/operators/op_tosa_rescale.py
  backends/arm/operators/op_tosa_resize.py
  backends/arm/operators/op_tosa_table.py
  backends/arm/operators/op_tosa_transpose.py
  backends/arm/tosa/dialect/__init__.py
  backends/arm/tosa/dialect/ops/matmul.py
Labels: CLA Signed, partner: arm, ciflow/trunk, release notes: none

#14750 Cortex_m backend: Add script for building test runner
  backends/cortex_m/test/build_test_runner.sh
Labels: CLA Signed, partner: arm, release notes: none

#14888 Qualcomm AI Engine Direct - Support floor_divide with int input in QNN HTP backend
  backends/qualcomm/_passes/__init__.py
  backends/qualcomm/_passes/decompose_floor_divide.py
  backends/qualcomm/_passes/qnn_pass_manager.py
  backends/qualcomm/tests/test_qnn_delegate.py
Labels: CLA Signed, partner: qualcomm

#14870 Add constraints for split_copy test
  backends/cadence/utils/facto_util.py
Labels: CLA Signed, fb-exported, meta-exported
